
  {% set free = [data.chargeVersions[0].free] %}
  {% set status = [data.chargeVersions[0].chargeStatus] %}
     {% if (free == "true") and (status == "CHARGEABLE") %}
      {{ govukInsetText({
       html: 'This licence is non-chargeable.  ' + [data.reason] + '.'
      }) }}
    {% endif %}


<section >

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m"> Latest bill </h2>

      <dl class="govuk-summary-list">

        {% if [data.newLicence] == "false" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date created
          </dt>
          <dd class="govuk-summary-list__value">
            {{[data.chargeVersions[0].chargeBilledDate]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/bd/charges-2020/bills">
              View all bills
            </a>
          </dd>
        </div>
      <!--    <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next bill due
          </dt>
          <dd class="govuk-summary-list__value">
            30 March 2020
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div> -->
       {% endif %}
       {% if data['invoiceAccount'] == "null"%}
       {% else %}
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Billing account
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['invoiceAccount']}}<br>
            {{data['customerName']}}<br>
            {% if data['newFAO'] == "Yes" %}
            {{data['fao']}}<br>
            {% endif %}
            {{data['address1']}}<br>
            {{data['postcode']}}<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/bd/charges-2020/billing-account">
                  View<span class="govuk-visually-hidden"> billing account</span>
                </a>
              </li>
          <!--    <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link"   href="/bd/contacts/new-contact"> href="/bd/charges-2020/charge-version/charge-data-create"
                  Change<span class="govuk-visually-hidden"> billing account</span>
                </a>
              </li> -->

            </ul>
          </dd>
        </div>
       {% endif %}



      </dl>

    </div>
  </div>
</section>

<div class="govuk-accordion govuk-table__cell--no-border" data-module="accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Charge information
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      {% if [data.newLicence] == "false" %}
      {% include "includes/bd/chargeinfo.html" %}
      {% else %}
      {% include "includes/bd/chargeinfoNewLicence.html" %}
      {% endif %}


      {{ govukButton({
        text: "Set up new charge",
        href: "/bd/charges-2020/add-new-reason",
        classes: "govuk-!-margin-right-3"
      }) }}

      <!-- show button if licence isn't already marked as exempt from charge-->
      {% set free = [data.chargeVersions[0]['free']]%}
      {% if free == "true" %}
      {% else %}
      {{ govukButton({
        text: "Make licence non-chargeable",
        classes: "govuk-button--secondary govuk-!-margin-right-3",
        href: "/bd/charges-2020/add-reason"
      }) }}
      {% endif %}

    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Agreements
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

      {% set agreements = data['agreements'] %}
      {% set agreementNumber = agreements.length %}



      {% if agreementNumber > 0 %}

        <table class="govuk-table govuk-!-margin-bottom-4">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Start date</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">End date</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Agreement</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Date signed</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">


            {% for i in agreements %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell--no-border">{{[i.agreementStartDay] + " " + [[i.agreementStartMonth] | toMonth] + " " + [i.agreementStartYear]}}</td>
              <td class="govuk-table__cell govuk-table__cell--no-border">{{[i.agreementEndDay] + " " + [[i.agreementEndMonth] | toMonth] + " " + [i.agreementEndYear]}}</td>
              <td class="govuk-table__cell govuk-table__cell--no-border">{{[i.agreement]}}</td>
              <td class="govuk-table__cell govuk-table__cell--no-border">{{[i.agreementSignedStartDay] + " " + [[i.agreementSignedStartMonth] | toMonth] + " " + [i.agreementSignedStartYear]}}</td>

              {% if [i.agreementEnded] == "true" %}
              <td class="govuk-table__cell govuk-table__cell--no-border"></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--no-border"><a href="charges-2020/remove-agreement-date?agreementNumber={{agreementNumber}}">End</a><span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span><a
                  href="charges-2020/remove-agreement?agreementNumber={{agreementNumber}}">Remove</a></td>
              {% endif %}
            </tr>

            {% endfor %}

          </tbody>
        </table>

         {% else %}

         <p class="govuk-body" There are no agreements set up for this licence</p>

          {% endif %}



        {{ govukButton({
          text: "Set up new agreement",
          href: "charges-2020/add-agreement",
          classes: "govuk-button--primary"
        }) }}




    </div>
  </div>

</div>
