<div class="divider govuk-!-margin-bottom-4"></div>

  <!--    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2><span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">£150,995.76</span><br>
            <span class="govuk-body govuk-!-font-weight-bold">Example annual charge total</span></h2>

        </div>
      </div>  -->

      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds">
          <h2><span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">£39,995.76</span><br>
            <span class="govuk-body govuk-!-font-weight-bold govuk-body">Pro rata supplementary charge total</span></h2>
        </div>
      </div>
