

<!--{% set elements = [data.elements.element1] %}-->

      {% for i in elements %}

<!--formating for the abstraction period dates-->
      {% set monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
      {% set monthNumber = [i.abstractionStartMonth] %}
      {% set monthNumberEnd = [i.abstractionEndMonth] %}
      {% set month = monthNames[monthNumber - 1] %}
      {% set monthEnd = monthNames[monthNumberEnd - 1] %}
      {% set abstractionStart = [i.abstractionStartDay] + " " + month %}
      {% set abstractionEnd = [i.abstractionEndDay] + " " + monthEnd %}

      <section class="govuk-!-margin-bottom-2">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            {{ govukInsetText({
              html: '<h2 class="govuk-heading-m govuk-!-margin-bottom-1">' +
              [i.purpose] + ', ' + [i.description] + '
              </h2>
              <p class="govuk-body">

              1 April to 31 March
              </p>'
            }) }}

            </div>

            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

            {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Abstraction period"
            },
            value: {
              text: [abstractionStart] + " to " + [abstractionEnd]
            }
          },
          {
            key: {
              text: "Billable quantity"
            },
            value: {
              text: [i.billableQuantity] + " cubic metres per year"
            }
          },
          {
            classes: "table__row--end",
            key: {
              text: "Authorised quantity"
            },
            value: {
              text: [i.authorisedQuantity] + " cubic metres per year"
            }
          },
          {
            key: {
              text: "Time limit"
            },
            value: {
              text: [i.timeLimit]
            }
          },
          {
            key: {
              text: "Source"
            },
            value: {
              text: [i.source]
            }
          },
          {
            key: {
              text: "Season"
            },
            value: {
              text: [i.season]
            }
          },
          {
            key: {
              text: "Loss"
            },
            value: {
              text: [i.loss]
            }
          },
          {
            classes:"govuk-summary-list--no-border",
            key: {
              text: "Environmental Improvement Unit Charge"
            },
            value: {
              text: "Other"
            }
          }
        ]
      }) }}


      </section>
    {% endfor %}
