  {% if [data.chargeVersions[0].chargeStatus] == "NOT APPROVED" %}
  {{ govukTable({
    caption: "Review",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    classes: "govuk-table-fix",
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Set up by",
        classes: 'govuk-!-width-one-quarter'
      },

      {
        text: "Region",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
    [
      {
        html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
      },
      {
        text: "Bottled Water Plc"
      },
      {
        text: "Your name"
      },

      {
        text: "Anglian"
      }
    ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">13/33/221/75</a>'
        },
        {
          text: "Reginald Loxton"
        },
        {
          text: "Rose Conelly"
        },

        {
          text: "South West"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/29/66/0031</a>'
        },
        {
          text: "J Samsonite"
        },
        {
          text: "Rose Conelly"
        },


        {
          text: "North East"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">09/23/622/044</a>'
        },
        {
          text: "Jones and Jones LLP"
        },
        {
          text: "Rose Conelly"
        },

        {
          text: "Midlands"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/28/60/0038</a>'
        },
        {
          text: "Lower Road Farm"
        },
        {
          text: "Jo Langton"
        },

        {
          text: "North East"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">07/24/63/0035</a>'
        },
        {
          text: "Danes Water Supply Plc"
        },
        {
          text: "Emma Nevin"
        },

        {
          text: "Anglian"
        }
      ]

    ]
  }) }}


  {% else %}


  {{ govukTable({
    caption: "Review",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    classes: "govuk-table-fix",
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Set up by",
        classes: 'govuk-!-width-one-quarter'
      },

      {
        text: "Region",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">13/33/221/75</a>'
        },
        {
          text: "Reginald Loxton"
        },
        {
          text: "Rose Conelly"
        },

        {
          text: "South West"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/29/66/0031</a>'
        },
        {
          text: "J Samsonite"
        },
        {
          text: "Rose Conelly"
        },


        {
          text: "North East"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">09/23/622/044</a>'
        },
        {
          text: "Jones and Jones LLP"
        },
        {
          text: "Rose Conelly"
        },

        {
          text: "Midlands"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/28/60/0038</a>'
        },
        {
          text: "Lower Road Farm"
        },
        {
          text: "Jo Langton"
        },

        {
          text: "North East"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">07/24/63/0035</a>'
        },
        {
          text: "Danes Water Supply Plc"
        },
        {
          text: "Emma Nevin"
        },

        {
          text: "Anglian"
        }
      ]

    ]
  }) }}

    {% endif %}
