  {% if [data.chargeVersions[0].chargeStatus] == "NOT APPROVED" %}
  {{ govukTable({
    caption: "Review",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Creator",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
    [
      {
        html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
      },
      {
        text: "Your name"
      },
      {
        text: "Bottled Water Plc"
      },
      {
        text: "30 April 2022"
      }
    ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">13/33/221/75</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Reginald Loxton"
        },
        {
          text: "1 May 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/29/66/0031</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "J Samsonite"
        },

        {
          text: "30 April 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">09/23/622/044</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Jones and Jones LLP"
        },
        {
          text: "16 October 2022"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/28/60/0038</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Lower Road Farm"
        },
        {
          text: "15 September 2023"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">07/24/63/0035</a>'
        },
        {
          text: "Emma Nevin"
        },
        {
          text: "Danes Water Supply Plc"
        },
        {
          text: "22 October 2024"
        }
      ]

    ]
  }) }}


  {% else %}


  {{ govukTable({
    caption: "Review",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Creator",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">13/33/221/75</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Reginald Loxton"
        },
        {
          text: "1 May 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/29/66/0031</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "J Samsonite"
        },

        {
          text: "30 April 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">09/23/622/044</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Jones and Jones LLP"
        },
        {
          text: "16 October 2022"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/28/60/0038</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Lower Road Farm"
        },
        {
          text: "15 September 2023"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">07/24/63/0035</a>'
        },
        {
          text: "Emma Nevin"
        },
        {
          text: "Danes Water Supply Plc"
        },
        {
          text: "22 October 2024"
        }
      ]

    ]
  }) }}

    {% endif %}
