
  {% if [data.chargeVersions[0].chargeStatus] == "NOT APPROVED" %}
  {{ govukTable({
    caption: "Change requested",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Creator",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
    [
      {
        html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
      },
      {
        text: "Your name"
      },
      {
        text: "Bottled Water Plc"
      },
      {
        text: "30 April 2022"
      }
    ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/12/001/33</a>'
        },
        {
          text: "Michael Babb"
        },
        {
          text: "Sam Bidwell"
        },
        {
          text: "4 October 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">12/28/66/0015</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Jacqui Tempson"
        },

        {
          text: "30 April 2022"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">44/22/17/349</a>'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Osborne Farms Ltd."
        },
        {
          text: "15 July 2023"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">11/34/5555/0048</a>'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "15 September 2022"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">22/25/55/9800</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "28 January 2024"
        }
      ]

    ]
  }) }}

  {% else %}


  {{ govukTable({
    caption: "Change requested",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Creator",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">01/12/001/33</a>'
        },
        {
          text: "Michael Babb"
        },
        {
          text: "Sam Bidwell"
        },
        {
          text: "4 October 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">12/28/66/0015</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Jacqui Tempson"
        },

        {
          text: "30 April 2022"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">44/22/17/349</a>'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Osborne Farms Ltd."
        },
        {
          text: "15 July 2023"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">11/34/5555/0048</a>'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "15 September 2022"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">22/25/55/9800</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "28 January 2024"
        }
      ]

    ]
  }) }}

    {% endif %}
