


  {% if [data.chargeVersions[0].chargeStatus] == "DRAFT" or [data.chargeVersions[0].chargeStatus] == "CHANGES" %}
  {{ govukTable({
    caption: "Draft",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    classes: "govuk-table-fix",
    head: [
      {
        text: "Licence"
      },
      {
        text: "Licence holder"

      },
      {
        text: "Set up by"

      },
      {
        text: "Changes requested",
        classes: 'govuk-!-width-one-third'
      },
      {
        text: "Action"
      }
    ],
    rows: [
    [
      {
        text: '03/28/60/0031'
      },
      {
        text: "Bottled Water Plc"
      },
      {
        text: "Your name"
      },

      {
        text: data['requestChanges']
      },
      {
        html: '<a class="govuk-link" href="/bd/charges-2020/charge-version/charge-data-check">View<span class="govuk-visually-hidden"> draft charge information</span></a>'
      }
    ],
      [
        {
          text: '12/23/43/0044'
        },
        {
          text: "Irene Smithson"
        },
        {
          text: "Emma Nevin"
        },

        {
          text: ""
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],
      [
        {
          text: '03/28/60/0031'
        },
        {
          text: "Reg Spreadbury"
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Please change the purpose to Spray"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],
      [
        {
          text: '03/28/61/029'
        },
        {
          text: "Folkstone Farms Ltd."
        },
        {
          text: "Rose Conelly"
        },

        {
          text: "Please created a second time limited element"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],
      [
        {
          text: '22/12/65/0055'
        },
        {
          text: "Thomas Featherstone Ltd."
        },
        {
          text: "Jo Langton"
        },

        {
          text: ""
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],

      [
        {
          text: '23/33/76/0044'
        },
        {
          text: "Coastal Water Ltd."
        },
        {
          text: "Jo Langton"
        },

        {
          text: ""
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ]

    ]
  }) }}


  {% else %}


  {{ govukTable({
    caption: "Draft",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    classes: "govuk-table-fix",
    head: [
      {
        text: "Licence"
      },
      {
        text: "Licence holder"

      },
      {
        text: "Set up by"

      },
      {
        text: "Changes requested",
        classes: 'govuk-!-width-one-third'
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          text: '12/23/43/0044'
        },
        {
          text: "Irene Smithson"
        },
        {
          text: "Emma Nevin"
        },

        {
          text: ""
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],
      [
        {
          text: '03/28/60/0031'
        },
        {
          text: "Reg Spreadbury"
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Please change the purpose to Spray"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],
      [
        {
          text: '03/28/61/029'
        },
        {
          text: "Folkstone Farms Ltd."
        },
        {
          text: "Rose Conelly"
        },

        {
          text: "Please created a second time limited element"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],
      [
        {
          text: '22/12/65/0055'
        },
        {
          text: "Thomas Featherstone Ltd."
        },
        {
          text: "Jo Langton"
        },

        {
          text: ""
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ],

      [
        {
          text: '23/33/76/0044'
        },
        {
          text: "Coastal Water Ltd."
        },
        {
          text: "Jo Langton"
        },

        {
          text: ""
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">View<span class="govuk-visually-hidden"> draft charge information</span>'
        }
      ]

    ]
  }) }}

  {% endif %}
