{% set agreementNumber = "" %}
{% set agreements = data['agreements'] %}
{% set numberOfAgreements = agreements.length %}

<table class="govuk-table govuk-table-fix">
  <span class="govuk-table__caption govuk-visually-hidden">Licences with new agreements</span>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Licence</th>
      <th scope="col" class="govuk-table__header">Licence holder</th>
      <th scope="col" class="govuk-table__header">Agreement</th>
      <th scope="col" class="govuk-table__header">Date agreement signed</th>
      <th scope="col" class="govuk-table__header">Agreement start date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


    {% for i in agreements %}
    {% if i.agreementEnded == 'false' %}
    {% set agreementNumber = loop.index0 %}

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/bd/licence-summary">{{[data.licenceNumber]}}</a></td>
      <td class="govuk-table__cell">{{[data.licenceHolder]}}</td>
      <td class="govuk-table__cell">{{[i.agreement]}}</td>
      <td class="govuk-table__cell">{{[i.agreementSignedStartDay] + " " + [[i.agreementSignedStartMonth] | toMonth] + " " + [i.agreementSignedStartYear]}}</td>
      <td class="govuk-table__cell">{{[i.agreementStartDay] + " " + [[i.agreementStartMonth] | toMonth] + " " + [i.agreementStartYear]}}</td>
    </tr>

    {% endif %}

    {% endfor %}

  </tbody>
</table>
