
  {% if [data.chargeVersions[0].chargeStatus] == "NOT APPROVED" %}
  {{ govukTable({
    caption: "Change requested",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    classes: "govuk-table-fix",
    head: [
      {
        text: "Licence"
      },
      {
        text: "Set up by"
      },
      {
        text: "Licence holder"
      },
      {
        text: "Start date"
      },
      {
        text: "Action"
      }
    ],
    rows: [
    [
      {
        text: '03/28/60/0031'
      },
      {
        text: "Your name"
      },
      {
        text: "Bottled Water Plc"
      },
      {
        text: "30 April 2022"
      },
      {
        html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
      }
    ],
      [
        {
          text: '01/12/001/33'
        },
        {
          text: "Michael Babb"
        },
        {
          text: "Sam Bidwell"
        },
        {
          text: "4 October 2020"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],
      [
        {
          text: '12/28/66/0015'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Jacqui Tempson"
        },

        {
          text: "30 April 2022"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],
      [
        {
          text: '44/22/17/349'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Osborne Farms Ltd."
        },
        {
          text: "15 July 2023"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],
      [
        {
          text: '1/34/5555/0048'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "15 September 2022"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],

      [
        {
          text: '22/25/55/9800'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "28 January 2024"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ]

    ]
  }) }}

  {% else %}


  {{ govukTable({
    caption: "Change requested",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    classes: "govuk-table-fix",
    head: [
      {
        text: "Licence"
      },
      {
        text: "Set up by"
      },
      {
        text: "Licence holder"
      },
      {
        text: "Start date"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          text: '01/12/001/33'
        },
        {
          text: "Michael Babb"
        },
        {
          text: "Sam Bidwell"
        },
        {
          text: "4 October 2020"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],
      [
        {
          text: '12/28/66/0015'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Jacqui Tempson"
        },

        {
          text: "30 April 2022"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],
      [
        {
          text: '44/22/17/349'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Osborne Farms Ltd."
        },
        {
          text: "15 July 2023"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],
      [
        {
          text: '1/34/5555/0048'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "15 September 2022"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ],

      [
        {
          text: '22/25/55/9800'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Little Jones Farms Ltd."
        },
        {
          text: "28 January 2024"
        },
        {
          html: '<a class="govuk-link" href="/bd/charges-2020/charge-version">Review<span class="govuk-visually-hidden"> charge information</span></a>'
        }
      ]

    ]
  }) }}

    {% endif %}
