

  {{ govukTable({
    caption: "New licences with no charge information",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">00/22/001/02</a>'
        },
        {
          text: "Irene Briton"
        },
        {
          text: "31 January 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
        },
        {
          text: "Bottled Water Plc"
        },
        {
          text: "30 April 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/61/029</a>'
        },
        {
          text: "Big Smith Farms Ltd."
        },
        {
          text: "15 September 2021"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0035</a>'
        },
        {
          text: "Big Smith Farms Ltd."
        },
        {
          text: "15 September 2022"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0034</a>'
        },
        {
          text: "Big Smith Farms Ltd."
        },
        {
          text: "15 September 2022"
        }
      ]

    ]
  }) }}
