


  {% if [data.chargeVersions[0].chargeStatus] == "DRAFT" %}
  {{ govukTable({
    caption: "Draft",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Creator",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
    [
      {
        html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
      },
      {
        text: "Your name"
      },
      {
        text: "Bottled Water Plc"
      },
      {
        text: "30 April 2022"
      }
    ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">12/23/43/0044</a>'
        },
        {
          text: "Emma Nevin"
        },
        {
          text: "Irene Smithson"
        },
        {
          text: "31 January 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Reg Spreadbury"
        },

        {
          text: "30 April 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/61/029</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Folkstone Farms Ltd."
        },
        {
          text: "16 October 2022"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">22/12/65/0055</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Thomas Featherstone Ltd."
        },
        {
          text: "15 September 2023"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">23/33/76/0044</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Coastal Water Ltd."
        },
        {
          text: "22 October 2024"
        }
      ]

    ]
  }) }}


  {% endif %}


  {{ govukTable({
    caption: "Draft",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Creator",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Licence holder",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Start date",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">12/23/43/0044</a>'
        },
        {
          text: "Emma Nevin"
        },
        {
          text: "Irene Smithson"
        },
        {
          text: "31 January 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/60/0031</a>'
        },
        {
          text: "Barry Crampton"
        },
        {
          text: "Reg Spreadbury"
        },

        {
          text: "30 April 2020"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">03/28/61/029</a>'
        },
        {
          text: "Rose Conelly"
        },
        {
          text: "Folkstone Farms Ltd."
        },
        {
          text: "16 October 2022"
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">22/12/65/0055</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Thomas Featherstone Ltd."
        },
        {
          text: "15 September 2023"
        }
      ],

      [
        {
          html: '<a class="govuk-link" href="/bd/licence-summary-no-charge">23/33/76/0044</a>'
        },
        {
          text: "Jo Langton"
        },
        {
          text: "Coastal Water Ltd."
        },
        {
          text: "22 October 2024"
        }
      ]

    ]
  }) }}
