{% extends "layout.html" %}

{% set title = "View licences" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
 {% include "includes/feedback-banner.html" %}
 {% include "includes/nav/nav-br-view.html" %}

 <!--
 {{ govukBackLink({
   text: "Back",
   href: "javascript:history.back()"
 }) }}
-->

{% endblock %}

{% block content %}

  <!-- navigation block -->


  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        View licences
      </h1>
    </div>
  </div>

  <!-- search for licences -->
  <form action="licences-internal-list">
    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Search for a licence
        </label>
        <span id="email-hint" class="govuk-hint">
          Search by registered email address or licence number
        </span>
        <input class="govuk-input govuk-input--width-20 govuk-!-display-inline-block" id="email" name="email" type="text" aria-describedby="email-hint">
        <button type="submit" class="govuk-button inline-button">
          Search
        </button>
      </div>

    </fieldset>
  </form>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header column-40" scope="col">
          <a href="#" aria-label="Sort by licence number">
            Licence number
          </a>
        </th>
        <th class="govuk-table__header column-40" scope="col">
          <a href="#" aria-label="Sort by licence number">
            Licence name
          </a>
        </th>
        <th class="govuk-table__header column-20" scope="col">
          <a href="#" aria-label="Sort by end date">
            End date
            <span class="sort-icon"> &#x25be;</span>
          </a>
        </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <a href="/v20/br/online-licence?wid=1">
            {{ permits[1].LicenceSerialNo }}
          </a>
        </th>
        <td class="govuk-table__cell ">{{ permits[1].LicenceName }}</td>
        <td class="govuk-table__cell ">{{ permits[1].EffectiveDateEnd }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <a href="./online-licence?wid=2">
            {{ permits[2].LicenceSerialNo }}
          </a>
        </th>
        <td class="govuk-table__cell ">{{ permits[2].LicenceName }}</td>
        <td class="govuk-table__cell ">{{ permits[2].EffectiveDateEnd }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <a href="./online-licence?wid=3">
            {{ permits[3].LicenceSerialNo }}
          </a>
        </th>
        <td class="govuk-table__cell ">{{ permits[3].LicenceName }}</td>
        <td class="govuk-table__cell ">{{ permits[3].EffectiveDateEnd }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <a href="./online-licence?wid=4">
            {{ permits[4].LicenceSerialNo }}
          </a>
        </th>
        <td class="govuk-table__cell ">{{ permits[4].LicenceName }}</td>
        <td class="govuk-table__cell ">{{ permits[4].EffectiveDateEnd }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <a href="./online-licence?wid=5">
            {{ permits[5].LicenceSerialNo }}
          </a>
        </th>
        <td class="govuk-table__cell ">{{ permits[5].LicenceName }}</td>
        <td class="govuk-table__cell ">{{ permits[5].EffectiveDateEnd }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <a href="./online-licence?wid=6">
            {{ permits[6].LicenceSerialNo }}
          </a>
        </th>
        <td class="govuk-table__cell ">{{ permits[6].LicenceName }}</td>
        <td class="govuk-table__cell ">{{ permits[6].EffectiveDateEnd }}</td>
      </tr>

    </tbody>
  </table>

  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

  <script>
    $(function() {

      var ctrlKey = false;

      $(window).keydown(function(ev){
        if(ev.ctrlKey || ev.keyCode === 224 || ev.keyCode === 17 || ev.keyCode === 91 || ev.keyCode === 93) {
          ctrlKey = true;
        }
      });

      $(window).keyup(function(){
        ctrlKey = false;
      });

      $('a').parents('.table-row').addClass('clickable');

      // Click on licence list clicks inner link
      $('.table-row').on('click', function (ev) {
        var href = $(this).find('a:first').attr('href');
        console.log(ctrlKey);
        ctrlKey ? window.open.blur(href) : window.location.href = href;
        window.focus();
        // window.location.href = $(this).find('a:first').attr('href');
        $(this).addClass('active');
        ev.preventDefault();
      });
    });
  </script>

</main>


<!-- macro is not working with dynamic data -->

<!-- {% from "table/macro.njk" import govukTable %}

{{ govukTable({

  firstCellIsHeader: true,
  head: [
    {
      text: "Licence number"
    },
    {
      text: "Licence name"
    },
    {
      text: "End date"
    }
  ],
  rows: [
    [
      {
        text: "03/28/60/0091"
      },
      {
        text: ""
      },
      {
        text: "15 September 2022"
      }
    ],
    [
      {
        text: "03/28/60/0012"
      },
      {
        text: ""
      },
      {
        text: "30 September 2025"
      }
    ],
    [
      {
        text: "03/28/60/0032"
      },
      {
        text: "River House"
      },
      {
        text: "30 April 2031"
      }
    ]
  ]
}) }}
-->


{% endblock %}
