
<!--
<div class="app-site-search" data-module="app-search" data-search-index="/search-index-ba133e98a4bcec6e9c728af78190a83e.json">

  <form action="/sandbox/search" method="post" novalidate>
  <label class="govuk-visually-hidden" for="app-site-search__input">Search for a licence</label>
  <a class="app-site-search__link govuk-link" href="/sitemap">Sitemap</a>
  <div class="app-site-search__wrapper">
    <div style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
      <div id="app-site-search__input__status--A" role="status" aria-atomic="true" aria-live="polite"></div>
      <div id="app-site-search__input__status--B" role="status" aria-atomic="true" aria-live="polite"></div>
    </div><input aria-expanded="false" aria-owns="app-site-search__input__listbox" aria-autocomplete="both" aria-describedby="app-site-search__input__assistiveHint" autocomplete="off" class="app-site-search__input app-site-search__input--default"
      id="app-site-search__input" name="search" placeholder="Search for a licence" type="text" role="combobox">
    <ul class="app-site-search__menu app-site-search__menu--overlay app-site-search__menu--hidden" id="app-site-search__input__listbox" role="listbox"></ul><span id="app-site-search__input__assistiveHint" style="display: none;">When autocomplete
      results are available use up and down arrows to review and enter to select. Touch device users, explore by touch or with swipe gestures.</span>
  </div>
  </form>
</div>
-->

<style>
  .gem-c-search {
    position: relative;
    margin-bottom: 30px
}

.gem-c-search__label {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.5;
    display: block;
    color: #0b0c0c
}

@media print {
    .gem-c-search__label {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-search__label {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 2.1052631579
    }
}

@media print {
    .gem-c-search__label {
        font-size: 14pt;
        line-height: 40px
    }
}

.gem-c-search__label h1 {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.5;
    margin: 0
}

@media print {
    .gem-c-search__label h1 {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-search__label h1 {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 2.1052631579
    }
}

@media print {
    .gem-c-search__label h1 {
        font-size: 14pt;
        line-height: 40px
    }
}

.js-enabled .gem-c-search__label {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    padding-left: 15px;
    z-index: 1;
    color: #505a5f;
    background: #fff
}

.js-enabled .gem-c-search--separate-label .gem-c-search__label {
    color: #0b0c0c
}

.gem-c-search__input[type="search"]:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px
}

.gem-c-search__input[type="search"] {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.4736842105;
    margin: 0;
    width: 100%;
    height: 2.5em;
    padding: .375em;
    border: 2px solid #0b0c0c;
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media print {
    .gem-c-search__input[type="search"] {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-search__input[type="search"] {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.4736842105
    }
}

@media print {
    .gem-c-search__input[type="search"] {
        font-size: 14pt;
        line-height: 1.4736842105
    }
}

@media (min-width: 40.0625em) {
    .gem-c-search__input[type="search"] {
        height:2.1052631579em;
        padding: .3157894737em
    }
}

.gem-c-search__input[type="search"]:focus,.gem-c-search__input.focus[type="search"] {
    z-index: 2
}

.gem-c-search__submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    text-indent: -5000px;
    overflow: hidden
}

.gem-c-search__submit .gem-c-search__icon {
    display: block;
    pointer-events: none;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 10px
}

.gem-c-search__submit:focus {
    z-index: 2;
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 4px #0b0c0c
}

.gem-c-search__submit::-moz-focus-inner {
    border: 0
}

.gem-c-search__item-wrapper {
    display: table;
    width: 100%;
    background: #fff
}

.gem-c-search__item {
    position: relative;
    display: table-cell;
    vertical-align: top
}

.gem-c-search__submit-wrapper {
    width: 1%
}

.gem-c-search--on-govuk-blue .gem-c-search__label {
    color: #fff
}

.gem-c-search--on-govuk-blue .gem-c-search__input {
    border-width: 0
}

.gem-c-search--on-govuk-blue .gem-c-search__input:focus {
    box-shadow: none
}

.gem-c-search--on-govuk-blue .gem-c-search__submit {
    background-color: #0b0c0c;
    color: #fff
}

.gem-c-search--on-govuk-blue .gem-c-search__submit:hover {
    background-color: #171919
}

.js-enabled .gem-c-search--on-govuk-blue .gem-c-search__label {
    color: #505a5f
}

.gem-c-search--on-white .gem-c-search__submit {
    background-color: #1d70b8;
    color: #fff
}

.gem-c-search--on-white .gem-c-search__submit:hover {
    background-color: #207dce
}

.gem-c-search--on-white .gem-c-search__input[type="search"] {
    border-right-width: 0
}

.gem-c-search--on-white .gem-c-search__input[type="search"]:focus {
    border-right-width: 2px
}

.gem-c-search--no-border .gem-c-search__label {
    color: #fff
}

.gem-c-search--no-border .gem-c-search__input[type="search"] {
    border: 0
}

.js-enabled .gem-c-search--no-border .gem-c-search__label {
    color: #505a5f
}

.gem-c-search--large .gem-c-search__label {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 3.125
}

@media print {
    .gem-c-search--large .gem-c-search__label {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-search--large .gem-c-search__label {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 2.6315789474
    }
}

@media print {
    .gem-c-search--large .gem-c-search__label {
        font-size: 14pt;
        line-height: 50px
    }
}

.gem-c-search--large .gem-c-search__input[type="search"] {
    height: 50px
}

.gem-c-search--large .gem-c-search__submit {
    width: 50px;
    height: 50px
}

.gem-c-search--large .gem-c-search__submit .gem-c-search__icon {
    display: block;
    pointer-events: none;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15px;
    left: 15px
}

@media (max-width: 40.0525em) {
    .gem-c-search--large-on-mobile .gem-c-search__label {
        font-family:"GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 3.125
    }
}

@media print and (max-width: 40.0525em) {
    .gem-c-search--large-on-mobile .gem-c-search__label {
        font-family:sans-serif
    }
}

@media (max-width: 40.0525em) and (min-width: 40.0625em) {
    .gem-c-search--large-on-mobile .gem-c-search__label {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 2.6315789474
    }
}

@media print and (max-width: 40.0525em) {
    .gem-c-search--large-on-mobile .gem-c-search__label {
        font-size:14pt;
        line-height: 50px
    }
}

@media (max-width: 40.0525em) {
    .gem-c-search--large-on-mobile .gem-c-search__input[type="search"] {
        height:50px
    }

    .gem-c-search--large-on-mobile .gem-c-search__submit {
        width: 50px;
        height: 50px
    }

    .gem-c-search--large-on-mobile .gem-c-search__submit .gem-c-search__icon {
        display: block;
        pointer-events: none;
        position: absolute;
        height: 20px;
        width: 20px;
        top: 15px;
        left: 15px
    }
}

.gem-c-search--separate-label .gem-c-search__label {
    position: relative;
    top: auto;
    left: auto;
    padding-left: 0
}

.search-toggle {
    display: none;
    background-color: #1d70b8;
    background-image: url(/assets/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    float: right;
    height: 30px;
    margin: -46px 0;
    overflow: hidden;
    padding: 0;
    text-indent: -5000px;
    width: 36px;
    border: 0
}

.search-toggle:focus {
    border-width: 0;
    box-shadow: inset 0 0 0 4px #0b0c0c;
    outline: 3px solid #fd0;
    outline-offset: 0
}

.search-toggle:focus,.search-toggle:hover {
    background-color: #207dce
}

.search-toggle.js-hidden {
    display: none
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
    .search-toggle {
        background-size:52.5px 35px;
        background-position: 100% 50%
    }
}

@media (min-width: 40.0625em) {
    .search-toggle {
        display:none
    }
}

@media (max-width: 40.0525em) {
    .js-enabled .search-toggle {
        display:block
    }
}
</style>

<div class="gem-c-search govuk-!-display-none-print  gem-c-search--no-border gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus" data-gem-toggle-input-class-on-focus-module-started="true">
  <form action="/sandbox/search" method="post" novalidate></form>
  <label for="search-main-1f07a66c" class="gem-c-search__label">Search on GOV.UK</label>
<div class="gem-c-search__item-wrapper">
  <input enterkeyhint="search" class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-main-1f07a66c" name="q" title="Search" type="search" value="">
  <div class="gem-c-search__item gem-c-search__submit-wrapper">
    <button class="gem-c-search__submit" type="submit" data-module="govuk-button" enterkeyhint="search">
      Search
      
<svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
<circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
<line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
</button>    </div>
</div>
</form>
</div>

<!--script to to trigger the search results page on pressing enter on the navbar search The actual JS can be found in the design system github
govuk-design-system/src/javascripts/components/search.js

<script>
// Get the input field
var input = document.getElementById("app-site-search__input");

// Execute a function when the user releases a key on the keyboard
input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();

    var inputVal = document.getElementById("app-site-search__input").value
    // Send them to the results page
    window.location = "search?search=" + inputVal;
}
});

</script>
-->
