{% extends "layout_wrls.html" %}

{% set title = "Return status - void return - GOV.UK" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- page heading -->
        {% if permits[1].LicenceName %}

          <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Licence {{ permits[1].LicenceSerialNo }}</span>
            {{ permits[1].LicenceName }}
          </h1>

        {% else %}

          <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
            <span class="govuk-caption-xl"><a href="">Abstraction return</a></span>
            Licence {{ permits[1].LicenceSerialNo }}
          </h1>

        {% endif %}

      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Return reference
            </div>
            <div class="meta-data__value">
              01247811
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Region
            </div>
            <div class="meta-data__value">
              Central West
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Site description
            </div>
            <div class="meta-data__value">
              Great Ouse at Bedford College (Heat pump - cooling only)
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Purpose
            </div>
            <div class="meta-data__value">
              Spray irrigation
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Return period
            </div>
            <div class="meta-data__value">
              1 April 2018 to 31 March 2019
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Abstraction period
            </div>
            <div class="meta-data__value">
              1 April 2018 to 31 March 2019
            </div>
          <div>
        </section>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-two-thirds">
        <a href="../online-licence?wid={{ query.wid }}">View this licence</a>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-8">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
        This return has been made void
      </h2>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
          Void because the abstraction period was updated on December 28 2018
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <a href="return-status">
          View the updated return
        </a>
      </div>

    </div>

  </main>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
