{% extends "layout_wrls.html" %}

{% set title = "Return status - GOV.UK" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-manage.html" %}
</div>

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
  titleText: "Return submitted",
  classes: "panel__body--small",
  html: "<div class='govuk-!-font-size-24'>Licence number <strong>03/28/60/0032</strong><br><br>
  Site desctiption <strong>Great Ouse at Bedford College (Heat pump - cooling only)</strong><br><br>
  Purpose <strong>Spray irrigation</strong></div>"
  }) }}

  {% if data.returnStatus == "submitted" %}
  <p class="govuk-body"><a href="return-status-submitted" class="govuk-link">View this return</a></p>
  {% elseif data.returnStatus == "estimated" %}
  <p class="govuk-body"><a href="return-status-estimated-submitted" class="govuk-link">View this return</a></p>
  {% elseif data.returnStatus == "nill" %}
  <p class="govuk-body"><a href="return-status-nill-return-submitted" class="govuk-link">View this return</a></p>
  {% endif %}


{# is the return being edited or not #}
{% if data.editReturn == "true" %}
<p>or</p>

{# is the return a TpT one #}
{% set billRunType = "annual" %}
{% if data.TpTSupplementary == "true" %}
{% set billRunType = "supplementary" %}
{% endif %}

{{ govukButton({
  text: "Mark for two-part tariff " + billRunType + " bill run",
  href: "/bd/iterations/manual-billing/recalculate-bills?TpTSupplementaryYear=2023"
}) }}

{% endif %}

        </div>
      </div>

    </div>

  </main>
</div>
{% endblock %}
