{% extends "layout.html" %}

{% set title = "Internal user" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--small">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row space--medium">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Internal</span> <!-- internal / external -->
    <h1 class="govuk-heading-m space--none">
      debbie.smith@environment-agency.gov.uk
    </h1>
    <div class="heading-small">
      Account created 27 June 2019, 11:42am
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- entity block -->
    <div class="entity"></div>
  </div>
</div>


<div class="govuk-grid-row space--big">
  <div class="govuk-grid-column-two-thirds">

    <!-- permission options -->
    {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "roles",
        name: "roles",
        fieldset: {
          legend: {
            text: "Set permissions",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "environment-officer",
            text: "Environment Officer",
            checked: "checked",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "View licences, send hands-off flow notifications."
            }
          },
          {
            value: "billing-data",
            text: "Integrated Environmental Planning",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "View licences, communicate with customers."
            }
          },
          {
            value: "permitting-service",
            text: "National Permitting Service",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "View licences, manage renewals."
            }
          },
          {
            value: "permitting-support",
            text: "Permitting and Support Centre",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "View licences, support licence holders."
            }
          },
          {
            value: "waste-industry",
            text: "Waste and Industry Regulatory Service",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "View licences, manage returns, support."
            }
          },
          {
            value: "data-billing",
            text: "Water Resources Data and Billing",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "View licences, manage returns, send return notices."
            }
          },
          {
            value: "super-user",
            text: "Water Resources Digital Delivery team",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Use all features."
            }
          }
        ]
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <!-- entity block -->
          <div class="entity"></div>
        </div>
      </div>

      <!-- digitise options -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="digitise-conditional">
              <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="how-contacted-conditional-1">
                Digitise!
              </label>
              <span id="event-name-hint" class="govuk-hint space--left__15">
                View licences, edit licence information.
              </span>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="digitise-conditional">
              <div class="govuk-form-group">

                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="approver" name="approver" type="checkbox" value="approver">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="approver">
                      Approver
                    </label>
                    <span id="event-name-hint" class="govuk-hint space--left__15">
                      View licences, edit licence information, approve changes.
                    </span>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </fieldset>
      </div>


      <a href="permissions-updated" class="govuk-faux-button">
        Continue
      </a>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- entity block -->
    <div class="entity"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds space--big">

    <a href="delete-account" class="govuk-link">
      Delete this user account
    </a>

  </div>
</div>

{% endblock %}
