<!-- new GDS navigation pattern -->
<div class="content-width big-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink active">
          <a href="/v19/admin/licences-internal">View licences</a>
        </li>
        <li class="navlink">
          <a href="/v19/admin/returns/returns-region">Returns</a>
        </li>
        <li class="navlink">
          <a href="/v19/admin/manage">Reports and notifications</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
