<!-- navigation pattern -->
<nav id="nav" class="navbar">
   <ul class="navbar__list">

     <li class="navbar__item">
       <a class="navbar__link  navbar__link--active" href="/ar/licences" id="view">
         View licences
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link" href="/ar/licence-review-list" id="digitise-licences">
         Digitise!
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link" href="/ar/ar-report" id="manage">
         Report
       </a>
     </li>

   </ul>
 </nav>
