<!-- navigation pattern -->
<nav id="nav" class="navbar">
   <ul class="navbar__list">

     <li class="navbar__item">
       <a class="navbar__link" href="/dashboard/dashboard" id="dashboard">
         Dashboard
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link navbar__link--active" href="/dashboard/licences" id="view">
         View licences
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link" href="/dashboard/returns-overview" id="returns">
         Returns
       </a>
     </li>

   </ul>
 </nav>
