{% set billRunData = data.billRunData[0] %}



{# set a blank array for the table rows #} 
{% set rows = [] %} 

{# Loop through the rows and push the bills into the list, this uses a custom filter "push" this is in filters.js#}
{# The third column is an array of all the licences if there are more than 5 items in the array display the details component instead #} 
{# The fifth column is a little different, it contains the link to view the bill. We use the bill ID to know which bill the row is for#}

{% for bills in billRunData.bills  %}

{# this version of the table is for non-water company transactions #}
{% if bills.isWaterCompany == false %}


{% set licences = [] %}
{% for i in billRunData.bills[loop.index0].licences %}
{% set licences = licences | push([ i.licence ]) %}
{% endfor %}

{% if licences.length > 5 %}
{% set licences %}
{{ govukDetails({
    summaryText:licences | length | plural ("Licence", showNumber=false),
    text: licences.join('<br>') |safe
  }) }}
{% endset %}
{% else %}
{% set licences = licences.join('<br>') |safe %}
{% endif %}

{% set action = '<a class="govuk-link" href="../../bills/annual/bill?ID=' + loop.index0 + '">View bill<span class="govuk-visually-hidden"> for account ' + bills.account + '</span></a>' %}


{% set rows = rows | push([ {text: bills.account}, {text: bills.contact}, {text: licences | safe}, {text: bills.debit | currency, format: "numeric"}, {html: action, format: "numeric"} ]) %} 

{% endif %}
{% endfor %}



{% set rows = rows | arraySort()%}


{{ govukTable({
caption: rows | length | plural("bill"),
captionClasses: "govuk-table__caption--m",
firstCellIsHeader: true,
head: [
{
text: "Account"
},
{
text: "Billing contact"
},
{
text: "Licence"
},
{
text: "Total",
format: "numeric"
},
{
text: "Action",
format: "numeric"
}
],
rows: rows 
}) }}