<div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

  <div class="table__row--head">                                              <!-- the table head -->
    <div class="table__cell bold-small column--25">
      Type
    </div>
    <div class="table__cell bold-small column--20">
      Sent
    </div>
    <div class="table__cell bold-small">
      Sender
    </div>
    <div class="table__cell bold-small column--10">
      Method
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 1
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off resume
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      12 March 2019
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 2
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off stop
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Date
      </h4>
      6 March 2019
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 3
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      22 November 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      mike.foskitt@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 4
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Paper return forms
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      20 November 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      mike.foskitt@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 5
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off resume
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      12 August 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      mike.foskitt@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 6
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off stop
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      11 August 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 7
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Date
      </h4>
      8 August 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      theresa.macklin@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 8
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      27 July 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamie.haraabi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 9
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      19 July 2019
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamie.haraabi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 10
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off resume
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      1 July 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamie.haraabi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 11
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off stop
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      30 June 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 12
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Date
      </h4>
      9 March 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 13
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Service update
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      2 February 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      maria.fleckmore@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 14
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off resume
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      22 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamie.haraabi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 15
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off stop
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      20 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamie.haraabi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 16
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      11 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamie.haraabi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 17
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Paper return reminder
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Date
      </h4>
      31 October 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 18
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Paper return forms
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      28 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      mike.foskitt@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 19
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off resume
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      22 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      mike.foskitt@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 20
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off stop
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      20 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      mike.foskitt@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 21
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      12 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 22
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Date
      </h4>
      11 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 23
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      7 November 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      wade.congress@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 24
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off warning
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      18 October 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      moz.finkle@environment-agency.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

  <div class="table__row table__row--last govuk-!-margin-bottom-6">         <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 25
      </h3>
      <h4 class="table__context">
        Type
      </h4>
      <a href="notification-review" class="table__link">
        Hands-off resume
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sent
      </h4>
      16 October 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Sender
      </h4>
      jamilla.agadozi@defra.gov.uk
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Method
      </h4>
      Post
    </div>
  </div>

</div>
