{% extends "layout.html" %}



{% set billRunDataTpTReview = data.billRunDataTpTReview %}



{% set licence = billRunDataTpTReview[data.ID]  %}




{% set title = "Licence " + licence.licenceRef %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-0">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-bill-runs.html" %}
</div>


{{ govukBackLink({
  text: "Go back to review licences",
  href: "review"
}) }}

{#  experiment with breadcrumbs, opted for fixed back link up a level instead #}
{#
    {{ govukBreadcrumbs({
      items: [
      {
        text: "Bill runs",
        href: "/bd/charges-2020/bill-runs"
      },
        {
          text: "Review licences",
          href: "review"
        }
      ]
    }) }}
#}

{% endblock %}

{% block content %}

{% set notificationText = "" %}

{% if licence.progress == "complete" %}
{% set notificationText = "This licence has been marked as complete" %}
{% else %}
{% set notificationText = "This licence is no longer marked as complete" %}
{% endif %}

{% if data.statusBanner == "show" %}
{{ govukNotificationBanner({
  titleText: "Progress updated",
  text: notificationText
}) }}
{% endif %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3"><span class="govuk-caption-l">{{data['region'] |default ("Anglian")| firstToUpperCase }} two-part tariff bill run</span>{{ title }}</h1>

      {% if data.status == "review" %}
      {% set colour = "govuk-tag--blue" %}
      {% else %}
      {% set colour = "govuk-tag--green" %}
      {% endif %}
  
      <p class="govuk-body">
        {{govukTag({
          text: data.status,
          classes: colour
        })}}
      </p>

    
      {# list of links through to the licence #}
      {% include "sandbox/_includes/billing/tpt/licence-nav-links.html" %} 
  

        {% if data.status == "review" %}
        {{ govukInsetText({
         text: "You need to review "+ licence.chargeVersions[0].chargeReferences[0].chargeElements.length + " " + licence.chargeVersions[0].chargeReferences[0].chargeElements | plural("element") + " with returns data issues",
         classes: "govuk-!-margin-bottom-6"
       }) }}
        {% endif %}
        

        <form class="inline" action="progress-update" method="post" novalidate > 
        {% if licence.progress %}
        {{ govukButton({
          text: "Undo mark as complete",
          classes: "govuk-button--secondary govuk-!-margin-right-2"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Mark as complete",
          classes: "govuk-button--primary govuk-!-margin-right-2"
        }) }}
        {% endif %}
        </form>
  
        {{ govukButton({
          text: "Remove from bill run",
          classes: "govuk-button--secondary"
        }) }}
  
    
     

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2"> Charge periods</h2>
      <ul class="govuk-list">
        {% for chargePeriod in licence.chargePeriod %}
        <li>
          <a class="govuk-link" href="#{{chargePeriod.startDate}}-{{chargePeriod.endDate}}">{{chargePeriod.startDate | govukDate}} to {{chargePeriod.endDate | govukDate}}{% if not loop.last %} - {{licence.chargeVersions[loop.index0].reason}}{% endif %}</a>
        </li>
        {% endfor %}
      </ul>
    
     </div>
     </div>
     <div class="divider govuk-!-margin-bottom-6"></div>
    <!-- page title -->
<div class="govuk-grid-row govuk-!-margin-bottom-2">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2"> Returns</h2>
    {% include "sandbox/_includes/billing/tpt/returns-table.html" %} 

    {# include any unmatched returns in another table if there are any#}
    {% if licence.unmatchedReturns.length %}
    {% include "sandbox/_includes/billing/tpt/returns-table-unmatched.html" %} 
    {% endif %}

    </div>
    </div>
  
  
     
  

  {#Loop through the chargeVersions#}

  {% for chargeVersion in licence.chargeVersions %}
  <!--page divider-->
  <div class="divider govuk-!-margin-bottom-6"></div>
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Financial year {{chargeVersion.startDate | year}} to {{chargeVersion.startDate | yearPlusPlus}}</span>
      <h2 class="govuk-heading-l" id="{{licence.chargePeriod[loop.index0].startDate}}-{{licence.chargePeriod[loop.index0].endDate}}">Charge period {{licence.chargePeriod[loop.index0].startDate |govukDate}} to {{licence.chargePeriod[loop.index0].endDate |govukDate}}</h2>
  
    <span class="govuk-caption-m">{{licence.licenceHolder}}</span>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">{{chargeVersion.chargeReferences.length}} charge {{chargeVersion.chargeReferences | plural('reference')}} with {{chargeVersion.chargeReferences[0].chargeElements.length}} two-part tariff charge {{chargeVersion.chargeReferences[0].chargeElements | plural("element")}}</h3>
      {{ govukDetails({
        classes: "govuk-!-margin-bottom-7",
        summaryText: "Billing account details",
        html: "<strong>A12356642X</strong><br>" +licence.licenceHolder + "<br>15 Ward Road<br>Bath<br>BA1 5EH"
      }) }}
      {% set chargeReferences = chargeVersion.chargeReferences %}
      {% set chargeVersionID = loop.index0 %}
    {% include "sandbox/_includes/billing/tpt/licence-review.html" %} 
    </div>
  </div>
  {% endfor %}
 
  








{% endblock %}
