{% extends "layout.html" %}

{% set title = "Agreements" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "../licence-summary#charge"
  }) }}

{% endblock %}

{% block content %}

{% set monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

{% set monthNumber = data['agreementStart-month'] %}
{% set monthNumberEnd = data['agreementEnd-month'] %}

{% set month = monthNames[monthNumber - 1] %}
{% set monthEnd = monthNames[monthNumberEnd - 1] %}

{% set agreementStart = data['agreementStart-day'] + " " + month + " "+ data['agreementStart-year']%}
{% set agreementEnd = data['agreementEnd-day'] + " " + monthEnd + " "+ data['agreementEnd-year']%}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">{{title}}</h1>
    {{ govukButton({
      text: "Set up new agreement",
      href: "add-agreement"
    }) }}


  </div>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- table with two columns -->
    <div class="table govuk-!-margin-bottom-8">

      <div class="table__row--head">
        <div class="table__cell bold-small column--35">
          Agreements
        </div>
        <div class="table__cell bold-small column--20">
          Start date
        </div>
        <div class="table__cell bold-small column--20">
          End date
        </div>
        {% if [data.agreementNew] == "true" %}
        {% if [data.agreementEnded] == "false" %}
         <div class="table__cell bold-small column--25">
         Action
        </div>
        {% endif %}
        {% endif %}
      </div>

      {% if [data.agreementNew] == "true" %}
      <div class="table__row govuk-!-margin-bottom-6">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 1
          </h2>
          <h3 class="table__context">
            Agreements
          </h3>
          {{ [data.agreement] }}
          <!-- <br>
          <a href="change-agreement-date">
            Remove agreement
          </a> -->
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Start date
          </h3>
          {{ [agreementStart] }}
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            End date
          </h3>
        {% if [data.agreementEnded] == "true" %}
        {{ [agreementEnd] }}
        {% endif %}
        </div>
        {% if [data.agreementEnded] == "false" %}
        <div class="table__cell">

          <a href="remove-agreement-date">
            End agreement
          </a><span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
         <a href="remove-agreement">
            Remove
          </a>

        </div>
        {% endif %}
      </div>
      {% endif %}


      <div class="table__row govuk-!-margin-bottom-6">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 2
          </h2>
          <h3 class="table__context">
            Agreements
          </h3>
          Abatement (S126)
          <!-- <br>
          <a href="change-agreement-date">
            Remove agreement
          </a> -->
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Start date
          </h3>
          1 April 2017
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            End date
          </h3>
          31 March 2019
        </div>
        {% if [data.agreementEnded] == "false" %}
        <div class="table__cell">
        <!--  <a href="remove-agreement-date">
            End agreement
          </a><<br>|
         <a href="change-agreement-date">
            Change start date
          </a> -->
        </div>
        {% endif %}
      </div>


      <div class="table__row table__row--last  govuk-!-margin-bottom-6 ">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 3
          </h2>
          <h3 class="table__context">
            Agreements
          </h3>
          Two-part tariff (S127)
          <!-- <br>
          <a href="change-agreement-date">
            Remove agreement
          </a> -->
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Start date
          </h3>
          1 April 2014
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            End date
          </h3>
          31 March 2017
        </div>
        {% if [data.agreementEnded] == "false" %}
        <div class="table__cell">
        <!--  <a href="remove-agreement-date">
            End agreement
          </a><<br>|
         <a href="change-agreement-date">
            Change start date
          </a> -->
        </div>
        {% endif %}
      </div>



    </div>

  </div>
</div>

{% endblock %}
