{% extends "layout.html" %}

{% set title = "Charge information valid from 1 April 2017" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">
    <span class="screen-reader-only">Invalid</span>  {{ title }}
    </h1>
    <!-- <a href="" class="wrls-faux-button wrls-faux-button--secondary">Change start date</a> -->
    <p class="govuk-body">
      {{govukTag({
      text: "Invalid",
      classes: "govuk-tag--red govuk-!-font-size-27"
    })}}
    </p>
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Billed up to
            </div>
            <div class="meta-data__value">
              31 March 2019
            </div>
            <div>
        </section>
        </div>
        </div>
  </div>
</div>


{% include "includes/bd/elements-historic.html" %}



{% endblock %}
