{% extends "layout.html" %}

{% set title = "Charge version 1 April 2017" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
    <!-- <a href="" class="wrls-faux-button wrls-faux-button--secondary">Change start date</a> -->
    <p class="govuk-body">
      {{govukTag({
      text: "Invalid",
      classes: "govuk-tag--red govuk-!-font-size-27"
    })}}
    </p>
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Billed up to
            </div>
            <div class="meta-data__value">
              31 March 2019
            </div>
            <div>
        </section>
        </div>
        </div>
  </div>
</div>


<section class="govuk-!-margin-bottom-2">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukInsetText({
        html: '<h2 class="govuk-heading-m govuk-!-margin-bottom-1">
          Spray irrigation, base licence
        </h2>
        <p class="govuk-body">

        1 April to 31 March
        </p>'
      }) }}

      </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Abstraction period"
      },
      value: {
        text: "1 April to 31 January"
      }
    },
    {
      key: {
        text: "Billable quantity"
      },
      value: {
        text: "1,250,000 cubic metres per year"
      }
    },
    {
      classes: "table__row--end",
      key: {
        text: "Authorised quantity"
      },
      value: {
        text: "1,250,000 cubic metres per year"
      }
    },
    {
      key: {
        text: "Source"
      },
      value: {
        text: "Unsupported"
      }
    },
    {
      key: {
        text: "Season"
      },
      value: {
        text: "All year"
      }
    },
    {
      key: {
        text: "Loss"
      },
      value: {
        text: "High"
      }
    },
    {
      classes:"govuk-summary-list--no-border",
      key: {
        text: "Environmental Improvement Unit Charge"
      },
      value: {
        text: "Other"
      }
    }


  ]
}) }}


</section>



{% endblock %}
