{% extends "layout.html" %}

{% set title = "You are about to remove this bill from the bill run" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">

    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Bill run 576849</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Account
            </div>
            <div class="meta-data__value">
              015456
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Billing contact
            </div>
            <div class="meta-data__value">
              Bill Brothers Co.
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Licence
            </div>
            <div class="meta-data__value">
              01/27/62/001
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Total
            </div>
            <div class="meta-data__value">
              £1,100.00
            </div>
          <div>
        </section>
      </div>
    </div>

    <a href="javascript:history.back(2)" class="wrls-faux-button">
      Remove bill
    </a>

  </div>
</div>
{% endblock %}
