{% extends "layout.html" %}

{% set title = "Set billable quantity for trickle carrots" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-!-margin-bottom-3"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">AN32/12/102</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body-l">
      You are about to use a custom billable quantity
    </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="table govuk-!-margin-bottom-9">                                                <!-- a table -->

          <div class="table__row--head">
            <div class="table__cell bold-small column--40">
              Charge period
            </div>
            <div class="table__cell bold-small numbers column--20">
              Custom quantity
            </div>
          </div>

          <div class="table__row--selectable govuk-!-margin-bottom-6">
            <div class="table__cell">
              <h2 class="screen-reader-only">
                Row 1
              </h2>
              <h3 class="table__context">
                Charge period
              </h3>
              <p class="table__row--text">
                1 April 2019 to 31 March 2020
              </p>
            </div>
            <div class="table__cell numbers">
              <h3 class="table__context">
                Custom
              </h3>
              <p>
                15ML
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <a href="two-part-bill-issue-not-processed?tptIssueNP=resolved" class="wrls-faux-button">
      Confirm
    </a>

  </div>
</div>
{% endblock %}
