{% extends "layout.html" %}

{% set title = "Charge agreements" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "elements#agreement"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-l">Charge agreements</h1>

  <!-- </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-from-desktop"> -->

  <!-- table with two columns -->
  <div class="table space--big">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell bold-small column--50">
        Agreement
        <!-- licence name if it exists, otherwise licence number -->
      </div>
    </div>

    <!-- table row -->
    <a href="agreement-detail" class="table__row table__row--selectable space--medium">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 1
        </h2>
        <span class="screen-reader-only">See agreement</span>
        <h3 class="table__context">
          Agreement
        </h3>
        <span class="table__link">
          Canal and Rivers Trust agreement
        </span>
      </div>
    </a>

    <!-- table row -->
    <a href="agreement-detail" class="table__row table__row--selectable space--medium">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 2
        </h2>
        <span class="screen-reader-only">See agreement</span>
        <h3 class="table__context">
          Agreement
        </h3>
        <span class="table__link">
          Other agreement
        </span>
      </div>
    </a>

  </div>

    <!-- <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Canal and Rivers Trust
        </dt>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="confirm-remove">
            View<span class="govuk-visually-hidden"> Canal and Rivers Trust agreement</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other agreement
        </dt>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="confirm-remove">
            View<span class="govuk-visually-hidden"> Other agreement</span>
          </a>
        </dd>
      </div>
    </dl> -->

    <!-- <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Canal and Rivers Trust</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Other</a>
      </li>
    </ul> -->

    <!-- <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="agreement-detail">Canal and Rivers Trust</a>
      </li>
      <li>
        <a class="govuk-link" href="agreement-detail">Other</a>
      </li>
    </ul> -->

    <div class="govuk-!-margin-bottom-9">
      <a class="govuk-link" href="add-agreement">
        Add an agreement
      </a>
    </div>

    <a href="../licence-summary#charges" class="govuk-faux-button">
      Save and close
    </a>

  </div>
</div>

{% endblock %}
