{% extends "layout.html" %}

{% set title = "From 18 November 2019" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "/bd/licence-summary#charge"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Charges for 03/28/60/0032</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
      {{ title }}
    </h1>
    <p>Created 31 October 2018</p>
  </div>
</div>

<!-- pagination end charge -->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <nav class="page-nav govuk-!-margin-bottom-9" role="navigation" aria-label="Pagination">
      <ul>
        <li class="page-left">
          <a class="page-left-control" href="charge-element-1" rel="prev">
            <span class="page__title">Previous charge</span>
            <span class="page__number">1 of 3</span>
          </a>
        </li>
        <li class="page-right">
          <a class="page-right-control" href="current-charge-element" rel="next">
            <div class="page__title">Next charge (current)</div>
            <span class="page__number">3 of 3</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<!-- charges -->
{% include "includes/bd/charges/charge-element-2.html" %}

{% endblock %}
