{% extends "layout.html" %}

{% set title = "Charge history 03/28/60/0032" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-l">
      Charges
    </h1>
  </div>
</div>

<!-- timeline -->
<div class="moj-timeline--future">

  <div class="moj-timeline__item moj-timeline__item--future">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">
        Next bill due
      </h2>
      <!-- <p class="moj-timeline__byline">by Jo Smolland</p> -->
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-04-01T00:00:00.000Z">1 April 2020</time>
    </p>

    <!-- <div class="moj-timeline__description">
      <p>
        Charge start date 19 June 2019
        <br>
      </p>
      <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
    </div> -->
  </div>
</div>


<!-- timeline -->
<div class="moj-timeline">

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Included in billing
      </h2>
      <!-- <p class="moj-timeline__byline">by Jo Smolland</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-11-30T09:59:00.000Z">30 November 2019 at 9:59am</time>
    </p>

    <!-- <strong class="table__status">
      INCLUDED
    </strong> -->

    <!-- <div class="moj-timeline__description">
      <p>
        Charge start date 19 June 2019
        <br>
      </p>
      <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
    </div> -->
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Suspended from billing
      </h2>
      <!-- <p class="moj-timeline__byline">by Jo Smolland</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-10-31T10:22:00.000Z">22 November 2019 at 10:22 am</time>
    </p>

    <!-- <strong class="table__status table__status--open">
      SUSPENDED
    </strong> -->

    <!-- <div class="moj-timeline__description">
      <p>
        Charge start date 19 June 2019
        <br>
      </p>
      <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
    </div> -->
  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">Factors changed (version 2)</h2>
      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-11-18T00:00:00.000Z">18 November 2019 <a href="#">Change start date</a></time>
    </p>

    <p>
      S126 / Abatement
      <br>S127 / Two-part tariff
      <br><strike class="govuk-!-margin-right-1">Summer</strike>All year
      <br>No compensation
      <br><a href="#">Change</a>
    </p>

    <!-- <div class="moj-timeline__description">
      <a href="#">Billing contact</a>
    </div> -->

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">Billing contact changed</h2>
      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-11-18T00:00:00.000Z">18 November 2019 <a href="#">Change start date</a></time>
    </p>

    <p>Billing contact changed to
      <a href="/bd/licence/contacts#billing">Dawidek Jevnic</a>
    </p>

    <!-- <div class="moj-timeline__description">
      <a href="#">Billing contact</a>
    </div> -->

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">Agreement added</h2>
      <!-- <p class="moj-timeline__byline">by Sam Leggett</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-04-01T00:00:00.000Z">1 April 2019 <a href="#">Change start date</a></time>
    </p>

    <div class="moj-timeline__description">
      S127 (Two-part tariff) start
      <br><a href="#" class="govuk-body-s">End agreement</a>
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">Agreement added</h2>
      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-03-30T00:00:00.000Z">30 March 2019 <a href="#">Change start date</a></time>
    </p>

    <div class="moj-timeline__description">
      S126 (Abatement) start
      <br><a href="#" class="govuk-body-s">End agreement</a>
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Charge created (version 1)
      </h2>
      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2018-10-31T00:00:00.000Z">31 October 2018 <a href="#">Change start date</a></time>
    </p>

    <p>
      <br>No agreements
      <br>No overrides
      <br>No compensation
      <br><a href="#">Change</a>
    </p>

  </div>



</div>


  </div>
</div>

{% endblock %}
