{% extends "layout.html" %}

{% set title = "From 13 December 2015" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "/bd/licence-summary#charge"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
  </div>
</div>

  <div class="govuk-!-margin-bottom-6">
    <strong class="table__status">
      Current
    </strong>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Billed up to
        </dt>
        <dd class="govuk-summary-list__value">
          31 March 2020
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> billed up to</span>
          </a> -->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Effective from
        </dt>
        <dd class="govuk-summary-list__value">
          1 April 2018
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-effective-period">
            Change<span class="govuk-visually-hidden"> effective from</span>
          </a>
        </dd>
      </div>

    </dl>

    <!-- purpose -->
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
          Spray irrigation
        </h2>
        <p class="govuk-body">Standard spray irrigation clauses with an extension to the end of April</p>
        <a href="confirm-remove-purpose">
          Remove Purpose
        </a>
      </div>
    </div>

    <!-- elements -->
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Abstraction period
        </dt>
        <dd class="govuk-summary-list__value">
          1 January to 31 March
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-abstraction-period">
            Change<span class="govuk-visually-hidden"> abstraction period</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Annual quantity
        </dt>
        <dd class="govuk-summary-list__value">
          1,250,000 cubic metres per year
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="annual-quantity">
            Change<span class="govuk-visually-hidden"> annual quantity</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list__row--end">
        <dt class="govuk-summary-list__key">
          Billable quantity
        </dt>
        <dd class="govuk-summary-list__value">
          1,250,000 cubic metres per year
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="billable-quantity">
            Change<span class="govuk-visually-hidden"> billable quantity</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Abstraction period
        </dt>
        <dd class="govuk-summary-list__value">
          1 April to 30 April
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-abstraction-period">
            Change<span class="govuk-visually-hidden"> abstraction period</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Annual quantity
        </dt>
        <dd class="govuk-summary-list__value">
          1,250,000 cubic metres per year
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="annual-quantity">
            Change<span class="govuk-visually-hidden"> annual quantity</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list__row--end">
        <dt class="govuk-summary-list__key">
          Billable quantity
        </dt>
        <dd class="govuk-summary-list__value">
          1,250,000 cubic metres per year
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="billable-quantity">
            Change<span class="govuk-visually-hidden"> billable quantity</span>
          </a>
        </dd>
      </div>



      <div class="govuk-summary-list__row govuk-summary-list__row--last">
        <dt class="govuk-summary-list__key">
          Time limited period
        </dt>
        <dd class="govuk-summary-list__value">
          5 January 2019 to 30 April 2019
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-time-limited-period">
            Change<span class="govuk-visually-hidden"> time limited period</span>
          </a>
        </dd>
      </div>

    </dl>

    <!-- agreements -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m" id="agreement">
          Agreement
        </h3>
      </div>
    </div>

    <section class="govuk-!-margin-bottom-9">

      <dl class="govuk-summary-list govuk-!-margin-bottom-3">
        <!-- two part agreement -->
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key">
            S127 - Two-part tariff
          </dt>
          <dd class="govuk-summary-list__value">
            Effective from 1 April 2018
            <br>Signed 11 February 2018
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="delete-agreement-date">
              Remove<span class="govuk-visually-hidden"> agreement</span>
            </a>
          </dd>
        </div>

        <!-- abatement agreement -->
        <div class="govuk-summary-list__row">
        <!-- <div class="govuk-summary-list__row govuk-summary-list__row--last"> -->
          <dt class="govuk-summary-list__key">
            S126 - Abatement
          </dt>
          <dd class="govuk-summary-list__value">
            Effective from 1 April 2018
            <br>Signed 11 February 2018
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="delete-agreement-date">
              Remove<span class="govuk-visually-hidden"> agreement</span>
            </a>
          </dd>
        </div>
      </dl>

      <!-- add agreement -->
      <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
        <a class="govuk-link" href="add-agreement">
          Add agreement
        </a>
      </div>

    </section>

    <!-- factors -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m" id="factors">
          Factors
        </h3>
      </div>
    </div>

    <!-- <div class="govuk-!-margin-bottom-3">
      <strong class="table__status">
        Overridden
      </strong>
    </div> -->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Loss
        </dt>
        <dd class="govuk-summary-list__value">
          High
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="loss">
            Change<span class="govuk-visually-hidden"> loss</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Season
        </dt>
        <dd class="govuk-summary-list__value">
          <strike class="govuk-!-margin-right-1">Winter</strike>All year
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="season">
            Change<span class="govuk-visually-hidden"> season</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Source
        </dt>
        <dd class="govuk-summary-list__value">
          Unsupported
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="source">
            Change<span class="govuk-visually-hidden"> source</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list__row--last">
        <dt class="govuk-summary-list__key">
          Compensation (EIUC source)
        </dt>
        <dd class="govuk-summary-list__value no-value">
          <!-- No compensation set -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="eiuc-source">
            Change<span class="govuk-visually-hidden"> compensation</span>
          </a> -->
        </dd>
      </div>

    </dl>

  </div>
</div>

{% endblock %}
