{% extends "layout.html" %}

{% set title = "You are about to send these bills" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "account/settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">

    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-!-margin-bottom-3"></div>

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <div class="govuk-inset-text">
      <span class="govuk-!-font-weight-bold">Anglian Supplementary bill run</span>
      <br>12 January 2020
      <br>3 bills
      <br>£5,552.75
    </div>

    <a href="bill-runs" class="govuk-faux-button">
      Send
    </a>

  </div>
</div>
{% endblock %}
