{% extends "layout.html" %}

{% set title = "Compensation (EIUC source)" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <form action="javascript:history.back()" method="post" class="form" id="return-reference-error">

    <div class="govuk-form-group">
      <label class="govuk-label" for="return-reference">
        What is the compensation factor?
      </label>
      <input value="{{ body.returnReference }}" class="govuk-input govuk-input--width-10" id="EIUC-source" name="EIUC-source" type="text">
    </div>

    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

  <script src="/public/javascripts/jquery-1.11.3.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
