{% extends "layout.html" %}

{% set title = "Charge elements" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "/bd/licence-summary#charges"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-l">Charge elements</h1>

  </div>
</div>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Purpose
    </dt>
    <dd class="govuk-summary-list__value">
      Spray irrigation
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> purpose</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Abstraction period
    </dt>
    <dd class="govuk-summary-list__value">
      5 January to 31 March
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> date of birth</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Time limited start date
    </dt>
    <dd class="govuk-summary-list__value">
      5 January 2010
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> time limited period</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Annual quantities
    </dt>
    <dd class="govuk-summary-list__value">
      1,250,000 cubic metres per year
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> chargable quantities</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chargable quantities
    </dt>
    <dd class="govuk-summary-list__value">
      1,250,000 cubic metres per year
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> chargable quantities</span>
      </a>
    </dd>
  </div>

</dl>

<h2 class="govuk-heading-m" id="factors">Factors</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-3">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      EUIC source
    </dt>
    <dd class="govuk-summary-list__value">
      No source given
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="value">
        Change<span class="govuk-visually-hidden"> EUIC source</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Source
    </dt>
    <dd class="govuk-summary-list__value">
      Unsupported
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="value">
        Change<span class="govuk-visually-hidden"> source</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Season
    </dt>
    <dd class="govuk-summary-list__value">
      Summer
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="season">
        Change<span class="govuk-visually-hidden"> season</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Loss
    </dt>
    <dd class="govuk-summary-list__value">
      Medium
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="loss">
        Change<span class="govuk-visually-hidden"> loss</span>
      </a>
    </dd>
  </div>
</dl>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="additions-documents-1" name="additions-documents" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="additions-documents-1">
        Overridden
      </label>
    </div>
  </div>
</div>

  <h2 class="govuk-heading-m" id="category">Charging category (SROC only)</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Charge category
      </dt>
      <dd class="govuk-summary-list__value">
        Apple
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="category">
          Change<span class="govuk-visually-hidden"> charge category</span>
        </a>
      </dd>
    </div>
  </dl>

  <h2 class="govuk-heading-m" id="agreement">Agreement</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Agreements
      </dt>
      <dd class="govuk-summary-list__value">
        Canal and Rivers Trust
        <br>Other
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="agreements">
          Change<span class="govuk-visually-hidden"> agreements</span>
        </a>
      </dd>
    </div>
  </dl>

  <a href="../licence-summary#charges" class="govuk-faux-button">
    Save and close
  </a>

  <!-- <h2 class="govuk-heading-m">Now send your application</h2>

  <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

  <form action="/form-handler" method="post" novalidate>

  <input type="hidden" name="answers-checked" value="true">

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Accept and send
  </button>

  </form> -->


{% endblock %}
