{% extends "layout.html" %}

{% set title = "Spray irrigation charge elements" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "/bd/licence-summary#charges"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Purpose
      </dt>
      <dd class="govuk-summary-list__value">
        Spray irrigation
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> purpose</span>
        </a>
      </dd>
    </div> -->

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Billable quantities
      </dt>
      <dd class="govuk-summary-list__value">
        1,250,000 cubic metres per year
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> chargable quantities</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Annual quantities
      </dt>
      <dd class="govuk-summary-list__value">
        1,250,000 cubic metres per year
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> chargable quantities</span>
        </a> -->
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Abstraction period
      </dt>
      <dd class="govuk-summary-list__value">
        5 January to 31 March
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> date of birth</span>
        </a> -->
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Time limited start date
      </dt>
      <dd class="govuk-summary-list__value">
        5 January 2019
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> time limited period</span>
        </a> -->
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Time limited end date
      </dt>
      <dd class="govuk-summary-list__value">
        31 March 2019
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> time limited period</span>
        </a> -->
      </dd>
    </div>

  </dl>

  <h2 class="govuk-heading-m" id="agreement">Agreement</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Canal and Rivers Trust agreement
      </dt>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="agreement-detail">
          Change<span class="govuk-visually-hidden"> Canal and Rivers Trust agreement</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Other agreement
      </dt>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="agreement-detail">
          Change<span class="govuk-visually-hidden"> other agreement</span>
        </a>
      </dd>
    </div>
  </dl>

  <div class="govuk-!-margin-bottom-9">
    <a class="govuk-link" href="add-agreement">
      Add an agreement
    </a>
  </div>

  <div class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m" id="factors">Factors</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-3">

      <div class="govuk-summary-list__row">
        <div class="govuk-checkboxes govuk-!-margin-bottom-3">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="additions-documents-1" name="additions-documents" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="additions-documents-1">
              Overridden
            </label>
          </div>
        </div>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Loss
        </dt>
        <dd class="govuk-summary-list__value">
          Medium
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="loss">
            Change<span class="govuk-visually-hidden"> loss</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Season
        </dt>
        <dd class="govuk-summary-list__value">
          Summer
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="season">
            Change<span class="govuk-visually-hidden"> season</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Source
        </dt>
        <dd class="govuk-summary-list__value">
          Unsupported
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="source">
            Change<span class="govuk-visually-hidden"> source</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          EIUC source
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- no source -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="EIUC-source">
            Change<span class="govuk-visually-hidden"> EIUC source</span>
          </a>
        </dd>
      </div>


    </dl>
  </div>

  <a href="../licence-summary#charges" class="govuk-faux-button">
    Save and close
  </a>

  <!-- <h2 class="govuk-heading-m">Now send your application</h2>

  <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

  <form action="/form-handler" method="post" novalidate>

  <input type="hidden" name="answers-checked" value="true">

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Accept and send
  </button>

  </form> -->


{% endblock %}
