{% extends "layout.html" %}

{% set title = "Supplementary bills for Anglian" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "account/settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

<!-- page title -->
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      <span class="govuk-caption-l">12 June 2019</span>
      {{ title }}
    </h1>
    <!-- <p class="govuk-body-l">
      12 June 2019
    </p> -->
  </div>
</div>

<!-- invoice totals -->
<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-one-half">
    <h3><span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">3</span><br>
    <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Bills</span></h3>
  </div>
  <div class="govuk-grid-column-one-half">
    <h3><span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">£5,552.75</span><br>
    <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Region total</span></h3>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <a href="">
      Download batch
    </a>
  </div>
</div>

<div class="divider govuk-!-margin-bottom-7"></div>

<h2 class="govuk-heading-l screen-reader-only">
  Supplementary bills
</h2>

<!-- invoices table -->
<div class="table govuk-!-margin-bottom-6">                                                <!-- a table -->

  <div class="table__row--head">                                              <!-- the table head -->
    <div class="table__cell bold-small">
      Licence number
    </div>
    <div class="table__cell bold-small">
      Billing contact
    </div>
    <div class="table__cell bold-small">
      Change type
    </div>
    <div class="table__cell bold-small numbers column--10">
      Total
    </div>
    <div class="table__cell bold-small numbers column--10">
      Action
    </div>

  </div>

  <!-- table row -->
  <div class="table__row--selectable govuk-!-margin-bottom-6">
    <div class="table__cell">
      <h2 class="screen-reader-only">
        Row 1
      </h2>
      <h3 class="table__context">
        Licence number
      </h3>
      <span class="table__link">
        <a href="transaction">
          03/28/60/0032
        </a>
      </span>
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Billing contact
      </h3>
      <p class="table__row--text">
        Company Name Ltd.
      </p>
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Change type
      </h3>
      <p class="table__row--text">
        Licence update
      </p>
    </div>
    <div class="table__cell numbers">
      <h3 class="table__context">
        Total
      </h3>
      <p class="table__row--text table__row--bold-text">
        £3,002.75
      </p>
    </div>
    <div class="table__cell numbers">
      <h3 class="table__context">
        Action
      </h3>
      <p class="table__row--text">
        <a href="confirm-remove-transaction">
          Remove
        </a>
      </p>
    </div>
  </div>

  <div class="table__row--selectable govuk-!-margin-bottom-6">
    <div class="table__cell">
      <h2 class="screen-reader-only">
        Row 2
      </h2>
      <h3 class="table__context">
        Licence number
      </h3>
      <span class="table__link">
        <a href="transaction">
          01/27/62/001
        </a>
      </span>
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Billing contact
      </h3>
      <p class="table__row--text">
        A. Parson
      </p>
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Change type
      </h3>
      <p class="table__row--text">
        Variation
      </p>
    </div>
    <div class="table__cell numbers">
      <h3 class="table__context">
        Total
      </h3>
      <p class="table__row--text table__row--bold-text">
        £1,100.00
      </p>
    </div>
    <div class="table__cell numbers">
      <h3 class="table__context">
        Action
      </h3>
      <p class="table__row--text">
        <a href="confirm-remove-transaction">
          Remove
        </a>
      </p>
    </div>
  </div>

  <div class="table__row--selectable govuk-!-margin-bottom-6">
    <div class="table__cell">
      <h2 class="screen-reader-only">
        Row 3
      </h2>
      <h3 class="table__context">
        Licence number
      </h3>
      <span class="table__link">
        <a href="transaction">
          01/22/0020,
          <br>01/22/0021/r001
        </a>
      </span>
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Billing contact
      </h3>
      <p class="table__row--text">
        Bill Brothers Co.
      </p>
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Change type
      </h3>
      <p class="table__row--text">
        New licence
      </p>
    </div>
    <div class="table__cell numbers">
      <h3 class="table__context">
        Total
      </h3>
      <p class="table__row--text table__row--bold-text">
        £1,450.00
      </p>
    </div>
    <div class="table__cell numbers">
      <h3 class="table__context">
        Action
      </h3>
      <p class="table__row--text">
        <a href="confirm-remove-transaction">
          Remove
        </a>
      </p>
    </div>
  </div>

</div>

<a href="confirm-approve-bills" class="govuk-faux-button">Confirm bills</a>



{% endblock %}
