{% extends "layout.html" %}

{% set title = "Over abstraction for 03/28/60/0032" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">

    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">7 January 2020</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-inset-text">
      <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
        Base licence
      </h4>
      <p class="govuk-body">
        April to December
        <br>S127 (Two-part tariff)
      </p>
    </div>

    <section class="govuk-!-margin-bottom-6">
      <a href="../licence-summary">
        View licence
      </a>
      <br>
      <a href="../returns/return-report">
        View the return
      </a>
    </section>

    <section class="govuk-!-margin-bottom-3">
    <a href="#" class="govuk-faux-button govuk-faux-button--secondary govuk-!-margin-right-1">
      Suspend this licence
    </a>
      <a href="#" class="govuk-faux-button govuk-faux-button--secondary govuk-!-margin-right-1">
        Bill and mark for compliance
      </a>
    </section>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      Charge details
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Authorised quantity
        </dt>
        <dd class="govuk-summary-list__value">
          120 megalitres
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> authorised quantity</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Billable quantity
        </dt>
        <dd class="govuk-summary-list__value">
          50 megalitres
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-billable-quantity">
            Change<span class="govuk-visually-hidden"> billable quantity</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--last">
        <dt class="govuk-summary-list__key">
          Actual quantity
        </dt>
        <dd class="govuk-summary-list__value">
          75 megalitres
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-actual-quantity">
            Change<span class="govuk-visually-hidden"> actual quantity</span>
          </a>
        </dd>
      </div>
    </dl>



  </div>
</div>

{% endblock %}
