{% extends "layout_wrls.html" %}

{% set title = "Review data issues" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-manage.html" %}
</div>

{{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3"><span class="govuk-caption-l">{{data['region'] |default ("Anglian")| firstToUpperCase }} two-part tariff {{data['tptSeason']}} bill run</span>{{ title }}</h1>



    <p class="govuk-body">
      {{govukTag({
        text: "Review",
        classes: "govuk-tag--blue govuk-!-font-size-27"
      })}}
    </p>

    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key meta-data__label">
          Date created
        </dt>
        <dd class="govuk-summary-list__value meta-data__value">
          {{"1" |today}}
        </dd>

      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key meta-data__label">
          Region
        </dt>
        <dd class="govuk-summary-list__value meta-data__value">
          {{data['region'] |default ("Anglian")| firstToUpperCase }}
        </dd>

      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key meta-data__label">
          Bill run type
        </dt>
        <dd class="govuk-summary-list__value meta-data__value">
          Two-part tariff - Summer
        </dd>

      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key meta-data__label">
          Financial year
        </dt>
        <dd class="govuk-summary-list__value meta-data__value">
           {% set financialYear = data['financialYear']-1 + " to " + data['financialYear'] %}

          {{financialYear|default("2022 to 2023")}}
        </dd>

      </div>


</dl>

<section class="govuk-!-margin-bottom-0">
    <form action="download-licence-review-report" method="post" novalidate>
{{ govukButton({
  text: "Download licence review report",
  classes: "govuk-button--secondary govuk-!-margin-bottom-4"
}) }}
</form>
</section>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<!--create the issues list, loop through the TpT bill run data and push those with issues to resolve in to a list-->

{% set issuesList = [] %}
{% set tptBillRun = data['tptBillRun'] %}

    {% for item in tptBillRun %}
    {% if item.ready == "no" %}
        {% set issuesList = issuesList | push([
          {html: item.licenceAggregate},
          {text: item.billingContact},
          {text: item.elements[0].issue|safe},
          {text: item.edited|safe|capitalize},
          {html: '<a href="reviewLicence?licence=' + item.licence +'">
            Review <span class="screen-reader-only">the bill for licence ' + item.licence + '</span>
          </a>'}
          ]) %}
        {% endif %}
    {% endfor %}



{% if issuesList.length %}
<section class="govuk-!-margin-bottom-7">
  {{ govukInsetText({
  text: "You need to review " + issuesList.length + " licences with returns data issues. You can then continue and send the bill run."
}) }}
  <form action="cancel-bill-run" method="post" novalidate>
  {{ govukButton({
    text: "Cancel bill run",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0"
  }) }}
   </form>


</section>
{% else %}
<section class="govuk-!-margin-bottom-6">
  {{ govukInsetText({
  text: "You have resolved all returns data issues. Continue to generate bills."
}) }}
  <div class="govuk-button-group">
    <form action="create-transactions?billRunIndex={{data['billRunIndex']}}" method="post" novalidate>
  {{ govukButton({
    text: "Continue",
    classes: "govuk-button--primary"
  }) }}
  </form>
  <form action="cancel-bill-run" method="post" novalidate>
  {{ govukButton({
    text: "Cancel bill run",
    classes: "govuk-button--secondary"
  }) }}
    </form>
  </div>

</section>
{% endif %}



  {% set issuesHtml %}

  {{ govukTable({
    caption: issuesList.length|default ("3") + " licences have data issues",
    captionClasses: "govuk-table__caption--l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence"
      },
      {
        text: "Billing contact"
      },
      {
        text: "Issue"
      },
      {
        html: "Billable returns<br> edited"
      },
      {
        text: "Action"
      }
    ],
    rows:
      issuesList

  }) }}

  {% endset %}

<!--create the ready list, loop through the bill run data and push those ready in to a list-->

  {% set readyList = [] %}


  {% for item in tptBillRun %}
  {% if item.ready == "yes" %}
          {% set readyList = readyList | push([
            {html: item.licenceAggregate },
            {text: item.billingContact},
            {text: item.elements[0].issue|safe},
            {text: item.edited|safe|capitalize},
            {html: '<a href="reviewLicence?licence=' + item.licence +'">
              Review <span class="screen-reader-only">the bill for licence ' + item.licence + '</span>
            </a>'}
            ]) %}
          {% endif %}
      {% endfor %}


  {% set readyHtml %}

  {{ govukTable({
    caption: readyList.length|default ("3") + " licences are ready for billing",
    captionClasses: "govuk-table__caption--l",
    firstCellIsHeader: false,
    head: [
      {
        text: "Licence"
      },
      {
        text: "Billing contact"
      },
      {
        text: "Issue"
      },
      {
        html: "Billable returns<br> edited"
      },
      {
        text: "Action"
      }
    ],
    rows:
      readyList

  }) }}

  {% endset %}

    {{ govukTabs({
      items: [
        {
          label: "Issues " + "("+ issuesList.length |default ("3") + ")",
          id: "issues",
          panel: {
            html: issuesHtml
          }
        } if issuesList.length,
        {
          label: "Ready " + "("+  readyList.length |default ("4") + ")",
          id: "ready",
          panel: {
            html: readyHtml
          }
        }
      ]
    }) }}

    </div>
    </div>


{% endblock %}
