<!--content block-->
{% extends "layouts/wrls-layout-sub-nav-customer.html" %}

{% set title = "Billing accounts: " + [data.customers[data.customerID]['name']] %}

<!-- set the sub nav -->
<!--parent-->
{% set billingAccounts = true %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}






<!--content block-->
{% block service %}

<!-- page title -->

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Customer</span>
     {{title}}
    </h1>



   <!--billing accounts table-->
   {% include "sandbox/_includes/customer/billing-accounts-table.html" %}





</div>
</div>

{% endblock %}

