{% extends "layouts/_manage.html" %}

<!-- show the contact name, if there isn't one then show the email address instead -->
{% if data.contacts[data.contactID]['name'].length %}
{% set titleName = [data.contacts[data.contactID]['name']] %}
{% else %}
{% set titleName = [data.contacts[data.contactID]['email']] %}
{% endif %}
<!--set page title-->
{% set title = "Manage contact settings for " + titleName %}




{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{data.customers[data.customerID]['name']}}</span>
      {{title | safe}}
    </h1>
</div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <!--set the action text to be add if there isn't an email address already there-->
    {% if [data.contacts[data.contactID].email] == "" %}
    {% set action = "Add" %}
    {% else %}
    {% set action = "Change" %}
    {% endif %}


      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Role"
      },
      value: {
        text: "Site contact"
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: [data.contacts[data.contactID]['email']]
      },
      actions: {
        items: [
          {
            href: "change-email-address",
            text: action,
            visuallyHiddenText: "email address"
          }
        ]
      }
    }
  ]
}) }}

<p class="govuk-body"><a href="../customer?customerID={{data.customerID}}#contacts" class="govuk-link">Back to customer</a></p>

</div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





    <form method="post" novalidate>


     {{ govukRadios({
       idPrefix: "notices",
       name: "notices",
       fieldset: {
         legend: {
           text: "Will " + [data.contacts[data.contactID]['name']] + " get water abstraction alerts?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "Water abstraction alerts",
           text: "Yes",
           checked: checked("notices", "Water abstraction alerts")
         },
         {
           value: "",
           text: "No",
           checked: checked("notices", "")
         }
       ]
     }) }}


      {{ govukButton({
  text: "Confirm"
}) }}

    </form>


  </div>
</div>



{% endblock %}
