// hacks for issues that hopefully will be fixed

.govuk-tag {
  line-height: 1.22; // doesn’t wrap well on medium screens…  needs more love
}

// search input inline fix
.govuk-input--width-20 {
  max-width: 100ex;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    max-width: 41ex;
    margin-bottom: 0;
  }
}

// search button inline fix
.inline-button {
  margin-left: 0;
  @media screen and (min-width: 768px) {
    margin-left: 5px;
  }
}


tbody .govuk-table__row .govuk-table__header a {
  font-weight: 400;
}


// column spacing
// evenly spaced table columns
// by default

.column-15 {
  width: 15%;
}

.column-20 {
  width: 20%;
}

.column-25 {
  width: 25%;
}

.column-33 {
  width: 33.3%;
}

.column-50 {
  width: 50%;
}




// to BEM

// subnav container
.navbar {
  border-bottom: 1px solid $govuk-border-colour;
}

// subnav list
.navbar__list-items li {
  font-weight: 700;
  // display: inline-block;
}

.navlink {
  display: inline-block;
}

// active link for subnav
.navbar .navbar__list-items li a {
  margin-right: 15px;
  color: #0b0c0c;
  display: inline-block;
  text-decoration: none;
  box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0);
  padding: 15px 5px 10px 5px;
}

.navbar .navbar__list-items li.active a {
  box-shadow: inset 0px -5px 0px 0px #005ea5;
  padding: 15px 5px 10px 5px;
}

// active link for subnav
.navbar .navbar__list-items li.active {
  color: #0b0c0c;
}

.navbar .navbar__list-items li.active a {
  color: #005ea5;
}

.navbar .navbar__list-items {
  position:relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar ul li{
  display: inline-block;
}
