.space {
  &--big {
    margin-bottom: 50px;
  }
  &--medium {
    margin-bottom: 30px;
  }
  &--small {
    margin-bottom: 15px;
  }
  &--none {
    margin-bottom: 0;
  }
  &__top--none {
    margin-top: 0;
    padding-top: 0;
  }
  &--padding-right {
    padding-right: 1rem;
  }
}

.space--left__15 {
  margin-left: 15px;
}

.float-right {
  float: right;
}

.volume-input {
  margin-right: 15px;
}
