.space {
  &--big {
    margin-bottom: 50px;
  }
  &--medium {
    margin-bottom: 30px;
  }
  &--small {
    margin-bottom: 15px;
  }
  &--none {
    margin-bottom: 0;
  }
  &__top--none {
    margin-top: 0;
    padding-top: 0;
  }
}

.float-right {
  float: right;
}
