/* styles for prototype presentations */
.prototype-link {
  margin-top: 50rem;
}

.prototype-link a:link,
.prototype-link a:active,
.prototype-link a:visited {
  color: white;
  background-color: #666;

  font-size: 18px;
  text-decoration: none;

  border-radius: 10px;
  padding: 10px 15px;

}
