//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here




// Components that aren't in Frontend
// @use "components/cookie-banner";

// MOJ front end
//@use "node_modules/@ministryofjustice/frontend/moj/all";

//old proto custom styles
@import "archive/previous-proto/sass/application";

// Tools that aren't in Frontend
@import "tools/mixins";

//map styles
@import "map/map";

//sub-nav
@import "sub-nav";

//banner content max-width override
.max-width-full {
  max-width: 100% !important;
}

 .line-height {
  line-height: 1.5 !important;
}

.center-text {
  text-align: center !important;
}

//Contents list styles
.contents-list__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    color: #0b0c0c;
}
.contents-list__list {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }



.contents-list__list li {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7.5px;
    margin-bottom: 0px !important;
  }

.contents-list__list li::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }

// border bottom override

.border-bottom {
border-bottom: 1px solid #b1b4b6 !important;
}


.border-bottom-none {
  border-bottom: none !important;
  }

//End of contents list styles

.float-right {
  float: right;
}

.float-left{
  float:left;
}

.govuk-font-size-64{
  font-size: 64px !important;
  font-size: 4rem !important;
}

.inline {
  display: inline;
}


.govuk-summary-card__title .govuk-caption-m {
  color: #0b0c0c;
}

//Wide actions in summary list - used when experimenting with comparing changes to charge information
@media (min-width: 40.0625em) {
  .govuk-summary-list__actions-wide {
    width: 30% !important;
    padding-right: 0;
    text-align: left;
  }
}

.govuk-inset-text-blue {
  border-left: 10px solid #1d70b8;
}




.govuk-width-container {
   @include govuk-width-container(1300px);
}


.map { position:absolute; top:0; bottom:0; width:100%; }




// ========== ========== ========== ========== ==========
// Widths
// ========== ========== ========== ========== ==========
.width-one-fifth {
  width: 100% !important;
}
@media (min-width: 40.0625em) {
  .width-one-fifth {
    width: 20% !important;
  }
}

.width-one-sixth {
  width: 100% !important;
}
@media (min-width: 40.0625em) {
  .width-one-sixth {
    width: 17% !important;
  }
}

.width-one-tenth {
  width: 100% !important;
}
@media (min-width: 40.0625em) {
  .width-one-tenth, .width-10 {
    width: 10% !important;
  }
}





//blue border for the header end to end
.header-border-bottom{
  border-bottom: 10px solid #1d70b8;
  };