//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here




// Components that aren't in Frontend
// @import "components/cookie-banner";

// MOJ front end
//@import "node_modules/@ministryofjustice/frontend/moj/all";

//banner content max-width override
.max-width-full {
  max-width: 100% !important;
}

 .line-height {
  line-height: 1.5 !important;
}


//Contents list styles
.contents-list__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    color: #0b0c0c;
}
.contents-list__list {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.contents-list__list li {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7.5px;
    margin-bottom: 0px !important;
  }

.contents-list__list li::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }
//End of contents list styles

.float-right {
  float: right;
}

//old proto custom styles
@import "archive/previous-proto/sass/application";



// Tools that aren't in Frontend
@import "tools/mixins";
//map styles
@import "map/map";


.map { position:absolute; top:0; bottom:0; width:100%; }