{% import "includes/macros/tables.njk" as table %}

{% extends "layout.html" %}

{% set title = "Licence 03/28/60/0032 contacts" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Contact information"
     },
     {
       href: "#2",
       text: "Change password"
     },
     {
       href: "#3",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-ex-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike contacts</h1>

    </div>
  </div>

  <!-- licence contact group -->
  <div class="space--big" id="main-contact">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Main contact
        </h2>

        <p class="govuk-body govuk-!-font-size-24 space--medium">
          We will use the main contact to get in touch about conditions and changes to this licence
        </p>

      </div>
    </div>

    <!-- licence contact group -->
    <div class="space--medium">

      <!-- licence data -->
      <div class="data-row">
        <!-- the data label -->
        <div class="data-row__param">
          Name
        </div>
        <div class="data-row__value">
          Daniel Caan
        </div>
      </div>

      <!-- licence data -->
      <div class="data-row">
        <!-- the data label -->
        <div class="data-row__param">
          Address
        </div>
        <div class="data-row__value">
          1 Hill House<br>
          Abingdon-on-Thames<br>
          Oxfordshire<br>
          RE1 1TG
        </div>
      </div>

      <!-- licence data -->
      <div class="data-row">
        <!-- the data label -->
        <div class="data-row__param">
          Telephone
        </div>
        <div class="data-row__value">
          08847546123
        </div>
      </div>

      <!-- licence data -->
      <div class="data-row">
        <!-- the data label -->
        <div class="data-row__param">
          Email
        </div>
        <div class="data-row__value">
          thebigjc@irriwet.co.uk
        </div>
      </div>

    </div>

    <div class="space--small">
      <a href="update">Update this information</a>
    </div>

  </div>


  <!-- licence contact group -->
  <div class="space--big">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
           Registered licence holder details
        </h2>
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Name
      </div>
      <div class="data-row__value">
        Daniel Caan
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Address
      </div>
      <div class="data-row__value">
        1 Hill House<br>
        Abingdon-on-Thames<br>
        Oxfordshire<br>
        RE1 1TG
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Telephone
      </div>
      <div class="data-row__value">
        08847546123
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Email
      </div>
      <div class="data-row__value">
        thebigjc@irriwet.co.uk
      </div>
    </div>

  </div>

{% endblock %}
