{% import "includes/macros/tables.njk" as table %}

{% extends "layout.html" %}

{% set title = "Gauging station for {{pData.LicenceSerialNo}}" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/account-settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-ex-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Licence number {{pData.LicenceSerialNo}}",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike conditions</h1>
    </div>
  </div>


  <!-- licence condition title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="heading-large govuk-heading-m licence-condition__header">
        Eel screening condition
      </h2>
    </div>
  </div>

  <!-- licence condition group -->
  <div class="space--medium">
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Screening</div>
      <div class="data-row__value">
        The Agency may have regard to its best practice guide, the Eel Menual: Screening at intakes and outfalls: measures to protect eel (or equivalent guidance) in agreeing where, how and what type of eel screen should be installed and together with the results of any monitoring in determining whether the eel screen is properly effective and maintained, and in judging whether it is necessary to require or replacement of the eel screen.
      </div>
    </div>
  </div>

  <!-- licence condition group -->
  <div class="space--medium">
    <!-- licence condition title -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="heading-large govuk-heading-m licence-condition__header">
          Hands off flow condition
        </h2>
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Purpose</div>
      <div class="data-row__value">
        Make-up or top up water
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Gauging station</div>
      <div class="data-row__value">
        At National Grid Reference SX 426725<br>
        <a href="../gauging-station">View details at Huntsford</a>
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Threshold level</div>
      <div class="data-row__value">
        0.73m ODN
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Other information</div>
      <div class="data-row__value">
        No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at Little Durnsford (SW 321562) is at or below 0.73m ODN.
      </div>
    </div>

  </div>










   <div class="medium-space">

     <!-- page title -->
     <h1 class="heading-large clustered">
       <span class="heading-secondary">
         At National Grid Reference {{ pData.GaugingStationGridReference }}
       </span>
        Data from {{ pData.GaugingStationName }}
     </h1>

     <div class="clustered">Source of supply: {{ pData.Source}}</div>

   </div>

   <!-- legal -->
   <div class="grid-row medium-space">
     <div class="column-two-thirds">
       <div class="notice">
         <i class="icon icon-important">
           <span class="visually-hidden">Warning</span>
         </i>
         <strong class="bold-small">
           This data is for reference only. You should continue to use your current monitoring methods to make abstraction decisions.
         </strong>
       </div>
     </div>
   </div>

   {% if pData.GaugingStationData %}

     <!-- section title -->
     <div class="grid-row">
       <div class="column-two-thirds">
         <h2 class="bold-medium clustered">
           {% if pData.LicenceHasFlow %}
             Mean daily flow
           {% else %}
             Mean daily flow
           {% endif %}
         </h2>
       </div>
     </div>

     <div class="grid-row medium-space">
       <div class="column-two-thirds">
         <!-- <div class="inner-flex"> -->
           {% if pData.LicenceHasFlow %}
             <select class="form-control unit-dropper" id="select-box" name="select-box">
               <option selected>cubic metres per second</option>
               <option>cubic metres per day</option>
               <option>megalitres per day</option>
             </select>
           {% else %}
             <select class="form-control unit-dropper" id="select-box" name="select-box">
               <option selected>metres</option>
               <option>feet</option>
             </select>
           {% endif %}
         <!-- </div> -->
       </div>
     </div>

     <div class="grid-row medium-space">
       <!-- data here -->
       <div class="column-two-thirds small-space">
         <!-- <div class="inner-flex flex-static"> -->
           <span class="bold-xxlarge">
             {% if pData.LicenceHasFlow %}
               {{ pData.GaugingStationFlowValue }}
             {% else %}
               {{ pData.GaugingStationLevelValue }}
             {% endif %}
           </span>
         <!-- </div> -->
       </div>

       <div class="column-two-thirds">
         <p>
         <!-- recorded at -->
         {% if pData.LicenceHasFlow %}
           <span class="data-item">Daily mean flow recorded at <span class="bold-small">{{ pData.GaugingStationRecordedTime }} on {{ pData.GaugingStationRecordedDate }}</span></span>
         {% else %}
           <span class="data-item">Daily mean level recorded at <span class="bold-small">{{ pData.GaugingStationRecordedTime }} on {{ pData.GaugingStationRecordedDate }}</span></span>
         {% endif %}
         </p>

         <div class="column-full">
           <div class="panel panel-border-wide column-two-thirds">
             <p>
               Please convert this reading if your condition is based on a different unit of measurement.
             </p>
           </div>
         </div>

         {% if pData.LicenceHasFlow %}
           <a href="">See level data at this gauging station</a>
         {% else %}
           <a href="">See flow data at this gauging station</a>
         {% endif %}
       </div>

     </div>


   {% else %}

     <!-- NO DATA -->
     <div class="data">
       <span class="data-item bold-xxlarge">Sorry, there is no accurate data available</span>
     </div>

     <div class="grid-row ">
       <div class="column-two-thirds">
         <p>
           Please contact your <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening" target="_blank">local Environment Agency office</a> (link opens in a new tab) for the latest information.
         </p>
       </div>
     </div>

   {% endif %}

   <div class="grid-row">

     <div class="column-two-thirds">
       <h2 class="small-space bold-medium">
         {% if pData.LicenceHasFlow %}
           Recent flow data from this gauging station
         {% else %}
           Recent level data from this gauging station
         {% endif %}

       </h2>
     </div>

   </div>

   <div class="grid-row small-space">
     <div class="column-one-third">

       <div class="flexy">
         <a href="gauging-station-graph?wid={{query.wid}}" class="river-flow-graph">
           <div class="container">
             <img src="../images/river-flow-preview.svg"/>
           </div>
         </a>
       </div>

     </div>
   </div>

   <div class="grid-row big-space">
     <div class="column-one-third flexy">
       <a href="gauging-station-graph?wid={{query.wid}}" class="small-space">
         {% if pData.LicenceHasFlow %}
           <caption>View data for the past 7 days</caption>
         {% else %}
           <caption>View data for the past 7 days</caption>
         {% endif %}
       </a>
     </div>
   </div>

   <div class="grid-row">
     <div class="column-two-thirds small-space">
       <h2 class="bold-medium">
         <span class="">Details of the hands off flow conditions</span>
       </h2>
     </div>
   </div>

   <div class="small-space">
     <h3 class="lede">Cessation condition</h3>
   </div>

   <div class="panel panel-border-wide">
     <div class="data-row-group">

       <div class="data-row data-row--section">
         <div class="data-row__param" id="label-0-1-purpose">
           Purpose
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-purpose">
           Make-Up Or Top Up Water
         </div>
       </div>

       <div class="data-row">
         <div class="data-row__param" id="label-0-1-param1">
           Gauging station
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-param1">
           At National Grid Reference {{ pData.GaugingStationGridReference}}<br>
           {{pData.GaugingStationName}}
         </div>
       </div>

       <div class="data-row">
         <div class="data-row__param" id="label-0-1-param2">
         Threshold level
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-param2">
          {{ pData.HOFlimit }}
         </div>
       </div>

       <div class="data-row">
         <div class="data-row__param" id="label-0-1-info">
         Other information
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-info">
           No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at {{ pData.GaugingStationName }} ({{ pData.GaugingStationGridReference }}) is at or below {{ pData.HOFlimit }}.
         </div>
       </div>

     </div>
   </div>

   <div class="medium-space">
     <a href="conditions?wid={{query.wid}}">
       View all conditions information held for this licence
     </a>
   </div>


{% endblock %}
