{% import "includes/macros/tables.njk" as table %}

{% extends "layout.html" %}

{% set title = "Gauging station for {{pData.LicenceSerialNo}}" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/account-settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-ex-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Licence number 03/28/60/0032",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">At National Grid Reference SX 152364</span>
      <h1 class="govuk-heading-l space--none">Data from Backley Weir</h1>
      <p class="govuk-body">
        Source of supply: Inland water lake known as Featherall Lake at SJ3185632865
      </p>
    </div>
  </div>

  {% from "warning-text/macro.njk" import govukWarningText %}

  {{ govukWarningText({
    text: "This data is for reference only. You should continue to use your current monitoring methods to make abstraction decisions.",
    iconFallbackText: "Warning"
  }) }}

  <!-- licence condition title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="heading-large govuk-heading-m licence-condition__header space--none"">
        Mean daily flow
      </h2>
      {% from "select/macro.njk" import govukSelect %}
        {{ govukSelect({
          id: "mean-daily-flow",
          name: "sort",
          items: [
            {
              value: "cubic-metres-per-second",
              text: "Cubic metres per second",
              selected: true
            },
            {
              value: "cubic-metres-per-day",
              text: "Cubic metres per day"

            },
            {
              value: "megalitres-per-second",
              text: "Megalitres per day"
            }
          ]
        }) }}
    </div>
  </div>

  <div class="govuk-form-group" style="width: 900px;">
    <label class="govuk-label" for="sort">
      Sort by
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="published">Recently published</option>
      <option value="updated" selected>Recently updated</option>
      <option value="views">Most views</option>
      <option value="comments">Most comments</option>
    </select>
  </div>




     <div class="grid-row medium-space">
       <!-- data here -->
       <div class="column-two-thirds small-space">
         <!-- <div class="inner-flex flex-static"> -->
           <span class="bold-xxlarge">
             {% if pData.LicenceHasFlow %}
               {{ pData.GaugingStationFlowValue }}
             {% else %}
               {{ pData.GaugingStationLevelValue }}
             {% endif %}
           </span>
         <!-- </div> -->
       </div>

       <div class="column-two-thirds">
         <p>
         <!-- recorded at -->
         {% if pData.LicenceHasFlow %}
           <span class="data-item">Daily mean flow recorded at <span class="bold-small">{{ pData.GaugingStationRecordedTime }} on {{ pData.GaugingStationRecordedDate }}</span></span>
         {% else %}
           <span class="data-item">Daily mean level recorded at <span class="bold-small">{{ pData.GaugingStationRecordedTime }} on {{ pData.GaugingStationRecordedDate }}</span></span>
         {% endif %}
         </p>

         <div class="column-full">
           <div class="panel panel-border-wide column-two-thirds">
             <p>
               Please convert this reading if your condition is based on a different unit of measurement.
             </p>
           </div>
         </div>

         {% if pData.LicenceHasFlow %}
           <a href="">See level data at this gauging station</a>
         {% else %}
           <a href="">See flow data at this gauging station</a>
         {% endif %}
       </div>

     </div>



     <!-- NO DATA -->
     <!-- <div class="data">
       <span class="data-item bold-xxlarge">Sorry, there is no accurate data available</span>
     </div>

     <div class="grid-row ">
       <div class="column-two-thirds">
         <p>
           Please contact your <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening" target="_blank">local Environment Agency office</a> (link opens in a new tab) for the latest information.
         </p>
       </div>
     </div> -->


   <div class="grid-row">

     <div class="column-two-thirds">
       <h2 class="small-space bold-medium">
         {% if pData.LicenceHasFlow %}
           Recent flow data from this gauging station
         {% else %}
           Recent level data from this gauging station
         {% endif %}

       </h2>
     </div>

   </div>

   <div class="grid-row small-space">
     <div class="column-one-third">

       <div class="flexy">
         <a href="gauging-station-graph?wid={{query.wid}}" class="river-flow-graph">
           <div class="container">
             <img src="../images/river-flow-preview.svg"/>
           </div>
         </a>
       </div>

     </div>
   </div>

   <div class="grid-row big-space">
     <div class="column-one-third flexy">
       <a href="gauging-station-graph?wid={{query.wid}}" class="small-space">
         {% if pData.LicenceHasFlow %}
           <caption>View data for the past 7 days</caption>
         {% else %}
           <caption>View data for the past 7 days</caption>
         {% endif %}
       </a>
     </div>
   </div>

   <div class="grid-row">
     <div class="column-two-thirds small-space">
       <h2 class="bold-medium">
         <span class="">Details of the hands off flow conditions</span>
       </h2>
     </div>
   </div>

   <div class="small-space">
     <h3 class="lede">Cessation condition</h3>
   </div>

   <div class="panel panel-border-wide">
     <div class="data-row-group">

       <div class="data-row data-row--section">
         <div class="data-row__param" id="label-0-1-purpose">
           Purpose
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-purpose">
           Make-Up Or Top Up Water
         </div>
       </div>

       <div class="data-row">
         <div class="data-row__param" id="label-0-1-param1">
           Gauging station
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-param1">
           At National Grid Reference {{ pData.GaugingStationGridReference}}<br>
           {{pData.GaugingStationName}}
         </div>
       </div>

       <div class="data-row">
         <div class="data-row__param" id="label-0-1-param2">
         Threshold level
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-param2">
          {{ pData.HOFlimit }}
         </div>
       </div>

       <div class="data-row">
         <div class="data-row__param" id="label-0-1-info">
         Other information
         </div>
         <div class="data-row__value" aria-labelledby="label-0-1-info">
           No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at {{ pData.GaugingStationName }} ({{ pData.GaugingStationGridReference }}) is at or below {{ pData.HOFlimit }}.
         </div>
       </div>

     </div>
   </div>

   <div class="medium-space">
     <a href="conditions?wid={{query.wid}}">
       View all conditions information held for this licence
     </a>
   </div>


{% endblock %}
