{% extends "layout_wrls.html" %}

{% set title = "Confirm your nil return - GOV.UK" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ex-returns.html" %}
  </div>

  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <span class="govuk-caption-xl">Licence number 01/0117</span>
      Abstraction return
    </h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Site description
        </div>
        <div class="meta-data__value">
          Great Ouse at Bedford College (Heat pump - cooling only)
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Purpose
        </div>
        <div class="meta-data__value">
          Spray irrigation
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Return period
        </div>
        <div class="meta-data__value">
          1 April 2018 to 31 March 2019
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Abstraction period
        </div>
        <div class="meta-data__value">
          1 April 2018 to 31 September 2018
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Standard tarrif
        </div>
      <div>
    </section>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <a href="../licence-summary?wid={{ query.wid }}">View this licence</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Nil return
    </h2>

    

    {{ govukWarningText({
      text: "You confirm that all the details you are providing are correct to the best of your knowledge.",
      iconFallbackText: "Warning"
    }) }}

    <a href="return-confirmed" class="govuk-button">
      Submit
    </a>

  </div>
</div>

{% endblock %}
