{% extends "layout_wrls.html" %}

{% set title = "Which units are you using? - GOV.UK" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ex-returns.html" %}
  </div>

  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Licence number 01/0117</span>
      Abstraction return
    </h1>
  </div>
</div>



  {{ govukRadios({
    idPrefix: "returnStatus",
    name: "returnStatus",
    fieldset: {
      legend: {
        text: "Which units are you using?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "cubic-metres",
        text: "Cubic metres"
      },
      {
        value: "litres",
        text: "Litres"
      },
      {
        value: "megalitres",
        text: "Megalitres"
      },
      {
        value: "gallons",
        text: "Gallons"
      }
    ]
  })
}}

<a href="return-estimated-volumes" class="wrls-faux-button">
  Continue
</a>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
