{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Access list" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Water service patterns",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Access list
      </h1>
    </div>
  </div>

  <!-- table with three columns -->
  <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell column-40">
        Permission to access
      </div>
      <div class="table__cell column-20">
        Date
      </div>
      <div class="table__cell column-20">
        View returns
      </div>
      <div class="table__cell olumn-20">
        Manage returns
      </div>
      <div class="table__cell column-10">
        <!-- no title for this cell -->
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                    <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 1
        </h2>
        <h3 class="table__context">
          Permission to access
        </h3>
        <!-- person who has been given access -->
        frank.marigold@aquafall.com
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Date
        </h3>
        <!-- date access was given -->
        12 March 2018
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          View returns
        </h3>
        <!-- boolean: can this person see returns -->
        Yes
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Manage returns
        </h3>
        <!-- if you can manage returns you can automatically view returns -->
        <!-- boolean: can this person manage returns -->
        <!-- if the answer is No, nothing is shown -->
      </div>
      <div class="table__cell">
        <!-- control to edit the level of access for this person -->
        <a href="">
          Change
        </a>
      </div>
    </div>

    <div class="table__cell">
      <h2 class="screen-reader-only">
        Row 2
      </h2>
      <h3 class="table__context">
        Permission to access
      </h3>
      <!-- person who has been given access -->
      selena.fishlock@aquafall.com
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Date
      </h3>
      <!-- date access was given -->
      1 July 2018
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        View returns
      </h3>
      <!-- boolean: can this person see returns -->
      Yes
    </div>
    <div class="table__cell">
      <h3 class="table__context">
        Manage returns
      </h3>
      <!-- if you can manage returns you can automatically view returns -->
      <!-- boolean: can this person manage returns -->
      <!-- if the answer is No, nothing is shown -->
      Yes
    </div>
    <div class="table__cell">
      <!-- control to edit the level of access for this person -->
      <a href="">
        Change
      </a>
    </div>
  </div>


  </div>

{% endblock %}
