{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Access list" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Water service patterns",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1  class="heading-large govuk-heading-l">
        System messages, errors and alerts
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<p class="govuk-body">Use this pattern to alert the user about some important information they need to act upon.</p>

      <div class="govuk-inset-text" id="alert">
      Something has happened and you need to do something.
    </div>
  </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Use this pattern to inform the user that something has errored in the system, not due to user input. For user input errors use the error summary panel.</p>
      <div class="govuk-inset-text" id="system-error">
      Something has gone wrong and you need to do something.
    </div>
  </div>
  </div>

{% endblock %}
