{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Licence returns" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Water service patterns",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Licence returns
      </h1>
    </div>
  </div>

  <!-- table with returns with statuses -->
  <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell bold-small column--33">
        Return period
      </div>
      <div class="table__cell bold-small column--33">
        Purpose
      </div>
      <div class="table__cell bold-small column--33">
        Amount
      </div>
      <div class="table__cell bold-small column--10">
        Status
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 1
        </h3>
        <h4 class="table__context">
          Return period
        </h4>
        <a href="">
          April 2018 to March 2019
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Amount
        </h4>
        <!-- reported amount -->
        <!-- nothing shown for due returns -->
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status table__status--todo">
          Due
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 2
        </h3>
        <h4 class="table__context">
          Return period
        </h4>
        <a href="">
          April 2017 to March 2018
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Purpose
        </h4>
          Spray irrigation
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Amount
        </h4>
        <!-- reported amount -->
        <!-- nothing shown for due returns -->
          10,0105 gallons
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status">
          Complete
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 3
        </h3>
        <h4 class="table__context">
          Return period
        </h4>
        <a href="">
          April 2016 to March 2017
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Amount
        </h4>
        <!-- reported amount -->
        <!-- nothing shown for due returns -->
        9,942 gallons
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status">
          Complete
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 4
        </h3>
        <h4 class="table__context">
          Return period
        </h4>
        <a href="">
          April 2015 to March 2016
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Amount
        </h4>
        <!-- reported amount -->
        <!-- nothing shown for due returns -->
        8,175 gallons
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status">
          Complete
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 5
        </h3>
        <h4 class="table__context">
          Return period
        </h4>
        <a href="">
          April 2014 to March 2015
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Amount
        </h4>
        <!-- reported amount -->
        <!-- nothing shown for due returns -->
        7,781 gallons
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status">
          Complete
        </strong>
      </div>
    </div>
    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 6
        </h3>
        <h4 class="table__context">
          Return period
        </h4>
        <a href="">
          April 2013 to March 2014
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Amount
        </h4>
        <!-- reported amount -->
        <!-- nothing shown for due returns -->
        9,281 gallons
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status">
          Complete
        </strong>
      </div>
    </div>

  </div>

{% endblock %}
