{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout.html" %}

{% set title = "Meta data" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Water service patterns",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Licence data
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <section class="meta-data__row">
        <div class="meta-data__container">
          <div class="meta-data__label">
            Date created
          </div>
          <div class="meta-data__value">
            12 January 2020
          </div>
        <div>
      </section>
      <section class="meta-data__row">
        <div class="meta-data__container">
          <div class="meta-data__label">
            Region
          </div>
          <div class="meta-data__value">
            Anglian
          </div>
        <div>
      </section>
      <section class="meta-data__row">
        <div class="meta-data__container">
          <div class="meta-data__label">
            Bill run type
          </div>
          <div class="meta-data__value">
            Supplementary
          </div>
        <div>
      </section>

    </div>
  </div>



  <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date created
    </dt>
    <dd class="govuk-summary-list__value">
      12 January 2020
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Region
    </dt>
    <dd class="govuk-summary-list__value">
      Anglian
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Bill run type
    </dt>
    <dd class="govuk-summary-list__value">
      Supplementary
    </dd>
  </div>
  </dl>

{% endblock %}
