{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Return data" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Water service patterns",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Return data
      </h1>
    </div>
  </div>

  <!-- table with three columns -->
  <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell bold-small column-33">
        Months
      </div>
      <div class="table__cell bold-small column-33 numbers">
        Litres
      </div>
      <div class="table__cell bold-small column-33 numbers">
        Cubic metres
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 1
        </h2>
        <h3 class="table__context">
          <!-- "Day", "Week", "Month" -->
          <!-- depending on return requirements -->
          Month
        </h3>
        <!-- day, week, month -->
        April
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- this plays back whatever was provided -->
          Litres
        </h3>
        2,140,000
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- agency standard measurement -->
          Cubic metres
        </h3>
        2,140
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 2
        </h2>
        <h3 class="table__context">
          <!-- "Day", "Week", "Month" -->
          <!-- depending on return requirements -->
          Month
        </h3>
        <!-- day, week, month -->
        May
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- this plays back whatever was provided -->
          Litres
        </h3>
        1,020,500
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- agency standard measurement -->
          Cubic metres
        </h3>
        1,020.5
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 3
        </h2>
        <h3 class="table__context">
          <!-- "Day", "Week", "Month" -->
          <!-- depending on return requirements -->
          Month
        </h3>
        <!-- day, week, month -->
        June
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- this plays back whatever was provided -->
          Litres
        </h3>
        928,020
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- agency standard measurement -->
          Cubic metres
        </h3>
        928.02
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 4
        </h2>
        <h3 class="table__context">
          <!-- "Day", "Week", "Month" -->
          <!-- depending on return requirements -->
          Month
        </h3>
        <!-- day, week, month -->
        July
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- this plays back whatever was provided -->
          Litres
        </h3>
        2,001,000
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- agency standard measurement -->
          Cubic metres
        </h3>
        2,001
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 5
        </h2>
        <h3 class="table__context">
          <!-- "Day", "Week", "Month" -->
          <!-- depending on return requirements -->
          Month
        </h3>
        <!-- day, week, month -->
        August
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- this plays back whatever was provided -->
          Litres
        </h3>
        1,500,000
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- agency standard measurement -->
          Cubic metres
        </h3>
        1,500
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 6
        </h2>
        <h3 class="table__context">
          <!-- "Day", "Week", "Month" -->
          <!-- depending on return requirements -->
          Month
        </h3>
        <!-- day, week, month -->
        September
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- this plays back whatever was provided -->
          Litres
        </h3>
        1,240,000
      </div>
      <div class="table__cell numbers">
        <h3 class="table__context">
          <!-- agency standard measurement -->
          Cubic metres
        </h3>
        1,240
      </div>
    </div>

    <div class="table__row table__row--total govuk-!-margin-bottom-6">                                    <!-- a data row starts -->
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Total row
        </h2>
        <h3 class="table__context">
          <!-- only one of these -->
          Total
        </h3>
        Total
      </div>
      <div class="table__cell numbers">
        <h5 class="table__context">
          Litres
        </h5>
        19,119,000
      </div>
      <div class="table__cell numbers">
        <h5 class="table__context">
          Cubic metres
        </h5>
        19,119
      </div>
    </div>

  </div>


{% endblock %}
