{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Tables" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Water service patterns",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Tables
      </h1>
    </div>
  </div>

  <!-- table with three columns -->
  <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell bold-small column-33">
        Licence number
      </div>
      <div class="table__cell bold-small">
        Licence name
      </div>
      <div class="table__cell bold-small column-20">
        End date
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 1
        </h2>
        <h3 class="table__context">
          Licence number
        </h3>
        <a href="">
          03/28/60/0031
        </a>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <!-- nothing if it was not named -->
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        30 April 2021
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 2
        </h2>
        <h3 class="table__context">
          Licence number
        </h3>
        <a href="">
          03/28/60/0032
        </a>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <!-- nothing if it was not named -->
        Scrifford Pike
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        30 April 2021
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 3
        </h2>
        <h3 class="table__context">
          Licence number
        </h3>
        <a href="">
          03/28/60/0033
        </a>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <!-- nothing if it was not named -->
        Honeydew Crescent
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        15 September 2022
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 4
        </h2>
        <h3 class="table__context">
          Licence number
        </h3>
        <a href="">
          03/28/60/0034
        </a>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <!-- nothing if it was not named -->
        Bridge Farm
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        30 September 2025
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 5
        </h2>
        <h3 class="table__context">
          Licence number
        </h3>
        <a href="">
          01/04/12/0047
        </a>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <!-- nothing if it was not named -->
        River House
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        1 March 2027
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 6
        </h2>
        <h3 class="table__context">
          Licence number
        </h3>
        <a href="">
          01/04/12/0048
        </a>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <!-- nothing if it was not named -->
        Brickleigh Court
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        1 September 2031
      </div>
    </div>

  </div>

{% endblock %}
