<!--setting the loop number to 0-->
<!-- count of licences in the list -->
{% set index = "" %}
{% set licenceList = data['licenceList'] %}
{% for i in licenceList %}
{% set index = loop.length %}
{% endfor %}





<table class="govuk-table">
  <caption class="govuk-table__caption "><p class="govuk-body govuk-!-font-weight-bold">You're sending this alert for {{index}} licences.</p>
    <p class="govuk-body"> The alert will be sent by:</p>
  </caption>
  <thead class="govuk-table__head">

    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Send to</th>
      <th scope="col" class="govuk-table__header">Licence number</th>
      <th scope="col" class="govuk-table__header">Method</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


{% set licenceListAddress = "" %}



<!--set a global variable for the licence holder-->
{% set licenceHolder = "" %}

<!--loop through the licence numbers entered by the user-->
{% for i in licenceList %}

{% set licnenceListIndex = loop.index0 %}


<!--set the individual licence number to licence-->
{% set licence = i %}


<!--getting the licence data-->
{% set licences = data['licences'] %}

<!--loop through the licence data-->
{% for i in licences %}

<!--set the loop index-->
{% set loopNumber = loop.index0 %}

<!--match the licence number entered against the licence number in the list-->
{% if i.number == licence  %}

<!--declare method var-->
{% set method = "" %}


<!--set a variable for the licenceHolder-->
{% set licenceHolder = [data.licences[loopNumber].holder] %}






<!--getting the contact data-->
{% set contacts = data['contacts'] %}

<!--loop through the contacts-->
{% for contact in contacts %}



<!--set the index of the contact-->
{% set contactIndex = loop.index0 %}

<!--for each of the adresses check to see if the address has the correct customer and the water abstraction alert role-->
{% set contactCustomers = contact.customers %}
{% for i in contactCustomers %}
{% if licenceHolder == i.customer %}
{% for notice in i.notices %}
{% if "Water abstraction alerts" in notice.type %}






{% if contacts[contactIndex].email == "" %}

<tr class="govuk-table__row">
<td class="govuk-table__cell">

<!--add in contact email details-->

<!--add in address details-->

{% set addresses = data['addresses'] %}
{% for i in addresses %}
<!--set the index of the address-->
{% set addressIndex = loop.index0 %}

<!--for each of the adresses check to see if the address has the correct customer and the licence holder role-->
{% set addressCustomers = i.customers %}
{% for i in addressCustomers %}
{% if "Licence holder" in i.role and licenceHolder == i.customer %}


<!--display the address-->

  <!--if matched return the licence number and licence holder name-->
{{[data.licences[loopNumber].holder]}}<br>
  {% set licenceListAddress %}
{{[data.addresses[addressIndex].address1]}}<br>
{{[data.addresses[addressIndex].city]}}<br>
{{[data.addresses[addressIndex].postcode]}}
{% endset %}

{{licenceListAddress|safe}}

{% set method = "Post" %}

</td>

<td class="govuk-table__cell">{{[data.licences[loopNumber].number]}}</td>

<td class="govuk-table__cell">{{method}}</td>

<td class="govuk-table__cell"><a class="govuk-link" href="preview?licenceListIndex={{licnenceListIndex}}&licenceListNumber={{data.licences[loopNumber].number}}&LicenceListHolder={{data.licences[loopNumber].holder}}">Preview</a></td>
</tr>

{% endif %}
{% endfor %}
{% endfor %}



{% else %}

<tr class="govuk-table__row">
<td class="govuk-table__cell">

    {{[data.contacts[contactIndex].email]}}

{% set method = "Email" %}

</td>

<td class="govuk-table__cell">{{[data.licences[loopNumber].number]}}</td>

<td class="govuk-table__cell">{{method}}</td>

<td class="govuk-table__cell"><a class="govuk-link" href="preview?licenceListIndex={{licnenceListIndex}}&licenceListNumber={{data.licences[loopNumber].number}}&LicenceListHolder={{data.licences[loopNumber].holder}}">Preview</a></td>
</tr>

{% endif %}

{% endif %}
{% endfor %}

    {% endif %}
    {% endfor %}




{% endfor %}
{% endif %}
{% endfor %}


{% endfor %}





  </tbody>
</table>
