<!--setting the loop number to 0-->


<table class="govuk-table">
  <caption class="govuk-table__caption ">Licence contact details</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Licence</th>
      <th scope="col" class="govuk-table__header">Licence holder</th>
      <th scope="col" class="govuk-table__header">Address</th>
      <th scope="col" class="govuk-table__header">Email address</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <!--split the licences entered in to the flow into an array-->
    {% set licenceList = data['licenceList'].split(',') %}


<!--set a global variable for the licence holder-->
{% set licenceHolder = "" %}

<!--loop through the licence numbers entered by the user-->
{% for i in licenceList %}
<tr class="govuk-table__row">

<!--set the individual licence number to licence-->
{% set licence = i %}


<!--getting the licence data-->
{% set licences = data['licences'] %}

<!--loop through the licence data-->
{% for i in licences %}

<!--set the loop index-->
{% set loopNumber = loop.index0 %}

<!--match the licence number entered against the licence number in the list-->
{% if i.number == licence  %}

    <!--if matched return the licence number and licence holder name-->
    <td class="govuk-table__cell">{{[data.licences[loopNumber].number]}}</td>
    <td class="govuk-table__cell">{{[data.licences[loopNumber].holder]}}</td>

<!--set a variable for the licenceHolder-->
{% set licenceHolder = [data.licences[loopNumber].holder] %}

<!--add in address details-->

<!--getting the address data-->
{% set addresses = data['addresses'] %}

<!--loop through the addresses-->
{% for address in addresses %}

<!--set the index of the address-->
{% set addressIndex = loop.index0 %}

<!--split the address role from comma separted string into an array and check for the licence holder role-->
{% set roleArr = address.role.split(",") %}
{% for i in roleArr %}
{% if i === "Licence holder" %}

<!--If the licence holder role is against the address split the customer name comma separated string into an array-->
{% set array = addresses[addressIndex].customer.split(",") %}
{% for i in array %}

<!--Checking the customer name matches the address-->
{% if i == licenceHolder  %}

<!--display the address-->
<td class="govuk-table__cell">
{{[data.addresses[addressIndex].address1]}}<br>
{{[data.addresses[addressIndex].city]}}<br>
{{[data.addresses[addressIndex].postcode]}}
</td>

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

<td class="govuk-table__cell">
<!--add in contact email details-->

<!--getting the contact data-->
{% set contacts = data['contacts'] %}

<!--loop through the contacts-->
{% for contact in contacts %}

<!--set the index of the contact-->
{% set contactIndex = loop.index0 %}

<!--split the contacts role from comma separted string into an array and check for the water abstraction alerts role-->
{% set roleArr = contact.role.split(",") %}
{% for i in roleArr %}
{% if i === "Water abstraction alerts" %}

<!--If the water abstraction alert role is against the contact split the customer name comma separated string into an array-->
{% set array = contacts[contactIndex].customer.split(",") %}
{% for i in array %}
<!--Checking the customer name matches the address-->
{% if i == licenceHolder  %}

{% if contacts[contactIndex].email == "Not set" %}
{% else %}

    {{[data.contacts[contactIndex].email]}}

{% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</td>


    <td class="govuk-table__cell">remove</td>



{% endif %}
{% endfor %}

</tr>
{% endfor %}





  </tbody>
</table>
