


<table class="govuk-table">
  <caption class="govuk-table__caption ">Sent notifications</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Notification</th>
      <th scope="col" class="govuk-table__header">Sent by</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recipients</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Problems</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">




   <!--get and loop through the notifications table-->
   {% set notifications = data['notifications'] %}
   {% for i in notifications %}
   <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{i.date}}</td>
    <td class="govuk-table__cell"><a href="/sandbox/licence-notices/recipient-report?notificationIndex={{loop.index0}}" class="govuk-link">{{i.notification |capitalize}}</a></td>
    <td class="govuk-table__cell">{{i.sentBy}}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{i.numberOfrecipients}}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{i.problems}}</td>
    </tr>
   {% endfor %}



  </tbody>
</table>

<!-- Notifictions table for ref

     //Notification report
    "notifications": [{
          "date": "22 December 2020",
          "notification": "Paper returns",
          "sentBy": "tim.teace@defra.gov.uk",
          "NnmberOfrecipients": "1",
          "recipients": [{
            "licenceNumber": "03/28/69/0034",
            "sentTo": "Anglian Water Services Ltd,FAO D Harker Water Resources,Lancaster House,Lancaster Way,Huntingdon,CAMBRIDGESHIRE,PE29 6XQ",
            "method": "Letter",
            "status": "Sent",
          }
        ],
          "problems": "",
        }
    ],

    -->
