

{% set notifications = data['newNotification'] %}


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m ">Recipients</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Send to</th>
      <th scope="col" class="govuk-table__header ">Licence number</th>
      <th scope="col" class="govuk-table__header ">Method</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">




   <!--get and loop through the notifications table-->
   {% set recipients = notifications['recipients'] %}
   {% for i in recipients %}

   {% set statusHTML %}

   {{ govukTag({
    text: i.status[0] | capitalize,
    classes: i.status[0] | statusColour
  }) }}

{% if i.status[1].length %}<p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-0">{{i.status[1] | capitalize}}</p>{% endif %}
  {% endset %}
   <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{i.sentTo | replaceComma | striptags(true) | escape | nl2br}}</td>
    <td class="govuk-table__cell">{{i.licenceNumber}}</td>
    <td class="govuk-table__cell">{{i.method | capitalize}}</td>
    </tr>
   {% endfor %}



  </tbody>
</table>

<!-- Notifictions table for ref

     //Notification report
    "notifications": [{
          "date": "22 December 2020",
          "notification": "Paper returns",
          "sentBy": "tim.teace@defra.gov.uk",
          "NnmberOfrecipients": "1",
          "recipients": {
            "licenceNumber": "03/28/69/0034",
            "sentTo": "Anglian Water Services Ltd,FAO D Harker Water Resources,Lancaster House,Lancaster Way,Huntingdon,CAMBRIDGESHIRE,PE29 6XQ",
            "method": "Letter",
            "status": "Sent",
          },
          "problems": "",
        }
    ],

    -->
