

{% set notifications = data['newNotification'] %}
{% set recipients = notifications['recipients'] %}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s ">Showing all {{ recipients.length }} recipients</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Recipients</th>
      <th scope="col" class="govuk-table__header ">Licence number {% if data.noticeType == "submit using a paper form invitation" %} and returns {% endif %}</th>
      <th scope="col" class="govuk-table__header ">Method</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">




   <!--get and loop through the notifications table-->

   {% for i in recipients %}

   {% set statusHTML %}

   {{ govukTag({
    text: i.status[0] | capitalize,
    classes: i.status[0] | statusColour
  }) }}

  {% if i.status[1].length %}<p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-0">{{i.status[1] | capitalize}}</p>{% endif %}
  {% endset %}
   <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{i.sentTo | replaceComma | striptags(true) | escape | nl2br}}</td>
    <td class="govuk-table__cell">{{i.licenceNumber}}{% if data.noticeType == "submit using a paper form invitation" %}{% for return in data.selectedReturns %}<br>{{data.licences[data.licenceID].returns[return].id + " - " + data.licences[data.licenceID].returns[return].returnsPeriodStart |govukDate + " to " + data.licences[data.licenceID].returns[return].returnsPeriodEnd |govukDate}}{% endfor %}{% endif %}</td>
    <td class="govuk-table__cell">{{i.method | capitalize}}</td>
    </tr>
   {% endfor %}



  </tbody>
</table>

