<p class="govuk-body">Water Resources Act 1991</p>

<h2 class="govuk-heading-l">You must reduce or stop water abstraction now</h2>

<p class="govuk-body">Dear licence contact,</p>

<p class="govuk-body">The flow at {{data.stations[data.stationID]['label']}} monitoring station is at your licence’s hands-off flow threshold.</p>

<p class="govuk-body">You must reduce or stop water abstraction now, or take the specific action given in your licence.</p>

<p class="govuk-body">Check your licence for details of your hands-off flow condition.</p>

<h2 class="govuk-heading-l">Why we’ve sent this alert</h2>

<p class="govuk-body">Your licence has a hands-off flow condition. This limits the amount of water you can take when it is in place. You must meet the conditions of your licence.</p>

<h3 class="govuk-heading-m">Your hands-off flow licence condition</h3>

<ul class="govuk-list">
<li><span class="govuk-!-font-weight-bold">Licence number:</span> {% set licenceList = data['licenceList'] %} {% if licenceList[data.licenceListIndex].length %}{{licenceList[data.licenceListIndex]}} {% else %} {{[data.licences[data.ID].number]}} {% endif %} </li>
  <li><span class="govuk-!-font-weight-bold">Watercourse:</span> {{data.stations[data.stationID]['catchmentName']}}</li>
  <li><span class="govuk-!-font-weight-bold">Gauging station:</span> {{data.stations[data.stationID]['label']}}</li>
  <li><span class="govuk-!-font-weight-bold">Hands off flow threshold:</span> {% if licenceList[data.licenceListIndex].length %}{{data.waterAbstractionAlert[data.licenceListIndex].tagValues[0].thresholdValue}} {% else %} {% set tags = data.stations[data.stationID]['tags'] %} {% for i in tags %}   {% if data.licences[data.ID].number == i.licenceNumber %} {{i.tagValues[0].thresholdValue}}  {% endif %} {% endfor %} {% endif %} megalitres per day</li>
</ul>

<h2 class="govuk-heading-l">What happens next</h2>

<p class="govuk-body">We’ll email you when the flow is above your licence's hands-off flow threshold.</p>

<p class="govuk-body">You can then take water to the licensed amount.</p>

<h2 class="govuk-heading-l">Help with your hands-off flow condition</h2>

<p class="govuk-body">If you're not sure how the hands-off flow condition affects the amount of water you can take, email <a class="govuk-link govuk-link--no-visited-state" href="mailto:{{data['contactEmail']}}">{{data['contactEmail']}}</a></p>

<h3 class="govuk-heading-m">Check your licence details online</h3>

<p class="govuk-body">If you have an account, you can check your licence details online: <br><a class="govuk-link govuk-link--no-visited-state" href="https://manage-water-abstraction-impoundment-licence.service.gov.uk/signin" >https://manage-water-abstraction-impoundment-licence.service.gov.uk/signin</a></p>

<p class="govuk-body">Yours sincerely,</p>

<p class="govuk-body">Environment Agency Water Resources Licensing Service</p>

<p class="govuk-body">If you’re unsure an email is from the Environment Agency:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>do not reply to it or click any links</li>
  <li>forward it to enquiries@environment-agency.gov.uk</li>
</ul>
