
  <p>
  
    Public Water Limited<br>
    FAO Geoffrey Billington<br>
    67 Gainsborough<br>
    Poole<br>
    BH33 1QE
  
  </p>

  <p>Dear Geoffrey Billington,</p>
<blockquote>
<p>You must submit a record of your water abstraction from 1 April 2023 to 30 June 2024. </p>
</blockquote>
<blockquote>
<p>You’ll need to submit your returns by 28 June 2024</p>
</blockquote>
<h2>Why you need to submit a return</h2>
<p>You must tell us how much water you abstract to comply with your licence. We may take enforcement action if you do not submit your returns.</p>
<ul>
<li>If you have not abstracted any water in this time, you still need to submit a nil return. </li>
<li>If you have a two-part tariff agreement, we need your returns so we can work out your bill accurately. You will be billed your full authorised amount if you do not submit your returns.</li>
</ul>
<h2>To get set up: </h2>
<ol>
<li>Ask the licence holder to register for an online account at <a href="http://www.gov.uk/manage-water-abstraction">www.gov.uk/manage-water-abstraction</a>. They will need their licence number.</li>
<li>We’ll post the licence holder a security code to make sure that their email address is connected with the correct licence address. It should arrive in 2-3 working days and will include instructions on how to complete online registration. </li>
<li>The licence holder can give you access to submit their returns online once they’ve completed registration. 
Your access stays in place so you will be able to directly submit returns every time without the licence holder going through the security process again.</li>
</ol>
<h2>If you need help with your returns</h2>
<p>If you need a paper form or have a question, contact us. So that we can help you quickly, please quote your licence number: </p>
<ul>
<li>Email: <a href="mailto:WR_Systems_Team@environment-agency.gov.uk">WR_Systems_Team@environment-agency.gov.uk</a></li>
<li>Call: 03708 506 506 (lines are open Monday to Friday, 8am to 6pm)</li>
</ul>
<p>Yours faithfully,</p>
<p>EA manager</p>
<p>National Income Services Manager
Operations Regulatory Services</p>
