<!--setting the loop number to 0-->
{% set loopNumber = "" %}

<!--getting the licence data-->
{% set selectedLicences = data['selectedLicences'] %}
{% set tags = data['waterAbstractionAlert'] %}



{% if tags.length %}
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Licences with conditions linked to this monitoring station</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Licence</th>
      <th scope="col" class="govuk-table__header ">Abstraction period</th>

  <th scope="col" colspan="3" class="govuk-table__header govuk-!-width-one-quarter">Flow and level restriction<br>type and threshold </th>

        <th scope="col" colspan="2" class="govuk-table__header ">Last type of alert <br>sent and date issued</th>

      <th scope="col" class="govuk-table__header  govuk-table__header--numeric ">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!--starting to loop through the bill runs data -->

   {% for i in tags %}
    <!--setting the loop number -->
    {% set loopNumber = loop.index0 %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">


         {{i.licenceNumber}}</td>

         <!--get the tags for that individual licences-->
        {% set licenceTags = i['tagValues'] %}


        <td class="govuk-table__cell ">

              {{licenceTags[0].abstractionPeriod}}<br>
               </td>


        <td class="govuk-table__cell govuk-!-padding-right-0">
          <!--loop through conditions for that licence-->
          {% for tag in licenceTags %}
         {{tag.conditionType |capitalize}}<br>
         {% endfor %}</td>

<td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-0">
        <!--loop through the tag values and if they are a flow value add them to this cell-->
         {% for tag in licenceTags %}
        {{tag.thresholdValue}}<br>
        {% endfor %}
         </td>
<td class="govuk-table__cell govuk-table__cell--numeric">
  <!--loop through the tag values and if they are a flow value add them to this cell-->
   {% for tag in licenceTags %}
  {{tag.thresholdUnits | units |safe}}<br>
  {% endfor %}
   </td>

   {% for licence in data['licences']%}
   {% if licence.number == i.licenceNumber %}
   {% if data.licences[loop.index0]['communications'].length %}
   {% set communications = data.licences[loop.index0]['communications'] %}
   <td class="govuk-table__cell ">{{communications[0].type.split(" ")[0] | capitalize}}</td>

<td class="govuk-table__cell">  {{communications[0].sent}}</td>
   {% else %}
   {% set communications = "" %}
   <td class="govuk-table__cell"> </td>
   <td class="govuk-table__cell"> </td>
   {% endif %}

   {% endif %}
   {% endfor %}

        <td class="govuk-table__cell govuk-table__header--numeric">
        <a class="govuk-link" href="remove-from-the-alert-send-list?listIndex={{loop.index0}}">Remove</a></td>
    </tr>
    {% endfor %}



  </tbody>
</table>


{% endif %}
