<!--setting the loop number to 0-->
{% set loopNumber = "" %}

<!--getting the licence data-->
{% set selectedLicences = data['selectedLicences'] %}
{% set tags = data['waterAbstractionAlert'] %}



{% if tags.length %}
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Licences with conditions linked to this monitoring station</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Licence</th>
      <th scope="col" class="govuk-table__header ">Abstraction period</th>

  <th scope="col" colspan="3" class="govuk-table__header govuk-!-width-one-quarter">Flow and level restriction<br>type and threshold </th>

      <th scope="col" class="govuk-table__header  govuk-table__header--numeric ">Status</th>

      <th scope="col" class="govuk-table__header  govuk-table__header--numeric ">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!--starting to loop through the bill runs data -->

   {% for i in tags %}
    <!--setting the loop number -->
    {% set loopNumber = loop.index0 %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">

        <!--set the link to go to a specific licence-->
        {% for licence in data['licences']%}
        {% if licence.number == i.licenceNumber %}
         <a href="licence?ID={{loop.index0}}" class="govuk-link">
           {% endif %}
           {% endfor %}
         {{i.licenceNumber}}</a></td>

         <td class="govuk-table__cell">{% for licence in data['licences']%}
           {% if licence.number == i.licenceNumber %}
           {{licence.absPeriod}}
           {% endif %}
           {% endfor %}</td>

         <!--get the tags for that individual licences-->
        {% set licenceTags = i['tagValues'] %}



        <td class="govuk-table__cell govuk-!-padding-right-0">
          <!--loop through conditions for that licence-->
          {% for tag in licenceTags %}
         {{tag.conditionType |capitalize}}<br>
         {% endfor %}</td>

<td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-0">
        <!--loop through the tag values and if they are a flow value add them to this cell-->
         {% for tag in licenceTags %}
        {{tag.thresholdValue}}<br>
        {% endfor %}
         </td>
<td class="govuk-table__cell govuk-table__cell--numeric">
  <!--loop through the tag values and if they are a flow value add them to this cell-->
   {% for tag in licenceTags %}
  {{tag.thresholdUnits | units |safe}}<br>
  {% endfor %}
   </td>

         <td class="govuk-table__cell govuk-table__header--numeric">{{govukTag({
          text: [i.status] | tagStatusText |safe ,
          classes: [i.status] | tagStatusColour
        })}}</td>

        <td class="govuk-table__cell govuk-table__header--numeric">
        <a class="govuk-link" href="remove-from-the-alert-send-list?listIndex={{loop.index0}}">Remove</a></td>
    </tr>
    {% endfor %}



  </tbody>
</table>


{% endif %}
