{% extends "layout_wrls.html" %}

{% set title = "Manage reports and notices" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-nps-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      View reports
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="returns-overview">
          Returns cycles
        </a>
      </li>
      <!-- <li>
        <a class="govuk-link" href="void-returns">
          Void returns
        </a>
      </li> -->
    </ul>

    <h2 class="govuk-heading-m">
      Send return notices
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="send-return-reminders">
          Invitations
        </a>
      </li>
      <li>
        <a class="govuk-link" href="manage/send-paper">
          Paper forms
        </a>
      </li>
      <li>
        <a class="govuk-link" href="send-return-reminders">
          Reminders
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Manage users
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="internal-user/create-account">
          Create an internal account
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Billing
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="charges/send-charges">
          Send charges
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
