{% extends "layout_wrls.html" %}

{% set title = "Returns overview" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-nps-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Returns overview
        </h1>

        <h2 class="govuk-heading-m">
          Current cycle
        </h2>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!-- table with returns with statuses -->
        <div class="table govuk-!-margin-bottom-3">                                                <!-- a table -->

          <div class="table__row--head">                                              <!-- the table head -->
            <div class="table__cell bold-small column--40">
              Period
            </div>
            <div class="table__cell bold-small column--15">
              Returns due
            </div>
            <div class="table__cell bold-small column--15">
              Licences
            </div>
            <div class="table__cell bold-small column--10">
              Monthly
            </div>
            <div class="table__cell bold-small column--10">
              Weekly
            </div>
            <div class="table__cell bold-small column--10">
              Daily
            </div>
          </div>

          <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 1
              </h3>
              <h4 class="table__context">
                Period
              </h4>
              <a href="returns-statistics">
                April 2018 to October 2018
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Returns due
              </h4>
              427
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licences
              </h4>
              362
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Monthly
              </h4>
              304
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Weekly
              </h4>
              108
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Daily
              </h4>
              15
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">

        <p>
          <a href="" class="wrls-faux-button">
            Download CSV file
          </a>
        </p>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Previous cycles
        </h2>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!-- table with returns with statuses -->
        <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->
          <div class="table__row--head">                                              <!-- the table head -->
            <div class="table__cell bold-small column--40">
              Period
            </div>
            <div class="table__cell bold-small column--15">
              Returns due
            </div>
            <div class="table__cell bold-small column--15">
              Licences
            </div>
            <div class="table__cell bold-small column--10">
              Monthly
            </div>
            <div class="table__cell bold-small column--10">
              Weekly
            </div>
            <div class="table__cell bold-small column--10">
              Daily
            </div>
          </div>

          <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 1
              </h3>
              <h4 class="table__context">
                Period
              </h4>
              <a href="returns-statistics">
                April 2017 to March 2018
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Returns due
              </h4>
              1,527
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licences
              </h4>
              502
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Monthly
              </h4>
              304
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Weekly
              </h4>
              108
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Daily
              </h4>
              15
            </div>
          </div>

          <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 2
              </h3>
              <h4 class="table__context">
                Period
              </h4>
              <a href="returns-statistics">
                April 2017 to October 2017
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Returns due
              </h4>
              378
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licences
              </h4>
              362
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Monthly
              </h4>
              271
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Weekly
              </h4>
              101
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Daily
              </h4>
              6
            </div>
          </div>

          <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 3
              </h3>
              <h4 class="table__context">
                Period
              </h4>
              <a href="returns-statistics">
                April 2016 to March 2017
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Returns due
              </h4>
              1,424
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licences
              </h4>
              709
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Monthly
              </h4>
              881
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Weekly
              </h4>
              402
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Daily
              </h4>
              141
            </div>
          </div>

          <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 4
              </h3>
              <h4 class="table__context">
                Period
              </h4>
              <a href="returns-statistics">
                April 2016 to October 2016
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Returns due
              </h4>
              364
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licences
              </h4>
              355
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Monthly
              </h4>
              302
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Weekly
              </h4>
              44
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Daily
              </h4>
              18
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>

</div>
{% endblock %}
