{% extends "layout_wrls.html" %}

{% set title = "User status" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-nps-view.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">External</span> <!-- internal / external -->
    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
      allthingsbeingeven@gmail.com
    </h1>
    <div class="heading-small">
      Last signed in 11 Jan 2019, 14:31
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        User account is locked
      </strong>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- entity block -->
    <div class="entity"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- entity header -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">
      Big Farm Ltd.
    </h2>
    <p class="govuk-body govuk-!-font-size-24">
      Primary user
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- licence codes -->
    <p class="govuk-body govuk-!-margin-bottom-0">Security code <span class="govuk-body govuk-!-font-weight-bold">PB6XT</span> sent 11 January 2019</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          6 requested licences
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="unregistered-licence-summary">03/30/1142</a>
          </li>
          <li>
            <a class="govuk-link" href="unregistered-licence-summary">03/30/1143</a>
          </li>
          <li>
            <a class="govuk-link" href="unregistered-licence-summary">03/30/1144</a>
          </li>
          <li>
            <a class="govuk-link" href="unregistered-licence-summary">03/30/1145</a>
          </li>
          <li>
            <a class="govuk-link" href="unregistered-licence-summary">03/30/1146</a>
          </li>
          <li>
            <a class="govuk-link" href="unregistered-licence-summary">03/30/1147</a>
          </li>
        </ul>
      </div>
    </details>

  </div>
</div>

<!-- licences -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
      2 licences
    </h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- table with returns with statuses -->
    <div class="table">                                                <!-- a table -->

      <div class="table__row--head">                                              <!-- the table head -->
        <div class="table__cell bold-small column--25">
          Licence number
        </div>
        <div class="table__cell bold-small column--60">
          Licence holder
        </div>
        <div class="table__cell bold-small column--15">
          <!-- no name here -->
        </div>

      </div>

      <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
        <div class="table__cell">
          <h3 class="screen-reader-only">
            Row 1
          </h3>
          <h4 class="table__context">
            Licence number
          </h4>
          <a href="return-status-void">
            <span class="screen-reader-only">View licence 03/11/24/01</span>
            03/11/24/01
          </a>
        </div>
        <div class="table__cell">
          <h4 class="table__context">
            Licence holder
          </h4>
          Big Farm Ltd
        </div>
        <div class="table__cell">
          <a href="manage/unlink-licence">Unlink licence</a>
        </div>
      </div>

      <div class="table__row table__row--last govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
        <div class="table__cell">
          <h3 class="screen-reader-only">
            Row 2
          </h3>
          <h4 class="table__context">
            Licence number
          </h4>
          <a href="return-status-void">
            <span class="screen-reader-only">View licence 013/65/02/142</span>
            013/65/02/142
          </a>
        </div>
        <div class="table__cell">
          <h4 class="table__context">
            Licence holder
          </h4>
          Big Farm Ltd
        </div>
        <div class="table__cell">
          <a href="manage/unlink-licence">Unlink licence</a>
        </div>
      </div>


    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- entity block -->
    <div class="entity"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- entity header -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">
      Bidbod Foods Ltd
    </h2>
    <p class="govuk-body govuk-!-font-size-24">
      Returns user
    </p>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
        7 licences
      </h3>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View licences
          </span>
        </summary>
        <div class="govuk-details__text">

          <!-- licences -->
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <!-- table with returns with statuses -->
              <div class="table">                                                <!-- a table -->

                <div class="table__row--head">                                              <!-- the table head -->
                  <div class="table__cell bold-small column--50">
                    Licence number
                  </div>
                  <div class="table__cell bold-small">
                    Licence holder
                  </div>

                </div>

                <div class="table__row">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 1
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/14/011</span>
                      02/14/011
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Ltd
                  </div>
                </div>

                <div class="table__row">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 2
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/14/012</span>
                      02/14/012
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Ltd
                  </div>
                </div>

                <div class="table__row">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 3
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/14/013</span>
                      02/14/013
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Ltd
                  </div>
                </div>

                <div class="table__row">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 4
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/12/02/34</span>
                      02/12/02/34
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Ltd
                  </div>
                </div>

                <div class="table__row">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 5
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/12/02/36</span>
                      02/12/02/36
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Limited
                  </div>
                </div>

                <div class="table__row">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 6
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/12/02/37</span>
                      02/12/02/37
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Limited
                  </div>
                </div>

                <div class="table__row table__row--last">                                      <!-- a data row starts -->
                  <div class="table__cell">
                    <h3 class="screen-reader-only">
                      Row 7
                    </h3>
                    <h4 class="table__context">
                      Licence number
                    </h4>
                    <a href="return-status-void">
                      <span class="screen-reader-only">View licence 02/12/02/38</span>
                      02/12/02/38
                    </a>
                  </div>
                  <div class="table__cell">
                    <h4 class="table__context">
                      Licence holder
                    </h4>
                    Bidbod Foods Ltd
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </details>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- entity block -->
    <div class="entity"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- entity header -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">
      Spring Onion Co.
    </h2>
    <p class="govuk-body govuk-!-font-size-24">
      Agent
    </p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
      3 licences
    </h3>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- licences -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!-- table with returns with statuses -->
        <div class="table">                                                <!-- a table -->

          <div class="table__row--head">                                              <!-- the table head -->
            <div class="table__cell bold-small column--25">
              Licence number
            </div>
            <div class="table__cell bold-small column--75">
              Licence holder
            </div>

          </div>

          <div class="table__row">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 1
              </h3>
              <h4 class="table__context">
                Licence number
              </h4>
              <a href="return-status-void">
                <span class="screen-reader-only">View licence 03/21/03/021</span>
                03/21/03/021
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licence holder
              </h4>
              Spring Onion Co.
            </div>
          </div>

          <div class="table__row">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 2
              </h3>
              <h4 class="table__context">
                Licence number
              </h4>
              <a href="return-status-void">
                <span class="screen-reader-only">View licence 03/21/04/014</span>
                03/21/04/014
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licence holder
              </h4>
              Spring Onion Co.
            </div>
          </div>

          <div class="table__row table__row--last">                                      <!-- a data row starts -->
            <div class="table__cell">
              <h3 class="screen-reader-only">
                Row 3
              </h3>
              <h4 class="table__context">
                Licence number
              </h4>
              <a href="return-status-void">
                <span class="screen-reader-only">View licence 03/21/04/015</span>
                03/21/04/015
              </a>
            </div>
            <div class="table__cell">
              <h4 class="table__context">
                Licence holder
              </h4>
              Spring Onion Co.
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
