{% extends "layout_wrls.html" %}

{% set title = "Too many attempts" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/dashboard/account/settings",
       text: "Account settings",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Try again later
    </h1>

    <p class="govuk-body">
      You have tried to enter a code too many times.
    </p>

    <p class="govuk-body">
      To change your email address please try again in 24 hours.
    </p>

    <a href="/dashboard/licences" class="wrls-faux-button">
      View licences
    </a>

  </div>
</div>
{% endblock %}
