{% extends "layout.html" %}

{% set title = "Select the contact type" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <form data-routing="1" method="post" class="form" id="companies-house-number">

    {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "charge-source",
        name: "contact-type",
        fieldset: {
        },
        items: [
          {
            value: "companies-house-number",
            text: "Limited Company"
          },
          {
            value: "companies-house-number",
            text: "Partnership"
          },
          {
            value: "companies-house-number",
            text: "Limited liability partership"
          },
          {
            value: "companies-house-number",
            text: "Local authoirty or public body"
          },
          {
            value: "companies-house-number",
            text: "Charitable trust"
          },
          {
      divider: "or"
    },
    {
      value: "new-company-postcode",
      text: "Individual"
    }

        ]
      })
    }}

    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

  <script src="/public/javascripts/jquery-1.11.3.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
