{% extends "layout_wrls.html" %}

{% set title = "Licence holders" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "account-settings"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>
<!--
      <p>
        You must be a licence holder to create an account.
      </p> -->

      
      {{ govukWarningText({
        text: "You must be a licence holder to create an account.",
        iconFallbackText: "Warning"
      }) }}

      <p>
        At present we do not allow people who are not licence holders to register licences on behalf of others. We are working on making this possible.
      </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                I am registering licences I own
              </label>
            </div>

          </div>
        </fieldset>
      </div>


      <a href="register" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
