<!--setting the loop number to 0-->
{% set loopNumber = "" %}

<!--getting the bill runs data-->
{% set billRuns = data['billRuns'] %}


<table class="govuk-table">
  <caption class="govuk-table__caption">Bill runs</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>

      <th scope="col" class="govuk-table__header">Region</th>
      <th scope="col" class="govuk-table__header">Run type</th>
<th scope="col" class="govuk-table__header govuk-table__header--numeric">Number</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Bills</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Values</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!--starting to loop through the bill runs data -->
    {% for i in billRuns %}

    <!--setting the loop number -->
    {% set loopNumber = loop.index0 %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#" class="govuk-link">{{[i.date]}}</a></td>

      <td class="govuk-table__cell">{{[i.region | capitalize]}}</td>
      <td class="govuk-table__cell">{{[i.runType | capitalize]}}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">{{[i.number]}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{[i.bills]}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{[i.value]}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{govukTag({
                    text: [i.status],
                    classes: i.status | statusColour
                  })}}
      </td>
    </tr>


    {% endfor %}


  </tbody>
</table>
