<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-full ">

{% set caption = '  <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
    <span class="govuk-visually-hidden">Transactions for</span> Spray irrigation, base licence
  </h4>
  <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Charge element details
      </span>
    </summary>
    <div class="govuk-details__text ">
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-full">

        <!-- this needs converting to nunjucks-->
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Abstraction period
              </div>
              <div class="meta-data__value">
              1 April to 31 March
              </div>
              <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Source
              </div>
              <div class="meta-data__value">
                Unsupported
              </div>
              <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Season
              </div>
              <div class="meta-data__value">
                All year
              </div>
              <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Loss
              </div>
              <div class="meta-data__value">
                High
              </div>
              <div>
          </section>


        </div>
      </div>

    </div>
  </details>' %}


{{ govukTable({
  caption: caption |safe,
  captionClasses: "govuk-table__caption--m govuk-!-margin-bottom-0",
  firstCellIsHeader: true,
  head: [
    {
      text: "Transaction detail",
      classes: 'column--40'
    },
    {
      text: "Billable days",
      format: "numeric",
      classes: 'column--20'
    },
    {
      text: "Quantity",
      format: "numeric",
      classes: 'column--20'
    },
    {
      text: "Debit",
      format: "numeric",
      classes: 'column--20'
    }
  ],
  rows: [
  [
    {
      html: 'Second Part Spray Irrigation - Direct Charge FRENCHAY - Base licence<p class="govuk-body-s">Charge period 1 April 2019 to 30 September 2020
      <br>Agreement Two-part tariff (S127)</p>'
    },
    {
      text: "182/182",
      format: "numeric"
    },
    {
      text: "439.98Ml",
      format: "numeric"
    },
    {
      text: "£700.50",
      format: "numeric"
    }
  ],
    [
      {
        text: "Total",
        classes: "govuk-table__cell--no-border ",
        colspan: "3"
      },
      {
        text: "£700.50",
        format: "numeric",
        classes: "govuk-table__cell--no-border govuk-!-font-weight-bold"
      }
    ]
  ]
}) }}

</div>
</div>
