<!-- new GDS navigation pattern -->
<div class="content-width big-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink">
          <a href="/v20/br/licences">View licences</a>
        </li>
        <li class="navlink">
          <a href="/v20/br/returns/returns-region">Return cycles</a>
        </li>
        <!-- <li class="navlink active">
          <a href="/v20/br/manage">Reports and notifications</a>
        </li> -->
      </ul>

    </div>
  </nav>
</div>
