{% set "navSearch" = "" %}
{% set "navBillruns" = "" %}
{% set "navManage" = "" %}
{% set "navCustomers" = "" %}


{% if  ("manage" in data.url) or ("licence-notices" in data.url)  %}
{% set "navManage" = "navbar__link--active" %}
{% elif "bill-runs" in data.url%}
{% set "navBillRuns" = "navbar__link--active" %}
{% elif "search" not in data.url%}
{% set "navCustomers" = "navbar__link--active" %}
{#{% else %}
{% set "navSearch" = "navbar__link--active" %}#}
{% endif %}


 {{ govukServiceNavigation({
  navigation: [
    {
      href: "/sandbox/customers?navCustomers=navbar__link--active&navBillRuns=&navManage=",
      text: " Customers",
      active: true
    },
    {
      href: "/sandbox/bill-runs?navCustomers=&navBillRuns=navbar__link--active&navManage=",
      text: "Bill runs",
      active: false
    },
    {
      href: "/sandbox/manage?navCustomers=&navBillRuns=&navManage=navbar__link--active",
      text: "Manage",
      active: false
    }
  ]
}) }}
