{% extends "layout_wrls.html" %}

{% set title = "Confirm your return - GOV.UK" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/dashboard/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-dash-returns.html" %}
  </div>

  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      <span class="govuk-caption-xl">Licence number 01/0117</span>
      Abstraction return
    </h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Site description
        </div>
        <div class="meta-data__value">
          Great Ouse at Bedford College (Heat pump - cooling only)
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Purpose
        </div>
        <div class="meta-data__value">
          Spray irrigation
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Return period
        </div>
        <div class="meta-data__value">
          1 April 2018 to 31 March 2019
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Abstraction period
        </div>
        <div class="meta-data__value">
          1 April 2018 to 31 September 2018
        </div>
      <div>
    </section>
    <section class="meta-data__row">
      <div class="meta-data__container">
        <div class="meta-data__label">
          Standard tarrif
        </div>
      <div>
    </section>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <a href="../online-licence?wid={{ query.wid }}">View this licence</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Confirm your return
    </h2>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
      Your meter
    </h2>

    <div class="govuk-inset-text">
      Siemens<br>
      Start reading <span class="govuk-!-font-weight-bold">0080080</span><br>
      End reading <span class="govuk-!-font-weight-bold">0302340</span>
    </div>


    <div class="govuk-!-margin-bottom-6">
      <a href="return-meter-readings">
        Edit your meter readings
      </a>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- table with four columns -->
    <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

      <div class="table__row--head">                                              <!-- the table head -->
        <div class="table__cell bold-small column--50">
          Month
        </div>
        <div class="table__cell bold-small numbers column--30">
          Gallons
        </div>
        <div class="table__cell bold-small numbers column--20">
          Cubic metres
        </div>
      </div>

      <!-- table row -->
      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 1
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          April
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            4,408,183.7
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            20,040
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 2
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          May
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            263,963.1
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            1,200
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 3
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          June
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            263,963.1
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            1,200
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 4
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          July
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            0
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            0
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 5
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          August
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            0
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            0
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 6
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          September
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            0
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            0
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 7
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          October
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            <!-- no value -->
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            <!-- no value -->
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 8
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          November
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            <!-- no value -->
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            <!-- no value -->
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 9
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          December
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            <!-- no value -->
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            <!-- no value -->
          </p>
        </div>
      </div>


      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 10
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          January
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            <!-- no value -->
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            <!-- no value -->
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 11
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          February
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            <!-- no value -->
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            <!-- no value -->
          </p>
        </div>
      </div>

      <div class="table__row govuk-!-margin-bottom-8">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 12
          </h2>
          <h3 class="table__context">
            Month
          </h3>
          March
        </div>
        <div class="table__cell">
          <h3 class="table__context">
            Gallons
          </h3>
          <p class="table__row--text numbers">
            <!-- no value -->
          </p>
        </div>
        <div class="table__cell numbers">
          <h3 class="table__context">
            Cubic metres
          </h3>
          <p class="table__row--text">
            <!-- no value -->
          </p>
        </div>
      </div>

      <div class="table__row table__row--total table__row--last govuk-!-margin-bottom-6">                                    <!-- a data row starts -->
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Total row
          </h2>
          <h3 class="table__context">
            <!-- only one of these -->
            Total
          </h3>
          Total
        </div>
        <div class="table__cell numbers">
          <!-- no value -->
        </div>
        <div class="table__cell numbers">
          <h5 class="table__context">
            Cubic metres
          </h5>
          22,440<br>
          Cubic metres
        </div>
      </div>

      <div class="govuk-!-margin-bottom-6">
        <a href="return-volumes">
          Edit your volumes
        </a>
      </div>

      

      {{ govukWarningText({
        text: "You confirm that all the details you are providing are correct to the best of your knowledge.",
        iconFallbackText: "Warning"
      }) }}

      <a href="" class="govuk-button">
        Submit
      </a>

    </div>
  </div>

{% endblock %}
