{% extends "layout_wrls.html" %}

{% set title = "Change agreements" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-nps-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-l">Charge agreements</h1>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- table with two columns -->
    <div class="table govuk-!-margin-bottom-8">

      <div class="table__row--head">
        <div class="table__cell bold-small column--50">
          Agreement
        </div>
        <div class="table__cell bold-small column--30">
          Start date
        </div>
        <div class="table__cell bold-small column--20">
          <!-- Action -->
        </div>
      </div>

      <div class="table__row table__row--selectable govuk-!-margin-bottom-6">
        <div class="table__cell">
          <h2 class="screen-reader-only">
            Row 1
          </h2>
          <h3 class="table__context">
            Agreement
          </h3>
          S127 (Two-part tariff)
          <!-- <br>
          <a href="change-agreement-date">
            Remove agreement
          </a> -->
        </div>
        <div class="table__cell">
          Start date 1 November 2019
        </div>
        <div class="table__cell">
          <a href="remove-agreement-date">
            End agreement
          </a><br>
          <a href="change-agreement-date">
            Change start date
          </a>
        </div>
      </div>

    </div>

    <div class="govuk-!-margin-bottom-9">
      <a class="govuk-link" href="add-agreement">
        Add an agreement
      </a>
    </div>

  </div>
</div>

{% endblock %}
