{% extends "layout_wrls.html" %}

{% set title = "Agreement added to the charge version" %}

{% block pageTitle %}
   Send a security code - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    {% include "current/includes/nav/nav-nps-view.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-l">Agreement added</h1>

    <p class="govuk-body">
      <a href="../licence-summary-charge-approved-s127#charge">Back to charge summary</a>
    </p>

  </div>
</div>

{% endblock %}
