{% extends "layout_wrls.html" %}

{% set title = "Charge category" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-nps-view.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!-- page heading -->
          <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
          <h1 class="govuk-heading-l">Charge category</h1>

        </div>
      </div>

      <!-- licence meta data -->
      <!--
      <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Return reference
              </div>
              <div class="meta-data__value">
                65432123
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Region
              </div>
              <div class="meta-data__value">
                Central West
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Site description
              </div>
              <div class="meta-data__value">
                Great Ouse at Bedford College (Heat pump - cooling only)
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Purpose
              </div>
              <div class="meta-data__value">
                Spray irrigation
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Return period
              </div>
              <div class="meta-data__value">
                1 April 2018 to 31 March 2019
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Abstraction period
              </div>
              <div class="meta-data__value">
                1 April 2018 to 31 September 2018
              </div>
            <div>
          </section>
        </div>
      </div>


      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">
          <a href="../online-licence?wid={{ query.wid }}">View this licence</a>
        </div>
      </div>
      -->

      <form action="element-alcs#category" method="post" class="form" id="return-reference-error">

        <!-- simple input field -->
        <!-- <div class="govuk-form-group  {% if error.returnReference_allowOnly %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="return-reference">
            Enter a return reference
          </label>
          <input value="{{ body.returnReference }}" class="govuk-input govuk-input--width-10" id="return-reference" name="returnReference" type="number">
        </div> -->

        

          {{ govukRadios({
            idPrefix: "charge-category",
            name: "charge-category",
            fieldset: {

            },
            items: [
              {
                checked: "checked",
                value: "category-1",
                text: "Apple"
              },
              {
                value: "category-4",
                text: "Mango"
              },
              {
                value: "category-2",
                text: "Orange"
              },
              {
                value: "category-3",
                text: "Pear"
              },
              {
                value: "category-5",
                text: "Pitaya"
              }
            ]
          })
        }}

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script>
      $(function() {
        $('form[data-routing]').on('submit', function(ev) {
          // FInd selected radio button
          const url = $(this).find('input:checked').val();

          if(url) {
            ev.preventDefault();
            window.location.href = url;
            return false;
          }
        });
      })
    </script>

  </main>
</div>
{% endblock %}
