{% extends "layout_wrls.html" %}

{% set title = "Contact choice saved" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
      <!-- navigation block -->
      {% include "current/includes/nav/nav-ex-head.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
      Contact choice saved
    </h1>

    <p class="govuk-body">
      We will contact you by email at <span class="govuk-!-font-weight-bold">allthingsbeingequal@gmail.com</span>.
    </p>

    <a href="licences" class="govuk-button">
      Continue
    </a>

  </div>
</div>

{% endblock %}
