{% extends "layout_wrls.html" %}

{% set title = "How would you prefer to be contacted?" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
  </div>

  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- contact options with progressive enhancement -->
    <div class="govuk-form-group">
      <form action="contact-set" method="get">

        <fieldset class="govuk-fieldset govuk-!-margin-bottom-6" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How would you like us to contact you?
            </h1>
          </legend>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-1" name="how-contacted" type="radio" value="existing-email">
            <label class="govuk-label govuk-radios__label" for="how-contacted-1">
              By email at <span class="govuk-!-font-weight-bold">allthingsbeingequal@gmail.com</span>
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-2" name="how-contacted" type="radio" value="letter" checked>
            <label class="govuk-label govuk-radios__label" for="how-contacted-2">
              By post at the address on your licence
            </label>
          </div>

        </fieldset>

        <p class="govuk-body-l">
          We will still send important information such as security codes or paper forms by post.
        </p>

        <button type="submit" class="govuk-button">
          Save and continue
        </button>

      </form>
    </div>

  </div>
</div>

{% endblock %}
