{% extends "layout_wrls.html" %}

{% set title = "Manage your water abstraction or impoundment licence" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% set mainClasses = "home-no-padding-top" %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
</div>

<!-- navigation block -->
{% include "current/includes/nav/nav-bd.html" %}

<!--
 {{ govukBackLink({
   text: "Back",
   href: "javascript:history.back()"
 }) }}
-->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="mastheader">
      <div class="govuk-form-group govuk-width-container">

        <!-- search for licences -->
        <form action="search">


        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l  " for="search">
            Search for a licence, user, return or account
          </label>
          <span id="example-hint" class="govuk-hint">
            Name, email, return reference or Licence
          </span>
        </h1>
        <input class="govuk-input govuk-!-width-two-thirds govuk-!-display-inline-block" id="search" name="search" type="text" aria-describedby="search-hint">

        {{ govukButton({
            text: "Search",
            classes: "wrls-faux-button--inline"
          }) }}


        </form>

      </div>

    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-0">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section class= "govuk-!-margin-bottom-9 ">

      <h2 class="govuk-heading-l">Bill runs</h2>
      <p class="govuk-body">View all bill runs. Create a new two-part tariff, annual or supplementary bill run. </p>
      <p class="govuk-body"><a href="/bd/bill-runs" class="govuk-link">Go to bill runs</a></p>

      <h2 class="govuk-heading-l">Returns cycles</h2>
      <p class="govuk-body">View returns reports and send returns notices.</p>
      <p class="govuk-body"><a href="/bd/returns-cycles" class="govuk-link"> Go to returns cycles</a></p>

      <h2 class="govuk-heading-l">Licence notices</h2>
      <p class="govuk-body">Manage and view licence notices, including renewals, returns and hands-off flows.</p>
      <p class="govuk-body"><a href="/bd/licence-notices" class="govuk-link"> Go to licence notices</a></p>

    </section>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section class=" govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-l">Workflow for charge information</h2>
<p class="govuk-body">Set up, review or make changes to licence charge information before it’s approved for billing.</p>

      <div class="govuk-tabs" data-module="govuk-tabs">

        <h2 class="govuk-tabs__title">
          Licence views
        </h2>

        <!--number of chargeVersions with Review charge status-->
        {% set review = 0 %}
        {% set chargeVersions = data['chargeVersions'] %}
        {% for i in chargeVersions %}
        {% if i.chargeStatus == 'NOT APPROVED' %}
        {% set review = review + 1  %}
        {% endif %}
        {% endfor %}
        {% set numberOfChargeVersionsReview = review + 5 %}

        <!--number of chargeVersions with Change charge status-->
        {% set change = 0 %}
        {% set chargeVersions = data['chargeVersions'] %}
        {% for i in chargeVersions %}
        {% if i.chargeStatus == 'CHANGES' or i.chargeStatus == 'DRAFT'%}
        {% set change = change + 1  %}
        {% endif %}
        {% endfor %}
        {% set numberOfChargeVersionsChange = change + 5 %}

          <!-- tab navigation -->
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#new">
                Licences (5)
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#draft">
                Draft ({{numberOfChargeVersionsChange}})
              </a>
            </li>
          <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#review">
                Review ({{numberOfChargeVersionsReview}})
              </a>
            </li>
        <!--    <li class="govuk-tabs__list-item" tabindex="0">
              <a class="govuk-tabs__tab" href="#changes">
                Change requested
              </a>
            </li> -->
          </ul>

          <!-- tab 1 -->
          <section class="govuk-tabs__panel" id="new">

            <!-- new licences -->
            {% include "current/includes/bd/licences-new.html" %}

          </section>

          <!-- tab 2 -->
          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="draft">

            <!-- draft charge version licences -->
            {% include "current/includes/bd/licences-draft.html" %}

          </section>

          <!-- tab 3 -->
          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="review">

            <!-- comms table -->
            {% include "current/includes/bd/licences-review.html" %}



          </section>

         <!-- tab 4 --> <!--
          <section class="govuk-tabs__panel" id="changes">


        {% include "current/includes/bd/licences-changes.html" %}

        </section> -->

        </div>

  </div>
</div>


{% endblock %}
