{% extends "layout_wrls.html" %}

{% set title = "Scrifford Pike Licence summary" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Licence</span>
      <h1 class="govuk-heading-l">03/28/60/0032</h1>
    </div>
  </div>

  <div class="govuk-!-margin-bottom-6">
    <p class="govuk-body">Registered to <a href="user-status" class="no-break">allthingsbeingeven@gmail.com</a></p>
  </div>

  <div class="govuk-tabs" data-module="govuk-tabs">

    <h2 class="govuk-tabs__title">
      Licence views
    </h2>

    <!-- tab navigation -->
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
          Summary
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#returns">
          Returns
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#communications">
          Communications
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#charge">
          Billing
        </a>
      </li>
    </ul>

    <!-- tab 1 -->
    <section class="govuk-tabs__panel" id="summary">

      <h2 class="govuk-heading-l">
        Summary
      </h2>

      <!-- returns with statuses -->
      {% include "current/includes/bd/summary.html" %}

    </section>

    <!-- tab 2 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">

      <h2 class="govuk-heading-l">
        Returns
      </h2>

      <!-- returns with statuses -->
      {% include "current/includes/bd/returns.html" %}

    </section>

    <!-- tab 3 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">

      <h2 class="govuk-heading-l">
        Communications
      </h2>

      <!-- comms table -->
      {% include "current/includes/comms-table.html" %}

      <div class="table govuk-!-margin-bottom-8">
        <a href="all-messages">
          View all licence messages
        </a>
      </div>

    </section>

    <!-- tab 4 -->
    <section class="govuk-tabs__panel" id="charge">

      <h2 class="govuk-heading-l">
        Billing
      </h2>

      <section>

        <!--suspended flag -->
        <a href="licence-summary-suspended#charge" class="wrls-faux-button wrls-faux-button--secondary">Suspend from billing</a>

        <!-- charges -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="table__status table__status--open">
                Draft
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="confirm-make-current">
                Make current
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Latest invoice
            </dt>
            <dd class="govuk-summary-list__value">
              AA126515
              <br><a href="#">View invoice details</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">View all invoices</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Next bill due
            </dt>
            <dd class="govuk-summary-list__value">
              30 March 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- no action -->
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact
            </dt>
            <dd class="govuk-summary-list__value">
              Finance Team
              <br>Aquafall
              <br><a class="govuk-link" href="/bd/charges-2020/billing-account">
                View contact details
              </a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/bd/contacts/contact-type">
                Change contact
              </a>
            </dd>
          </div>

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Billing address
            </dt>
            <dd class="govuk-summary-list__value">
              2 Summary House,
              <br>Bipford Lane,
              <br>Papplewick,
              <br>Nottingham,
              <br>Nottinghamshire
              <br>NG15 2PW
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/bd/contacts/change-type">
                Change address
              </a>
            </dd>
          </div> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key wrls-summary-list__key--list">
              Spray irrigation
            </dt>
            <dd class="govuk-summary-list__value">
              Spray irrigation, base licence
              <br>£2,587.50
            </dd>
            <dd class="govuk-summary-list__actions table__row--bold-text">
              <!-- £2,587.50 -->
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <!-- Spray irrigation -->
            </dt>
            <dd class="govuk-summary-list__value">
              Spray irrigation, time limited increase for winter
              <br>£1,684.05
            </dd>
            <dd class="govuk-summary-list__actions table__row--bold-text">
              <!-- £1,684.05 -->
            </dd>
          </div>

        </dl>

        <section class="govuk-!-margin-bottom-8">
          <a href="charges/current-charge-version">
            Charge details
          </a>
        </section>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Charge history
            </span>
          </summary>
          <div class="govuk-details__text">

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="charges/current-charge-version">From 20 November 2019 - Current</a>
              </li>
              <li>
                <a class="govuk-link" href="charges/charge-version-2">From 18 November 2019</a>
              </li>
              <li>
                <a class="govuk-link" href="charges/charge-version-1">From 31 November 2018</a>
              </li>
            </ul>

            <a href="/bd/charges-2020/charge-record">Charge record</a>

          </div>
        </details>

      </section>

    </section>

  </div>

{% endblock %}
