{% extends "layout_wrls.html" %}

{% set title = "Scrifford Pike Licence summary" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<!-- navigation block -->
<div class="govuk-!-margin-bottom-6">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

<!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Licence 01/04/12/0047</span>
    <h1 class="govuk-heading-l"> River House
    </h1>
  </div>
</div>

<div class="govuk-!-margin-bottom-6">
  <p class="govuk-body">Registered to <a href="user-status" class="no-break">allthingsbeingeven@gmail.com</a></p>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">

  <h2 class="govuk-tabs__title">
    Licence views
  </h2>

  <!-- tab navigation -->
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
        Summary
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#returns">
        Returns
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#communications">
        Communications
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#charge">
        Billing
      </a>
    </li>
  </ul>

  <!-- tab 1 -->
  <section class="govuk-tabs__panel" id="summary">

    <h2 class="govuk-heading-l">
      Summary
    </h2>

    <!-- returns with statuses -->
    {% include "current/includes/bd/summary.html" %}

  </section>

  <!-- tab 2 -->
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">

    <h2 class="govuk-heading-l">
      Returns
    </h2>

    <!-- returns with statuses -->
    {% include "current/includes/bd/returns.html" %}

  </section>

  <!-- tab 3 -->
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">

    <h2 class="govuk-heading-l">
      Communications
    </h2>

    <!-- comms table -->
    {% include "current/includes/comms-table.html" %}

    <div class="table govuk-!-margin-bottom-8">
      <a href="all-messages">
        View all licence messages
      </a>
    </div>

  </section>

  <!-- tab 4 -->
  <section class="govuk-tabs__panel" id="charge">

    <h2 class="govuk-heading-l">
      Billing
    </h2>



    <section>



      <!-- charges -->







            <div class="govuk-inset-text">
        This licence is exempt from charging.  Abatement (S126).
      </div>



      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Billed up to
          </dt>
          <dd class="govuk-summary-list__value">
            Exempt from charging
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/bd/charges-2020/bills">
              View all bills
            </a>
          </dd>
        </div>
      <!--    <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next bill due
          </dt>
          <dd class="govuk-summary-list__value">
            30 March 2020
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Billing account
          </dt>
          <dd class="govuk-summary-list__value">
            L12345678S<br>
            Bottled Water Plc<br>

            15 Ward Road<br>
            BA1 5EH<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/bd/charges-2020/billing-account">
                  View<span class="govuk-visually-hidden"> billing account</span>
                </a>
              </li>
          <!--    <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/bd/contacts/new-contact">
                  Change<span class="govuk-visually-hidden"> billing account</span>
                </a>
              </li> -->

            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        Charge elements
      </dt>
      <dd class="govuk-summary-list__value">

       Spray irrigation, Otterton borehole 1a<br>

      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="charges-2020/charge-versions-free-of-charge">
          View charge information
        </a>
      </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--last">
          <dt class="govuk-summary-list__key">
            Agreements
          </dt>
          <dd class="govuk-summary-list__value">





            Abatement (S126)

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="charges-2020/agreements-free-of-charge">
              View<span class="govuk-visually-hidden"> agreements</span>
            </a>
          </dd>
        </div>



      </dl>


          </section>




  </section>

</div>

{% endblock %}
