{% extends "layout_wrls.html" %}

{% set title = "Licence notices" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
</div>


{% set navbarActiveNotices = "navbar__link--active" %}



<!-- navigation block -->
{% include "current/includes/nav/nav-bd.html" %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "home"
    }
  ]
}) }}

<!--
 {{ govukBackLink({
   text: "Back",
   href: "javascript:history.back()"
 }) }}
-->

{% endblock %}

{% block content %}

<!-- contact summary -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


<h1 class="govuk-heading-xl"> {{ title }}</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<p class="govuk-body">Create and send licence  renewal notices.</p>


        {{ govukButton({
          text: "Create renewal notices",
          href: "../charges-2020/pick-charge-type"
        }) }}


      </div>
    </div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-3">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">
      Notices overview
    </h2>


   <p classs="govuk-body">View all notices that have been sent from the service.</p>


   {{ govukTable({
  caption: "Notices",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Notification"
    },
    {
      text: "Sent by"
    },
    {
      text: "Recipients",
      format: "numeric"
    },
    {
      text: "Problems",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "15 May 2020"
      },
      {
        text: "Returns: invitaion"
      },
      {
        text: "joe.smith@madeup.com"
      },
      {
        text: "6894",
        format: "numeric"
      },
      {
        text: "1",
        format: "numeric"
      }
    ],
    [
      {
        text: "1 May 2019"
      },
      {
        text: "Returns: reminder"
      },
      {
        text: "joe.smith@madeup.com"
      },
      {
        text: "3890",
        format: "numeric"
      },
      {
        text: "",
        format: "numeric"
      }
    ],
    [
      {
        text: "1 May 2019"
      },
      {
        text: "Returns: invitaion"
      },
      {
        text: "joe.smith@madeup.com"
      },
      {
        text: "5789",
        format: "numeric"
      },
      {
        text: "1",
        format: "numeric"
      }
    ],
    [
      {
        text: "1 April 2019"
      },
      {
        text: "Expiring licence(s): invitation to renew"
      },
      {
        text: "joe.smith@madeup.com"
      },
      {
        text: "707",
        format: "numeric"
      },
      {
        text: "2",
        format: "numeric"
      }
    ],
    [
      {
        text: "7 March 2019"
      },
      {
        text: "Hands of flow: resume abstraction"
      },
      {
        text: "joe.smith@madeup.com"
      },
      {
        text: "53",
        format: "numeric"
      },
      {
        text: "3",
        format: "numeric"
      }
    ]
  ]
}) }}

  </div>
</div>


{% endblock %}
