{% extends "layout_wrls.html" %}

{% set title = "Scrifford Pike Licence summary" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike</h1>
    </div>
  </div>

  <div class="govuk-!-margin-bottom-6">
    <p class="govuk-body">Registered to <a href="user-status" class="no-break">allthingsbeingeven@gmail.com</a></p>
  </div>

  <div class="govuk-tabs" data-module="govuk-tabs">

    <h2 class="govuk-tabs__title">
      Licence views
    </h2>

    <!-- tab navigation -->
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
          Summary
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#returns">
          Returns
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#communications">
          Communications
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#charge">
          Charges
        </a>
      </li>
    </ul>

    <!-- tab 1 -->
    <section class="govuk-tabs__panel" id="summary">

      <h2 class="govuk-heading-l">
        Summary
      </h2>

      <!-- returns with statuses -->
      {% include "current/includes/bd/summary.html" %}

    </section>

    <!-- tab 2 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">

      <h2 class="govuk-heading-l">
        Returns
      </h2>

      <!-- returns with statuses -->
      {% include "current/includes/bd/returns.html" %}

    </section>

    <!-- tab 3 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">

      <h2 class="govuk-heading-l">
        Communications
      </h2>

      <!-- comms table -->
      {% include "current/includes/comms-table.html" %}

      <div class="table govuk-!-margin-bottom-8">
        <a href="all-messages">
          View all licence messages
        </a>
      </div>

    </section>

    <!-- tab 4 -->
    <section class="govuk-tabs__panel" id="charge">

      <h2 class="govuk-heading-l">
        Suspended charges
      </h2>

      <section id="charges">

        <!--suspended flag -->
        <a href="licence-summary#charge" class="wrls-faux-button">Release for billing</a>

        <!-- charges -->
        {% include "current/includes/bd/charges-2020/charge-summary.html" %}

        <section class="govuk-!-margin-bottom-8">
          <a href="charges/current-charge-version">
            Charge details
          </a>
        </section>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Charge history
            </span>
          </summary>
          <div class="govuk-details__text">

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="charges/current-charge-version">From 20 November 2019 - Current</a>
              </li>
              <li>
                <a class="govuk-link" href="charges/charge-version-2">From 18 November 2019</a>
              </li>
              <li>
                <a class="govuk-link" href="charges/charge-version-1">From 31 November 2018</a>
              </li>
            </ul>

            <a href="/bd/charges-2020/charge-record">Charge record</a>

          </div>
        </details>

      </section>

    </section>

  </div>

{% endblock %}
