{% extends "layout_wrls.html" %}

{% set title = "User status" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">External</span> <!-- internal / external -->

    <div class="govuk-!-margin-bottom-6">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
        andrew.shemot@protonmail.com
      </h1>
      <div class="heading-small">
        Last signed in 11 Jan 2019, 14:31
      </div>
    </div>

    <p class="govuk-body-l">No licences requested.</p>

  </div>
</div>

{% endblock %}
