{% extends "layout_wrls.html" %}

{% set title = "Select reason for new charge information" %}



{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <form method="post" class="form">



{{ govukRadios({
  idPrefix: "reasonNewCharge",
  name: "reasonNewCharge",
  fieldset: {
    legend: {
      html: '<span class="govuk-caption-l">Licence 03/28/60/0032</span>' + [title],
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
    }
  },
  items: [
  {
    value: "Billing contact change",
    text: "Billing contact change"
  },
  {
    value: "Charge information closed down before licence end date",
    text: "Charge information closed down before licence end date"
  },
  {
    value: "Charge scheme change",
    text: "Charge scheme change"
  },
  {
    value: "Change to a special agreement",
    text: "Change to a special agreement"
  },

  {
    value: "Licence holder name or address change",
    text: "Licence holder name or address change"
  },
  {
    value: "Licence transferred and now chargeable",
    text: "Licence transferred and now chargeable"
  },
  {
    value: "Limited extension of licence validity (LEV)",
    text: "Limited extension of licence validity (LEV)"
  },
  {
    value: "Major change",
    text: "Major change"
  },
    {
      value: "Minor change",
      text: "Minor change"
    },
    {
      value: "New licence in part succession or licence apportionment",
      text: "New licence in part succession or licence apportionment"
    },
    {
      value: "New licence",
      text: "New licence"
    },
    {
      value: "New special agreement",
      text: "New special agreement"
    },
    {
      value: "Succession or transfer of licence",
      text: "Succession or transfer of licence"
    },
    {
      value: "Succession to a remainder licence or licence apportionment",
      text: "Succession to a remainder licence or licence apportionment"
    },
    {
      value: "Time limit starting or ending",
      text: "Time limit starting or ending"
    },
    {
      divider: "or"
    },
    {
      value: "Make this licence non-chargeable",
      text: "Make this licence non-chargeable"
    }
  ]
}) }}

    <button type="submit" class="govuk-button govuk-!-margin-right-1">
      Continue
    </button>

  </form>
  </div>
</div>

{% endblock %}
