{% extends "layout_wrls.html" %}

{% set title = "Check agreement details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">{{title}}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <form  method="post" class="form" >


    {{ govukSummaryList({
    rows: [

      {
        key: {
          text: "Agreement"
        },
        value: {
          text: [data.agreement]
        },
        actions: {
          items: [
            {
              href: "add-agreement",
              text: "Change",
              visuallyHiddenText: "agreement"
            }
          ]
        }
      },
      {
        classes: "govuk-summary-list__row",
        key: {
          text: "Date signed"
        },
        value: {
          text: [data.agreementSignedStartDay] + " " + [[data.agreementSignedStartMonth] | toMonth] + " " + [data.agreementSignedStartYear]
        },
        actions: {
          items: [
            {
              href: "add-agreement-signed-date",
              text: "Change",
              visuallyHiddenText: "agreement signed date"
            }
          ]
        }
      },
      {
        classes: "govuk-summary-list__row--last",

        key: {
          text: "Start date"
        },
        value: {
          text: [data.agreementStartDay] + " " + [[data.agreementStartMonth] | toMonth] + " " + [data.agreementStartYear]
        },
        actions: {
          items: [
            {
              href: "add-agreement-date",
              text: "Change",
              visuallyHiddenText: "start date"
            }
          ]
        }
      }



    ]
  }) }}

{% if [data.agreementStartYear]+[data.agreementStartMonth |pad] + [data.agreementStartDay|pad] >= "20220401" %}
{{ govukInsetText({
  text: "To affect the charge, this agreement must be applied to a charge category."
}) }}
 {% elif data['agreement'] ==  "Two-part tariff" %}
 {{ govukInsetText({
   text: "To affect the charge, this agreement must be applied to a charge element."
 }) }}
  {% endif %}

    <button type="submit" class="govuk-button">
      Confirm
    </button>

  </form>

</div>
</div>



{% endblock %}
