{% extends "layout_wrls.html" %}

{% set title = "Bill for Bottled Water Plc" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-bill-runs.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}


  <!-- page title -->
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">

      <section class="govuk-!-margin-bottom-6">
        <h1 class="govuk-caption-l">Bill AA126515</h1>
        <span class="govuk-heading-xl govuk-!-margin-bottom-3">{{ title }}</span>
      </section>


      <p class="govuk-body">
        {{govukTag({
        text: "Sent",
        classes: "govuk-tag--blue govuk-!-font-size-27"
      })}}
      </p>

      <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Date created
              </div>
              <div class="meta-data__value">
                5 March 2020
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Region
              </div>
              <div class="meta-data__value">
                Anglian
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Bill run type
              </div>
              <div class="meta-data__value">
                Supplementary
              </div>
            <div>
          </section>


        </div>
              </div>

    </div>
  </div>

  <!-- <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Licence holder address
      </span>
    </summary>
    <div class="govuk-details__text">
      Daniel Caan
      <br>1 Hill House
      <br>Abingdon-on-Thames
      <br>Oxfordshire
      <br>RE1 1TG
    </div>
  </details> -->

  <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Billing contact address
      </span>
    </summary>
    <div class="govuk-details__text">
      Finance Department
      <br>1 Hill House
      <br>Abingdon-on-Thames
      <br>Oxfordshire
      <br>RE1 1TG
    </div>
  </details>

  <!-- <p class="govuk-body govuk-!-margin-bottom-9">
    <a href="ias">
      Invoice account 021545
    </a>
  </p> -->

  <div class="govuk-grid-row govuk-!-margin-bottom-3">

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-!-margin-bottom-0"><span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">£0.00</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Total</span></h2>
    </div>

  </div>

  <div class="govuk-inset-text">
   <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
     £4.00 credit
   </h4>
   <p class="govuk-body">
     De minimus rule applied
   </p>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <!-- <div class="govuk-grid-column-one-half">
      <h3><span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">£3,002.75</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Net amount</span></h3>
    </div> -->

  <div class="govuk-grid-column-one-half">
      <h3><span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">£0</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Credits</span></h3>
    </div>

    <div class="govuk-grid-column-one-half">
      <h3><span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">£4.00</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Debits</span></h3>
    </div>
  </div>

  <!-- <button class="govuk-button govuk-button--warning" data-module="govuk-button">
    Remove from batch
  </button> -->

  <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Remove from batch
  </button> -->

  <div class="divider govuk-!-margin-bottom-7"></div>



  <!-- invoice details -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-xl">
        2019
      </h2>

      <section class="govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-0">
          Licence 03/052/001
        </h3>
        <a href="../licence-summary" target="_blank">
          View licence (opens in new tab)
        </a>
      </section>

      <div class="govuk-inset-text">
        <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
          Spray irrigation, base licence
        </h4>
        <p class="govuk-body">
          April to December
        </p>
      </div>

    </div>
  </div>

  <!-- s table -->
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">

      <!-- table with four columns -->
      <div class="table govuk-!-margin-bottom-6">                               <!-- a table -->

        <!-- table head -->
        <div class="table__row--head">                                          <!-- the table head -->
          <div class="table__cell bold-small column--30">
            Transaction detail
          </div>
          <div class="table__cell bold-small numbers column--20">
            Billable days
          </div>
          <!-- <div class="table__cell bold-small numbers">
            Pro-rata days
          </div> -->
          <div class="table__cell bold-small numbers column--20">
            Credit
          </div>
          <div class="table__cell bold-small numbers column--20">
            Debit
          </div>
        </div>

        <!-- row 1 -->
        <div class="table__row govuk-!-margin-bottom-6">                        <!-- a data row starts -->

          <!-- table row 1 -->
          <div class="table__cell">
            <h5 class="screen-reader-only">
              Row 1
            </h5>
            <h6 class="table__context">
              Transaction detail
            </h6>
            <h6 class="govuk-heading-s govuk-!-margin-bottom-0">
              1 April 2019 to 30 September 2019
            </h6>
            <p class="govuk-!-margin-bottom-3">
              Standard debit
            </p>
            <p>
              High loss
              <br>Summer
              <br>Supported source
            <!--  <br>S126 (Abatement)  -->
            </p>
          </div>
          <div class="table__cell numbers">
            <h6 class="table__context">
              Billable days
            </h6>
            22/300
          </div>
          <!-- <div class="table__cell numbers">
            <h6 class="table__context">
              Pro-rata days
            </h6>
            0
          </div> -->
          <div class="table__cell numbers">
            <h6 class="table__context">
              Credit
            </h6>

          </div>
          <div class="table__cell numbers">
            <h6 class="table__context">
              Debit
            </h6>
            £4.00
          </div>

        </div>

        <!-- total debits -->
        <div class="table__row table__row--total table__row--end govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h5 class="screen-reader-only">
               Total debits
            </h5>
            Debits
          </div>
          <div class="table__cell table__cell--empty">

          </div>
          <div class="table__cell numbers">
            <!-- <h6 class="table__context">
              Credit total
            </h6>
            £851.50 -->
          </div>
          <div class="table__cell numbers">
            <h6 class="table__context">
              Debit total
            </h6>
            £4.00
          </div>
        </div>

        <!-- net total -->
        <div class="table__row table__row--total table__row--last govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h5 class="screen-reader-only">
               Net total
            </h5>
            Net total
          </div>
          <div class="table__cell table__cell--empty">
          </div>
          <div class="table__cell numbers">
          </div>
          <div class="table__cell numbers">
            <h6 class="table__context">
              Debit total
            </h6>
            £4.00
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
