{% extends "layout_wrls.html" %}

{% set title = "Charge record 03/28/60/0032" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">
      Charge record
    </h1>
  </div>
</div>

<div class="govuk-!-margin-bottom-9">
  <a href="current-charge-version">Current charge version</a>
</div>

<!-- timeline -->
<div class="moj-timeline--future">

  <div class="moj-timeline__item moj-timeline__item--future">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">
        Next bill due
      </h2>
      <!-- <p class="moj-timeline__byline">by Jo Smolland</p> -->
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-04-01T00:00:00.000Z">1 April 2020</time>
    </p>

    <!-- <div class="moj-timeline__description">
      <p>
        Charge start date 19 June 2019
        <br>
      </p>
      <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
    </div> -->
  </div>
</div>



<!-- timeline -->
<div class="moj-timeline">

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">
        Included in billing
      </h2>
      <!-- <p class="moj-timeline__byline">by Jo Smolland</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-11-30T09:59:00.000Z">30 November 2019 at 9:59am</time>
    </p>

    <!-- <strong class="table__status">
      INCLUDED
    </strong> -->

    <!-- <div class="moj-timeline__description">
      <p>
        Charge start date 19 June 2019
        <br>
      </p>
      <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
    </div> -->
  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">S127 (Two-part tariff) start</h2>
      <!-- <p class="moj-timeline__byline">by Sam Leggett</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-11-25T00:00:00.000Z">25 November 2019 <a href="#">Change start date</a></time>
    </p>

    <a href="#" class="govuk-body-s">End agreement</a>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">S126 (Abatement) start</h2>
      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-11-25T00:00:00.000Z">25 November 2019 <a href="#">Change start date</a></time>
    </p>

    <div class="moj-timeline__description">
      <a href="#" class="govuk-body-s">End agreement</a>
    </div>

  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">
        Suspended from billing
      </h2>
      <!-- <p class="moj-timeline__byline">by Jo Smolland</p> -->
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-10-31T10:22:00.000Z">22 November 2019 at 10:22 am</time>
    </p>

    <!-- <strong class="table__status table__status--open">
      SUSPENDED
    </strong> -->

    <!-- <div class="moj-timeline__description">
      <p>
        Charge start date 19 June 2019
        <br>
      </p>
      <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
    </div> -->
  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">From 20 November 2019</h2>
      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <!-- <p class="moj-timeline__date">
      <a href="#">Change start date</a>
    </p> -->

    <!-- <strong class="table__status govuk-!-margin-bottom-3">
      Current
    </strong> -->

    <!-- <div class="table__status table__status--open">
      Draft
    </div> -->

    <p>
      <!-- <span class="moj-timeline--label">
        Recent changes:
      </span> -->
      <a href="charge-version-1">2 elements</a>
    </p>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        From 18 November 2019
      </h2>

      <!-- <p class="moj-timeline__byline">by Rebecca Vollard</p> -->
    </div>

    <!-- <p class="moj-timeline__date">
      <a href="#">Change start date</a>
    </p> -->

    <!-- <div class="table__status table__status--open">
      Draft
    </div> -->

    <p>
      <!-- <span class="moj-timeline--label">
        Recent changes:
      </span> -->
      <a href="charge-version-1">1 element</a>
    </p>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">
        Contact changed to <a href="/bd/licence/contacts#billing">Dawidek Jevnic</a>
      </h2>
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        From 31 October 2018
      </h2>
    </div>

    <p>
      <!-- <span class="moj-timeline--label">
        Recent changes:
      </span> -->
      <a href="charge-version-1">1 element</a>
    </p>

  </div>



</div>


  </div>
</div>

{% endblock %}
