{% extends "layout_wrls.html" %}

{% set title = "Charge information" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<!-- navigation block -->
<div class="govuk-!-margin-bottom-6">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()",
    href: "/bd/licence-summary#charge"
  }) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">{{title}}</h1>
    {{ govukButton({
      text: "Set up new charge",
      href: "/bd/charges-2020/add-new-reason",
      classes: "govuk-!-margin-right-3"
    }) }}

    <!-- show button if licence isn't already marked as exempt from charge-->
    {% set free = [data.chargeVersions[0]['free']]%}
    {% if free == "true" %}
    {% else %}
    {{ govukButton({
  text: "Make licence non-chargeable",
  classes: "govuk-button--secondary",
  href: "add-reason"
}) }}
   {% endif %}


  </div>
</div>



<!-- Charge version data-->



<section class="govuk-!-margin-bottom-2">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <!-- table with two columns -->
      <div class="table govuk-!-margin-bottom-8">

        <div class="table__row--head">
          <div class="table__cell bold-small column--20">
            Start date
          </div>
          <div class="table__cell bold-small column--15">
            End date
          </div>
          <div class="table__cell bold-small column--20">
            Billed up to
          </div>
          <div class="table__cell bold-small column--25">
            Status
          </div>

          <div class="table__cell bold-small column--20">
            Action
          </div>
        </div>

        {% if [data.newLicence] == "false" %}
        {% set chargeVersions = data['chargeVersions'] %}
        {% for i in chargeVersions %}

        {% if i['chargeStatus'] !== "INVALID" %}
        <div class="table__row table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 1
            </h2>
            <h3 class="table__context">
              Start date
            </h3>
            {{[i.chargeStart]}}
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              End date
            </h3>
            {{[i.chargeEnd]}}
          </div>

          <div class="table__cell">
            <h3 class="table__context">
              Billed up to
            </h3>
            {{[i.chargeBilledDate]}}
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Status
            </h3>
            {% if [i.chargeStatus] == "CHARGEABLE" %}
            {{govukTag({
                  text: "Approved",
                  classes: "govuk-tag--green"
                })}}
            {% elif [i.chargeStatus] == "REPLACED" %}
            {{govukTag({
              text: [i.chargeStatus],
              classes: "govuk-tag--grey"
            })}}
            {% elif [i.chargeStatus] == "INVALID" %}
            {{govukTag({
          text: [i.chargeStatus],
          classes: "govuk-tag--red"
        })}}
        {% elif [i.chargeStatus] == "DRAFT" %}
        {{govukTag({
      text: [i.chargeStatus],
      classes: "govuk-tag--blue"
      })}}
      {% elif [i.chargeStatus] == "NOT APPROVED" %}
      {{govukTag({
    text: "Review",
    classes: "govuk-tag--orange"
    })}}
    {% elif [i.chargeStatus] == "CHANGES" %}
    {{govukTag({
  text: "Draft",
  classes: "govuk-tag--blue"
  })}}
            {% endif %}
          </div>
          <div class="table__cell">
            {% if [i.chargeStatus] == "DRAFT" %}

            <a href="/bd/charges-2020/charge-version/charge-data-check">
              Continue</a> <span class="screen-reader-only">setting up charge information</span>
            <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
            <a href="/bd/charges-2020/charge-version/confirm-remove-charge-information">
              Remove <span class="screen-reader-only">charge information</span>
            </a>
{% elif [i.chargeStatus] == "NOT APPROVED" %}
{% set link = 'charge-version?chargeInfoNumber=' + loop.index0 %}
<a href="{{link}}">
  Review <span class="screen-reader-only">charge information</span>
</a>

{% elif [i.chargeStatus] == "CHANGES" %}
{% set link = 'charge-version?chargeInfoNumber=' + loop.index0 %}
<a href="{{link}}">
  Review <span class="screen-reader-only">charge information</span>
</a>

            {% else %}
            {% set link = 'charge-version?chargeInfoNumber=' + loop.index0 %}
            <a href="{{link}}">
              View <span class="screen-reader-only">charge information</span>
            </a>

            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}

        {% else %}

        {% set chargeVersions = [data.chargeVersions[0]] %}
        {% for i in chargeVersions %}

        <div class="table__row table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 1
            </h2>
            <h3 class="table__context">
              Start date
            </h3>
            {{[i.chargeStart]}}
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              End date
            </h3>
            {{[i.chargeEnd]}}
          </div>

          <div class="table__cell">
            <h3 class="table__context">
              Billed up to
            </h3>
            {{[i.chargeBilledDate]}}
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Status
            </h3>
            {% if [i.chargeStatus] == "CHARGEABLE" %}
            {{govukTag({
                  text: "Approved",
                  classes: "govuk-tag--green"
                })}}
            {% elif [i.chargeStatus] == "REPLACED" %}
            {{govukTag({
              text: [i.chargeStatus],
              classes: "govuk-tag--grey"
            })}}
            {% elif [i.chargeStatus] == "INVALID" %}
            {{govukTag({
          text: [i.chargeStatus],
          classes: "govuk-tag--red"
        })}}
        {% elif [i.chargeStatus] == "DRAFT" %}
        {{govukTag({
      text: [i.chargeStatus],
      classes: "govuk-tag--blue"
      })}}
      {% elif [i.chargeStatus] == "NOT APPROVED" %}
      {{govukTag({
    text: "Review",
    classes: "govuk-tag--orange"
    })}}
    {% elif [i.chargeStatus] == "CHANGES" %}
    {{govukTag({
  text: "Draft",
  classes: "govuk-tag--blue"
  })}}
            {% endif %}
          </div>
          <div class="table__cell">
            {% if [i.chargeStatus] == "DRAFT" %}

            <a href="#">
              Continue</a> <span class="screen-reader-only">setting up charge information</span>
            <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
            <a href="confirm-remove-charge-version">
              Remove <span class="screen-reader-only">charge information</span>
            </a>
{% elif [i.chargeStatus] == "NOT APPROVED" %}
{% set link = 'charge-version?chargeInfoNumber=' + loop.index0 %}
<a href="{{link}}">
  Review <span class="screen-reader-only">charge information</span>
</a>

{% elif [i.chargeStatus] == "CHANGES" %}
{% set link = 'charge-version?chargeInfoNumber=' + loop.index0 %}
<a href="{{link}}">
  Review <span class="screen-reader-only">charge information</span>
</a>

            {% else %}
            {% set link = 'charge-version?chargeInfoNumber=' + loop.index0 %}
            <a href="{{link}}">
              View <span class="screen-reader-only">charge information</span>
            </a>

            {% endif %}
          </div>
        </div>

        {% endfor %}

        {% endif %}


      </div>
    </div>
  </div>

</section>

{% endblock %}
