{% extends "layout_wrls.html" %}

{% set title = "Make a correction to charge information" %}
{% set chargeInfoNumber = [data.chargeInfoNumber] %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<!-- navigation block -->
<div class="govuk-!-margin-bottom-6">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- page heading changes the title to look like the check charge page if changes requested, in reality this should go to the same page-->

    <h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      {{ title }}
    </h1>
 <p class="govuk-body govuk-!-margin-bottom-9">
    {{govukTag({
text: "Draft",
classes: "govuk-tag--blue govuk-!-font-size-27"
})}}
</p>
    </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <form method="post" class="form" id="return-reference-error">


          {% include "current/includes/bd/reason-new-charge.html" %}

          {% include "current/includes/bd/elements-change.html" %}

          {% include "current/includes/bd/element-costs.html" %}

      <p class="gov-uk">This licence will be added to the supplementary bill run and have new charge information when you confirm changes.</p>

          {{ govukButton({
      text: "Confirm changes",
      classes: "govuk-!-margin-right-6"
      }) }}

      {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--secondary",
      href: "/bd/charges-2020/charge-version/cancel-corrections"
      }) }}


        </form>

      </div>
    </div>
{% endblock %}
