{% extends "layout_wrls.html" %}

{% set title = "You're about to remove this licence from the bill run" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">

    <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-bill-runs.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">{{data['region']}} two-part tariff {{data['tptSeason']}} bill run</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Licence
            </div>
            <div class="meta-data__value">
              {{data['licenceNumber']}}
            </div>
          <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Billing contact
            </div>
            <div class="meta-data__value">
              {{data['customerName']}}
            </div>
          <div>
        </section>

      </div>
    </div>
<p class="govuk-body">This licence will be added to the next bill run.</p>
    <a href="two-part-review" class="wrls-faux-button">
      Remove licence
    </a>

  </div>
</div>
{% endblock %}
