{% extends "layout_wrls.html" %}

{% set title = data['region'] + " supplementary bill run" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-bill-runs.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Supplementary charges for {{data['region']}}</h1>
      <section class="govuk-!-margin-bottom-8">

        {{govukTag({
          text: "Building",
          classes: "govuk-tag--grey govuk-body govuk-!-font-size-27"
        })}}
      </section>



  <p class="govuk-body-l govuk-!-margin-bottom-6">
    The bill run is being created. This can take up to a minute.
      </p>

      {{ govukButton({
        text: "Cancel bill run",
        classes: "govuk-button--secondary",
        href: "confirm-cancel-bills?type=Supplementary"
      }) }}

  <div class="divider"></div>
  <div class="spinner govuk-!-margin-bottom-0"></div>
  {% if data['suppRefresh'] > 0 %}
  <p class="govuk-body govuk-!-text-align-centre">Gathering transcations for current charge scheme</p>
  {% else %}
  <p class="govuk-body govuk-!-text-align-centre">Gathering transcations for old charge scheme</p>
  {% endif %}


  </div>
</div>

{% if data.suppBilling == "true" %}
  <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("../iterations/manual-billing/bill-run/review")',4000);
  </script>
  {% else %}
<!--   <script language="javascript" type="text/javascript">
       window.setTimeout('location.replace("supplementary-charges?status=ready&billRun=created")',4000);
   </script> -->
     {# Refresh the page to create two bill runs #}
     {% if data['suppRefresh'] > 0 %}
     <script language="javascript" type="text/javascript">
         window.setTimeout('location.replace("/bd/iterations/bill-runs/supplementary/split-bill-run?status=ready&billRun=created")',4000);
     </script>
     {% else %}
     <script language="javascript" type="text/javascript">
         window.setTimeout('location.replace("/bd/charges-2020/supplementary-charges-load?region={{data.region}}&status=building")',4000);
     </script>
     {% endif %}
   {% endif %}

{% endblock %}
