{% extends "layout_wrls.html" %}

{% set title = data['region'] + " two-part tariff " + data['tptSeason'] + " bill run" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
{% include "current/includes/nav/nav-bd-bill-runs.html" %}
</div>

{{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem with this bill run",
  errorList: [
    {
      text: "There are no licences ready for this bill run. Check there are licences ready to be billed and try again"
    }
  ]
}) }}

<!-- page title -->
<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">

    <section class="govuk-!-margin-bottom-6">
      <h1 class="govuk-caption-l">Bill run 576849</h1>
      <span class="govuk-heading-xl govuk-!-margin-bottom-0">{{data['region']}} two-part tariff bill run</span>
    </section>

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          <strong class="table__status table__status--error table__status--l ">
          Error
          </strong>
        </p>

        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Date created
            </div>
            <div class="meta-data__value">
              {{data['dateToday']}}
            </div>
            <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Region
            </div>
            <div class="meta-data__value">
              {{data['region']}}
            </div>
            <div>
        </section>
        <section class="meta-data__row">
          <div class="meta-data__container">
            <div class="meta-data__label">
              Bill run type
            </div>
            <div class="meta-data__value">
              Two-part tariff {{data['tptSeason']}}
            </div>
            <div>
        </section>

      </div>
    </div>

    <a href="bill-runs" class="govuk-link">Return to bill runs</a>

  </div>
</div>



{% endblock %}
