{% extends "layout_wrls.html" %}

{% set title = "Change contact information" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body-l">

      </p>

      {{ govukWarningText({
        text: "Changing this information may create new charges",
        iconFallbackText: "Warning"
      }) }}

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          For the attention of
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text" value="Finance Department">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-1">
          Address line 1
        </label>
        <input class="govuk-input govuk-input--width-20" id="address-1" name="address-1" type="text" value="1 Hill House">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-2">
          Address line 2
        </label>
        <input class="govuk-input govuk-input--width-20" id="address-2" name="address-2" type="text" value="Abingdon-on-Thames">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-3">
          Address line 3
        </label>
        <input class="govuk-input govuk-input--width-20" id="address-3" name="address-3" type="text" value="">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="county">
          County
        </label>
        <input class="govuk-input govuk-input--width-10" id="county" name="county" type="text" value="Oxfordshire">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="post-code">
          Post Code
        </label>
        <input class="govuk-input govuk-input--width-5 govuk-!-margin-bottom-5" id="post-code" name="post-code" type="text" value="RE1 1TG">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="phone">
          Telephone
        </label>
        <input class="govuk-input govuk-input--width-10" id="phone" name="phone" type="text" value="08847546123">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Post Code
        </label>
        <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-5" id="email" name="email" type="text" value="daw.jevnic@irriwet.co.uk">
      </div>

      <a href="javascript:history.back()" class="wrls-faux-button">
        Save changes
      </a>

    </div>
  </div>

{% endblock %}
