.space__top--none {
  margin-top: 0;
  padding-top: 0;
}

.space--padding-right {
  margin-right: 15px;
}

.float-right {
  float: right;
}

.volume-input {
  margin-right: 15px;
}


.margin-left__15 {
  margin-left: 15px;
}

/* fix to caption margin-top */
.govuk-caption-l {
  margin-top: 0;
}



.center-align {
  text-align: center;
}

.no-border-bottom {
  border-bottom: none;
}
