body {
  color: $govuk-text-colour;
}

h1 a:link {
  color: $govuk-secondary-text-colour;
  font-weight: normal;
  text-decoration: none;
}

h1 a:link, h1 a:visited {
  color: $govuk-secondary-text-colour;
  font-weight: normal;
  text-decoration: none;
}

.sub-head {
  font-size: 30px;
  color: $govuk-secondary-text-colour;
  margin: 0;
  padding: 0;
}

// ========== ========== ========== ========== ==========
// licence search styles
// ========== ========== ========== ========== ==========

#search {
  // max-width: 41ex;
  margin-bottom: 1rem;
  width: 100%;
}

// ========== ========== ========== ========== ==========
// licence specific styles
// ========== ========== ========== ========== ==========

#main-contact {
  padding: 1rem;
  background-color: #f8f8f8;
  border: 1px solid #bfc1c3;
  background: #f8f8f8;
  padding: 25px;
  position: relative;
}

.entity {
  border-top: 1px solid #bfc1c3;
  padding-top: 3rem;
}

.entity:last-child {
  border-bottom: none;
}

.spinner {
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin-bottom: 2rem;
}

.spinner-text {
  text-align: center;
}
