

{% set rows = [] %}
{% set elementHeading = "" %}


{#loop through charge references#}
{% for chargeReference in chargeReferences%}

{% set chargeReferenceID = loop.index0 %}

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">


    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h3 class="govuk-summary-card__title"><span class="govuk-!-font-weight-regular">Charge reference {{chargeReference.chargeCategory.reference}}</span><br>{{chargeReference.chargeCategory.shortDescription | base64Decode}}</h3>
      </div>
      
      <div class="govuk-summary-card__content govuk-!-padding-top-0">

{% set rows = []%}
{% set rows = rows | push( {classes: "border-bottom",key: {text: "Total billable returns"},value: {text: chargeReference.totalBillableReturns + "ML / " +  chargeReference.authorisedVolume + "ML"} }  ) %}
{# charge reference adjustments, aggregates and additional charges #}
{% if chargeReference.aggregateFactor.length %}
{% set rows = rows | push( {key: {text: "Issue"},value: {text: "Aggregates" } }  ) %}
  {%if chargeReference.edited == true%}
  {% set rows = rows | push( {key: {text: "Aggregate factor"},value: {text: chargeReference.aggregateFactor + ' (edited)'}, actions: { items: [{href: "change-aggregate-factor?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "Change factor"}]}  }  ) %} 
  {% else %}
  {% set rows = rows | push( {key: {text: "Aggregate factor"},value: {text: chargeReference.aggregateFactor }, actions: { items: [{href: "change-aggregate-factor?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "Change factor"}]}  }  ) %} 
  {% endif %}
{% endif %}
{% if chargeReference.additionalCharges.length %}
{% set rows = rows | push( {key: {text: "Additional charges"},value: {text: chargeReference.additionalCharges | formatList | capitalize } }  ) %} 
{% endif %}
{% if chargeReference.adjustments.length %}
{% set rows = rows | push( {key: {text: "Adjustments"},value: {text: chargeReference.adjustments | formatList | capitalize } }  ) %} 
{% endif %}

{% if rows.length %}
<div class="govuk-!-margin-top-0">
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: rows
  }) }}
  </div>
{% endif %}



{#loop through elements in charge references#}
{% for chargeElement in chargeReference.chargeElements %}
{% if chargeElement.tpt == true %}
{% set rows = [] %}

{# setting issues from the element #}
{% set statusTag = "" %}
{% set status = "" %}
{% set issuesText = [] %}
{% for issue in chargeElement.issues %}
{% if issue.issue.length %}
{% set issuesText = issuesText|push(issue.issue ) %}
        {% if issuesText == "returns received late" %}
        {% set status = "Ready" %}
        {% set statusTag %}
        {{govukTag({
          text: "ready",
          classes: "govuk-tag--green"
        })}}
        {% endset %}
        {% else %}
        {% set status = "review" %}
        {% set statusTag %}
        {{govukTag({
          text: "Review",
          classes: "govuk-tag--blue"
        })}}
        {% endset %}
        {% endif %}
{% else %}
{% set status = "Ready" %}
{% set statusTag %}
{{govukTag({
  text: "ready",
  classes: "govuk-tag--green"
})}}
{% endset %}
{% endif %}



{% endfor %}

{# set the billable returns #}
{% set billableReturns = "" %}
{# if the returned quantity is equal or more than  set the billable to the full authorised #}

{% if chargeElement.allocatedQuantity >= chargeElement.authorisedAnnualQuantity %}
{% if chargeElement.edited == true %}
    {% set billableReturns = chargeElement.allocatedQuantity  + 'ML (edited) / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
  {% else %}
{% set billableReturns = chargeElement.authorisedAnnualQuantity  + 'ML / ' + chargeElement.authorisedAnnualQuantity + 'ML' %}
{% endif %}
{# if the allocated quantity is not set print the text #}
{% elseif chargeElement.allocatedQuantity == "not set" %}
{% set billableReturns = chargeElement.allocatedQuantity |capitalize  + ' / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
{% else %}
  {% if chargeElement.edited == true %}
    {% set billableReturns = chargeElement.allocatedQuantity  + 'ML (edited) / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
  {% else %}
    {% set billableReturns = chargeElement.allocatedQuantity  + 'ML / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
    {% endif %}
{% endif %}

{# set the element heading #}
{% set elementHeading %}
<span class="govuk-caption-s">Element {{loop.index}} of {{chargeReference.chargeElements.length}}<span class="float-right govuk-!-margin-left-9 govuk-!-margin-top-3">{{statusTag|safe}} </span></span>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1 ">{{chargeElement.purpose.description | default(chargeElement.purpose)}}, {{chargeElement.description}}<br> {{chargeElement.abstractionPeriod[0].startDate |govukDate}} to {{chargeElement.abstractionPeriod[0].endDate |govukDate  | nbsp |safe}} </h3>
{% endset %}
      
{#set the element rows in the summary list #}
{% set rows = rows | push( {key: {text: "Issue"},value: {text: issuesText | formatList | capitalize } }  ) %} 
{% set rows = rows | push( {key: {text: "Billable returns"},value: {text: billableReturns}, actions: {items: [{href: "element-review?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0 + "&billableReturns=" + billableReturns+ "&status=" + status,text: "View match details",visuallyHiddenText: "for element " + loop.index + " of " +chargeReference.chargeElements.length  + ", " + chargeElement.purpose + ", " + chargeElement.description}]} } ) %} 
{% set rows = rows | push( {key: {text: "Return volume"},value: {text: chargeElement.returns[0].returnsQuantity + 'ML (return ref ' + chargeElement.returns[0].returnRequirement + ')'} }  ) %} 

<div class="govuk-!-margin-top-6">
{{elementHeading |safe }}
{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: rows
}) }}
</div>

{% else %}
<p class="govuk-body govuk-!-font-weight-bold">Other elements for this charge reference are not marked as two-part tariff</p>
{% endif %}

{% endfor %}

       
      </div>
  </div>

</div>
</div>

{% endfor %}


