// ========== ========== ========== ========== ==========
// styles for new GDS navigation style
// ========== ========== ========== ========== ==========
// this probably needs more love for smaller screens

// subnav container
.navbar {
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 30px;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
  @media (min-width: 768px) {
    font-size: 19px;
    margin-top: 0;
  }
}

// subnav list
.navbar__item {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  @media (min-width: 768px) {
    margin-bottom: 0;
    display: inline-block;
    font-size: 19px;
  }
}

// active link for subnav
.navbar__link {
  margin-right: 15px;
  color: $govuk-text-colour !important;
  display: inline-block;
  text-decoration: none;
  padding: 15px 5px 10px 5px;
  padding: 10px 5px 5px 10px;
  font-size: 16px;
  @media (min-width: 768px) {
    padding: 15px 5px 10px 5px;
    font-size: 19px;
  }
}

.navbar__link--active {
  color: $govuk-link-colour !important;
  box-shadow: -5px 0 0 0 $govuk-link-colour;
  @media (min-width: 768px) {
    box-shadow: inset 0px -5px 0px 0px $govuk-link-colour;
  }
}
