// flexible tables, present well on mobiles
// also improved accessibly

.govuk-summary-list__key--light {
  font-weight: 400;
}

.govuk-summary-list__item--last {
  border: none;
}

.govuk-summary-list__divider {
  border-bottom: 2px solid #0b0c0c;
  padding-bottom: 32px;
}

.summary__divider {
  border-bottom: 2px solid #0b0c0c;
  flex: 1;
  width: 100%;
}

.govuk-checkboxes--inline {
  margin-top: 24px;
  // margin-bottom: 24px;
}

// makes summary list keys light on desktop to help improve readability
.govuk-summary-list__key {
  @include govuk-media-query($from: tablet) {
    font-weight: 400;
  }
}

.govuk-summary-list__row {
  line-height: 1.8rem;
}
//
// .govuk-summary-list__row--end dd, .govuk-summary-list__row--end dt {
//   @include govuk-media-query($from: tablet) {
//     border-bottom: 2px solid $govuk-text-colour;
//   }
// }
//
// .govuk-summary-list__row--end dt:last-child, .govuk-summary-list__row--end dd:last-child {
//   border-bottom: 2px solid $govuk-text-colour;
// }


@include govuk-media-query($from: tablet) {

  .govuk-summary-list__row--end dt, .govuk-summary-list__row--end dd {
    border-bottom: 2px solid $govuk-text-colour;
  }

}
// .govuk-summary-list__value {
//   line-height: 2rem;
// }



.moj-timeline {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

// temporary styles for MOJ timeline
.moj-timeline::before {
    background-color: #1d70b8;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 10px;
    width: 5px;
}

.moj-timeline__item {
    padding-bottom: 30px;
    padding-left: 20px;
    position: relative;
}

.moj-timeline__item::before {
    background-color: #1d70b8;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 15px;
}

.moj-timeline__title {
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: inline;
}

.moj-timeline__byline {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #6f777b;
    display: inline;
    margin: 0;
}

.moj-timeline__date {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

.divider {
  width: 100%;
  border-bottom: solid 2px #b1b4b6;
  color: #bfc1c3;
}
