// flexible tables, present well on mobiles
// also improved accessibly

.govuk-summary-list__key--light {
  font-weight: 400;
}

.govuk-summary-list__item--last {
  border: none;
}

.govuk-summary-list__divider {
  border-bottom: 2px solid #0b0c0c;
  padding-bottom: 32px;
}

.summary__divider {
  border-bottom: 2px solid #0b0c0c;
  flex: 1;
  width: 100%;
}

.govuk-checkboxes--inline {
  margin-top: 24px;
  // margin-bottom: 24px;
}

// makes summary list keys light on desktop to help improve readability
.govuk-summary-list__key {
  @include govuk-media-query($from: tablet) {
    font-weight: 400;
  }
}

.govuk-summary-list__row {
  line-height: 1.8rem;
}
//
// .govuk-summary-list__row--end dd, .govuk-summary-list__row--end dt {
//   @include govuk-media-query($from: tablet) {
//     border-bottom: 2px solid $govuk-text-colour;
//   }
// }
//
// .govuk-summary-list__row--end dt:last-child, .govuk-summary-list__row--end dd:last-child {
//   border-bottom: 2px solid $govuk-text-colour;
// }


@include govuk-media-query($from: tablet) {

  .govuk-summary-list__row--end dt, .govuk-summary-list__row--end dd {
    border-bottom: 2px solid $govuk-text-colour;
  }

}
// .govuk-summary-list__value {
//   line-height: 2rem;
// }
