// ========== ========== ========== ========== ==========
// styles for company switcher
// ========== ========== ========== ========== ==========

// subnav switcher
.govuk-switcher {
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
}

.change-link {
  float: right;
  // padding-left: 1rem;
}
