{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Water abstraction alert - " + [data.waaType] + " - Alert sent"%}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}
<!--no back button-->
{% endblock %}

<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukPanel({
      titleText: "Alert sent ",
      html: 'You sent a ' + data.waaType |lower + ' alert to<br><strong>' + data['notifications'][0]['numberOfrecipients'] + ' recipients </strong>'
    }) }}

    <p class="govuk-body govuk-!-font-weight-bold">  Go to Notices:
      <ul class="govuk-list govuk-list--bullet">
        <li>for a report of licences that have been sent an alert</li>
        <li>to check the alert status of a licence</li>
        </ul>
      <a class="govuk-link" href="../notification-report">
        Notices
      </a>
    </p>

    <p class="govuk-body">or</p>

    <p class="govuk-body"> <a class="govuk-link" href="../../station?stationID={{data['stationID']}}">Return to monitoring station</a></p>

  </div>
</div>







{% endblock %}
