{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Water abstraction alert - " + [data.waaType] + " - Notification sent"%}
<!--set question title-->
{% set qTitle = "<span class='govuk-caption-l'>" + [data.waaType] + "</span> Notification sent" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}
<!--no back button-->
{% endblock %}

<!--content block-->
{% block service %}

<!--set recipients variable-->
{% set recipients %}
{% include "sandbox/_includes/notices/recipients.html" %}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukPanel({
      titleText: "Notification sent ",
      html: 'You sent this notification to<br><strong>' + recipients + ' recipients </strong>'
    }) }}

  </div>
</div>







{% endblock %}
