{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "You're about to remove licence " + data.waterAbstractionAlert[data.listIndex].licenceNumber + " from the alert send list"%}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}



              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">


                  <!-- page title -->
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <h1 class="govuk-heading-l">
                        {{title | safe}}
                      </h1>
                    </div>
                  </div>



                  {{ govukInsetText({
                          text: "If you remove this licence, the contact will not get a water abstraction alert."
                        }) }}

                  <form method="post" novalidate>

    

                    <button type="submit" class="govuk-button">
                      Remove
                    </button>

                  </form>

                </div>
              </div>




    {% endblock %}
