{% extends "layout_wrls.html" %}

{% set title = "Scrifford Pike Licence summary" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/dashboard/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-dash-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike</h1>
    </div>
  </div>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Licence views
    </h2>

    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
          Summary
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#returns">
          Returns
        </a>
      </li>
    </ul>

    <!-- tab 1 -->
    <section class="govuk-tabs__panel" id="summary">

      <h2 class="govuk-heading-m">Summary</h2>

        <section class="govuk-!-margin-bottom-6">

          <!-- licence name -->
          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">Licence name</div>
            <!-- licence data -->
            <div class="data-row__value">
              Scrifford Pike
              <br><a href="licence-summary-rename">Rename this licence</a>
            </div>
          </div>

          <!-- licence holder -->
          <div class="data-row">
            <div class="data-row__param">Licence holder</div>
            <div class="data-row__value">
              Daniel Caan
              <br><a href="licence/contacts">View licence contact details</a>
            </div>
          </div>

          <!-- licence start -->
          <div class="data-row">
            <div class="data-row__param">Effective from</div>
            <div class="data-row__value">
              31 December 1983
            </div>
          </div>

          <!-- licence end -->
          <div class="data-row">
            <div class="data-row__param">End date</div>
            <div class="data-row__value">
              31 December 2025
            </div>
          </div>

          <!-- water body / source -->
          <div class="data-row">
            <div class="data-row__param">Source of supply</div>
            <div class="data-row__value">
              Underground strata comprising of Mercia Mudstone at Anarea, Atown.
            </div>
          </div>

          <!-- amounts -->
          <div class="data-row">
            <div class="data-row__param">Total abstraction amounts</div>
            <div class="data-row__value">
              900 cubic metres per hour
              <br>1,250 cubic metres per day
              <br>1,250,000 cubic metres per year
            </div>
          </div>

        </section>

        <section class="govuk-!-margin-bottom-6">

          <!-- purpose -->
          <h3 class="govuk-heading-s">
            <span class="screen-reader-only">
              Purpose:
            </span>
            Spray irrigation
          </h3>

          <!-- period -->
          <div class="data-row">
            <div class="data-row__param">Period of abstraction</div>
            <div class="data-row__value">
              March to September
            </div>
          </div>

          <!-- points -->
          <div class="data-row">
            <div class="data-row__param">Points of abstraction</div>
            <div class="data-row__value">
              At National Grid Reference SK 675 124
              <br>At National Grid Reference SK 675 343
              <br>At National Grid Reference SK 675 241
              <br><a href="licence/points">View details of abstraction points</a>
            </div>
          </div>

          <!-- conditions -->
          <div class="data-row">
            <div class="data-row__param">Abstraction conditions</div>
            <div class="data-row__value">
              Aggregate amount condition
              <br>Flow cessation condition
              <br>Chemical cessation condition
              <br><a href="licence/conditions">View details of abstraction conditions</a>
            </div>
          </div>

          <!-- amounts -->
          <div class="data-row">
            <div class="data-row__param">Abstraction amounts</div>
            <div class="data-row__value">
              900 cubic metres per hour
              <br>1,250 cubic metres per day
              <br>1,250,000 cubic metres per year
            </div>
          </div>

          <!-- tariff -->
          <!-- <div class="data-row">
            <div class="data-row__param">Tariff</div>
            <div class="data-row__value">
              Two-part tariff
            </div>
          </div> -->

        </section>

        <section class="govuk-!-margin-bottom-6">

          <!-- purpose -->
          <h3 class="govuk-heading-s">
            <span class="screen-reader-only">
              Purpose:
            </span>
            Trickle irrigation
          </h3>

          <!-- period -->
          <div class="data-row">
            <div class="data-row__param">Period of abstraction</div>
            <div class="data-row__value">
              March to September
            </div>
          </div>

          <!-- points -->
          <div class="data-row">
            <div class="data-row__param">Points of abstraction</div>
            <div class="data-row__value">
              At National Grid Reference SK 675 124
              <br><a href="licence/points">View details of abstraction points</a>
            </div>
          </div>

          <!-- conditions -->
          <div class="data-row">
            <div class="data-row__param">Abstraction conditions</div>
            <div class="data-row__value">
              Aggregate amount condition
              <br>Flow cessation condition
              <br><a href="licence/conditions">View details of abstraction conditions</a>
            </div>
          </div>

          <!-- amounts -->
          <div class="data-row">
            <div class="data-row__param">Abstraction amounts</div>
            <div class="data-row__value">
              900 cubic metres per hour
              <br>1,250 cubic metres per day
              <br>1,250,000 cubic metres per year
            </div>
          </div>

          <!-- tariff -->
          <!-- <div class="data-row">
            <div class="data-row__param">Tariff</div>
            <div class="data-row__value">
              Two-part tariff
            </div>
          </div> -->

        </section>


    </section>

    <!-- tab 2 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">
      <h2 class="govuk-heading-m">
        Returns
      </h2>

      <!-- table with returns with statuses -->
      <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--20">
            Return reference
          </div>
          <div class="table__cell bold-small column--40">
            Purpose
          </div>
          <div class="table__cell bold-small column--25">
            Due
          </div>
          <div class="table__cell bold-small column--15">
            Status
          </div>
        </div>

        <!-- table row -->
        <a href="return/return-status" class="table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <span class="screen-reader-only">View return status for this return</span>
            <h3 class="table__context">
              Return reference
            </h3>
            <!-- <span class="screen-reader-only">View return status for return reference</span> -->
            <span class="table__link">
              21765264
            </span>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              Due
            </strong>
          </div>
        </a>

        <!-- table row -->
        <a href="return/return-report" class="table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <span class="screen-reader-only">View return status for this return</span>
            <h3 class="table__context">
              Return reference
            </h3>
            <!-- <span class="screen-reader-only">View return status for return reference</span> -->
            <span class="table__link">
              01726352
            </span>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </a>

        <!-- table row -->
        <a href="return/return-report" class="table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <span class="screen-reader-only">View return status for this return</span>
            <h3 class="table__context">
              Return reference
            </h3>
            <!-- <span class="screen-reader-only">View return status for return reference</span> -->
            <span class="table__link">
              01725524
            </span>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </a>

        <!-- table row -->
        <a href="return/return-report" class="table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <span class="screen-reader-only">View return status for this return</span>
            <h3 class="table__context">
              Return reference
            </h3>
            <!-- <span class="screen-reader-only">View return status for return reference</span> -->
            <span class="table__link">
              15263645
            </span>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2016
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </a>

        <!-- table row -->
        <a href="return/return-report" class="table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <span class="screen-reader-only">View return status for this return</span>
            <h3 class="table__context">
              Return reference
            </h3>
            <!-- <span class="screen-reader-only">View return status for return reference</span> -->
            <span class="table__link">
              83655562
            </span>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2015
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </a>

        <!-- table row -->
        <a href="return/return-report" class="table__row--selectable govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <span class="screen-reader-only">View return status for this return</span>
            <h3 class="table__context">
              Return reference
            </h3>
            <!-- <span class="screen-reader-only">View return status for return reference</span> -->
            <span class="table__link">
              12635462
            </span>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2014
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </a>


      </div>

    </section>

  </div>


{% endblock %}
