{% extends "layout_wrls.html" %}

{% set title = "Sending returns in bulk" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/dashboard/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-dash-returns.html" %}
  </div>

    <!-- {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }} -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sending returns in bulk
    </h1>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/public/return-templates.zip">Download your returns templates and instructions, 0.88MB</a></li>
      <li>Add your returns data to the templates</li>
      <li>Export your returns as CSV files</li>
      <li>Upload the files</li>
    </ol>

    <a href="upload-bulk-files" class="wrls-faux-button">Continue</a>

  </div>
</div>

{% endblock %}
