{% extends "layout_wrls.html" %}

{% set title = "Further conditions" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-8">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ar-edit.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Choose a further condition to add
      </h1>
    </div>
  </div>

  <form>

    <!-- conditions divider, where appropriate -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2  class="heading-large govuk-heading-m">
          Aggregated amounts between licences
        </h2>
      </div>
    </div>

    <!-- condition options -->
    <div class="govuk-!-margin-bottom-8">

      <div class="data-row data-row--radio no-top-border">
        <!-- the data label -->
        <div class="data-row__param">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="condition-1" name="conditions" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="condition-1">
                24.1
              </label>
            </div>
          </div>
        </div>
        <!-- condition text -->
        <div class="data-row__value">
          <div class="data-row__sub-list">
            <!-- aggregated licence condition text -->
            {% include "current/includes/bd/charges/aggregated-licence-condition.html" %}
          </div>
        </div>
      </div>

      <div class="data-row data-row--radio data-row__last no-top-border">
        <!-- the data label -->
        <div class="data-row__param">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="condition-1" name="conditions" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="condition-1">
                24.2
              </label>
            </div>
          </div>
        </div>
        <!-- condition text -->
        <div class="data-row__value">
          <div class="data-row__sub-list">
            <p>
              The maximum abstraction amount for this purpose and any linked purposes within this licence should not exceed <span class="govuk-body govuk-!-font-weight-bold">[maximum aggregated amount per day]</span>, <span class="govuk-body govuk-!-font-weight-bold">[maximum aggregated amount per week]</span> or <span class="govuk-body govuk-!-font-weight-bold">[maximum aggregated amount per month]</span>.
            </p>
          </div>
        </div>
      </div>

    </div>

    <a href="add-aggregate-values" class="govuk-button">
      Continue
    </a>

  </form>

{% endblock %}
