{% extends "layout_wrls.html" %}

{% set title = "Which kind of account holder are you?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<!-- phase banner -->
{% include "current/includes/feedback-banner.html" %}

<!-- navigation block -->
<div class="govuk-!-margin-bottom-3">
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form data-routing="1">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset govuk-!-margin-bottom-3" aria-describedby="upload-options">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which kind of account holder are you?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="licence-holder" name="account-type" type="radio" value="add-licences" aria-describedby="licence-holder">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="licence-holder">
                Licence holder
              </label> <span id="licence-holder-hint" class="govuk-hint govuk-radios__hint">
                Select if you own an abstraction licence
              </span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agent" name="account-type" type="radio" value="../register-agent/add-licences" aria-describedby="agent">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="agent">
                Acting on behalf of a licence holder
              </label> <span id="agent-hint" class="govuk-hint govuk-radios__hint">
                Select if you are managing abstraction licences for the licence holders
              </span>
            </div>

          </div>

        </fieldset>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </div>

    </form>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
