{% extends "layout_wrls.html" %}

{% set title = "Which licences do you want to add?" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Add or claim a licence
      </h1>

      

      {{ govukWarningText({
        text: "You should be the named licence holder to add or claim a licence.",
        iconFallbackText: "Warning"
      }) }}

      <!-- <div class="govuk-inset-text">
        You should be the named licence holder to claim licences.
      </div> -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Licence number
        </label>
        <ul class="govuk-list govuk-list--bullet">
          <span id="more-detail-hint" class="govuk-hint">
            <li>you can enter more than one licence number.</li>
            <li>separate each full licence number with a space, comma or new line.</li>
          </span>
        </ul>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <a href="send-code" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
