{% extends "layouts/_manage.html" %}

{% set title = "Do you want to make this licences information confidential or public?" %}
{% set qTitle =  '<h1 class="govuk-heading-l"><span class="govuk-caption-l">Licence ' + data.licences[data.ID].number + '</span>' + title + '</h1>' %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


<!--content block-->
{% block service %}


<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

      <form method="post" class="form">

      {{ govukRadios({
        idPrefix: "confidentiality",
        name: "confidentiality",
        fieldset: {
          legend: {
            text: qTitle |safe,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "confidential",
            text: "Confidential",
            checked: data.licences[data.ID].confidentiality | match("confidential")
          },
          {
            value: "public",
            text: "Public",
            checked: data.licences[data.ID].confidentiality | match("public")
          }
        ]
      }) }}

      {{ govukButton({
          text: "Confirm",
  preventDoubleClick: true,
  type: "submit"
        }) }}

    </form>

  </div>
</div>






{% endblock %}
