
<!--{% set elements = [data.elements.element1, data.elements.element2, data.elements.element3] %}



{% set elements = [data.elements[0],data.elements[1],data.elements[2]] %} -->

{% set elementNumber = "" %}

{% set scenario = data['scenario']%}

{% if scenario == "b" %}
{% set elements = data['srocElements'] %}
{% else %}
{% set elements = [data.srocElements[0]] %}
{% endif %}



{% set numberOfElements = elements.length %}




      <section class="govuk-!-margin-bottom-7">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">


          {% if data['chargeAssigned'].length %}
           {% set chargeReference = data['chargeReferences'] %}


           <h2 class="govuk-heading-l govuk-!-margin-bottom-4" ><span class="govuk-caption-l">Charge reference {{chargeReference[0].chargeRefNumber}}</span>{{chargeReference[0].chargeDescription | capitalize }} </h2>

        <!--Action links not needed   <p class="govuk-body"><a class="govuk-link govuk-!-margin-right-3" href="#">Add an aggregate factor</a> <span class="govuk-!-margin-right-3">|</span> <a class="govuk-link govuk-!-margin-right-3" href="#">Add a supported source charge</a><span class="govuk-!-margin-right-3">|</span> <a class="govuk-link govuk-!-margin-right-3" href="#">Add a public water supply charge</a></p>-->

           <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">


          <h2 class="govuk-heading-m govuk-!-margin-bottom-3" >Charge reference details</h2>
           {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-2',
         rows: [
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Applies to"
           },
           value: {
             text: chargeReference[0].appliesTo | dump  | stripQuotes  | stripSqBrackets | replaceComma | striptags(true) | escape  | nl2br
           },
           actions: {
             items: [
               {
                 href: "charge-reference/which-elements?elementNew=false&change=true&elementNumber=" + elementNumber,
                 text: "Change",
                 visuallyHiddenText: "Description"
               }
             ]
           } if data['scenario'] == "b"
         },
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Description"
           },
           value: {
             text: chargeReference[0].lineDescription |capitalize
           },
           actions: {
             items: [
               {
                 href: "charge-reference/enter-description?elementNew=false&change=true&elementNumber=" + elementNumber,
                 text: "Change",
                 visuallyHiddenText: "Description"
               }
             ]
           }
         },
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Source"
           },
           value: {
             text: chargeReference[0].chargeSource |capitalize
           },
           actions: {
             items: [
               {
                 href: "charge-reference/select-source?elementNew=false&change=true&elementNumber=" + elementNumber,
                 text: "Change",
                 visuallyHiddenText: "Source"
               }
             ]
           }
         },
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Loss"
           },
           value: {
             text: chargeReference[0].chargeLoss |capitalize
           },
           actions: {
             items: [
               {
                 href: "charge-reference/select-loss?elementNew=false&change=true&elementNumber=" + elementNumber,
                 text: "Change",
                 visuallyHiddenText: "Loss"
               }
             ]
           }
         },
           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Quantity"
             },
             value: {
               text: chargeReference[0].chargeQuantity + "ML"
             },
             actions: {
               items: [
                 {
                   href: "charge-reference/enter-quantity?elementNew=false&change=true&elementNumber=" + elementNumber,
                   text: "Change",
                   visuallyHiddenText: "Quantity"
                 }
               ]
             }
           },

           {
             classes: 'govuk-summary-list__row--no-border',
              key: {
                text: "Water availability"
              },
              value: {
                text: chargeReference[0].chargeWaterAvailability |capitalize
              },
              actions: {
                items: [
                  {
                    href: "charge-reference/water-availability?elementNew=false&change=true&elementNumber=" + elementNumber,
                    text: "Change",
                    visuallyHiddenText: "Water availability"
                  }
                ]
              }
            },


           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Water model"
             },
             value: {
               text: chargeReference[0].chargeWaterRestrictions |capitalize
             },
             actions: {
               items: [
                 {
                   href: "charge-reference/water-restrictions?elementNew=false&change=true&elementNumber=" + elementNumber,
                   text: "Change",
                   visuallyHiddenText: "Water model"
                 }
               ]
             }
           },
           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Additional charges apply"
             },
             value: {
               text: chargeReference[0].addCharges |capitalize
             },
             actions: {
               items: [
                 {
                   href: "charge-reference/additional-charges?elementNew=false&change=true&elementNumber=" + elementNumber,
                   text: "Change",
                   visuallyHiddenText: "if additional charges apply"
                 }
               ]
             }
           },
           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Adjustments apply"
             },
             value: {
               text: chargeReference[0].adjustmentsApply |capitalize
             },
             actions: {
               items: [
                 {
                   href: "charge-reference/do-adjustments-apply?elementNew=false&change=true&elementNumber=" + elementNumber,
                   text: "Change",
                   visuallyHiddenText: "if adjustments apply apply"
                 }
               ]
             }
           },
           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "EIUC Region"
             },
             value: {
               text: chargeReference[0].eiucRegion |capitalize
             }
           }


         ]
       }) }}


      {% if chargeReference[0].addCharges == "yes" %}
       <hr class="govuk-section-break  govuk-!-margin-bottom-6">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3" >Additional Charges</h2>

       {{ govukSummaryList({
       classes: 'govuk-!-margin-bottom-2',
     rows: [
     {
       classes: 'govuk-summary-list__row--no-border',
       key: {
         text: "Supported source"
       },
       value: {
         text: chargeReference[0].supSourceCharge |capitalize
       },
       actions: {
         items: [
           {
             href: "charge-reference/supported-source?elementNew=false&change=true&elementNumber=" + elementNumber,
             text: "Change",
             visuallyHiddenText: "Supported source"
           }
         ]
       }
     },

     {
       classes: 'govuk-summary-list__row--no-border',
       key: {
         text: "Supported source name"
       },
       value: {
         text: chargeReference[0].supSourceName |capitalize
       },
       actions: {
         items: [
           {
             href: "charge-reference/supported-source-name?elementNew=false&change=true&elementNumber=" + elementNumber,
             text: "Change",
             visuallyHiddenText: "Supported source name"
           }
         ]
       }
     } if chargeReference[0].supSourceCharge == "yes",

     {
       classes: 'govuk-summary-list__row--no-border',
       key: {
         text: "Supply public water"
       },
       value: {
         text: chargeReference[0].supPublicWater |capitalize
       },
       actions: {
         items: [
           {
             href: "charge-reference/supply-public-water?elementNew=false&change=true&elementNumber=" + elementNumber,
             text: "Change",
             visuallyHiddenText: "Supply public water"
           }
         ]
       }
     }

     ]
   }) }}
   {# end of additional charges if #}
   {% endif %}



   {% if chargeReference[0].adjustmentsApply == "yes" %}
   <hr class="govuk-section-break  govuk-!-margin-bottom-6">
   <h2 class="govuk-heading-m govuk-!-margin-bottom-3" >Adjustments</h2>

   {{ govukSummaryList({
   classes: 'govuk-!-margin-bottom-2',
 rows: [

 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Adjustment reason"
   },
   value: {
     text: chargeReference[0].adjustmentReason |capitalize
   },
   actions: {
     items: [
       {
         href: "charge-reference/adjustment-reason?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "Adjustment reason"
       }
     ]
   }
 },

 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Aggregate factor"
   },
   value: {
     text: chargeReference[0].aggregateFactor
   },
   actions: {
     items: [
       {
         href: "charge-reference/which-adjustments?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "Aggregate factor"
       }
     ]
   }
 } if chargeReference[0].adjustments.includes("aggregate"),

 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Adjustment factor"
   },
   value: {
     text: chargeReference[0].chargeAdjustmentFactor
   },
   actions: {
     items: [
       {
         href: "charge-reference/which-adjustments?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "Adjustment factor"
       }
     ]
   }
 } if chargeReference[0].adjustments.includes("charge adjustment"),

 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Winter discount"
   },
   value: {
     text: "Yes"
   },
   actions: {
     items: [
       {
         href: "charge-reference/which-adjustments?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "Winter discount"
       }
     ]
   }
 } if chargeReference[0].adjustments.includes("winter discount"),
 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Two-part tariff agreement applies"
   },
   value: {
     text: "Yes"
   },
   actions: {
     items: [
       {
         href: "charge-reference/which-adjustments?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "if Two-part tariff agreement applies"
       }
     ]
   }
 } if chargeReference[0].adjustments.includes("two part tariff agreement applies"),

 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Abatement agreement applies"
   },
   value: {
     text: "Yes"
   },
   actions: {
     items: [
       {
         href: "charge-reference/which-adjustments?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "if Abatement agreement applies"
       }
     ]
   }
 } if chargeReference[0].adjustments.includes("abatement agreement applies"),

 {
   classes: 'govuk-summary-list__row--no-border',
   key: {
     text: "Canal and river trust agreement applies"
   },
   value: {
     text: "Yes"
   },
   actions: {
     items: [
       {
         href: "charge-reference/which-adjustments?elementNew=false&change=true&elementNumber=" + elementNumber,
         text: "Change",
         visuallyHiddenText: "if Canal and river trust agreement applies"
       }
     ]
   }
 } if chargeReference[0].adjustments.includes("canal and river trust agreement applies")

 ]
}) }}

{# end of adjustments if #}
{% endif %}

          <hr class="govuk-section-break  govuk-!-margin-bottom-6">
          {# end of charge cagetgory if #}
          {% endif %}

           {#if statement setting whether the elements have been asssigned and whether it is scenario a or b#}
          {% if data['chargeAssigned'].length %}
          {% set srocElementsAssigned = chargeReference[0].srocElementsAssigned %}
          {% else %}
          {% if scenario == "b" %}
          {% set srocElementsAssigned = [0,1] %}
          {% else %}
          {% set srocElementsAssigned = [0] %}
          {% endif %}
          {% endif %}

          {% for i in srocElementsAssigned %}
          <!--formating for the abstraction period dates-->
                {% set monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
                {% set monthNumber = [elements[srocElementsAssigned[i]].abstractionStartMonth] %}
                {% set monthNumberEnd = [elements[srocElementsAssigned[i]].abstractionEndMonth] %}

                {% set month = monthNames[monthNumber - 1] %}
                {% set monthEnd = monthNames[monthNumberEnd - 1] %}

                {% set abstractionStart = [elements[srocElementsAssigned[i]].abstractionStartDay] + " " + month %}
                {% set abstractionEnd = [elements[srocElementsAssigned[i]].abstractionEndDay] + " " + monthEnd %}



               {% set elementNumber = loop.index0 %}


               <!--set billable quanity if needed-->
               {% if [elements[srocElementsAssigned[i]].billableQuantityNeeded] == "yes" %}
               {% set billableQuantity = [elements[srocElementsAssigned[i]].billableQuantity] + " megalitres per year" %}
               {% else %}
               {% set billableQuantity = "Not set" %}
               {% endif %}

               <!--set time limit if needed-->
               {% if [elements[srocElementsAssigned[i]].timeLimit] == "yes" %}
               {% set monthNumbertimeLimit = [elements[srocElementsAssigned[i]].timeLimitMonth] %}
               {% set monthtimeLimit = monthNames[monthNumbertimeLimit - 1] %}
               {% set timeLimit = [elements[srocElementsAssigned[i]].timeLimitStartDay] + " " + [elements[srocElementsAssigned[i]].timeLimitStartDay] | toMonth + " " + [elements[srocElementsAssigned[i]].timeLimitStartYear] + " to " + [elements[srocElementsAssigned[i]].timeLimitDay] + " " + monthtimeLimit + " " + [elements[srocElementsAssigned[i]].timeLimitYear]%}
               {% else %}
               {% set timeLimit = "No" %}
               {% endif %}


               <h2 class="govuk-heading-m" id="element{{[loop.index]}}"><span class="govuk-caption-m">Charge element {{[loop.index]}}</span>{{[elements[srocElementsAssigned[i]].purpose]}}, {{[elements[srocElementsAssigned[i]].description]}}</h2>

                {{ govukSummaryList({
                  classes: 'govuk-!-margin-bottom-2',
                rows: [

                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Purpose"
                    },
                    value: {
                      text: [elements[srocElementsAssigned[i]].purpose]
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-element-purpose?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Purpose"
                        }
                      ]
                    }
                  },

                  {
                    classes: 'govuk-summary-list__row--no-border',
                     key: {
                       text: "Description"
                     },
                     value: {
                       text: [elements[srocElementsAssigned[i]].description]
                     },
                     actions: {
                       items: [
                         {
                           href: "/bd/charges-2020/add-element-description?elementNew=false&change=true&elementNumber=" + elementNumber,
                           text: "Change",
                           visuallyHiddenText: "Description"
                         }
                       ]
                     }
                   },


                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Abstraction period"
                    },
                    value: {
                      text: [abstractionStart] + " to " + [abstractionEnd]
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-abstraction-period?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Abstraction period"
                        }
                      ]
                    }
                  },
                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Annual quantities"
                    },
                    value: {
                      html: [elements[srocElementsAssigned[i]].authorisedQuantity] + "ML authorised<br>Billable not set"
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-authorised-quantity?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Authorised quantity"
                        }
                      ]
                    }
                  },
                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Time limit"
                    },
                    value: {
                      text: [timeLimit]
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-time-limit?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Time limit"
                        }
                      ]
                    }
                  },


                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Source"
                    },
                    value: {
                      text: [elements[srocElementsAssigned[i]].source]
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-source?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Source"
                        }
                      ]
                    }
                  },
                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Season"
                    },
                    value: {
                      text: [elements[srocElementsAssigned[i]].season]
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-season?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Season"
                        }
                      ]
                    }
                  },
                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Loss"
                    },
                    value: {
                      text: [elements[srocElementsAssigned[i]].loss]
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/add-loss?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Loss"
                        }
                      ]
                    }
                  },

                  {
                    classes: 'govuk-summary-list__row--no-border',
                    key: {
                      text: "Agreements apply"
                    },
                    value: {
                      text: elements[srocElementsAssigned[i]].agreementsApply | capitalize
                    },
                    actions: {
                      items: [
                        {
                          href: "/bd/charges-2020/agreements-apply?elementNew=false&change=true&elementNumber=" + elementNumber,
                          text: "Change",
                          visuallyHiddenText: "Time limit"
                        }
                      ]
                    }
                  } if elements[srocElementsAssigned[i]].agreementsApply.length ,
                  {
                    classes: 'govuk-summary-list__row--no-border ',
                    key: {
                      classes: "govuk-!-padding-bottom-6",
                      text: "Environmental Improvement Unit Charge"
                    },
                    value: {
                      text: "Other"
                    }
                  }


                ]
              }) }}

              {% if (data['chargeAssigned'].length) and (loop.last) %}
                <hr class="govuk-section-break  govuk-!-margin-bottom-9 govuk-section-break--visible">
              {% elseif (data['chargeAssigned'].length) %}
              {% else %}
              <hr class="govuk-section-break  govuk-!-margin-bottom-9 govuk-section-break--visible">
              {% endif %}



                {% endfor %}



              <span class=" govuk-body  govuk-!-font-size-19">



                {{ govukButton({
                text: "Add another element",
                classes: "govuk-button--secondary govuk-!-margin-right-6",
                href: "/bd/charges-2020/add-element-purpose?elementNew=true&elementNumber=" + numberOfElements
                }) }}


              {% if numberOfElements > 1 %}
                {{ govukButton({
                text: "Remove element",
                classes: "govuk-button--secondary govuk-!-margin-right-6",
                href: "/bd/charges-2020/charge-version/confirm-remove-element?removeElement=true&elementNumber=" + elementNumber
                }) }}


              <hr class="govuk-section-break  govuk-!-margin-bottom-6">
              {% if data['chargeAssigned'].length %}
              {% else %}

              {{ govukButton({
              text: "Assign a charge reference",
              classes: "govuk-button   govuk-!-margin-right-3",
              href: "/bd/iterations/sroc/create-charge-information/charge-reference/which-elements?elementNumber=" + elementNumber
              }) }}
                {% endif %}

             {% else %}

             <hr class="govuk-section-break  govuk-!-margin-bottom-6">
             {% if data['chargeAssigned'].length %}
             {% else %}
             {{ govukButton({
             text: "Assign a charge reference",
             classes: "govuk-button   govuk-!-margin-right-3",
             href: "/bd/iterations/sroc/create-charge-information/charge-reference/enter-description?elementNumber=" + elementNumber
             }) }}
             {% endif %}

             {% endif %}




      </div>
      </div>
      </section>
