<div class="govuk-!-margin-bottom-8">
  <details>
    <summary><span class="summary">Is your licence information correct?</span></summary>

    <div class="panel panel-border-narrow">
      <p>To help us improve our new service, please let us know if you find any errors in the licence information we are showing you. You can contact us by:</p>

      <p><a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>

      <p>Telephone: <a href="tel:+03708506506">03708 506 506</a></p>

      <p>Telephone from outside the UK: <a href="tel:+441142825312">+44 (0) 114 282 5312</a></p>

      <p>Minicom (for the hard of hearing): <a href="tel:+441142825312">+44 (0) 114 282 5312</a></p>

      <p>Lines are open Monday to Friday, 8am to 6pm (GMT).</p>
    </div>
  </details>
