<div class="govuk-!-margin-bottom-3">
  <dl>
    <dt class="meta-label">
      Purpose
    </dt>
    <dd class="meta-description">
      {{ pData.Purpose1 }}
    </dd>
    <dt class="meta-label">
      Site description
    </dt>
    <dd class="meta-description">
      Great Ouse at Bedford College (Heat pump - cooling only)
    </dd>
    <dt class="meta-label">
      Return period
    </dt>
    <dd class="meta-description">
      3 April 2018 to 31 March 2019
    </dd>
    <dt class="meta-label">
      Abstraction period
    </dt>
    <dd class="meta-description">
      3 April 2018 to 31 September 2018
    </dd>
  </dl>
</div>
