{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Licence 03/28/60/0032 contacts" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ex-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike contacts</h1>

    </div>
  </div>

  <!-- licence contact group -->
  <div class="govuk-!-margin-bottom-8" id="main-contact">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
           Registered licence holder
        </h2>
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Name
      </div>
      <div class="data-row__value">
        Daniel Caan
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Address
      </div>
      <div class="data-row__value">
        1 Hill House<br>
        Abingdon-on-Thames<br>
        Oxfordshire<br>
        RE1 1TG
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Telephone
      </div>
      <div class="data-row__value">
        08847546123
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row data-row__last">
      <!-- the data label -->
      <div class="data-row__param">
        Email
      </div>
      <div class="data-row__value">
        thebigjc@irriwet.co.uk
      </div>
    </div>

  </div>

  <div class="govuk-!-margin-bottom-8">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
           Returns contact
        </h2>
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Name
      </div>
      <div class="data-row__value">
          John Shepherd
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Address
      </div>
      <div class="data-row__value">
        16 Primus Road<br>
        Abingdon Forest<br>
        Oxfordshire<br>
        RE6 0FG
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">
        Telephone
      </div>
      <div class="data-row__value">
        01245651245
      </div>
    </div>

    <!-- licence data -->
    <div class="data-row data-row__last">
      <!-- the data label -->
      <div class="data-row__param">
        Email
      </div>
      <div class="data-row__value">
        j.shepherd@irriwet.co.uk
      </div>
    </div>

  </div>

{% endblock %}
