{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Gauging station for {{pData.LicenceSerialNo}}" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ex-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">At National Grid Reference SX 152364</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Data from Backley Weir</h1>
      <p class="govuk-body">
        Source of supply: Inland water lake known as Featherall Lake at SJ3185632865
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      {{ govukWarningText({
        text: "This data is for reference only. You should continue to use your current monitoring methods to make abstraction decisions.",
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>


  <!-- licence condition title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="heading-large govuk-heading-m licence-condition__header govuk-!-margin-bottom-0"">
        Mean daily flow
      </h2>
      {% from "select/ govukSelect %}
        {{ govukSelect({
          id: "mean-daily-flow",
          name: "sort",
          items: [
            {
              value: "cubic-metres-per-second",
              text: "Cubic metres per second",
              selected: true
            },
            {
              value: "cubic-metres-per-day",
              text: "Cubic metres per day"

            },
            {
              value: "megalitres-per-second",
              text: "Megalitres per day"
            }
          ]
        }) }}
    </div>
  </div>


  <div class="govuk-grid-row medium-space">
    <!-- data here -->
    <div class="govuk-grid-column-two-thirds small-space">
      <span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
        0.75m³/s
      </span>
    </div>

    <div class="govuk-grid-column-two-thirds small-space">
      <p class="govuk-body">
        Daily mean flow recorded at <span class="govuk-body govuk-!-font-weight-bold">7:00am on Friday 4 May 2018</span>
      </p>
      {% from "inset-text/ govukInsetText %}
        {{ govukInsetText({
          text: "Please convert this reading if your condition is based on a different unit of measurement."
        })
      }}

      <p class="govuk-body">
        <a href="#">
          See level data at this gauging station
        </a>
      </p>

      <h2 class="heading-large govuk-heading-m licence-condition__header govuk-!-margin-bottom-3"">
        Recent flow data from this gauging station
      </h2>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <a href="gauging-station-graph" class="river-flow-graph">
        <div class="container">
          <img src="/public/images/river-flow-preview.svg" alt="River flow at the gauging station for the past 7 days" width="100%" />
        </div>
      </a>

    </div>
  </div>

  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <a href="gauging-station-graph" class="river-flow-graph">
        <div class="container">
          <img src="/assets/images/river-flow-preview.svg" alt="River flow at the gauging station for the past 7 days" width="100%" />
        </div>
      </a>

    </div>
  </div> -->

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <!-- data here -->
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        <a href="gauging-station-graph">
          View data for the past 7 days
        </a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="heading-large govuk-heading-m licence-condition__header">
        Details of the hands off flow conditions
      </h2>
    </div>
  </div>

  <h3 class="govuk-body-l">
     Cessation condition
  </h3>

  <div class="govuk-inset-text">

    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Purpose</div>
      <div class="data-row__value">
        Make-up or top up water
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Gauging station</div>
      <div class="data-row__value">
        At National Grid Reference SX 426725<br>
        Backley Weir
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Threshold level</div>
      <div class="data-row__value">
        18m3/s
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Other information</div>
      <div class="data-row__value">
        No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at Backley Weir (SX 426725) is at or below 18m3/s.
      </div>
    </div>

  </div>

{% endblock %}
