<!-- more simple version of search -->
<!-- licence search component -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="form-group form-group--horizontal">
      <label class="form-label form-label--bold" for="emailAddress">Search for a licence</label>

      <!-- <span class="form-hint">Search by name, email address or keyword</span> -->
      <span class="form-hint">Search by registered email address or licence number</span>

      <div class="flexy">
        <input type="text" class="form-control form-control--block column-two-thirds" />
        <div class="column-one-third search-button">
          <input id="searchButton" class="button button button-license-search" type="submit" value="Search">
        </div>
      </div>

    </div>
  </div>
</div>
