<!-- summary table -->
<div class="govuk-!-margin-bottom-3">
  <dl>
    <dt class="meta-label">
      Licences
    </dt>
    <dd class="meta-description">
      355
    </dd>
    <dt class="meta-label">
      Monthly
    </dt>
    <dd class="meta-description">
      347
    </dd>
    <dt class="meta-label">
      Weekly
    </dt>
    <dd class="meta-description">
      114
    </dd>
    <dt class="meta-label">
      Daily
    </dt>
    <dd class="meta-description">
      59
    </dd>
    <br>
    <br>
    <dt class="meta-label">
      Overabstracted
    </dt>
    <dd class="meta-description">
      1
    </dd>
    <dt class="meta-label">
      Compliance issues
    </dt>
    <dd class="meta-description">
      2
    </dd>
  </dl>
</div>




<!-- table with five columns -->
<!-- <div class="table">

  <div class="table__row table-head">
    <div class="table__row__cell bold-small column-20 numbers">
      Monthlies
    </div>
    <div class="table__row__cell bold-small column-20 numbers">
      Weeklies
    </div>
    <div class="table__row__cell bold-small column-20 numbers">
      Dailies
    </div>
    <div class="table__row__cell bold-small column-20 numbers">
      Overabstracted
    </div>
    <div class="table__row__cell bold-small column-20 numbers">
      Compliance issues
    </div>
  </div>

  <div class="table__row last-row">
    <div class="table__row__cell numbers">
      <h3 class="screen-reader-only">
        Row 1
      </h3>
      <h4 class="table__row__cell__context">
        Monthlies
      </h4>
      347
    </div>
    <div class="table__row__cell numbers">
      <h4 class="table__row__cell__context">
        Weeklies
      </h4>
      114
    </div>
    <div class="table__row__cell numbers">
      <h4 class="table__row__cell__context">
        Dailies
      </h4>
      59
    </div>
    <div class="table__row__cell numbers">
      <h4 class="table__row__cell__context">
        Overabstracted
      </h4>
      3
    </div>
    <div class="table__row__cell numbers">
      <h4 class="table__row__cell__context">
        Compliance issues
      </h4>
      7
    </div>
  </div>

</div> -->
