<div class="grid-row govuk-!-margin-bottom-8">
  <div class="column-two-thirds versions">

    <h3 class="heading-medium">
      Versions
    </h3>

    <p class="version">
      Current<br>
      <a href="online-licence?wid=1">
        Effective since 22 September 2017
      </a>
    </p>

    <div class="panel panel-border-wide version this-version">
      <span class="screen-reader-only">This version</span>

      <a href="online-licence-version?wid=1">
        19 September 2016 to 22 September 2017
      </a>
    </div>

    <p class="version">
      <a href="online-licence-version?wid=1">
        12 April 2016 to 19 September 2016
      </a>
    </p>
    <p class="version">
      <a href="online-licence-version?wid=1">
        06 March 2015 to 12 April 2016
      </a>
    </p>
  </div>
</div>
