
{% extends "layout_wrls.html" %}

{% set title = "View licences" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-eo-view.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        View licences
      </h1>
    </div>
  </div>

  <!-- search for licences -->
  <form action="licences-list">
    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Search for a licence
        </label>
        <span id="search-hint" class="govuk-hint">
          Search by registered email address, licence number or licence name
        </span>
        <input class="govuk-input govuk-input--width-20 govuk-!-display-inline-block" id="search" name="search" type="text" aria-describedby="search-hint">
        <button type="submit" class="govuk-button inline-button">
          Search
        </button>
      </div>

    </fieldset>
  </form>

  <!-- table with four columns -->
  <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell bold-small column-33">
        Licence number
      </div>
      <div class="table__cell bold-small">
        Licence name
      </div>
      <div class="table__cell bold-small column-20">
        End date
      </div>
    </div>

    <!-- table row -->
    <a href="licence-summary?wid=31" class="table__row govuk-!-margin-bottom-6">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 1
        </h2>
        <span class="screen-reader-only">See licence 03/28/60/0031</span>
        <h3 class="table__context">
          Licence serial number
        </h3>
        <span class="table__link">
          03/28/60/0031
        </span>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <p class="table__row--text">
          <!-- no text -->
        </p>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        <p class="table__row--text">
          30 April 2021
        </p>
      </div>
    </a>

    <!-- table row -->
    <a href="licence-summary?wid=32" class="table__row govuk-!-margin-bottom-6">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 2
        </h2>
        <span class="screen-reader-only">See Scrifford Pike licence, 03/28/60/0032</span>
        <h3 class="table__context">
          Licence serial number
        </h3>
        <span class="table__link">
          03/28/60/0032
        </span>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <p class="table__row--text">
          Scrifford Pike
        </p>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        <p class="table__row--text">
          30 April 2021
        </p>
      </div>
    </a>

    <!-- table row -->
    <a href="licence-summary?wid=33" class="table__row govuk-!-margin-bottom-6">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 3
        </h2>
        <span class="screen-reader-only">See Honeydew Crescent licence, 03/28/60/0033</span>
        <h3 class="table__context">
          Licence serial number
        </h3>
        <span class="table__link">
          03/28/60/0033
        </span>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <p class="table__row--text">
          Honeydew Crescent
        </p>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        <p class="table__row--text">
          15 September 2022
        </p>
      </div>
    </a>

    <!-- table row -->
    <a href="licence-summary?wid=34" class="table__row govuk-!-margin-bottom-6">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 4
        </h2>
        <span class="screen-reader-only">See Bridge Farm licence, 03/28/60/0034</span>
        <h3 class="table__context">
          Licence serial number
        </h3>
        <span class="table__link">
          03/28/60/0033
        </span>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <p class="table__row--text">
          Bridge Farm
        </p>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        <p class="table__row--text">
          30 September 2025
        </p>
      </div>
    </a>

    <!-- table row -->
    <a href="licence-summary?wid=35" class="table__row govuk-!-margin-bottom-6">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 5
        </h2>
        <span class="screen-reader-only">See River House licence, 03/28/60/0047</span>
        <h3 class="table__context">
          Licence serial number
        </h3>
        <span class="table__link">
          01/04/12/0047
        </span>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <p class="table__row--text">
          River House
        </p>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        <p class="table__row--text">
          1 March 2027
        </p>
      </div>
    </a>

    <!-- table row -->
    <a href="licence-summary?wid=35" class="table__row govuk-!-margin-bottom-6">
      <div class="table__cell">
        <h2 class="screen-reader-only">
          Row 6
        </h2>
        <span class="screen-reader-only">See Brickleigh Court licence, 03/28/60/0048</span>
        <h3 class="table__context">
          Licence serial number
        </h3>
        <span class="table__link">
          01/04/12/0048
        </span>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence name
        </h3>
        <p class="table__row--text">
          Brickleigh Court
        </p>
      </div>
      <div class="table__cell">
        <h3 class="table__context">
          Licence end date
        </h3>
        <p class="table__row--text">
          1 September 2031
        </p>
      </div>
    </a>


  </div>


{% endblock %}
