{% extends "layout_wrls.html" %}

{% set title = "Manage reports and notices" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-eo-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ title }}
        </h1>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          View reports
        </h2>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="/sandbox/licence-notices/create-waa-report/waa-alert-report">
            Water abstraction alert report
            </a>
          </li>
        </ul>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">
              Notices
            </a>
          </li>
          <!-- <li>
            <a class="govuk-link" href="expired-licences">
              Expired licences
            </a>
          </li> -->
        </ul>

        <h2 class="govuk-heading-m">
          Send flow notices
        </h2>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">
              Restriction
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Hands-off flow
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Resume
            </a>
          </li>
        </ul>

      </div>
    </div>


  </main>

</div>
{% endblock %}
