{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Check the notice type" %}
<!--set question title-->
{% set qTitle = title %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}




{% block service %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form method="post" novalidate>

      <h1 class="govuk-heading-l">{{title}}</h1>

{% set returns = [] %}
{% if data.noticeType == "submit using a paper form invitation" %}  
{% set summaryClasses = "" %}
{% for return in data.selectedReturns %}
{%  set returns = returns | push([ 
data.licences[data.licenceID].returns[return].id + " - " + data.licences[data.licenceID].returns[return].returnsPeriodStart |govukDate + " to " + data.licences[data.licenceID].returns[return].returnsPeriodEnd |govukDate
])%}
{% endfor %}
{% endif %}



      {{ govukSummaryList({
  rows: [
   {
      key: {
        text: "Licence number"
      },
      value: {
        text: data.enterLicences
      },
      actions: {
        items: [
          {
            href: "enter-licences?change=true",
            text: "Change",
            visuallyHiddenText: "licence number"
          }
        ]
      }
    },
    {
      key: {
        text: "Returns notice type"
      },
      value: {
        text: data.newNotification.recipients|length |plural (data.noticeType, showNumber=false) | capitalize
      },
      actions: {
        items: [
          {
            href: "select-type",
            text: "Change",
            visuallyHiddenText: "notice type"
          }
        ]
      }
    },
      {
      key: {
        text: "Returns"
      },
      value: {
        text: returns
      },
      actions: {
        items: [
          {
            href: "select-returns",
            text: "Change",
            visuallyHiddenText: "returns"
          }
        ]
      }
    }  if data.noticeType == "submit using a paper form invitation"
    ]
      })
    }}


   
{# 
      {{ govukButton({
        text: "Change notice type",
        classes: "govuk-button--secondary",
        href: "select-type"
      }) }}
 

      <!--<p class="govuk-body"><a class="govuk-body" href="/public/files/returns/Returns{{data.returnNotificationType}}-RINV-ABCD123.csv">Download recipients as a CSV file</a></p>-->

     

  
      {% include "sandbox/_includes/notices/recipient-sending-table.html" %}  #}



    {{ govukButton({
      text: "Continue to check recipients",
      classes: "govuk-button--primary"
    }) }}




    </form>

  </div>
</div>


{% endblock %}