{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = [data.customers[data.customerID]['name']] + " - Check if " + data['name-details']  + " is an existing contact" %}
<!--set question title-->
{% set qTitle = "<span class='govuk-caption-l'>" + [data.customers[data.customerID]['name']] + "</span> Check if " + [data['name-details']]   + " is an existing contact" %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{[qTitle] |safe }}
            </h1>
          </legend>
          <div class="govuk-radios">

          {% set loopNumber = "" %}
           {% for i in data['contacts']%}
           {% set loopNumber = loop.index0 %}

          <!--Don't show contacts without a name set-->
           {% if i.name == "Not set" %}
           {% else %}

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-exist-{{[loopNumber]}}" name="contact-exist" type="radio" value="{{[loopNumber]}}">
              <label class="govuk-label govuk-radios__label" for="contact-exist-{{[loopNumber]}}">
                {{i.name}}
              </label>
            </div>

            {% endif %}

           {% endfor %}


            <div class="govuk-radios__divider">or</div>

            <!--add 1 more to the loop to get the correct id on this radio-->
            {% set loopNumber = +loopNumber + 1 %}

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-exist-{{[loopNumber]}}" name="contact-exist" type="radio" value="new-contact">
              <label class="govuk-label govuk-radios__label" for="contact-exist-{{[loopNumber]}}">
                Set up a new contact
              </label>
            </div>

        </fieldset>
      </div>



      {{ govukButton({
  text: "Continue"
}) }}

    </form>

  </div>
</div>



{% endblock %}
