{% extends "layout_wrls.html" %}

{% set title = "Select an existing address for " + data['customerName'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->

      <!-- display the correct caption for either billing account change or licence change-->
      {% if data['ba'] == "true"%}
      <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Billing account {{data['invoiceAccount']}}</span>
      {{ title }}</h1>
      {% else %}
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Licence 03/28/60/0032</span>
        {{ title }}</h1>
      {% endif %}
    </div>
  </div>

  <form data-routing="1" method="post" class="form" id="contact-change-type">

<!--<h2 class="govuk-heading-m">Existing invoice accounts for {{ data['customerName'] }}
</h2>-->


      {{ govukRadios({
        idPrefix: "charge-source",
        name: "source",
        fieldset: {
        },
        items: [
          {
            value: "add-an-fao?address1=%20%0A15%20Osborne%20Road&city=%0ABath%0A&postcode=BA1%205AH",
            html: "15 Osborne Road, Bath, BA1 5AH"
          },
          {
            value: "add-an-fao?address1=%20%0AUnit%204%0AFinkley%20Crescent%0A&city=London%0A&postcode=N5%201FE",
            html: "Unit 4, Finkley Crescent, London N5 1FE"
          },
          {
            value: "add-an-fao?address1=%20%0A101%0AKempsthott%20Lane%0A&city=Basingstoke%0A&postcode=RG22%207AF",
            html: "101 Kempshott Lane, Basingstoke RG22 7AF"
          },
          {
      divider: "or"
    },
    {
      value: "new-company-postcode",
      text: "Set up a new address"
    }

        ]
      })
    }}


    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
