{% extends "layout_wrls.html" %}

{% set title = "Enter the company details" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- display the correct caption for either billing account change or licence change-->
    <!--
    {% if data['ba'] == "true"%}
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Billing account {{data['invoiceAccount']}}</span>
    {{ title }}</h1>
    {% else %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      {{ title }}</h1>
    {% endif %}

  </div>
</div>
-->
<form method="post" class="form" id="customer-name" data-routing="1">

{% set companyName = data['customerName']%}

{% if data['ba'] == "true"%}
{{ govukInput({
  label: {
    html: '<span class="govuk-caption-l">Billing account ' + data['invoiceAccount'] + '</span>' + title,
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Enter the Companies House number or company name"
  },
  classes: "govuk-input--width-20",
  id: "customerName",
  name: "customerName"
}) }}
{% else %}
{{ govukInput({
  label: {
    html: '<span class="govuk-caption-l">Licence 03/28/60/0032</span>' + title,
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Enter the Companies House number or company name"
  },
  classes: "govuk-input--width-20",
  id: "customerName",
  name: "customerName"
}) }}
  {% endif %}

  <p class="govuk-body">We’ll use this information to search the Companies House register.</p>

<!--
  {{ govukInput({

      classes: "govuk-input--width-20",
      id: "customerName",
      name: "customerName",
      value: companyName,
      isPageHeading: true,
      hint: {
    text: "Enter the Companies House number or company name"
  },
      label: {
        text: "Company name"
      }
    }) }}



  {{ govukInput({

      classes: "govuk-input--width-10",
      id: "companyNumber",
      name: "companyNumber",
      label: {
        text: "Companies House number (optional)"
      }
    }) }}  -->

<!--  <p class="govuk-body">
    <a href="check-company-name" class="govuk-link govuk-link--no-visited-state">I do not know the Companies House number</a>
  </p> -->
  <button type="submit" class="govuk-button">
    Find company
  </button>

</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = "check-company-name?customerName="


      if (url) {


                if( $("#companyNumber").val() ){
                let  companyNumber = "check-company-billing-address"
                const newurl = companyNumber;
                ev.preventDefault();
                window.location.href = newurl;
                return false;
                }

        const customerName  = $("#customerName").val()
        const newurl = url + customerName;
        ev.preventDefault();
        window.location.href = newurl;
        return false;
      }
    });
  })
</script>

{% endblock %}
