{% extends "layout_wrls.html" %}

{% set title = "Select date the change applies from" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- display the correct caption for either billing account change or licence change-->
    {% if data['ba'] == "true"%}
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Billing account {{data['invoiceAccount']}}</span>
    {{ title }}</h1>
    {% else %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      {{ title }}</h1>
    {% endif %}

    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <form action="check-billing-account-details-change?startDay=20&startMonth=3&startYear=2020" method="post" class="form" id="element-date">

      <!-- effective dates -->
      <div class="govuk-form-group govuk-!-margin-bottom-6">




          {% set effectiveDate %}


          {{ govukDateInput({
            id: "start-date",
            namePrefix: "start",
            fieldset: {
              legend: {
                text: "Other date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "The date can be up to 6 years in the past."
            }
          }) }}
          {% endset -%}


          {{ govukRadios({
            idPrefix: "effectiveDateConditional",
            name: "effectiveDate",
            fieldset: {
            },
            items: [
              {
                value: "today",
                html: 'Today<br>20 April 2020'
              },
              {
                value: "licenceStart",
                html: "Licence start date<br>22 September 2023"
              },
              {
      divider: "or"
    },
              {
                value: "other",
                text: "A different date",
                conditional: {
                  html: effectiveDate
                }
              }
            ]
          }) }}

    <!--      <div class="govuk-!-margin-bottom-6">
            <p id="dob-hint" class="govuk-hint">
                The date can be up to 6 years in the past.
              </p>
            <div class="govuk-date-input" id="start-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="startDay" type="number" autocomplete="off" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="startMonth" type="number" autocomplete="off" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="startYear" type="number" autocomplete="off" pattern="[0-9]*">
                </div>
              </div>

              <!--today's date
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <a href="check-invoice-account-details?startDay=28&startMonth=02&startYear=2020" class="govuk-link govuk-input govuk-date-input__input wrls-date-input__input--link">Today</a>
                </div>
              </div>
            </div>
          </div>



        </fieldset> -->
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if (url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
