{% extends "layout_wrls.html" %}

{% set title = "Who should the bills go to?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- display the correct caption for either billing account change or licence change-->
      {% if data['ba'] == "true"%}
      <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Billing account {{data['invoiceAccount']}}</span>
      {{ title }}</h1>
      {% else %}
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Licence 03/28/60/0032</span>
        {{ title }}</h1>
      {% endif %}

    </div>
  </div>

  <form  method="post" class="form" id="customer" data-routing="1">

{% set licenceHolder = data['licenceHolder'] + '<span id="account-number-hint" class="govuk-hint">Licence holder</span>' %}

    {% set customerName %}
    {{ govukInput({
      id: "companyName",
      name: "companyName",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Search for organisation or individual"
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "billing-contact",
      name: "customer-name",
      fieldset: {
        legend: {
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "check-invoice-account-exists?customerName=Bottled%20Water%20Plc",
          html: licenceHolder,
          name:"Bottled Water Plc"
        },
        {
          value: "contact-exists?customerName=",
          text: "Another billing contact",
          id: "radio",
          conditional: {
            html: customerName
          }
        }
      ]
    }) }}

<!--

    {{ govukInput({

      classes: "govuk-input--width-20",
      id: "customer-name",
      name: "customer-name",
      label: isPageHeading
    }) }}
-->
<!--<p class="govuk-body">
<a href="check-invoice-account-exists" class="govuk-link govuk-link--no-visited-state">Make the licence holder the billing contact</a>
</p> -->
    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // Find selected radio button

        const url = $(this).find('input:checked').val();

        if(url) {

          if( $("#companyName").val() ){
          let  companyName = $("#companyName").val();
          let radioUrl = $(this).find('input:checked').val();
          const newurl = radioUrl+companyName;
          ev.preventDefault();
          window.location.href = newurl;
          return false;
          }

          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
