{% extends "layout_wrls.html" %}

{% set title = "Select the address" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <!-- display the correct caption for either return single use address, billing account change or licence change-->
    {% if data['returnsAddress'] === "singleUseAddress"%}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{data['licenceNum']}}</span>
      {{ title }}</h1>
    {% elseif data['ba'] == "true"%}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Billing account {{data['invoiceAccount']}}</span>
      {{ title }}</h1>
    {% else %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      {{ title }}</h1>
    {% endif %}

    <!-- correct route for either return single use address, billing account change or licence change-->
    {% if data['returnsAddress'] === "singleUseAddress"%}
    {% set value1 = "/bd/manage/send-paper-address-check?address=Forbes Lane, West Crudwell, SN16 9EW" %}
    {% set value2 = "/bd/manage/send-paper-address-check?address=1 Doogal Road, West Crudwell, SN16 9EW" %}

    {% else %}
    {% set value1 = "add-an-fao?address1=Forbes%20Lane&city=West%20Crudwell&postcode=SN16%209EW" %}
    {% set value2 = "add-an-fao?address1=1%20Doogal%20Road&city=West%20Crudwell&postcode=SN16%209EW" %}
     {% endif %}

    <section class="govuk-!-margin-bottom-6">
      <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Postcode</h2> -->
      <p>Postcode<br>
        <span class="govuk-body govuk-!-font-weight-bold">SN16 9EW</span> <a href="new-company-postcode" class="margin-left__15">Change<span class="govuk-visually-hidden">postcode</span></a>
      </p>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form data-routing="1" method="post" class="form" id="contact-change-type">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">


          {{ govukSelect({
      id: "address",
      name: "address",
      label: {
        text: "Select an address"
      },
      items: [
        {
          value: "2 addresses found",
          text: "2 addresses found",
          selected: "true"
        },
        {
          value: value1,
          text: "Forbes Lane, West Crudwell, SN16 9EW"
        },
        {
          value: value2,
          text: "1 Doogal Road, West Crudwell, SN16 9EW"
        }
      ]
    }) }}

        </fieldset>
      </div>

      <p class="govuk-!-margin-bottom-6">
        <a href="manual-address">
          I cannot find the address in the list
        </a>
      </p>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">© Crown copyright and database rights 2018 Ordnance Survey 100024198. </p>
    <p class="govuk-body">Use of this addressing data is subject to the <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://wasteexemptions.service.gov.uk/pages/os-terms">address data terms and conditions (opens new tab).</a></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('option:selected').val();

      if (url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
