{% extends "layout_wrls.html" %}

{% set title = "Select an existing billing account for " + data['licenceHolder'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <form data-routing="1" method="post" class="form" id="contact-change-type">

<!--<h2 class="govuk-heading-m">Existing invoice accounts for {{ data['customerName'] }}
</h2>-->
      {% if data['chargeDateConditional']  == "today" %}


      {{ govukRadios({
        idPrefix: "existing-billing-account",
        name: "existing-billing-account",
        fieldset: {
        },
        items: [
          {
            value: "/bd/charges-2020/charge-version/how-to-create-element?invoiceAccount=L09823765S&billingContact=" + data['licenceHolder'] + "&customerName=" + data['licenceHolder'] + "&address1=%20%0A15%20Osborne%20Road&city=%0ABath%0A&postcode=BA1%205AH&existingContact=true",
            html: "L09823765S - " + data['licenceHolder'] + "<br>15 Osborne Road, Bath, BA1 5AH"
          },
          {
            value: "/bd/charges-2020/charge-version/how-to-create-element?invoiceAccount=D098437654%0A&billingContact=" + data['licenceHolder'] + "&customerName=" + data['licenceHolder'] + "&address1=%20%0AUnit%204%0AFinkley%20Crescent%0A&city=London%0A&postcode=N5%201FE&existingContact=true",
            html: "D098437654S - " + data['licenceHolder'] + "<br>Unit 4, Finkley Crescent, London N5 1FE"
          },
          {
            value: "/bd/charges-2020/charge-version/how-to-create-element?invoiceAccount=P10987645S%0A&billingContact=" + data['billingContact'] + "&customerName=" + data['licenceHolder'] + "&address1=%20%0AUnit%204%0AFinkley%20Crescent%0A&city=London%0A&postcode=N5%201FE&existingContact=true",
            html: "P10987645S - " + data['billingContact'] + "<br>Unit 4, Finkley Crescent, London N5 1FE"
          },
          {
      divider: "or"
    },
    {
      value: "new-contact?createNewContact=true",
      text: "Set up a new billing account"
    }

        ]
      })
    }}

    {% else %}

    {{ govukRadios({
      idPrefix: "existing-billing-account",
      name: "existing-billing-account",
      fieldset: {
      },
      items: [
        {
          value: "/bd/iterations/sroc/how-to-create-element?invoiceAccount=L09823765S&billingContact=" + data['licenceHolder'] + "&customerName=" + data['licenceHolder'] + "&address1=%20%0A15%20Osborne%20Road&city=%0ABath%0A&postcode=BA1%205AH&existingContact=true",
          html: "L09823765S - " + data['licenceHolder'] + "<br>15 Osborne Road, Bath, BA1 5AH"
        },
        {
          value: "/bd/iterations/sroc/how-to-create-element?invoiceAccount=D098437654%0A&billingContact=" + data['licenceHolder'] + "&customerName=" + data['licenceHolder'] + "&address1=%20%0AUnit%204%0AFinkley%20Crescent%0A&city=London%0A&postcode=N5%201FE&existingContact=true",
          html: "D098437654S - " + data['licenceHolder'] + "<br>Unit 4, Finkley Crescent, London N5 1FE"
        },
        {
          value: "/bd/iterations/sroc/how-to-create-element?invoiceAccount=P10987645S%0A&billingContact=" + data['billingContact'] + "&customerName=" + data['licenceHolder'] + "&address1=%20%0AUnit%204%0AFinkley%20Crescent%0A&city=London%0A&postcode=N5%201FE&existingContact=true",
          html: "P10987645S - " + data['billingContact'] + "<br>Unit 4, Finkley Crescent, London N5 1FE"
        },
        {
    divider: "or"
  },
  {
    value: "new-contact?createNewContact=true",
    text: "Set up a new billing account"
  }

      ]
    })
  }}

    {% endif %}

    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

<!--  <script src="/public/javascripts/jquery-1.11.3.js"></script> -->

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
