{% extends "layout_wrls.html" %}

{% set title = "Select the region" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <form data-routing="1" method="post" class="form" id="choose-bill-type">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{ title }}
          </h1>
        </legend>
        <div class="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-5" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-5">
              Anglian
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-2" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-2">
              North West
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-3" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-3">
              North East
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-4" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-4">
              Midlands
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-8" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-8">
              South West
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-7" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-7">
              Southern
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region-6" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region-6">
              Thames
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="region" name="region" type="radio" value="supplementary-charges-load">
            <label class="govuk-label govuk-radios__label" for="region">
              Wales
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
