<div class="defra-map-key" id="key" aria-labelledby="mapKeyLabel" tabindex="-1" role="region" aria-hidden="false">
  <div class="defra-map-key__container">
    <h2 id="mapKeyLabel" class="defra-map-key__title"><span role="text">Key <span class="govuk-visually-hidden">for
          map features</span></span></h2>

    <div class="defra-map-key__section">

      <div class="defra-map-key__item">

       {{params.primary}}

      </div>
    </div>
  </div>
</div>