{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "Select the purpose for the return requirement" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">




{# get the licence use information #}
{% set use = data.licences[data.ID]['use'] %}


{# If there is only one use play back to the user rather than allowing them to select #}

{% if use.length == 1 %}
<form action="?use=0" method="post" class="form">

<h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence 03/28/61/029</span>There is 1 purpose for the return requirement
    </h1>

    <p class="govuk-body-l govuk-!-font-weight-bold">{{use[0].purpose}}</p>




{% else %}
{# for more than one use display checkboxes #}
<form method="post" class="form">

{# Create the array #}
{% set selectItems = [] %}


{# loop through the use items #}
{% for item in use %}




{# create the string of supplementary information to the purpose #}
{% set useInfo %}
{# If the purposes have a matching name, display the abs period to help differentiate them #}
{% set purpose = item.purpose %}
{% set count = 0 %}
{% for i in use %}
{% if purpose === i.purpose %}
{% set count = count + 1 %}
{% endif %}
{% endfor %}
{% if count >= 2 %}
{{item.periodStart | mmddToDate}} to {{item.periodEnd | mmddToDate}}
{% else %}
{% endif %}
{% endset %}

{% set selectedUse = []%}
{# if use has already been selected push an array of the already selected items and then in the loop compare the array to see if the purpose is a match if so, check the box#}
{% for i in data.licences[data.ID].returnsRequirements[0].requirements[data.requirementIndex]['uses'] %}
 {% set selectedUse = selectedUse | push (i.purpose)%}
 {% endfor %}


  {% set selectItems = selectItems | push({
    value: loop.index0,
    text: item.purpose,
    hint: {
      html: useInfo |safe
    },
    checked: selectedUse |arrayIncludes (item.purpose)

  }) %}
{% endfor %}

{{ govukCheckboxes({
idPrefix: "use",
name: "use",
fieldset: {
  legend: {
    html: '<span class="govuk-caption-l">Licence ' + [data.licences[data.ID].number] + '</span>' + [title],
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
  }
},
hint: {
  text: "Select all that apply"
},
items: selectItems
}) }}

{% endif %}

  <button type="submit" class="govuk-button govuk-!-margin-right-1">
    Continue
  </button>

</form>
</div>
</div>


    {% endblock %}
