<!--setting the loop number to 0-->
{% set loopNumber = "" %}


{% set contactList = [] %}
    <!--set the customer page we are on--> 
    {% set customer = data.customers[data.customerID].name %}

<!--getting the contacts data-->
{% set contacts = data['contacts'] %}



{# get the index of the licence holder on the contact list #}
{% set contactIndex = data.contacts | findIndexByProp('name', data.customers[data.customerID].name) %}


{% set actionHTML %}
      <a href="manage-contact?contactID={{contactIndex}}&customerID={{data.customerID}}" class="govuk-link">{{data.customers[data.customerID].name}}<span class="govuk-visually-hidden"> contact page</span></a>
    {% endset %}

{#Add licence holder to the contacts list#}
{% set contactList = contactList | push([
       {text: actionHTML|safe},
        {text: "Licence holder"},
        {text: ""}
      ]) %}

<!--loop through each contact-->
{% for contact in contacts %}

{% if contact.type == "company" %}
{% else %}
<!--set the contact ID -->
{% set loopNumber = loop.index0 %}
<!--get the customers for each contact-->
{% set contactCustomers = data.contacts[loopNumber]['customers'] %}

<!--loop through each customers contacts-->
{% for contactCustomer in contactCustomers %}
<!--if the customer name for the contact matches the customer page we are on set the customer index number-->
{% if customer == contactCustomer['customer'] %}

{% set actionHTML %}
      <a href="manage-contact?contactID={{[loopNumber]}}&customerID={{data.customerID}}" class="govuk-link">{{data.contacts[loopNumber].name}}<span class="govuk-visually-hidden"> contact page</span></a>
    {% endset %}


{% set contactNotices = []%}
{% for notice in contactCustomer.notices %}

{% if notice.licences == "all" %}
{% set contactNotices = contactNotices | push([
       notice.type | capitalize + " by " + notice.sendBy + " for all licences"
      ]) %}
{% else %}
{% set contactNotices = contactNotices | push([
       notice.type | capitalize + " by " + notice.sendBy + " for some licences"
      ]) %}
{% endif %}

{% endfor %}

       {% set contactList = contactList | push([
            {text: actionHTML|safe},
            {text: contactCustomer.role},
            {text: contactNotices | sortAlpha | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br }
          ]) %}

 {% endif %}
  {% endfor %}
    {% endif %}
  {% endfor %}



  {#get all registered users#}
{% for user in data.users %}

{% if data.licences[data.ID].number in user.licences %}

{% set actionHTML %}
      <a href="../user?userID={{[loopNumber]}}" class="govuk-link">{{user.email | split("@") | first | capitalize}}<span class="govuk-visually-hidden">user</span></a>
    {% endset %}

{% set contactList = contactList | push([
        {text: actionHTML|safe},
        {text: user.role|capitalize},
        {html: "Returns by email for some licences <br> Water abstraction alerts by email for some licneces" }
      ]) %}


{% endif %}

{% endfor %}



{#display table#}
{{ govukTable({
  caption: "Contacts for this customer",
  captionClasses: "govuk-table__caption--s",
  firstCellIsHeader: false,
  head: [
    {
      text: "Name"
    },
    {
      text: "Contact type"
    },
    {
      text: "Communication type"
    }
  ],
  rows: contactList
}) }}