<!--setting the loop number to 0-->
{% set loopNumber = "" %}


{% set contactList = [] %}
    <!--set the customer page we are on--> 
    {% set customer = data.customers[data.customerID].name %}

<!--getting the contacts data-->
{% set contacts = data['contacts'] %}

{#Get the licence holder address for this customer#}
{% for address in addresses %}
{% set addressLoop = loop.index0%}
{% for customer in address.customers%}
{% if (customer.customer == data.licences[data.ID].holder) and ("Licence holder" in customer.role) %}
{% set addressID = addressLoop %}
{% endif%}
{% endfor %}
{% endfor %}


{#Add licence holder to the contacts list#}
{% set contactList = contactList | push([
       {text: data.licences[data.ID].holder},
        {text: "Licence holder"},
        {text: ""},
        {html:""}
      ]) %}

<!--loop through each contact-->
{% for contact in contacts %}

{% if contact.type == "company" %}
{% else %}
<!--set the contact ID -->
{% set loopNumber = loop.index0 %}
<!--get the customers for each contact-->
{% set contactCustomers = data.contacts[loopNumber]['customers'] %}

<!--loop through each customers contacts-->
{% for contactCustomer in contactCustomers %}
<!--if the customer name for the contact matches the customer page we are on set the customer index number-->
{% if customer == contactCustomer['customer'] %}

{% set actionHTML %}
 <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
      <a href="manage-contact?contactID={{[loopNumber]}}&customerID={{data.customerID}}" class="govuk-link">Manage<span class="govuk-visually-hidden"> contacts notices</span></a>
    </li>
    {% endset %}

       {% set contactList = contactList | push([
            {text: data.contacts[loopNumber].name},
            {text: contactCustomer.role},
            {text: contactCustomer.notices[0].type },
            {html: actionHTML }
          ]) %}

 {% endif %}
  {% endfor %}
    {% endif %}
  {% endfor %}



  {#get all registered users#}
{% for user in data.users %}

{% if data.licences[data.ID].number in user.licences %}

{% set actionHTML %}
      <a href="../user?userID={{[loopNumber]}}" class="govuk-link">Manage<span class="govuk-visually-hidden">user</span></a>
    {% endset %}

{% set contactList = contactList | push([
        {text: user.email | split("@") | first | capitalize},
        {text: user.role|capitalize},
        {html: "Returns <br> Water abstraction alerts" },
        {html:  actionHTML }
      ]) %}


{% endif %}

{% endfor %}



{#display table#}
{{ govukTable({
  caption: "Showing all customers",
  captionClasses: "govuk-table__caption--s",
  firstCellIsHeader: false,
  head: [
    {
      text: "Name",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "Contact type",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "Communication type",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "Action"
    }
  ],
  rows: contactList
}) }}