{% extends "layout_wrls.html" %}

{% set title = "Project timeline for Water Resources Licensing Service" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
  </div>
</div>

<div class="govuk-!-margin-bottom-9">
  <a href="index">
    Water resource licensing service prototype
  </a>
</div>

<!-- timeline -->
<div class="moj-timeline">


  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Strategic review of charges - Supplementary billing
      </h2>
      <p>
        <span class="govuk-!-font-size-24">Currently working on</span>
        <br>Send supplementary bills to SRoC customers
      </p>
    </div>
    </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Strategic review of charges - Annual billing
      </h2>
      <p>
        <span class="govuk-!-font-size-24">1 July 2022</span>
        <br>Send annual bills to SRoC customers
      </p>
    </div>
    </div>

    <div class="moj-timeline__item">
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title moj-timeline__title--big">
          Strategic review of charges - Charge information creation
        </h2>
        <p>
          <span class="govuk-!-font-size-24">1 May 2022</span>
          <br>Create and upload multiple SRoC charge information
        </p>
      </div>
      </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Sending a water abstraction licence version 2
      </h2>
      <p>
        <span class="govuk-!-font-size-24">20 October 2021</span>
        <br>Send a water abstraction alert using the gauging station
      </p>
    </div>
    </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Licence tagging
      </h2>
      <p>
        <span class="govuk-!-font-size-24">1 September 2021</span>
        <br>Tag a licence to a gaugaing station
      </p>
    </div>
    </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Billing
      </h2>
      <p>
        <span class="govuk-!-font-size-24">1 August 2021</span>
        <br>Send annual, supplementary and two part tariff bill runs
      </p>
    </div>
    </div>

    <div class="moj-timeline__item">
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title moj-timeline__title--big">
          Charging
        </h2>
        <p>
          <span class="govuk-!-font-size-24">31 March 2021</span>
          <br>Create charge information
        </p>
      </div>
      </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Returns paper forms version 2
      </h2>
      <p>
        <span class="govuk-!-font-size-24">31 October 2020</span>
        <br>Returns paper form improvements
        <br>Select returns for more than one return cycle
        <br>Select an address or create a one time use address
      </p>
    </div>

  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Returns bulk uploads version 2
      </h2>
      <p>
        <span class="govuk-!-font-size-24">1 July 2020</span>
        <br>Returns bulk upload process improvements
      </p>
    </div>

  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Billing accounts
      </h2>
      <p>
        <span class="govuk-!-font-size-24">31 March 2-20</span>
        <br>Create and change the address on a billing account
      </p>
    </div>

  </div>


<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title moj-timeline__title--big">
      Returns version 3
    </h2>
    <p>
      <span class="govuk-!-font-size-24">31 October 2019</span>
      <br>Returns improvements
    </p>
  </div>

</div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Returns version 2
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">1 April 2019</span>
      <br>Returns improvements
      <br>Bulk uploads
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Abstraction reform / Digitise!
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">1 December 2018</span>
      <br>1st version of Digitise! UI
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Returns launch
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">1 November 2018</span>
      <br>1st version of returns
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Check flows and levels
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">July 2018</span>
      <br>MVP of licence guaging station data
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Hands-off flows and levels
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">June 2018</span>
      <br>MVP of generating and issuing hands-off letters
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        BETA public (launch)
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">27 March 2018</span>
      <br>BETA public (launch) - View my licence
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        LIVE - Private BETA
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">January 2018</span>
      <br>BETA private - View my licence
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        BETA build
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">August 2017</span>
      <br> View my licence
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Alpha
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">January 2017</span>
      <br>Alpha - how we can meet the needs
    </p>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title moj-timeline__title--big">
        Project start
      </h2>
    </div>
    <p>
      <span class="govuk-!-font-size-24">June 2016</span>
      <br>Discovery - looking for needs
    </p>
  </div>

</div>

{% endblock %}
