{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-8',
rows: [

  {
    classes: 'govuk-summary-list',
    key: {
      text: "Additional submission options",
      classes: 'govuk-heading-m govuk-!-width-one-half'
    },

    actions: {
      items: [
        {
          href: "set-up/additional-submission-options?change=true",
          text: "Change",
          visuallyHiddenText: "the additional submission options for the return requirement"
        }
      ]
    }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Multiple upload",
      classes: 'govuk-!-padding-bottom-3'
    },
    value: {
      text: data.licences[data.ID].returnsRequirements[0]['additionalSubmissionOptions'] | arrayIncludes ("multiple upload") | submissionOptions,
      classes: 'govuk-!-padding-bottom-3'
    }
  }

]
}) }}
