{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-8',
rows: [

  {
    classes: 'govuk-summary-list',
    key: {
      text: "Additional submission options",
      classes: 'govuk-heading-m govuk-!-width-one-half'
    }
  },

  

  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Multiple return upload",
      classes: 'govuk-!-padding-bottom-3'
    },
    value: {
      text: data.licences[data.ID].returnsRequirements[data.returnVersionNumber]['additionalSubmissionOptions'] | arrayIncludes ("multiple upload") | submissionOptions,
      classes: 'govuk-!-padding-bottom-3'
    }
  },

  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Quarterly return submissions",
      classes: 'govuk-!-padding-bottom-3'
    },
    value: {
      text: data.licences[data.ID].returnsRequirements[data.returnVersionNumber]['additionalSubmissionOptions'] | arrayIncludes ("quarterly return submissions") | submissionOptions,
      classes: 'govuk-!-padding-bottom-3'
    }
  }

]
}) }}
