

<section class="govuk-!-margin-bottom-9">


{% if data.note.length %}
  <h2 class="govuk-heading-l govuk-!-margin-bottom-4" >Notes</h2>
  <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-2',
rows: [
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: data.licences[data.ID].returnsRequirements[0].username
    },
    value: {
      text: data.licences[data.ID].returnsRequirements[0].note
    }
  }
]
}) }}
<hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
{% else %}

{% endif %}

</section>
