{% set requirements = data.licences[data.ID].returnsRequirements[0]['requirements'] %}




{% set routeFolder = "set-up/purpose" %}


{% for requirement in requirements %}


<section class="govuk-!-margin-bottom-9">

<span class="govuk-caption-l ">Return ID {{requirement.id}}</span>
<div class="govuk-summary-list govuk-!-margin-bottom-2">
  <h2 class="govuk-heading-l govuk-!-margin-bottom-2 " >{{requirement.returnsCycle |capitalize}}  {{requirement.frequency}} return requirement, {{requirement.description}}</h2>


</div>

  <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">


  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-2',
  rows: [
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text:  requirement.purpose |plural ("Purpose")
    },
    value: {
      text: requirement.purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br
    },
      actions: {
        items: [
          {
            href: "set-up/purpose?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "purpose"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: requirement.points |plural ("Point")
    },
    value: {
      text: requirement.points | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br
    },
      actions: {
        items: [
          {
            href: "set-up/points?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "points"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Abstraction period"
    },
    value: {
      text:  "From " +  requirement.periodStart | mmddToDate + " to " + requirement.periodEnd | mmddToDate
    },
      actions: {
        items: [
          {
            href: "set-up/abstraction-preiod?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "abstraction period"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Returns cycle"
    },
    value: {
      text: requirement.returnsCycle |capitalize
    },
      actions: {
        items: [
          {
            href: "set-up/returns-cycle?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "returns cycle"
          }
        ]
      }
  },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Site description"
      },
      value: {
        text: requirement.description
      },
        actions: {
          items: [
            {
              href: "set-up/description?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "site description"
            }
          ]
        }
    },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Collection"
      },
      value: {
        text: requirement.frequencyCollected | capitalize
      },
        actions: {
          items: [
            {
              href: "set-up/frequency-collected?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "collection frequency"
            }
          ]
        }
    },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Reporting",
        classes: 'govuk-!-padding-bottom-3'
      },
      value: {
        text: requirement.frequency | capitalize,
        classes: 'govuk-!-padding-bottom-3'
      },
        actions: {
          items: [
            {
              href: "set-up/frequency?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "reporting frequency"
            }
          ]
        }
    }
    ]
    }) }}



<hr class="govuk-section-break  govuk-!-margin-bottom-4 govuk-section-break--visible">



{{ govukButton({
text: "Add another requirement",
classes: "govuk-button--secondary govuk-!-margin-right-6",
href: routeFolder + "?requirementIndex="
}) }}


{% if requirements.length > 1 %}
{{ govukButton({
text: "Remove requirement",
classes: "govuk-button--secondary govuk-!-margin-right-6",
href: "confirm-remove-requirement?requirementIndex=" + loop.index0
}) }}
{% endif %}

</section>

{% endfor %}
