{% set requirements = data.licences[data.ID].returnsRequirements[0]['requirements'] %}


{% set routeFolder = "set-up/purpose" %}

{{ govukButton({
text: "Add another requirement",
classes: "govuk-button--secondary govuk-!-margin-right-6",
href: routeFolder + "?requirementIndex=&change="
}) }}

{% for requirement in requirements %}


<section class="govuk-!-margin-bottom-9">


  {% set summaryCardTitles %}
  <span class="govuk-caption-l ">Return ID {{requirement.id}}</span>
  <div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{requirement.returnsCycle |capitalize}}  {{requirement.frequency}} return requirement, {{requirement.description}}</h2>
  </div>
  {% endset %}

  {% set returnRequirementBtn %}

  {% endset %}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-2',
    card: {
      title: {
        html: summaryCardTitles
      }
    },
  rows: [
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text:  requirement.purpose | length | plural ("Purpose", showNumber=false)
    },
    value: {
      text: requirement.purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br
    },
      actions: {
        items: [
          {
            href: "set-up/purpose?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "purpose"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: requirement.points | length |plural ("Point", showNumber=false)
    },
    value: {
      text: requirement.points | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br
    },
      actions: {
        items: [
          {
            href: "set-up/points?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "points"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Abstraction period"
    },
    value: {
      text:  "From " +  requirement.periodStart | mmddToDate + " to " + requirement.periodEnd | mmddToDate
    },
      actions: {
        items: [
          {
            href: "set-up/abstraction-period?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "abstraction period"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Time limit"
    },
    value: {
      text:  requirement.timeLimit
    },
      actions: {
        items: [
          {
            href: "set-up/time-limits?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "time limit"
          }
        ]
      }
  },
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "Returns cycle"
    },
    value: {
      text: requirement.returnsCycle |capitalize
    },
      actions: {
        items: [
          {
            href: "set-up/returns-cycle?change=true&requirementIndex=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "returns cycle"
          }
        ]
      }
  },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Site description"
      },
      value: {
        text: requirement.description
      },
        actions: {
          items: [
            {
              href: "set-up/description?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "site description"
            }
          ]
        }
    },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Collection"
      },
      value: {
        text: requirement.frequencyCollected | capitalize
      },
        actions: {
          items: [
            {
              href: "set-up/frequency-collected?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "collection frequency"
            }
          ]
        }
    },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Reporting",
        classes: 'govuk-!-padding-bottom-3'
      },
      value: {
        text: requirement.frequency | capitalize,
        classes: 'govuk-!-padding-bottom-3'
      },
        actions: {
          items: [
            {
              href: "set-up/frequency?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "reporting frequency"
            }
          ]
        }
    },
    {
      classes: 'govuk-summary-list govuk-summary-list__row--no-border',
      key: {
        text: "Agreements and exceptions",
        classes: 'govuk-!-padding-bottom-3'
      },
      value: {
        text: requirement.settings | listFormat | capitalize,
        classes: 'govuk-!-padding-bottom-3'
      },
        actions: {
          items: [
            {
              href: "set-up/settings?change=true&requirementIndex=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "agreements and exceptions"
            }
          ]
        }
    }
    ]
    }) }}





{% if requirements.length > 1 %}
{{ govukButton({
text: "Remove requirement",
classes: "govuk-button--secondary govuk-!-margin-right-6",
href: "confirm-remove-requirement?requirementIndex=" + loop.index0
}) }}
{% endif %}

</section>

{% endfor %}
