{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "Upload charge information" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}

<!--header without searchbar-->
{% include "sandbox/_includes/nav/header.html" %}

{% endblock %}

<!--content block-->
{% block service %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-6">
        File uploading
          </p>
      
        <div class="spinner"></div>

      
    
  <!--some content here-->

  </div>
</div>


</main>

</div>

{% if data.suppBilling == "true" %}
<!--<script language="javascript" type="text/javascript">
    window.setTimeout('location.replace("../iterations/manual-billing/bill-run/review")',4000);
</script>
{% else %}-->
 <script language="javascript" type="text/javascript">
     window.setTimeout('location.replace("upload-charge-information-success")',4000);
 </script>
 {% endif %}

{% endblock %}
