{% extends "layouts/_manage.html" %}

{% set title = "Abstraction details" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


<!-- content block-->
{% block service %}

<!-- added from licence-summary, not sure what it does -->

{% set purpose %}
      {{data.licences[data.ID].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
{% endset %}


<!--Side nav styles -->
{% include "/sandbox/side-nav-styles.html" %}


<!-- page title -->

<!-- NEW - swaps title/caption round, H1 demoted to H2 as repeated on multiple pages  -->
<!-- the H1 will be on the title in the _include as this is unique to that page       -->
<!-- licence number is big (will exist) name is small caption (might not exist)       -->
<!-- If the name doesn't exist, use that to tell us the type of licence instead       -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- if this licence has a name -->
    {% if data.licences[data.ID].name.length %}
    <h2 class="govuk-heading-l">
      <!-- put the name in the caption above the number -->
      <span class="govuk-caption-l">{{[data.licences[data.ID].name]}}</span>
      <!-- and use the H2 for the licence type + licence number -->
      {% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} licence {{[data.licences[data.ID].number]}}
    </h2>
    {% else %}
    <!-- this licence doesn't have a name -->
    <h2 class="govuk-heading-l">
      <!-- use the Caption to tell us the type of licence -->
      <span class="govuk-caption-l">{% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} licence </span>
      
      <!-- put the H2 for the licence number -->
      Licence number {{[data.licences[data.ID].number]}}
    </h2>
    {% endif %}
  </div>
</div>



  <!-- show confidential warning if licence is marked as confidential-->
  {% if data.licences[data.ID].confidentiality | match("confidential") %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukWarningText({
    text: "This licence is confidential.",
    iconFallbackText: "Warning"
  }) }}
    </div>
  </div>
  {% endif %}

  <!-- show expired banner if licence is expired-->
  {% if [data.licences[data.ID].expired] == "true" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
      {% include "sandbox/_includes/licence/expired-banner.html" %}
    </div>
  </div>
  {% endif %}



  <!-- this might need to be in a grid-row class set up? doesn't really matter tho -->
  <div class="govuk-!-margin-bottom-6">
    <p class="govuk-body">Registered to <a href="user?userID={{data['userID']}}" class="no-break">{{[data.users[data.userID].email]}}</a></p>
  </div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <!-- Side nav list -->
    <nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
      <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Navigation</h2>
        
      <ul class="x-govuk-sub-navigation__section">
        
        <li class="x-govuk-sub-navigation__section-item x-govuk-sub-navigation__section-item--current">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-summary?ID={{data.ID}}" aria-current="true">
            Licence details
          </a>

          <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
            Effective {{[data.licences[data.ID].effectiveDate]}}
          </div>
          <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
            This is the current version
          </div>
        </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent ">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-summary?ID={{data.ID}}">
              Summary
            </a>
          </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence/abstraction-points?ID={{data.ID}}">
              Source and points
            </a>
          </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent sub-nav-selected">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence/abstraction-purpose?ID={{data.ID}}" aria-current="true">
              Purpose, period and amounts
            </a>
          </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence/abstraction-conditions?ID={{data.ID}}">
              Conditions
            </a>
          </li>


          <!-- TODO add code for RouteUsage from the prototype index page -->
          <li class="x-govuk-sub-navigation__section-item x">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-history?ID={{data.ID}}">
             History
            </a>
          </li>


        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-contacts-tab?ID={{data.ID}}">
            <!-- use from include "sandbox/_includes/licence/contact-details.html" -->

            Contact details
          </a>
        </li>
        
        {% if 'Impounding' not in purpose %}
        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="licence-returns">
            Returns
          </a>
        </li>
        {% endif %}


        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="licence-comms">
            Communications
          </a>
        </li>


        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="licence-bills">
            Bills
          </a>
        </li>


        {% if 'Impounding' not in purpose %}
        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="licence-setup">
            Licence set up
          </a>
        </li>
        {% endif %}
      </ul>
        
    </nav>
  </div>



  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">
      Licence purpose details
      <!-- Purpose, period and amounts -->
      
      <!-- HISTORY TAG TO GO HERE -->
    </h1>


          {% set uses = data.licences[data.ID].use %}

          {% for use in uses %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{use.purpose}}
          </h2>
        </div>

        <div class="govuk-summary-card__content">

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: use.points | length | plural ("Point", showNumber = false)
                },
                value: {
                  text: use.points | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br
                }
              },
              {
                key: {
                  text: "Abstraction period"
                },
                value: {
                  text: use.periodStart | mmddToDate + " to " + use.periodEnd | mmddToDate
                }
              },
              {
                key: {
                  text: "Amount"
                },
                value: {
                  text: use.amount + " m3/yr"
                }
              }
            ]
          }) }}

          </div>
          </div>


 {% endfor %}



{% endblock %}
