{% extends "layouts/wrls-layout-sub-nav.html" %}

{% set title = "Purposes, periods and amounts" %}

<!--set nav menu-->
<!--parent-->
{% set licenceSummary = true %}
<!--child-->
{% set purpose = true %}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


{% block breadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search",
      href: "/sandbox/home-search?navCustomers=&navBillRuns=&navManage="
    },
        {
      text: "Customers",
      href: "/sandbox/customers?navCustomers=navbar__link--active&navBillRuns=&navManage="
    },
     {
      text: data.licences[data.ID].holder,
      href: "/sandbox/customer?customerID="+data.customerID+"&navCustomers=navbar__link--active&navBillRuns=&navManage="
    },
     {
      text: "Licence summary",
      href: "/sandbox/licence?licenceID="+data.ID+"&navCustomers=navbar__link--active&navBillRuns=&navManage="
    }
  ]
}) }}


{% endblock %}


<!--content block-->
{% block service %}


   
<div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">

  <h1 class="govuk-heading-l">
<span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
{{ title }}
      </h1>

<p class="govuk-body-l">Showing {{data.licences[data.ID].purpose |length}} purposes</p>
  
{% include "/sandbox/_includes/licence/purposes.html" %}


 </div>
    </div>

{% endblock %}
