{% extends "layouts/wrls-layout-sub-nav.html" %}

{% set title = "Purpose, periods and amounts" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


<!--content block-->
{% block service %}


   
<div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">

  <h1 class="govuk-heading-l">
<span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
{{ title }}
      </h1>


     


          {% set uses = data.licences[data.ID].use %}

          {% for use in uses %}

         
          <!-- licence purpose -->
              <h2 class="heading-large govuk-heading-m licence-condition__header">
                {{use.purpose}}
              </h2>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: [
              {
                key: {
                  text: use.points | length | plural ("Point", showNumber = false)
                },
                value: {
                  text: use.points | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br
                }
              },
              {
                key: {
                  text: "Abstraction period"
                },
                value: {
                  text: use.periodStart | mmddToDate + " to " + use.periodEnd | mmddToDate
                }
              },
              {
                key: {
                  text: "Amount"
                },
                value: {
                  text: use.amount + " m3/yr"
                }
              }
            ]
          }) }}



 {% endfor %}

 </div>
    

{% endblock %}
