{% extends "layouts/wrls-layout-sub-nav.html" %}

<!--set title-->
{% set title = "Communications" %}

<!-- set nav menu-->
{% set communications = true %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

{% set purpose %}
      {{data.licences[data.ID].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
      {% endset %}


<!-- page title -->

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
    {% if data.licences[data.ID].name.length %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
      {{title}}
    </h1>
    {% endif %}

    <!-- show confidential warning if licence is marked as confidential-->
{% if data.licences[data.ID].confidentiality | match("confidential") %}

    {{ govukWarningText({
  text: "This licence is confidential.",
  iconFallbackText: "Warning"
}) }}

{% endif %}

<!-- show expired banner if licence is expired-->
{% if [data.licences[data.ID].expired] == "true" %}

    {% include "sandbox/_includes/licence/expired-banner.html" %}

{% endif %}

{% set communications = data.licences[data.ID]['communications'] %}
    <!--check to see if there is any charge information set up-->
    {% if communications.length  %}
    <!--if so display the table-->

    {% include "sandbox/_includes/licence/communications-table.html" %}

    {% else %}

    <!--<h2 class="govuk-heading-l">Communications</h2>-->

    <p class="govuk-body">No communications have been sent for this licence.</p>

    {% endif %}
  </div>
  </div>



{% endblock %}