{% extends "layouts/wrls-layout-sub-nav.html" %}

<!--set title-->
{% set title = "Sent communications" %}


<!-- set sub nav -->
<!--parent-->
{#{% set contactDetails = true %}#}
<!--child-->
{% set communications = true %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search",
      href: "/sandbox/home-search?navCustomers=&navBillRuns=&navManage="
    },
        {
      text: "Customers",
      href: "/sandbox/customers?navCustomers=navbar__link--active&navBillRuns=&navManage="
    },
     {
      text: data.licences[data.ID].holder,
      href: "/sandbox/customer?customerID="+data.customerID+"&navCustomers=navbar__link--active&navBillRuns=&navManage="
    }
  ]
}) }}

{% endblock %}

<!--content block-->
{% block service %}

{% set purpose %}
      {{data.licences[data.ID].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
      {% endset %}


<!-- page title -->

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
      {{title}}
    </h1>
   



<!-- <p class="govuk-body">View contacts that will receive communications and the sent communications for this licence.</p>
<ul class="govuk-list">
<li> <a href="#current-contacts" class="govuk-link">Communications list</a></li>
<li>  <a href="#sent-communications" class="govuk-link">Sent communications</a></li>
</ul>
<hr class="govuk-section-break govuk-section-break--m ">

<div id="current-contacts">
{% include "sandbox/_includes/licence/contact-details-v2.html" %}
</div>
<hr class="govuk-section-break govuk-section-break--l">
  <h2 class="govuk-heading-m" id="sent-communications">
     Sent communications
    </h2>-->


{% set communications = data.licences[data.ID]['communications'] %}
    <!--check to see if there is any charge information set up-->
    {% if communications.length  %}
    <!--if so display the table-->

    {% include "sandbox/_includes/licence/communications-table.html" %}

    {% else %}

    <!--<h2 class="govuk-heading-l">Communications</h2>-->

    <p class="govuk-body">No communications have been sent for this licence.</p>

    {% endif %}
  </div>

  </div>
  </div>

{% endblock %}