{% extends "layouts/wrls-layout-sub-nav.html" %}

{% set title = "Conditions" %}

<!-- set the sub nav -->
<!--parent-->
{% set licenceSummary = true %}
<!--child-->
{% set conditions = true %}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


<!--content block-->
{% block service %}


  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">


  <h1 class="govuk-heading-l">
<span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
{{ title }}
      </h1>

     <p class="govuk-body-l">Showing {{data.licences[data.ID].absConditions |length}} further conditions</p>

{% include "/sandbox/_includes/licence/conditions.html" %}


 </div>
</div>

{% endblock %}
