{% extends "layouts/wrls-layout-sub-nav.html" %}

<!--set title-->
{% set title = "Licence contacts" %}

<!-- set sub nav-->
{% set contactDetails =  true %}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}



<!-- page title -->

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
      {{title}}
    </h1>
      {% set loopNumber = "" %}
     {% for i in data['customers'] %}
     {% if data.licences[data.ID].holder == data.customers[loop.index0]['name'] %}
     {% set loopNumber = loop.index0 %}
     {% endif %}
     {% endfor %}
   <!--<p class="govuk-body">View a list of the contacts that are assigned to this licence, manage which licences contacts are assigned to on the <a href="../customer/contacts?customerID={{loopNumber}}">customer contacts</a> page.</p>-->
       <!--Licence contact-details-->
    {% include "sandbox/_includes/licence/contact-details-v4.html" %} 



  </div>
  </div>



{% endblock %}