{% extends "layouts/_manage.html" %}

{% set title = "Licence version" %}

<!-- set sub nav -->
<!--parent-->
{% set history = true %}
<!--child-->
{% set licenceVersion = true %}


{% block breadcrumbs %}

{{ govukBackLink({
  text: "Back to history",
  href: "history"
}) }}


{% endblock %}



{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-9">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
        {{ title }} starting {{data.licences[data.ID].abstractionVersions[data.versionID].startDate}}
      </h1>
       {{govukTag({
          text: data.licences[data.ID].changeLog[data.versionID].changeType |capitalize,
          classes: "govuk-!-margin-bottom-5 " + data.licences[data.ID].changeLog[data.versionID].changeType | changeTypeColour
        })}}

      {# only show full meta data and notes for billing and data #}
      {% if data.role == "bd" %} 
      <p class="govuk-body-l govuk-!-margin-bottom-4">{{data.licences[data.ID].changeLog[data.versionID].reasonCreated |capitalize}} created on {{data.licences[data.ID].changeLog[data.versionID].changedDate}} by {{data.licences[data.ID].changeLog[data.versionID].changedBy}}</p>
       <p class="govuk-body"><span class="govuk-!-font-weight-bold">Notes:</span> {{data.licences[data.ID].changeLog[data.versionID].reasonText}}</p>
      {% else %}
      <p class="govuk-body-l govuk-!-margin-bottom-4">{{data.licences[data.ID].changeLog[data.versionID].reasonCreated |capitalize}}</p>
      <p class="govuk-body">If there are errors in this data please report them to <a class="gov-link" href="mailto:water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a></p>
      {% endif %}


{% if data.licences[data.ID].abstractionVersions|length  > 1%}
      {{ govukPagination({
        classes: "govuk-!-margin-bottom-0",
  previous: {
    text: "Previous version",
    labelText: "Starting " + data.licences[data.ID].abstractionVersions[data.versionID|stringPlusPlus].startDate,
    href: "licence-version?versionID=" + data.versionID|stringPlusPlus
  } if data.licences[data.ID].abstractionVersions[data.versionID|stringPlusPlus].startDate,
  next: {
    text: "Next version",
    labelText: "Starting " + data.licences[data.ID].abstractionVersions[data.versionID|stringMinusMinus].startDate,
    href: "licence-version?versionID=" + data.versionID|stringMinusMinus
  } if data.versionID > 0
}) }}

      {# sorting out spacing when there are previous and next or just previous or next margin top is different#}
      {% if data.versionID > 0 and data.licences[data.ID].abstractionVersions[data.versionID|stringPlusPlus].startDate %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0">
      {% else %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
      {% endif %}


{% endif %}

      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          <a class="govuk-link" href="#dates">Licence details</a>
        </li>
        <li>
          <a class="govuk-link" href="#points">Points</a>
        </li>
        <li>
          <a class="govuk-link" href="#purposes">Purposes, periods and amounts</a>
        </li>
        <li>
          <a class="govuk-link" href="#conditions">Conditions</a>
        </li>
      </ul>





      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="dates" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Licence details
  </h2>
          {% include "sandbox/_includes/licence/versionSummary.html" %}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="points" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Points
  </h2>

          {% include "/sandbox/_includes/licence/points.html" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="purposes" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Purposes, periods and amounts
  </h2>

          {% include "/sandbox/_includes/licence/purposes.html" %}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="conditions">
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Conditions
  </h2>

          {% include "/sandbox/_includes/licence/conditions.html" %}
        </div>
      </div>

    </div>
  </div>

{% endblock %}