{% extends "layouts/_manage.html" %}

{% set title = "Licence version" %}

<!-- set sub nav -->
<!--parent-->
{% set history = true %}
<!--child-->
{% set licenceVersion = true %}


{% block breadcrumbs %}

{{ govukBackLink({
  text: "Back to history",
  href: "history"
}) }}


{% endblock %}



{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-9">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
        {{ title }} starting {{data.licences[data.ID].abstractionVersions[data.versionID].startDate}}
      </h1>
       {{govukTag({
          text: data.licences[data.ID].changeLog[data.versionID].changeType |capitalize,
          classes: "govuk-!-margin-bottom-5 " + data.licences[data.ID].changeLog[data.versionID].changeType | changeTypeColour
        })}}

       
      <p class="govuk-body-l ">{{data.licences[data.ID].changeLog[data.versionID].reasonCreated |capitalize}} created on {{data.licences[data.ID].changeLog[data.versionID].changedDate}} by {{data.licences[data.ID].changeLog[data.versionID].changedBy}}</p>

      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          <a class="govuk-link" href="#customer">Customer</a>
        </li>
        <li>
          <a class="govuk-link" href="#dates">Abstraction details</a>
        </li>
        <li>
          <a class="govuk-link" href="#points">Points</a>
        </li>
        <li>
          <a class="govuk-link" href="#purposes">Purposes, periods and amounts</a>
        </li>
        <li>
          <a class="govuk-link" href="#conditions">Conditions</a>
        </li>
      </ul>



{% if data.licences[data.ID].abstractionVersions|length  > 1%}
      {{ govukPagination({
  previous: {
    labelText: "Starting " + data.licences[data.ID].abstractionVersions[data.versionID|stringPlusPlus].startDate,
    href: "licence-version?versionID=" + data.versionID|stringPlusPlus
  } if data.licences[data.ID].abstractionVersions[data.versionID|stringPlusPlus].startDate,
  next: {
    labelText: "Starting " + data.licences[data.ID].abstractionVersions[data.versionID|stringMinusMinus].startDate,
    href: "licence-version?versionID=" + data.versionID|stringMinusMinus
  } if data.versionID > 0
}) }}
{% endif %}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="customer" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Licence holder
  </h2>
          {% include "sandbox/_includes/licence/versionCustomer.html" %}
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="dates" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Licence details
  </h2>
          {% include "sandbox/_includes/licence/versionSummary.html" %}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="points" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Points
  </h2>

          {% include "/sandbox/_includes/licence/points.html" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="purposes" >
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Purposes, periods and amounts
  </h2>

          {% include "/sandbox/_includes/licence/purposes.html" %}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"id="conditions">
          <h2 class="govuk-heading-m govuk-!-margin-top-3" >
  Conditions
  </h2>

          {% include "/sandbox/_includes/licence/conditions.html" %}
        </div>
      </div>

    </div>
  </div>

{% endblock %}