{% extends "layouts/wrls-layout-sub-nav.html" %}

{% set title = "Licence set up" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


<!--content block-->
{% block service %}



  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">


  <h1 class="govuk-heading-l">
<span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
{{ title }}
      </h1>

  {% include "sandbox/_includes/licence/returns-versions.html" %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% include "sandbox/_includes/licence/charge-information.html" %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% include "sandbox/_includes/licence/agreements.html" %}

  </div>
</div>





{% endblock %}
