{% extends "layouts/wrls-layout-sub-nav.html" %}

{% set title = "Points" %}

<!-- set sub nav -->
<!--parent-->
{% set licenceSummary = true %}
<!--child-->
{% set points = true %}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}

{{ govukBackLink({
  text: "Back to summary",
  href: "../licence"
}) }}


{% endblock %}


<!--content block-->
{% block service %}


  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
   
   {% set coordinates = [] %}
   {% for i in data.licences[data.ID].gridRefs %}
   {% set coordinates = coordinates| push(i |convertNGR | toLngLat ) %}
   {% endfor %}

  

  <h1 class="govuk-heading-l">
<span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
{{ title }}
      </h1>
    <!--  <p class="govuk-body"><a class="govuk-link" href="points/map?location={{coordinates|dump}}&center={{coordinates[0]}}">View these points on a map</a></p> -->
           <p class="govuk-body-l">Showing {{data.licences[data.ID].absPoints |length}} abstraction points</p>
   
{% include "/sandbox/_includes/licence/points.html" %}

</div>
</div>


{% endblock %}
