{% extends "layouts/wrls-layout-sub-nav.html" %}

<!--set title-->
{% set title = "Recipients" %}


<!-- set sub nav -->
<!--parent-->
{% set contactDetails = true %}
<!--child-->
{% set recipients = true %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search",
      href: "/sandbox/home-search?navCustomers=&navBillRuns=&navManage="
    },
        {
      text: "Customers",
      href: "/sandbox/customers?navCustomers=navbar__link--active&navBillRuns=&navManage="
    },
     {
      text: data.licences[data.ID].holder,
      href: "/sandbox/customer?customerID="+data.customerID+"&navCustomers=navbar__link--active&navBillRuns=&navManage="
    },
     {
      text: "Licence contacts",
      href: "/sandbox/licence/contact-details?licenceID="+data.ID+"&navCustomers=navbar__link--active&navBillRuns=&navManage="
    }
  ]
}) }}

{% endblock %}

<!--content block-->
{% block service %}


<!-- page title -->

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
      {{title}}
    </h1>


{% include "sandbox/_includes/licence/recipients-list.html" %}




  </div>
  </div>



{% endblock %}