{% extends "layouts/wrls-layout-sub-nav.html" %}

<!--set title-->
{% set title = "Returns" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

{% set purpose %}
      {{data.licences[data.ID].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
      {% endset %}


<!-- page title -->

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
    {% if data.licences[data.ID].name.length %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} licence {{[data.licences[data.ID].number]}}</span>
      {{title}}
    </h1>
    {% else %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} licence </span>
      {{title}}
    </h1>
    {% endif %}

    <!-- show confidential warning if licence is marked as confidential-->
{% if data.licences[data.ID].confidentiality | match("confidential") %}

    {{ govukWarningText({
  text: "This licence is confidential.",
  iconFallbackText: "Warning"
}) }}

{% endif %}

<!-- show expired banner if licence is expired-->
{% if [data.licences[data.ID].expired] == "true" %}

    {% include "sandbox/_includes/licence/expired-banner.html" %}

{% endif %}

       {% set returns = data.licences[data.ID]['returns'] %}
    <!--check to see if there is any charge information set up-->
    {% if returns.length  %}
    <!--if so display the table-->
    <!-- returns with statuses -->
    {% include "sandbox/_includes/licence/returns.html" %}

    {% else %}

    <!--<h2 class="govuk-heading-l">Returns</h2>-->

    <p class="govuk-body">No requirements for returns have been set up for this licence.</p>

    <!--<p class="govuk-body"><a class="govuk-link" href="#charge">Set up new requirements for returns</a></p>-->

    {% endif %}
  </div>
  </div>



{% endblock %}