{% extends "layout_wrls.html" %}

{% set title = "You’re about to remove second part charges from the bill run" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-manage.html" %}
</div>

{{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

<!-- page title -->
<!-- page title -->
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">



      <h1 class="govuk-heading-xl "><span class="govuk-caption-l">{{data['region'] |default ("Anglian")| firstToUpperCase }} supplementary bill run</span>{{ title }}</h1>

      {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: "Licence",
            classes: "meta-data__label"
          },
          value: {
            text: data.licenceNumber,
            classes: "meta-data__value"
          }
        },
        {
          key: {
            text: "Financial year",
            classes: "meta-data__label"
          },
          value: {
            text: data.fy,
            classes: "meta-data__value"
          }
        },
        {
          key: {
            text: "Billing account",
            classes: "meta-data__label"
          },
          value: {
            text: data.ba,
            classes: "meta-data__value"
          }
        }
      ]
      }) }}





  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full ">


      <form  action="remove-financial-year" method="post" novalidate>

   {{ govukButton({
  text: "Remove charges",
  type: "submit"
}) }}

    </form>

</div>
</div>







{% endblock %}
