{% extends "layout_wrls.html" %}

{% set title = "Licence access given" %}

{% block pageTitle %}
   Send a security code - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/dashboard/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    {% include "current/includes/nav/nav-dash-manage.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <!-- {{title}} -->
      Access email sent to office@peatree.co.uk
    </h1>

    <p class="govuk-body">
      We have sent instructions on how to view your licences
    </p>

    <p class="govuk-body">
      <a href="give-access">
        Return to give access
      </a>
    </p>

    <p class="govuk-body">
      You can remove access to your licences on this page
    </p>

  </div>
</div>

{% endblock %}
