{% extends "layout_wrls.html" %}

{% set title = "Remove further condition" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-8">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ar-edit.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Remove condition
        </h1>

        <h2 class="govuk-heading-m">
          8.1 Level cessation
        </h2>

        <div class="govuk-inset-text">
          Abstraction of water during the period <span class="govuk-body govuk-!-font-weight-bold">November to March</span> inclusive pursuant to this licence shall be reduced to <span class="govuk-body govuk-!-font-weight-bold">247 cubic metres</span> in any one day upon receipt by the licence holder of a notice in writing from the Authority that the average daily mean level measured by the gauge is less than the prescribed level and abstraction from <span class="govuk-body govuk-!-font-weight-bold">Point A</span> shall not be resumed until receipt by the licence holder of a further notice in writing from the Authority that the average daily mean level measured by the gauge is greater than the prescribed level.
        </div>

        <p class="govuk-body">
          You are about to remove this further condition.
        </p>

        <a href="licence-review" type="submit" class="govuk-button">
          Continue
        </a>

      </div>
    </div>

  </main>

</div>
{% endblock %}
