{% extends "layout_wrls.html" %}

{% set title = "Further condition groups" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-8">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ar-edit.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form data-routing="1">

        

          {{ govukRadios({
            idPrefix: "returnStatus",
            name: "returnStatus",
            fieldset: {
              legend: {
                text: "Choose the further conditions group",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "",
                text: "Minimum value condition"
              },
              {
                value: "licence-review/add-hands-off",
                text: "Hands off flows and levels"
              },
              {
                value: "",
                text: "Augmentation & compensation devices"
              },
              {
                value: "",
                text: "Flow and level measuring devices"
              },
              {
                value: "",
                text: "Ongoing measurement & maintenance"
              },
              {
                value: "",
                text: "Recording"
              },
              {
                value: "",
                text: "Storage conditions"
              },
              {
                value: "",
                text: "Chemical conditions (for example salinity)"
              },
              {
                value: "",
                text: "Land on which licence authorises use of water"
              },
              {
                value: "",
                text: "Point at which water must be returned"
              },
              {
                value: "",
                text: "Temporary licence condition"
              },
              {
                value: "",
                text: "Groundwater conditions"
              },
              {
                value: "",
                text: "Ground source heating and cooling pumps"
              },
              {
                value: "",
                text: "Screening"
              },
              {
                value: "",
                text: "Fish and Eel passage"
              },
              {
                value: "",
                text: "Hydropower"
              },
              {
                value: "",
                text: "Impounding conditions"
              },
              {
                value: "",
                text: "Obstructing or impeding the flow of an inland water"
              },
              {
                value: "",
                text: "Removal of impounding works"
              },
              {
                value: "",
                text: "Water rights trading"
              },
              {
                value: "",
                text: "Environmental monitoring"
              },
              {
                value: "",
                text: "Control on abstraction"
              },
              {
                value: "",
                text: "Derogation agreement"
              },
              {
                value: "licence-review/add-aggregate-amounts",
                text: "Aggregate amounts"
              }
            ]
          })
        }}

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
