{% extends "layout_wrls.html" %}

{% set title = "Licence review list" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ar-edit.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Digitise!
      </h1>
    </div>
  </div>

  <!-- search for licences -->
  <!-- no extra styles -->
  <form action="licences-list">
    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Search for a licence
        </label>
        <span id="search-hint" class="govuk-hint">
          Email, licence number or licence name
        </span>
        <input class="govuk-input govuk-input--width-20 govuk-!-display-inline-block" id="search" name="search" type="text" aria-describedby="search-hint">
        <button type="submit" class="govuk-button">
          Search
        </button>
      </div>

    </fieldset>
  </form>

  <!-- table with three columns -->
  <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

    <div class="table__row--head">                                              <!-- the table head -->
      <div class="table__cell bold-small column--25">
        Licence number
      </div>
      <div class="table__cell bold-small column--50">
        Last editor
      </div>
      <div class="table__cell bold-small column--25">
        Last edit
      </div>
      <div class="table__cell bold-small">
        Status
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 1
        </h3>
        <h4 class="table__context">
          Licence number
        </h4>
        <a href="licence-review">
          <!-- uses the licence name if there is one, otherwise number -->
          02/113
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last editor
        </h4>
        dave.javlit@environment-agency.gov.uk
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last edit
        </h4>
        5 January 2019
      </div>
      <div class="table__cell table__cell--no-wrap">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status table__status--todo">
          Pending
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 2
        </h3>
        <h4 class="table__context">
          Licence number
        </h4>
        <a href="licence-review">
          <!-- uses the licence name if there is one, otherwise number -->
          01/642/012/*G34
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last editor
        </h4>
          dave.javlit@environment-agency.gov.uk
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last edit
        </h4>
        5 January 2019
      </div>
      <div class="table__cell table__cell--no-wrap">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status table__status--todo">
          In progress
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 3
        </h3>
        <h4 class="table__context">
          Licence number
        </h4>
        <a href="licence-review">
          <!-- uses the licence name if there is one, otherwise number -->
          03/28/60/0033
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last editor
        </h4>
        marriella.freeburg@environment-agency.gov.uk
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last edit
        </h4>
        4 January 2019
      </div>
      <div class="table__cell table__cell--no-wrap">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status table__status--open">
          Licence review
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 4
        </h3>
        <h4 class="table__context">
          Licence number
        </h4>
        <a href="licence-review">
          <!-- uses the licence name if there is one, otherwise number -->
          256/08/129/44/10
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last editor
        </h4>
        pete.howzen@environment-agency.gov.uk
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last edit
        </h4>
        3 January 2019
      </div>
      <div class="table__cell table__cell--no-wrap">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status table__status--open">
          Licence review
        </strong>
      </div>
    </div>

    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 5
        </h3>
        <h4 class="table__context">
          Licence number
        </h4>
        <a href="licence-review">
          <!-- uses the licence name if there is one, otherwise number -->
          01/04/12/0047
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last editor
        </h4>
        marriella.freeburg@environment-agency.gov.uk
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last edit
        </h4>
        2 January 2019
      </div>
      <div class="table__cell table__cell--no-wrap">
        <h4 class="table__context">
          Status
        </h4>
        <strong class="table__status">
          Approved
        </strong>
      </div>
    </div>
    <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

      <div class="table__cell">
        <h3 class="screen-reader-only">
          Row 6
        </h3>
        <h4 class="table__context">
          Licence number
        </h4>
        <a href="licence-review">
          <!-- uses the licence name if there is one, otherwise number -->
          01/04/12/0048
        </a>
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last editor
        </h4>
        dave.javlit@environment-agency.gov.uk
      </div>
      <div class="table__cell">
        <h4 class="table__context">
          Last edit
        </h4>
        2 January 2019
      </div>
      <div class="table__cell table__cell--no-wrap">
        <h4 class="table__context">
          Status
        </h4>
        <!-- <strong class="table__status">
          Complete
        </strong> -->
      </div>
    </div>

  </div>

{% endblock %}
