{% extends "layout_wrls.html" %}

{% set title = "Search for licences" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ar-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike</h1>
    </div>
  </div>

  <section class="govuk-!-margin-bottom-8">

    <!-- licence name -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Licence name</div>
      <!-- licence data -->
      <div class="data-row__value">
        Scrifford Pike
      </div>
    </div>

    <!-- licence holder -->
    <div class="data-row">
      <div class="data-row__param">Licence holder</div>
      <div class="data-row__value">
        Daniel Caan
        <br><a href="licence/contacts">View licence contact details</a>
      </div>
    </div>

    <!-- licence start -->
    <div class="data-row">
      <div class="data-row__param">Effective from</div>
      <div class="data-row__value">
        31 December 1983
      </div>
    </div>

    <!-- licence end -->
    <div class="data-row">
      <div class="data-row__param">End date</div>
      <div class="data-row__value">
        31 December 2025
      </div>
    </div>

    <!-- water body / source -->
    <div class="data-row">
      <div class="data-row__param">Source of supply</div>
      <div class="data-row__value">
        Underground strata comprising of Mercia Mudstone at Anarea, Atown.
      </div>
    </div>

    <!-- purpose -->
    <div class="data-row">
      <div class="data-row__param">Purpose</div>
      <div class="data-row__value">
        Spray irrigation
      </div>
    </div>

    <!-- period -->
    <div class="data-row">
      <div class="data-row__param">Period of abstraction</div>
      <div class="data-row__value">
        March to September
      </div>
    </div>

    <!-- points -->
    <div class="data-row">
      <div class="data-row__param">Points of abstraction</div>
      <div class="data-row__value">
        At National Grid Reference SK 675124
        <br>At National Grid Reference SK 675343
        <br><a href="licence/points">View details of abstraction points</a>
      </div>
    </div>

    <!-- conditions -->
    <div class="data-row">
      <div class="data-row__param">Abstraction conditions</div>
      <div class="data-row__value">
        Eel screening condition
        <br>Flow cessation condition
        <br>Chemical cessation condition
        <br><a href="licence/conditions">View details of abstraction conditions</a>
      </div>
    </div>

    <!-- amounts -->
    <div class="data-row">
      <div class="data-row__param">Abstraction amounts</div>
      <div class="data-row__value">
        900 cubic metres per hour
        <br>1,250 cubic metres per day
        <br>1,250,000 cubic metres per year
      </div>
    </div>

    <!-- returns -->
    <div class="data-row">
      <div class="data-row__param">Returns for this licence</div>
      <div class="data-row__value">
        <a href="">View returns</a>
      </div>
    </div>

  </section>

{% endblock %}
