{% extends "layout_wrls.html" %}

{% set title = "Licence review list" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ar-edit.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1  class="heading-large govuk-heading-l">
        Returns licence data
      </h1>
    </div>
  </div>

  <!-- search for licences -->
  <!-- no extra styles -->
  <form action="licences-list">
    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Search for a licence
        </label>
        <span id="search-hint" class="govuk-hint">
          Search by registered email address, licence number or licence name
        </span>
        <input class="govuk-input govuk-input--width-20 govuk-!-display-inline-block" id="search" name="search" type="text" aria-describedby="search-hint">
        <button type="submit" class="govuk-button">
          Search
        </button>
      </div>

    </fieldset>
  </form>


  <!-- govuk-tabs for different functions -->


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Abstraction reform views
    </h2>

    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#all">
          All
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#edits">
          Edits
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#approval">
          Approval
        </a>
      </li>
    </ul>

    <section class="govuk-tabs__panel" id="all">

      <!-- table with three columns -->
      <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--25">
            Licence number
          </div>
          <div class="table__cell bold-small column--50">
            Last editor
          </div>
          <div class="table__cell bold-small column--25">
            Last edit
          </div>
          <div class="table__cell bold-small">
            Status
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              02/113
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            dave.javlit@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            5 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              4/29/01/*G/001
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
              dave.javlit@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            5 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              03/28/60/0033
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            marriella.freeburg@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            4 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--open">
              Licence review
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              256/08/129/44/10
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            pete.howzen@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            3 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--open">
              Licence review
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              01/04/12/0047
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            marriella.freeburg@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            2 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Approved
            </strong>
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              11/*G/012/68/01
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            dave.javlit@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 7
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              32/11/42/671/0
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            marriella.freeburg@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 8
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              AN/P23/11/01
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 9
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              14/120/68/001
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 10
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              14/81/62/002
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 11
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              04/27/001/26r001
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row table__row--last govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 12
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              01/04/21/0408
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>

      </div>

    </section>

    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="edits">

      <!-- table with three columns -->
      <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--25">
            Licence number
          </div>
          <div class="table__cell bold-small column--50">
            Last editor
          </div>
          <div class="table__cell bold-small column--25">
            Last edit
          </div>
          <div class="table__cell bold-small">
            Status
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              02/113
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            dave.javlit@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            5 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              4/29/01/*G/001
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
              dave.javlit@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            5 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              11/*G/012/68/01
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            dave.javlit@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              32/11/42/671/0
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            marriella.freeburg@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              In progress
            </strong>
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              AN/P23/11/01
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              14/120/68/001
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 7
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              14/81/62/002
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 8
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              04/27/001/26r001
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>
        <div class="table__row table__row--last govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 9
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              01/04/21/0408
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            <!-- dave.javlit@environment-agency.gov.uk -->
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            <!-- 2 January 2019 -->
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <!-- <strong class="table__status">
              Complete
            </strong> -->
          </div>
        </div>

      </div>

    </section>

    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="approval">

      <!-- table with three columns -->
      <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--25">
            Licence number
          </div>
          <div class="table__cell bold-small column--50">
            Last editor
          </div>
          <div class="table__cell bold-small column--25">
            Last edit
          </div>
          <div class="table__cell bold-small">
            Status
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              03/28/60/0033
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            marriella.freeburg@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            4 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--open">
              Licence review
            </strong>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              256/08/129/44/10
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            pete.howzen@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            3 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--open">
              Licence review
            </strong>
          </div>
        </div>

        <div class="table__row table__row--last govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Licence number
            </h4>
            <a href="licence-review">
              <!-- uses the licence name if there is one, otherwise number -->
              01/04/12/0047
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last editor
            </h4>
            marriella.freeburg@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Last edit
            </h4>
            2 January 2019
          </div>
          <div class="table__cell table__cell--no-wrap">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Approved
            </strong>
          </div>
        </div>

      </div>

    </section>

  </div>


{% endblock %}
