{% extends "layouts/_manage.html" %}

<!--set page title-->


{% set title = "Abstraction return" %}




{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- page heading -->

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><span class="govuk-caption-l ">Licence {{data.licences[data.ID]['number']}}</span> {{title}}</h1>


  </div>
</div>

{{ govukSummaryList({
classes: 'govuk-summary-list--no-border',
rows: [
  {
    key: {
      text: "Return reference",
      classes: "meta-data__label"
    },
    value: {
      text: data.licences[data.ID].returns[data.returnIndex].id,
      classes: "meta-data__value"
    }
  },
  {
    key: {
      text: "Site description",
      classes: "meta-data__label"
    },
    value: {
      text: data.licences[data.ID].returns[data.returnIndex].description,
      classes: "meta-data__value"
    }
  },
  {
    key: {
      text: "Purpose",
      classes: "meta-data__label"
    },
    value: {
      text: data.licences[data.ID].returns[data.returnIndex].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br,
      classes: "meta-data__value"
    }
  },
  {
    key: {
      text: "Returns period",
      classes: "meta-data__label"
    },
    value: {
      text: "From " + data.licences[data.ID].returns[data.returnIndex].returnsPeriodStart | numberToGovukDate + " to " + data.licences[data.ID].returns[data.returnIndex].returnsPeriodEnd | numberToGovukDate,
      classes: "meta-data__value"
    }
  },
  {
    key: {
      text: "Abstraction period",
      classes: "meta-data__label"
    },
    value: {
      text: "From " + data.licences[data.ID].returns[data.returnIndex].periodStart | mmddToDate + " to " + data.licences[data.ID].returns[data.returnIndex].periodEnd | mmddToDate,
      classes: "meta-data__value"
    }
  },
  {
    key: {
      text: "Standard tariff",
      classes: "meta-data__label"
    }
  }
]
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">
{% include "sandbox/_includes/returns/submission/notes.html" %}
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full govuk-!-margin-bottom-4">

{{""|today}}

{{ govukSummaryList({
card: {
title: {
  text: "Reporting details",
  classes: "govuk-!-font-size-27"
}
},
rows: [
{
key: {
text: "Return received"
},
value: {
text: data.dateReturnReceived |numberToGovukDate
},
actions: {
items: [
  {
    href: "../date-received?change=true",
    text: "Change",
    visuallyHiddenText: "return received"
  }
]
}
}
]
}) }}

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <section class="govuk-!-margin-bottom-8">
      <div class="govuk-summary-list govuk-!-margin-bottom-0">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0" >Nil return</h2>
      <span class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-body"  href="how-to-submit">
                    Change
                      </a>
      </span>
  </div>
  <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
    </section>

      <form  method="post" class="form">

        <button type="submit" class="govuk-button">
          Submit
        </button>

      </form>

    </div>
    </div>






{% endblock %}
