{% extends "layout.html" %}

{% set title = "Further condition groups" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--big">
    <!-- navigation block -->
    {% include "includes/nav/nav-ar-edit.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Choose the further conditions group
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-1" name="futher-condition-groups" type="radio" value="1">
            <label class="govuk-label govuk-radios__label" for="futher-condition-groups-1">
              Minimum value condition
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-2" name="futher-condition-groups" type="radio" value="2">
            <label class="govuk-label govuk-radios__label" for="futher-condition-groups-2">
              Hands off flows and levels
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-3" name="futher-condition-groups" type="radio" value="3">
            <label class="govuk-label govuk-radios__label" for="futher-condition-groups-3">
              Augmentation & compensation devices
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-4" name="futher-condition-groups" type="radio" value="4">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
              Flow and level measuring devices
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-5" name="futher-condition-groups" type="radio" value="5">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
              Ongoing measurement & maintenance
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-6" name="futher-condition-groups" type="radio" value="6">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
              Ongoing measurement and maintenance
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-7" name="futher-condition-groups" type="radio" value="7">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
              Recording
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-8" name="futher-condition-groups" type="radio" value="8">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-8">
              Storage conditions
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-9" name="futher-condition-groups" type="radio" value="9">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-9">
              Time limiting - asbtraction start
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-10" name="futher-condition-groups" type="radio" value="10">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-10">
              Chemical conditions (for example salinity)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-11" name="futher-condition-groups" type="radio" value="11">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-11">
              Land on which licence authorises use of water
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-12" name="futher-condition-groups" type="radio" value="12">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-12">
              Point at which water must be returned
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-13" name="futher-condition-groups" type="radio" value="13">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-13">
              Temporary licence condition
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-14" name="futher-condition-groups" type="radio" value="14">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-14">
              Groundwater conditions
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-15" name="futher-condition-groups" type="radio" value="15">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-15">
              Ground source heating and cooling pumps
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-16" name="futher-condition-groups" type="radio" value="16">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-16">
              Screening
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-17" name="futher-condition-groups" type="radio" value="17">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-17">
              Fish and Eel passage
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-18" name="futher-condition-groups" type="radio" value="18">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-18">
              Hydropower
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-19" name="futher-condition-groups" type="radio" value="19">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-19">
              Impounding conditions
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-20" name="futher-condition-groups" type="radio" value="20">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-20">
              Obstructing or impeding the flow of an inland water
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-21" name="futher-condition-groups" type="radio" value="21">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-21">
              Removal of impounding works
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-22" name="futher-condition-groups" type="radio" value="22">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-22">
              Water rights trading
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-23" name="futher-condition-groups" type="radio" value="23">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-23">
              Environmental monitoring
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-24" name="futher-condition-groups" type="radio" value="24">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-24">
              Control on abstraction
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="futher-condition-groups-25" name="futher-condition-groups" type="radio" value="25">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-25">
              Derogation agreement
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <p class="govuk-body">
      You are about to remove this further condition.
    </p>

    <a href="licence-review-add-condition" type="submit" class="govuk-button">
      Continue
    </a>

  </main>

</div>
{% endblock %}
