{% extends "layout.html" %}

{% set title = "Connect licences" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-ar-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <h2>
        Add licences to the group
      </h2>

      <section class="govuk-!-margin-bottom-9">

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Licence 1
          </label>
          <input class="govuk-input govuk-input--width-20" id="licence-1" name="licence-1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Licence 2
          </label>
          <input class="govuk-input govuk-input--width-20" id="licence-2" name="licence-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Licence 3
          </label>
          <input class="govuk-input govuk-input--width-20" id="licence-2" name="licence-2" type="text">
          <a href="group-licences-added" class="margin-left__15">
            Remove
          </a>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Licence 4
          </label>
          <input class="govuk-input govuk-input--width-20" id="licence-2" name="licence-2" type="text">
          <a href="group-licences-added" class="margin-left__15">
            Remove
          </a>
        </div>

        <a href="group-licences-added-more">
          Add another
        </a>

        <!-- <button type="" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another
        </button> -->

      </section>

      <a href="" type="submit" class="govuk-button">
        Connect these licences
      </a>

    </div>
  </div>
{% endblock %}
