{% extends "layout.html" %}

{% set title = "Manage" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-ar-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Other Digitise! functions
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">
      Digitise licences
    </h2>

    <ul class="govuk-list">

      <li>
        <a class="govuk-link" href="group-licences">
          Connect licences
        </a>
      </li>

    </ul>

  </div>

  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">
      Reports
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="ar-report" id="digitise-report">
          Abstraction reform report
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
