

<ul class="govuk-summary-list__actions-list govuk-!-margin-bottom-3">
  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="#">
      Summary
    </a></li>
  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="#">
      Returns
    </a></li>
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="#">
      Charge information
    </a></li>
</ul>

<!-- Alt menu design for right hand column
<div class="govuk-!-padding-top-1" style="border-top: 2px solid rgb(29, 112, 184);">
<h2 class="govuk-!-margin-bottom-0 govuk-heading-s" >Licence details</h2>
<ul class="govuk-list govuk-!-margin-bottom-0" >
  <li class="govuk-list-item"><a class="govuk-link govuk-body-s govuk-link--no-visited-state " href="#">
      Summary
    </a></li>
  <li class="govuk-list-item"><a class="govuk-link govuk-body-s govuk-link--no-visited-state " href="#">
      Returns
    </a></li>
    <li class="govuk-list-item"><a class="govuk-link govuk-body-s govuk-link--no-visited-state " href="#">
      Charge information
    </a></li>
</ul>
</div>
-->