

{% set rows = [] %}
{% set elementHeading = "" %}


{#loop through charge references#}
{% for chargeReference in chargeReferences%}

{% set chargeReferenceID = loop.index0 %}

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">


    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h3 class="govuk-summary-card__title"><span class="govuk-!-font-weight-regular">Charge reference {{chargeReference.chargeCategory.reference}}</span><br>{{chargeReference.chargeCategory.shortDescription | base64Decode}}</h3>
      </div>
      
      <div class="govuk-summary-card__content govuk-!-padding-top-0">

{# This functionality has been moved to the reference review page #}


{# create the rows for the charge table #}        
{% set rows = []%}

{# example charge #}
{# This set of charge calculations is simulating what the charge module api will do #} 
       
       {% set tptRatio = chargeReference.totalBillableReturns/chargeReference.authorisedVolume %}
       {% set charge = 100000*tptRatio*0.5 %}

       {% if chargeReference.aggregateFactor.length %}
       {% set charge =  charge*chargeReference.aggregateFactor %}
       {% elseif chargeReference.adjustmentFactor.length %}
       {% set charge =  charge*chargeReference.adjustmentFactor %}
       {% elseif chargeReference.adjustments.length %}
       {% set charge =  charge*0.5%}
       {% endif %}
      
       {# This is  now based on whether the adjustment factors or actual amount is changed #}
       {% if chargeReference.edited == true or chargeReference.totalEdited == true %}
       {% set rows = rows | push( {key: {text: "Example charge"},value: {text:  charge |currency} }  ) %}
       {% endif %}

{# Authorised adjustments #}
{% if chargeReference.aggregateFactor.length %}
  {% if chargeReference.totalEdited == true%}
  {% set rows = rows | push( {key: {text: "Total billable returns"},value: {text: chargeReference.totalBillableReturns + "ML / " +  chargeReference.authorisedVolume + "ML Edited"},actions: { items: [{href: "set-total-billable-returns?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "Change authorised amount"}]} }  ) %}
  {% else %}
  {% set rows = rows | push( {key: {text: "Total billable returns"},value: {text: chargeReference.totalBillableReturns + "ML / " +  chargeReference.authorisedVolume + "ML"},actions: { items: [{href: "set-total-billable-returns?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "Change authorised amount"}]} }  ) %}
  {% endif %}
{% else %}
{% set rows = rows | push( {key: {text: "Total billable returns"},value: {text: chargeReference.totalBillableReturns + "ML / " +  chargeReference.authorisedVolume + "ML"} }) %}
{% endif %}

{# additional charges#}
{% if chargeReference.additionalCharges.length %}
{% set rows = rows | push( {key: {text: "Additional charges"},value: {text: chargeReference.additionalCharges | formatList | capitalize } }  ) %} 
{% endif %}

{# charge reference adjustments, aggregates and additional charges #}
{% set adjustments = ""%}
{% set aggregateFactor = "" %}
{% set adjustmentFactor = "" %}
{% set factors = "" %}
{% if chargeReference.aggregateFactor.length or chargeReference.adjustmentFactor.length or chargeReference.adjustments.length %}

    {% if chargeReference.aggregateFactor.length %}
    {% set aggregateFactor = 'Aggregate factor (' +chargeReference.aggregateFactor + ')<br>'%}
      {% if chargeReference.edited == true %}
      {% set aggregateFactor = 'Aggregate factor (' +chargeReference.aggregateFactor + ') Edited<br>'%}
      {% endif %}
    {% endif %}
    
    {% if chargeReference.adjustmentFactor.length %}
    {% set adjustmentFactor = 'Charge adjustment (' + chargeReference.adjustmentFactor + ')<br>'%}
      {% if chargeReference.edited == true %}
      {% set adjustmentFactor = 'Charge adjustment (' + chargeReference.adjustmentFactor + ') Edited<br>'%}
      {% endif %}
    {% endif %}

    {% if chargeReference.adjustments.length %}
    {% set adjustments = chargeReference.adjustments |join("<br>")%}
    {% endif %}

    {% set rows = rows | push( {key: {text: "Adjustments"},value: {html: aggregateFactor + adjustmentFactor + adjustments }, actions: { items: [{href: "set-adjustment-factors?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "Change factors"}]}  }  ) %} 

{# not needed 
    {% else %}
{% set setFactors = '<a class="govuk-link" href="set-adjustment-factors?chargeVersionID=' + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0+ '">Set adjustment factors</a>' %}
#}

{% endif %}

{% set rows = [] %}
{% if chargeReference.aggregateFactor.length or chargeReference.adjustmentFactor.length%}
{% set rows = rows | push( {key: {text: "Total billable returns"},value: {text: chargeReference.totalBillableReturns + "ML / " +  chargeReference.authorisedVolume + "ML"}, actions: { items: [{href: "reference-review?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "Change details"}]}  }  ) %} 
{% else %}
{% set rows = rows | push( {key: {text: "Total billable returns"},value: {text: chargeReference.totalBillableReturns + "ML / " +  chargeReference.authorisedVolume + "ML"}, actions: { items: [{href: "reference-review?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0,text: "View details"}]}  }  ) %} 
{% endif %}

{% if rows.length %}
<div class="govuk-!-margin-top-0 govuk-!-margin-bottom-9">
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-0",
    rows: rows
  }) }}
  {{setFactors |safe}}
  </div>
  
{% endif %}



{#loop through elements in charge references#}
{% for chargeElement in chargeReference.chargeElements %}
{% if chargeElement.tpt == true %}
{% set rows = [] %}

{# setting issues from the element #}
{% set statusTag = "" %}
{% set status = "" %}
{% set issuesText = [] %}
{% for issue in chargeElement.issues %}
{% if issue.issue.length %}
{% set issuesText = issuesText|push(issue.issue ) %}
        {% if issuesText == "returns received late" %}
        {% set status = "Ready" %}
        {% set statusTag %}
        {{govukTag({
          text: "ready",
          classes: "govuk-tag--green"
        })}}
        {% endset %}
        {% else %}
        {% set status = "review" %}
        {% set statusTag %}
        {{govukTag({
          text: "Review",
          classes: "govuk-tag--blue"
        })}}
        {% endset %}
        {% endif %}
{% else %}
{% set status = "Ready" %}
{% set statusTag %}
{{govukTag({
  text: "ready",
  classes: "govuk-tag--green"
})}}
{% endset %}
{% endif %}



{% endfor %}

{# set the billable returns #}
{% set billableReturns = "" %}
{# if the returned quantity is equal or more than  set the billable to the full authorised #}
{% if chargeElement.allocatedQuantity >= chargeElement.authorisedAnnualQuantity %}
{% set billableReturns = chargeElement.authorisedAnnualQuantity  + 'ML / ' + chargeElement.authorisedAnnualQuantity + 'ML' %}
{# if the allocated quantity is not set print the text #}
{% elseif chargeElement.allocatedQuantity == "not set" %}
{% set billableReturns = chargeElement.allocatedQuantity |capitalize  + ' / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
{% else %}
  {%if chargeElement.edited == true%}
    {% set billableReturns = chargeElement.allocatedQuantity  + 'ML (edited) / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
  {% else %}
    {% set billableReturns = chargeElement.allocatedQuantity  + 'ML / ' + chargeElement.authorisedAnnualQuantity + 'ML'%}
    {% endif %}
{% endif %}

{# set the element heading #}
{% set elementHeading %}
<span class="govuk-caption-s">Element {{loop.index}} of {{chargeReference.chargeElements.length}}<span class="float-right govuk-!-margin-left-9 govuk-!-margin-top-3">{{statusTag|safe}} </span></span>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1 ">{{chargeElement.purpose.description | default(chargeElement.purpose)}}, {{chargeElement.description}}<br> {{chargeElement.abstractionPeriod[0].startDate |govukDate}} to {{chargeElement.abstractionPeriod[0].endDate |govukDate  | nbsp |safe}} </h3>
{% endset %}
      
{#set the element rows in the summary list #}
{% set rows = rows | push( {key: {text: "Issue"},value: {text: issuesText | formatList | capitalize } }  ) %} 
{% set rows = rows | push( {key: {text: "Billable returns"},value: {text: billableReturns}, actions: {items: [{href: "element-review?chargeVersionID=" + chargeVersionID + "&chargeReferenceID=" + chargeReferenceID + "&elementID=" + loop.index0 + "&billableReturns=" + billableReturns+ "&status=" + status,text: "View match details",visuallyHiddenText: "for element " + loop.index + " of " +chargeReference.chargeElements.length  + ", " + chargeElement.purpose + ", " + chargeElement.description}]} } ) %} 
{% set rows = rows | push( {key: {text: "Return volume"},value: {text: chargeElement.returns[0].returnsQuantity + 'ML (return ref ' + chargeElement.returns[0].returnRequirement + ')'} }  ) %} 

<div class="govuk-!-margin-top-6">
{{elementHeading |safe }}
{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: rows
}) }}
</div>

{% else %}
<p class="govuk-body govuk-!-font-weight-bold">Other elements for this charge reference are not marked as two-part tariff</p>
{% endif %}

{% endfor %}

       
      </div>
  </div>

</div>
</div>

{% endfor %}


