{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Select how to contact the recipient"%}
<!--set question title-->
{% set qTitle = title %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>

{% set emailHtml %}
      {{ govukInput({
      name: "recipientsEmail",
      id: "recipientsEmail",
      value: data.recipientsEmail,
      label: {
      text: "Email address",
      classes: "govuk-label--s",
      isPageHeading: true
      }
      }) }}
{% endset %}

{% set postHtml %}
            {{ govukInput({
      name: "recipientsName",
      id: "recipientsName",
      value: data.recipientsName,
      label: {
      text: "Recipients name",
      classes: "govuk-label--s",
      isPageHeading: true
      }
      }) }}
{% endset %}

      {{ govukRadios({
  name: "contactMethod",
  fieldset: {
    legend: {
      text: title,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "email",
      text: "Email",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "post",
      text: "Post",
      conditional: {
        html: postHtml
      }
    }
  ]
}) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>



{% endblock %}