{% extends "layout.html" %}

{% set title = "Account settings" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "account-settings",
       text: "Account settings",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

<!-- page title -->
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-l">
      Account settings
    </h1>

    <h2 class="govuk-heading-m">Account email</h2>
    <p class="govuk-body-l">fozzib@outlook.com<br>
    <a href="account-update-email" class="govuk-body">Update account email</a></p>

    <h2 class="govuk-heading-m">Change account password</h2>
    <p class="govuk-body"><a href="#">Update account password</a></p>



  </div>
</div>
{% endblock %}
