{% extends "layout.html" %}

{% set title = "Contact preferences" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="space--small">
  </div>

  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

    <!-- page title -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- contact options with progressive enhancement -->
        <div class="govuk-form-group">
          <form action="agent-contact-set" method="get">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Notifications about Bidbod Foods Ltd. licences
                  </h1>
                </legend>
                <p class="govuk-body-l">
                  If you agree, we will email <span class="govuk-!-font-weight-bold">chris.fish@leviathan</span> about licences and licence returns.
                </p>
                <div class="govuk-checkboxes space--medium">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                      Email notifications
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>
        </div>

      </div>
    </div>

{% endblock %}
