{% extends "layout.html" %}

{% set title = "Contact preferences set" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="space--small">
      <!-- navigation block -->
      {% include "includes/nav/nav-ex-head.html" %}
  </div>


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l space--medium">
      Notifications about Bidbod Foods Ltd. licences
    </h1>

    <p class="govuk-body-l">
      We will email <span class="govuk-!-font-weight-bold">chris.fish@leviathan</span> about licences, your abstraction and your licence returns.
    </p>

    <p class="govuk-body">
      We still may send you some important information by post, such as any requested security codes or paper forms.
    </p>

    <a href="licences" class="govuk-button">
      Continue to licences
    </a>

  </div>
</div>

{% endblock %}
