{% extends "layout.html" %}

{% set title = "How would you prefer to be contacted?" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="space--small">
  </div>

  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- contact options with progressive enhancement -->
    <div class="govuk-form-group">
      <form action="contact-set" method="get">

        <fieldset class="govuk-fieldset space--medium" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How would you prefer to be contacted?
            </h1>
          </legend>
          <p class="govuk-body-l">
            We will use this method to contact you about licences, your abstraction and your licence returns.
          </p>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-2" name="how-contacted" type="radio" value="existing-email" data-aria-controls="conditional-how-contacted-2" checked>
            <label class="govuk-label govuk-radios__label" for="how-contacted-2">
              By email at allthingsbeingequal@gmail.com
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-1" name="how-contacted" type="radio" value="letter" data-aria-controls="conditional-how-contacted-1">
            <label class="govuk-label govuk-radios__label" for="how-contacted-1">
              By post at the address on your licence
            </label>
          </div>

        </fieldset>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>
    </div>

  </div>
</div>

{% endblock %}
