{% extends "layout.html" %}

{% set title = "Manage returns" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/account-settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="space--small">
    <!-- navigation block -->
    {% include "includes/nav/nav-ex-manage.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manage licences
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="manage/enter-code">
          Enter a security code
        </a>
      </li>

      <li>
        <a class="govuk-link" href="manage/add-licences">
          Add another licence
        </a>
      </li>

      <li>
        <a class="govuk-link" href="#">
          Give or remove access
        </a>
      </li>
      <li>
        <a class="govuk-link" href="contact-update">
          Update licence contact preferences
        </a>
      </li>
      <li>
        <a class="govuk-link" href="manage/add-licences">
          Claim licences
        </a>
      </li>
    </ul>

    <!-- <h2 class="govuk-heading-m">
      Account
    </h2>

    <ul class="govuk-list">
      <!-- <li>
        <a class="govuk-link" href="account-settings">
          Update your email address
        </a>
      </li>
      <li>
        <a class="govuk-link" href="contact-update">
          Update your contact preferences
        </a>
      </li>
    </ul> -->

  </div>
</div>

{% endblock %}
