{% extends "layout.html" %}

{% set title = "Upload returns data" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "companies",
       text: "Bidbod Foods Ltd.",
       active: true
     },
     {
       href: "#2",
       text: "Contact information"
     },
     {
       href: "#3",
       text: "Change password"
     },
     {
       href: "#4",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--small">
    <!-- navigation block -->
    {% include "includes/nav/nav-ex-returns.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation space--medium">
          <h1 class="govuk-panel__title">
             Return submitted
          </h1>
          <div class="govuk-panel__body">
             You will be able to view it in 30 days
          </div>
        </div>

        <a href="upload-returns-data">Upload more returns data</a>
        <!-- <p class="govuk-body">We will process your data and use it to complete your returns. You will see this reflected in your returns within 30 days.</p> -->

      </div>
    </div>

  </main>
</div>
{% endblock %}
