{% extends "layout.html" %}

{% set title = "Change how we contact you" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="space--small">
    {% include "includes/nav/nav-ex-manage.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- contact options with progressive enhancement -->
    <div class="govuk-form-group">
      <form action="contact-set" method="get">

        <fieldset class="govuk-fieldset space--medium" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Change how we contact you
            </h1>
          </legend>
          <p class="govuk-body-l">
            We currently contact you by email at allthingsbeingequal@gmail.com.
          </p>
          <p class="govuk-body">
            How would you like us to contact you?
          </p>

          <div class="govuk-radios govuk-radios--conditional" data-module="radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-1" name="how-contacted" type="radio" value="existing-email" data-aria-controls="conditional-how-contacted-1" checked>
              <label class="govuk-label govuk-radios__label" for="how-contacted-1">
                By email at allthingsbeingequal@gmail.com
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-2" name="how-contacted" type="radio" value="letter" data-aria-controls="conditional-how-contacted-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-2">
                By post at the address on your licence
              </label>
            </div>

          </div>

        </fieldset>

        <p class="govuk-body">
          We will still send important information by post such as security codes or paper forms.
        </p>

        <button type="submit" class="govuk-button">
          Save and continue
        </button>

        <a href="javascript:history.back()" class="cancel-link">
          Cancel
        </a>

      </form>
    </div>

  </div>
</div>

{% endblock %}
