{% extends "layout.html" %}

{% set title = "Update your contact preferences" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="space--small">
    {% include "includes/nav/nav-ex-manage.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- contact options with progressive enhancement -->
    <div class="govuk-form-group">
      <form action="contact-set" method="get">

        <fieldset class="govuk-fieldset space--medium" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Update your contact preferences
            </h1>
          </legend>
          <p class="govuk-body-l">
            We will use this method to contact you about licences, your abstraction and your licence returns.
          </p>
          <!-- <p class="govuk-body">
            We still may send you some important information by post, such as security codes or any paper forms you may have requested.
          </p> -->
          <p id="how-contacted-conditional-hint" class="govuk-hint">
            Select one option.
          </p>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="letter" data-aria-controls="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                Posted letter
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                Your registered postal address
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="existing-email" data-aria-controls="conditional-how-contacted-conditional-2" checked>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                The email address I used to sign up
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
              <p class="govuk-!-font-weight-bold">allthingsbeingeven@gmail.com</p>
            </div>

          </div>
        </fieldset>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>
    </div>

  </div>
</div>

{% endblock %}
