{% extends "layout.html" %}

{% set title = "Check your returns data" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="space--small">
    <!-- navigation block -->
    {% include "includes/nav/nav-ex-returns.html" %}
  </div>
  <!--
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row space--medium">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Check your returns data
        </h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            The licence holder is responsible for the data you are providing. Once return data is submitted, it may not be changed.
          </strong>
        </div>

        <p class="govuk-body-l">
          Check the data in the uploaded file and confirm that you want to submit it as your returns data.
        </p>

      </div>
    </div>

    <h2 class="govuk-heading-m">
      Ready to submit
    </h2>

    <p class="govuk-body">
      The following data matches records and is ready to be submitted for a return.
    </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <!-- table with four columns -->
        <div class="table space--big">                                                <!-- a table -->

          <div class="table__row--head">                                              <!-- the table head -->
            <div class="table__cell bold-small">
              Return reference
            </div>
            <div class="table__cell bold-small column-33">
              Licence number
            </div>
            <div class="table__cell bold-small">
              Total asbtracted volume
            </div>
          </div>

          <!-- table row -->
          <div class="table__row space--medium">
            <div class="table__cell">
              <h2 class="screen-reader-only">
                Row 1
              </h2>
              <h3 class="table__context">
                Return reference
              </h3>
              <a href="confirm-return-details" class="table__link">
                <span class="screen-reader-only">See return details for </span>
                62514320
              </a>
            </div>
            <div class="table__cell">
              <h3 class="table__context">
                Licence number
              </h3>
              <p class="table__row--text">
                03/28/60/0031
              </p>
            </div>
            <div class="table__cell">
              <h3 class="table__context">
                Total asbtracted volume
              </h3>
              <p class="table__row--text">
                11,287.04 cubic metres
              </p>
            </div>
          </div>

          <!-- table row -->
          <div class="table__row space--medium">
            <div class="table__cell">
              <h2 class="screen-reader-only">
                Row 2
              </h2>
              <h3 class="table__context">
                Return reference
              </h3>
              <a href="confirm-return-details" class="table__link">
                <span class="screen-reader-only">See return details for </span>
                62528762
              </a>
            </div>
            <div class="table__cell">
              <h3 class="table__context">
                Licence number
              </h3>
              <p class="table__row--text">
                03/28/60/0031
              </p>
            </div>
            <div class="table__cell">
              <h3 class="table__context">
                Total asbtracted volume
              </h3>
              <p class="table__row--text">
                26,176.52 cubic metres
              </p>
            </div>
          </div>

          <!-- table row -->
          <div class="table__row space--medium">
            <div class="table__cell">
              <h2 class="screen-reader-only">
                Row 3
              </h2>
              <h3 class="table__context">
                Return reference
              </h3>
              <a href="confirm-return-details" class="table__link">
                <span class="screen-reader-only">See return details for </span>
                62266950
              </a>
            </div>
            <div class="table__cell">
              <h3 class="table__context">
                Licence number
              </h3>
              <p class="table__row--text">
                03/27/19/126
              </p>
            </div>
            <div class="table__cell">
              <h3 class="table__context">
                Total asbtracted volume
              </h3>
              <p class="table__row--text">
                15,002.27 cubic metres
              </p>
            </div>
          </div>

        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m" id="warning">
              Problems with data
            </h2>

            <p class="govuk-body">
              The following data looks incorrect or does not match our records.
            </p>

          </div>
        </div>

        <!-- problem with data -->
        <div class="govuk-form-group govuk-form-group--error">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <!-- table with four columns -->
              <div class="table space--big">                                      <!-- a table -->

                <div class="table__row--head">                                    <!-- the table head -->
                  <div class="table__cell bold-small">
                    Warning
                  </div>
                  <div class="table__cell bold-small column-20">
                    Return reference
                  </div>
                  <div class="table__cell bold-small column-20">
                    Licence number
                  </div>
                </div>

                <!-- table row -->
                <div class="table__row space--medium">
                  <div class="table__cell">
                    <h2 class="screen-reader-only">
                      Row 1
                    </h2>
                    <h3 class="table__context">
                      Warning
                    </h3>
                    <details class="govuk-details space--none">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          No access
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        You do not have the required access to this return. The licence holder can authorise you to commit returns for the licence.
                      </div>
                    </details>
                    <!-- <p class="table__row--text">
                      No access
                    </p> -->
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Return reference
                    </h3>
                    <p class="table__row--text">
                      62514320
                    </p>
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Licence number
                    </h3>
                    03/28/60/0031
                  </div>
                </div>

                <!-- table row -->
                <div class="table__row space--medium">
                  <div class="table__cell">
                    <h2 class="screen-reader-only">
                      Row 2
                    </h2>
                    <h3 class="table__context">
                      Warning
                    </h3>
                    <details class="govuk-details space--none">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Unexpected data
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        The return data given does not match the return data we are expecting. You may have given us monthly return data where we expect [period] return data.
                      </div>
                    </details>

                    <!-- <p class="table__row--text">
                      Unexpected data
                    </p> -->
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Return reference
                    </h3>
                    <p class="table__row--text">
                      62528762
                    </p>
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Licence number
                    </h3>
                    03/28/60/0031
                  </div>
                </div>

                <!-- table row -->
                <div class="table__row space--medium">
                  <div class="table__cell">
                    <h2 class="screen-reader-only">
                      Row 3
                    </h2>
                    <h3 class="table__context">
                      Warning
                    </h3>
                    <details class="govuk-details space--none">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Dates do not match
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        The uploaded data has different unexpected dates.
                      </div>
                    </details>

                    <!-- <p class="table__row--text">
                      Dates do not match
                    </p> -->
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Return reference
                    </h3>
                    <p class="table__row--text">
                      62266950
                    </p>
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Licence number
                    </h3>
                    03/27/19/126
                  </div>
                </div>

                <!-- table row -->
                <div class="table__row space--medium">
                  <div class="table__cell">
                    <h2 class="screen-reader-only">
                      Row 4
                    </h2>
                    <h3 class="table__context">
                      Warning
                    </h3>

                    <details class="govuk-details space--none">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Already submitted
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        This return has already been submitted and may not be edited.
                      </div>
                    </details>

                    <!-- <p class="table__row--text">
                      Already sumitted
                    </p> -->
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Return reference
                    </h3>
                    <p class="table__row--text">
                      62266923
                    </p>
                  </div>
                  <div class="table__cell">
                    <h3 class="table__context">
                      Licence number
                    </h3>
                    03/27/19/127
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div> <!-- error style -->

      </div>
    </div>

    <div class="space--medium">

      <details class="govuk-details space--none">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get in touch for help with this
          </span>
        </summary>
        <div class="govuk-details__text">
          <!-- contact details for NCCC -->
          {% include "includes/contact-information.html" %}
        </div>
      </details>

    </div>

    <div class="govuk-grid-row space--medium">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body-l">
          If you submit this data the <a href="#warning">4 licences with warnings</a> will not be submitted.
        </p>

        <a href="returns-data-confirmed" class="govuk-button">
          Submit returns data
        </a>

      </div>
    </div>

  </main>
</div>
{% endblock %}
