{% extends "layout.html" %}

{% set title = "Scrifford Pike Licence summary" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike</h1>
    </div>
  </div>

  <div class="space--medium">
    <p class="govuk-body">Registered to <a href="user-status">allthingsbeingeven@gmail.com</a></p>
  </div>

  <div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
      Licence views
    </h2>

    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
          Summary
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#returns">
          Returns
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#communications">
          Communications
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#charges">
          Charges
        </a>
      </li>
    </ul>

    <!-- tab 1 -->
    <section class="govuk-tabs__panel" id="summary">
      <h2 class="govuk-heading-m">Summary</h2>


        <section class="space--big">

          <!-- licence name -->
          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">Licence name</div>
            <!-- licence data -->
            <div class="data-row__value">
              Scrifford Pike
            </div>
          </div>

          <!-- licence holder -->
          <div class="data-row">
            <div class="data-row__param">Licence holder</div>
            <div class="data-row__value">
              Daniel Caan
              <br><a href="licence/contacts">View licence contact details</a>
            </div>
          </div>

          <!-- licence start -->
          <div class="data-row">
            <div class="data-row__param">Effective from</div>
            <div class="data-row__value">
              31 December 1983
            </div>
          </div>

          <!-- licence end -->
          <div class="data-row">
            <div class="data-row__param">End date</div>
            <div class="data-row__value">
              31 December 2025
            </div>
          </div>

          <!-- water body / source -->
          <div class="data-row">
            <div class="data-row__param">Source of supply</div>
            <div class="data-row__value">
              Underground strata comprising of Mercia Mudstone at Anarea, Atown.
            </div>
          </div>

          <!-- purpose -->
          <div class="data-row">
            <div class="data-row__param">Purpose</div>
            <div class="data-row__value">
              Spray irrigation
            </div>
          </div>

          <!-- period -->
          <div class="data-row">
            <div class="data-row__param">Period of abstraction</div>
            <div class="data-row__value">
              March to September
            </div>
          </div>

          <!-- points -->
          <div class="data-row">
            <div class="data-row__param">Points of abstraction</div>
            <div class="data-row__value">
              At National Grid Reference SK 675124
              <br>At National Grid Reference SK 675343
              <br><a href="licence/points">View details of abstraction points</a>
            </div>
          </div>

          <!-- conditions -->
          <div class="data-row">
            <div class="data-row__param">Abstraction conditions</div>
            <div class="data-row__value">
              Eel screening condition
              <br>Flow cessation condition
              <br>Chemical cessation condition
              <br><a href="licence/conditions">View details of abstraction conditions</a>
            </div>
          </div>

          <!-- amounts -->
          <div class="data-row">
            <div class="data-row__param">Abstraction amounts</div>
            <div class="data-row__value">
              900 cubic metres per hour
              <br>1,250 cubic metres per day
              <br>1,250,000 cubic metres per year
            </div>
          </div>

        </section>

    </section>

    <!-- tab 2 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">
      <h2 class="govuk-heading-m">
        Returns
      </h2>

      <!-- table with returns with statuses -->
      <div class="table space--big">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--20">
            Return reference
          </div>
          <div class="table__cell bold-small column--40">
            Purpose
          </div>
          <div class="table__cell bold-small column--25">
            Due
          </div>
          <div class="table__cell bold-small column--15">
            Status
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="return-status">
              <span class="screen-reader-only">View return status for return reference</span>
              21765264
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              Due
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
              <a href="return-status-void">
              <span class="screen-reader-only">View return status for return reference</span>
              67525612
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--error">
              Void
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              01726352
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
              Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              01725524
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              15263645
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2016
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              83655562
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2015
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>
        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 7
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              12635462
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2014
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

      </div>

    </section>

    <!-- tab 3 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">
      <h2 class="govuk-heading-m">Communications</h2>

      <!-- table with three columns -->
      <div class="table space--big">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--25">
            Type
          </div>
          <div class="table__cell bold-small column--20">
            Sent
          </div>
          <div class="table__cell bold-small">
            Sender
          </div>
          <div class="table__cell bold-small column--10">
            Method
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            12 March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            6 March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            22 November 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Paper return forms
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            20 November 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            12 August 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            11 August 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 7
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            8 August 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            theresa.macklin@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 8
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            27 July 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 9
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            19 July 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 10
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            1 July 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 11
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            30 June 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 12
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            9 March 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 13
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Service update
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            2 February 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            maria.fleckmore@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 14
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            22 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 15
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            20 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 16
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            11 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 17
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Paper return reminder
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            31 October 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 18
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Paper return forms
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            28 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 19
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            22 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 20
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            20 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 21
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            12 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 22
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            11 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 23
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            7 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            wade.congress@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 24
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            18 October 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row table__row--last space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 25
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            16 October 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamilla.agadozi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

      </div>

      <a href="all-messages">
        View all licence messages
      </a>

    </section>

    <!-- tab 4 -->
    <section class="govuk-tabs__panel" id="charges">
      <h2 class="govuk-heading-m">Licence charges</h2>

        <section class="space--big">

          <!-- account for charge -->
          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">
              Account number
            </div>
            <!-- licence data -->
            <div class="data-row__value">
              012345678
            </div>
          </div>

          <!-- licence holder -->
          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">
              Licence holder
            </div>
            <!-- licence data -->
            <div class="data-row__value">
              Davina Dursley
            </div>
          </div>

          <!-- licence holder address -->
          <div class="data-row data-row--divider">
            <div class="data-row__param">
              Licence holder address
            </div>
            <div class="data-row__value">
              16 Barncroft Road
              <br>Dursley
              <br>GL11 5RX
            </div>
          </div>

          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">
              Billing contact
            </div>
            <!-- licence data -->
            <div class="data-row__value">
              Davina Dursley
            </div>
          </div>

          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">
              Billing account number
            </div>
            <!-- licence data -->
            <div class="data-row__value">
              0012354
            </div>
          </div>

          <div class="data-row data-row--divider">
            <div class="data-row__param">
              Invoice contact or billing contact (IAS)
            </div>
            <div class="data-row__value">
              Bryony Hedgers
              <br>Unit 22
              <br>Philpots Grove
              <br>Darlington
              <br>DL3 0FD
            </div>
          </div>

          <!-- versions -->
          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">
              Charge version
            </div>
            <!-- licence data -->
            <div class="data-row__value">
              1.3
              <br>
              <a href="charges/versions">
                See history
              </a>
            </div>
          </div>

          <!-- edit link -->
          <div class="data-row">
            <!-- the data label -->
            <div class="data-row__param">
              Status
            </div>
            <!-- licence data -->
            <div class="data-row__value">
              <strong class="table__status">
                Draft
              </strong>
            </div>
          </div>

          <!-- licence start -->
          <div class="data-row">
            <div class="data-row__param">Effective start</div>
            <div class="data-row__value">
              1 April 2010
            </div>
          </div>

          <!-- licence end -->
          <div class="data-row data-row--divider">
            <div class="data-row__param">Effective end</div>
            <div class="data-row__value">
              31 March 2021
            </div>
          </div>

          <!-- licence start -->
          <div class="data-row">
            <div class="data-row__param">Last billed</div>
            <div class="data-row__value">
              31 March 2019
            </div>
          </div>

          <!-- purpose -->
          <div class="data-row">
            <div class="data-row__param">Billed purposes</div>
            <div class="data-row__value">
              <a href="charges/elements">Spray irrigation</a>
              <br><a href="charges/elements">Trickle irrigation</a>
            </div>
          </div>

          <!-- water body / source -->
          <div class="data-row">
            <div class="data-row__param">Apportionment</div>
            <div class="data-row__value">
              Yes
            </div>
          </div>

          <!-- period -->
          <div class="data-row">
            <div class="data-row__param">TL Premium applied</div>
            <div class="data-row__value">
              No
            </div>
          </div>

          <!-- conditions -->
          <!-- <div class="data-row">
            <div class="data-row__param">Suspended from billing</div>
            <div class="data-row__value">
              Yes
            </div>
          </div> -->

        </section>

        <div class="govuk-form-group">

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="additions-documents-1" name="additions-documents" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="additions-documents-1">
                  Included in billing run
                </label>
              </div>
            </div>

        </div>

    </section>

  </div>

{% endblock %}
