{% extends "layout.html" %}

{% set title = "Scrifford Pike Licence summary" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="space--medium">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-view.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}
  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike</h1>
    </div>
  </div>

  <div class="space--medium">
    <p class="govuk-body">Registered to <a href="user-status">allthingsbeingeven@gmail.com</a></p>
  </div>

  <div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
      Licence views
    </h2>

    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
          Summary
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#returns">
          Returns
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#communications">
          Communications
        </a>
      </li>
      <li class="govuk-tabs__list-item" tabindex="0">
        <a class="govuk-tabs__tab" href="#charge">
          Charge
        </a>
      </li>
    </ul>

    <!-- tab 1 -->
    <section class="govuk-tabs__panel" id="summary">
      <h2 class="govuk-heading-l">
        Summary
      </h2>

      <section class="space--big">

        <!-- licence name -->
        <div class="data-row">
          <!-- the data label -->
          <div class="data-row__param">Licence name</div>
          <!-- licence data -->
          <div class="data-row__value">
            No name chosen
            <br><a href="licence/contacts">Name this licence</a>
          </div>
        </div>

        <!-- licence holder -->
        <div class="data-row">
          <div class="data-row__param">Licence holder</div>
          <div class="data-row__value">
            Daniel Caan
            <br><a href="licence/contacts">View licence contact details</a>
          </div>
        </div>

        <!-- licence start -->
        <div class="data-row">
          <div class="data-row__param">Effective from</div>
          <div class="data-row__value">
            31 December 1983
          </div>
        </div>

        <!-- licence end -->
        <div class="data-row">
          <div class="data-row__param">End date</div>
          <div class="data-row__value">
            31 December 2025
          </div>
        </div>

        <!-- water body / source -->
        <div class="data-row">
          <div class="data-row__param">Source of supply</div>
          <div class="data-row__value">
            Underground strata comprising of Mercia Mudstone at Anarea, Atown.
          </div>
        </div>

        <!-- purpose -->
        <div class="data-row">
          <div class="data-row__param">Purpose</div>
          <div class="data-row__value">
            Spray irrigation
          </div>
        </div>

        <!-- period -->
        <div class="data-row">
          <div class="data-row__param">Period of abstraction</div>
          <div class="data-row__value">
            March to September
          </div>
        </div>

        <!-- points -->
        <div class="data-row">
          <div class="data-row__param">Points of abstraction</div>
          <div class="data-row__value">
            At National Grid Reference SK 675124
            <br>At National Grid Reference SK 675343
            <br><a href="licence/points">View details of abstraction points</a>
          </div>
        </div>

        <!-- conditions -->
        <div class="data-row">
          <div class="data-row__param">Abstraction conditions</div>
          <div class="data-row__value">
            Eel screening condition
            <br>Flow cessation condition
            <br>Chemical cessation condition
            <br><a href="licence/conditions">View details of abstraction conditions</a>
          </div>
        </div>

        <!-- amounts -->
        <div class="data-row data-row__last">
          <div class="data-row__param">Abstraction amounts</div>
          <div class="data-row__value">
            900 cubic metres per hour
            <br>1,250 cubic metres per day
            <br>1,250,000 cubic metres per year
          </div>
        </div>

      </section>

    </section>

    <!-- tab 2 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">
      <h2 class="govuk-heading-l">
        Returns
      </h2>

      <!-- table with returns with statuses -->
      <div class="table space--big">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--20">
            Return reference
          </div>
          <div class="table__cell bold-small column--40">
            Purpose
          </div>
          <div class="table__cell bold-small column--25">
            Due
          </div>
          <div class="table__cell bold-small column--15">
            Status
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="return-status">
              <span class="screen-reader-only">View return status for return reference</span>
              21765264
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--todo">
              Due
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
              <a href="return-status-void">
              <span class="screen-reader-only">View return status for return reference</span>
              67525612
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status table__status--error">
              Void
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              01726352
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
              Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              01725524
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              15263645
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2016
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

        <div class="table__row space--medium">                                      <!-- a data row starts -->

          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              83655562
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2015
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>
        <div class="table__row table__row--last space--medium">                                      <!-- a data row starts -->

          <div class="table__cell ">
            <h3 class="screen-reader-only">
              Row 7
            </h3>
            <h4 class="table__context">
              Return reference
            </h4>
            <a href="returns/return-report">
              <span class="screen-reader-only">View return status for return reference</span>
              12635462
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Purpose
            </h4>
            Spray irrigation
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Due
            </h4>
            March 2014
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Status
            </h4>
            <strong class="table__status">
              Complete
            </strong>
          </div>
        </div>

      </div>

    </section>

    <!-- tab 3 -->
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">

      <h2 class="govuk-heading-l">
        Communications
      </h2>

      <!-- table with three columns -->
      <div class="table space--big">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column--25">
            Type
          </div>
          <div class="table__cell bold-small column--20">
            Sent
          </div>
          <div class="table__cell bold-small">
            Sender
          </div>
          <div class="table__cell bold-small column--10">
            Method
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 1
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            12 March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 2
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            6 March 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 3
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            22 November 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 4
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Paper return forms
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            20 November 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 5
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            12 August 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 6
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            11 August 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 7
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            8 August 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            theresa.macklin@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 8
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            27 July 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 9
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            19 July 2019
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 10
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            1 July 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 11
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            30 June 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 12
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            9 March 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 13
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Service update
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            2 February 2018
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            maria.fleckmore@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 14
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            22 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 15
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            20 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 16
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            11 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamie.haraabi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 17
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Paper return reminder
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            31 October 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 18
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Paper return forms
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            28 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 19
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            22 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 20
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off stop
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            20 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            mike.foskitt@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 21
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            12 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 22
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Date
            </h4>
            11 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 23
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            7 November 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            wade.congress@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 24
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off warning
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            18 October 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            moz.finkle@environment-agency.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

        <div class="table__row table__row--last space--medium">         <!-- a data row starts -->
          <div class="table__cell">
            <h3 class="screen-reader-only">
              Row 25
            </h3>
            <h4 class="table__context">
              Type
            </h4>
            <a href="notification-review" class="table__link">
              Hands-off resume
            </a>
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sent
            </h4>
            16 October 2017
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Sender
            </h4>
            jamilla.agadozi@defra.gov.uk
          </div>
          <div class="table__cell">
            <h4 class="table__context">
              Method
            </h4>
            Post
          </div>
        </div>

      </div>

      <div class="table space--big">
        <a href="all-messages">
          View all licence messages
        </a>
      </div>

    </section>

    <!-- tab 4 -->
    <section class="govuk-tabs__panel" id="charge">

      <h2 class="govuk-heading-l">
        Licence charge
      </h2>

      <!-- charge summary -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- <div class="govuk-summary-list__row data__row--last">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            012345678
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd>
        </div> -->

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Licence holder
          </dt>
          <dd class="govuk-summary-list__value">
            Daniel Caan
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd>
        </div> -->

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Licence holder address
          </dt>
          <dd class="govuk-summary-list__value">
            16 Barncroft Road
            <br>Dursley
            <br>GL11 5RX
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd>
        </div> -->

        <!-- <div class="govuk-checkboxes govuk-checkboxes--inline">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="additions-documents-1" name="additions-documents" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="additions-documents-1">
              Suspended from billing
            </label>
          </div>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__divider"></dt>
          <dd class="govuk-summary-list__value govuk-summary-list__divider"></dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__divider"></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Billing contact (IAS)
          </dt>
          <dd class="govuk-summary-list__value">
            Bryony Hedgers
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd>
        </div> -->

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Billing account number
          </dt>
          <dd class="govuk-summary-list__value">
            0012354
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd>
        </div> -->

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Billing address
          </dt>
          <dd class="govuk-summary-list__value">
            Unit 22
            <br>Philpots Grove
            <br>Darlington
            <br>DL3 0FD
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Spray and trickle combined
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="charges/value">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a> -->
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last billed
          </dt>
          <dd class="govuk-summary-list__value">
            April 4 2018
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a> -->
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Charge version
          </dt>
          <dd class="govuk-summary-list__value">
            1.3
            <br>
            <a class="govuk-link" href="charges/versions">
              See versions
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="charges/versions">
              See versions
            </a> -->
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effective period
          </dt>
          <dd class="govuk-summary-list__value">
            1 April 2018 to 31 March 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              See versions
            </a> -->
          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effective to
          </dt>
          <dd class="govuk-summary-list__value">
            31 March 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              See versions
            </a>
          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__item--last">
            Status
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__item--last">
            <!-- <strong class="table__status table__status--open">
              Draft
            </strong> -->
            <strong class="table__status">
              Current
            </strong>
          </dd>
          <!-- <dd class="govuk-summary-list__actions govuk-summary-list__item--last">
            <a class="govuk-link" href="#">
              Make current
            </a>
          </dd> -->
        </div>

      </dl>

      <h3 class="govuk-heading-m">
        Charge elements
      </h3>

      <!-- summary style of showing elements -->
      <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Purposes
          </dt>
          <dd class="govuk-summary-list__value">
            Spray irrigation
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="charges/element-alcs">
              View<span class="govuk-visually-hidden"> spray irrigation charge element</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__item--last">

          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__item--last">
            Trickle irrigation
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__item--last">
            <a class="govuk-link" href="charges/element-alcs">
              View<span class="govuk-visually-hidden"> trickle irrigation charge element</span>
            </a>
          </dd>
        </div>

      </dl> -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Purpose
          </dt>
          <dd class="govuk-summary-list__value">
            Spray irrigation
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> purpose</span>
            </a>
          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Billable quantities
          </dt>
          <dd class="govuk-summary-list__value">
            1,250,000 cubic metres per year
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Annual quantities
          </dt>
          <dd class="govuk-summary-list__value">
            1,250,000 cubic metres per year
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> chargable quantities</span>
            </a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Abstraction period
          </dt>
          <dd class="govuk-summary-list__value">
            5 January to 31 March
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__item--last">
            Time limited period
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__item--last">
            5 January 2019 to 31 March 2019
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> time limited period</span>
            </a>
          </dd> -->
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time limited end date
          </dt>
          <dd class="govuk-summary-list__value">
            31 March 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> time limited period</span>
            </a>
          </dd>
        </div> -->

      </dl>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <h3 class="govuk-heading-m" id="agreement">
          Agreement
        </h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <!-- <a class="govuk-link" href="charges/agreement-detail"> -->
              Canal and Rivers Trust agreement
            <!-- </a> -->
          </dt>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value govuk-summary-list__item--last">
            <!-- <a class="govuk-link" href="charges/agreement-detail"> -->
              Other agreement
            <!-- </a> -->
          </dt>
        </div>
      </dl>

      <!-- <div class="govuk-!-margin-bottom-9">
        <a class="govuk-link" href="add-agreement">
          Add an agreement
        </a>
      </div> -->

      <div class="govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m" id="factors">
          Factors
        </h3>

        <div class="space--small">
          <strong class="govuk-tag">
            Overridden
          </strong>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-3">

          <!-- <div class="govuk-summary-list__row">
            <div class="govuk-checkboxes space--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="additions-documents-1" name="additions-documents" type="checkbox" value="carcasses" checked>
                <label class="govuk-label govuk-checkboxes__label" for="additions-documents-1">
                  Overridden
                </label>
              </div>
            </div>
          </div> -->

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag">
                Overridden
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag">
                Overridden
              </strong>
            </dd>
          </div> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Loss
            </dt>
            <dd class="govuk-summary-list__value">
              Medium
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="loss">
                Change<span class="govuk-visually-hidden"> loss</span>
              </a>
            </dd> -->
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Season
            </dt>
            <dd class="govuk-summary-list__value">
              Summer
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="season">
                Change<span class="govuk-visually-hidden"> season</span>
              </a>
            </dd> -->
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Source
            </dt>
            <dd class="govuk-summary-list__value">
              Unsupported
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="source">
                Change<span class="govuk-visually-hidden"> source</span>
              </a>
            </dd> -->
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__item--last">
              EUIC source
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__item--last">
              <!-- no source -->
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="euic-source">
                Change<span class="govuk-visually-hidden"> EUIC source</span>
              </a>
            </dd> -->
          </div>


        </dl>

    </section>

  </div>

{% endblock %}
