{% extends "layout_wrls.html" %}

{% set title = "Enter a licence number" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form  method="post" class="form">

        {{ govukTextarea({
          name: "licenceList",
          id: "licenceList",
          label: {
            html: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "You can enter more than one licence. You can separate licence numbers using spaces, commas, or by entering them on different lines. "
          }
        }) }}

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>


{% endblock %}
