{% extends "layout.html" %}

{% set title = "Paper return forms sent" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-manage.html" %}
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    {{ govukPanel({
      titleText: [title],
      html: "They will arrive in  three to five working days",
      classes:"govuk-!-margin-bottom-9"
      }) }}



    {% if (data.returns[data['returnIndex']]['singleUseAddressFlag'] == "true") %}
    <p class="govuk-body">You've set up a one time address for:</p>
        <p class="govuk-body">Licence {{data.returns[data['returnIndex']]['licence'] | default("AN01/68/60/0032") }} - <span class="govuk-visually-hidden"> Licence holder</span> {{data.returns[data['returnIndex']]['licenceHolder'] | default("Bottled Water Plc")}}</P>
    <p class="govuk-body">To update an address on the licence holder’s account:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-8">
      <li>email the <a href="mailto:watrestecchecnald@environment-agency.gov.uk">Billing and Data team</a>if it’s a change of returns contact or a change to the current returns contact</li>
      <li>email <a href="mailto:PSC-WaterResources@environment-agency.gov.uk">Permitting and Support Centre team</a>if it’s a correction or change to the licence holder’s address and ask them to send a form to make minor changes (WR2)</li>
    </ul>

    {% endif %}
    <a href="../manage" class="govuk-link govuk-link--no-visited-state">Return to Manage</a>

  </div>
</div>


{% endblock %}
