{% extends "layout_wrls.html" %}

{% set title = "Which licence returns need a form?"  %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-manage.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<form action="send-paper-confirm" method="post" class="form">

  <fieldset class="govuk-fieldset" aria-describedby="table-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      {{ title }}
    </h1>
    </legend>
    <p class="govuk-body">
 <span id="table-hint" class="govuk-hint">
   Select the return reference numbers for each licence you’re sending a paper form out to.
 </span>
 </p>




      <!--      <p class="govuk-body govuk-!-margin-bottom-7">
        <span class="govuk-!-font-weight-bold">Address:</span>
        <br>
        {{data['address']}}
        <br>
        <a href="send-paper-select-address?url=send-paper-check" class="govuk-link">Change</a>
      </p>
-->
      <!--create array-->
      {% set licences = [] %}
      <!--split the string based on commas or new lines and add it to the array-->
      {% set licences = data['licenceList'].split(r/,|\n/g) %}



      <table class="govuk-table">

        <caption class="govuk-table__caption">Returns due by licence</caption> 


        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Checkboxes</span></th>

            <th class="govuk-table__header" scope="col">Licence</th>

            <th class="govuk-table__header" scope="col">Return reference</th>

            <th class="govuk-table__header" scope="col">Due</th>

            <th class="govuk-table__header" scope="col">Status</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for i in licences %}



          {% set returnRef1 = range(1000000, 9999999) | random  %}
          {% set returnRef2 = range(1000000, 9999999) | random  %}
          {% set returnRef3 = range(1000000, 9999999) | random  %}

          <tr class="govuk-table__row">


            <th class="govuk-table__header" scope="row">
              <div class="govuk-checkboxes__item govuk-checkboxes--small">
                <input class="govuk-checkboxes__input"  id="return-{{ returnRef1 }}" name="return" type="checkbox" value="-{{i}}p{{ returnRef1 }}w">
                <label class="govuk-label govuk-checkboxes__label" for="return-{{ returnRef1 }}">
                  <span class="govuk-visually-hidden">Select return {{ returnRef1 }} for licence {{i}}</span>
                </label>
              </div>
            </th>



            <td class="govuk-table__cell">{{i}}</td>

            <td class="govuk-table__cell">{{ returnRef1 }}</td>

            <td class="govuk-table__cell">31 October 2019</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Due</strong></td>


          </tr>

          <tr class="govuk-table__row">


            <th class="govuk-table__header" scope="row">
              <div class="govuk-checkboxes__item govuk-checkboxes--small">
                <input class="govuk-checkboxes__input" id="return-{{ returnRef2}}" name="return" type="checkbox" value="-{{i}}p{{ returnRef2 }}w">
                <label class="govuk-label govuk-checkboxes__label" for="return-{{ returnRef2 }}">
                  <span class="govuk-visually-hidden">Select return {{ returnRef2 }} for licence {{i}}</span>
                </label>
              </div>
            </th>



            <td class="govuk-table__cell">{{i}}</td>

            <td class="govuk-table__cell">{{ returnRef2 }}</td>

            <td class="govuk-table__cell">31 March 2019</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>


          </tr>

          <tr class="govuk-table__row">


            <th class="govuk-table__header" scope="row">
              <div class="govuk-checkboxes__item govuk-checkboxes--small">
                <input class="govuk-checkboxes__input" id="return-{{ returnRef3 }}" name="return" type="checkbox" value="-{{i}}p{{ returnRef3 }}w">
                <label class="govuk-label govuk-checkboxes__label" for="return-{{ returnRef3 }}">
                  <span class="govuk-visually-hidden">Select return {{ returnRef3 }} for licence {{i}}</span>
                </label>
              </div>
            </th>



            <td class="govuk-table__cell">{{i}}</td>

            <td class="govuk-table__cell">{{ returnRef3 }}</td>

            <td class="govuk-table__cell">31 October 2018</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>


          </tr>

          {% endfor %}



        </tbody>
      </table>



      <button type="submit" class="govuk-button">
        Continue
      </button>

</fieldset>
    </form>

  </div>
</div>


{% endblock %}
