{% extends "layout_wrls.html" %}

{% set title = "Check returns details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

    </div>
    </div>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">




    {% set returns = data['returns'] %}


      {% for i in returns %}

        <!--check to see if return contact is being used-->
        {% if data.returns[loop.index0]['returnAddressFlag'] == "true" %}
              <!--replace the commas in the address with line breaks-->
            {% set address = data.returns[loop.index0]['returnAddress'].replace(r/,/g, "<br>") %}
            {% else %}
        <!--replace the commas in the address with line breaks-->
            {% set address = data.returns[loop.index0]['licenceHolder'] + "<br>" + data.returns[loop.index0]['address'].replace(r/,/g, "<br>") %}
         {% endif %}

          <!--check to see if the list of returns has been changed-->
           {%- if i.change == "true" %}
            <!--replace the commas in the reference with line breaks-->
            {% set ref = data.returns[loop.index0]['refChange'].replace(r/,/g, '</div></div><div class="meta&#45;data__container"><div class="meta&#45;data__label width&#45;20">').replace(r/-/g, '</div><div class="meta-data__value">') %}
            {% else %}
            <!--replace the commas in the reference with line breaks-->
                  {% set ref = data.returns[loop.index0]['ref'].replace(r/,/g, '</div></div><div class="meta&#45;data__container"><div class="meta&#45;data__label width&#45;20">').replace(r/-/g, '</div><div class="meta-data__value">') %}
            {% endif -%}


       <h2 class="govuk-heading-m">Licence {{i.licence}}</h2>

      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Licence holder"
      },
      value: {
        html: i.licenceHolder
      }
    },
    {
      key: {
        text: "Returns reference number"
      },
      value: {html: '<div class="meta-data__container">
                <div class="meta-data__label width-20">' +
                  ref + '</div></div>'},
      actions: {
        items: [
          {
            href: "send-paper-which-returns?url=send-paper-confirm&licenceNum=" + [i.licence] + "&returnIndex=" + [loop.index0],
            text: "Change",
            visuallyHiddenText: "returns"
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list--no-border',
      key: {
        text: "Address"
      },
      value: {
        html: address
      },
      actions: {
        items: [
          {
            href: "send-paper-select-address?url=send-paper-confirm&licenceNum=" + [i.licence] + "&returnIndex=" + [loop.index0],
            text: "Change",
            visuallyHiddenText: "Address"
          }
        ]
      }
    }
  ]
}) }}



{% endfor %}

      <a href="send-paper-done" class="wrls-faux-button">
        Send paper forms
      </a>

    </div>
  </div>


{% endblock %}
