{% extends "layouts/_BASE.html" %}

<!--lookup the Billing account ID and set the ID based on the index of the billing account-->
{% set BAID = "" %}
{% set billingAccounts = data['billingAccounts']%}
{% for i in billingAccounts %}
{% if i.number == data.BAnumber %}
{% set BAID = loop.index0 %}
{% endif %}
{% endfor %}


<!--set title-->
{% set title = "Billing account for " + [data.billingAccounts[BAID].customer]  %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}


<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Billing account {{[data.billingAccounts[BAID].number]}}</span>
    {{ title }}</h1>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <section>

      <!-- billing account address -->
      {% include "sandbox/includes/billing-account/ba-address.html" %}

      {{ govukButton({
  text: "Change address",
  classes: "govuk-button--secondary",
  href: "/bd/contacts/bill-manager?ba=true&createNewContact=false"
}) }}

</section>
</div>
</div>


{% endblock %}
