{% extends "layouts/_manage.html" %}
{% set chargeInfo = data['srocChargeInformation'] %}
{% set title = "Charge information valid from " + chargeInfo[0].chargeStart %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}


<!--content block-->
{% block service %}


<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">




    <h1 class="govuk-heading-l  govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
      {{ title }}
    </h1>
    {{govukTag({
      text: "ACTIVE" ,
      classes: "govuk-tag--green govuk-!-font-size-27"
      })}}
  </div>
</div>



<!--debugging info

          <div class="govuk-grid-row govuk-!-margin-bottom-9">
            <div class="govuk-grid-column-full">
              <p class="govuk-body">Charge information new<br>
                {{data.licences[data.ID].chargeInformation[0] | dump}}</p>
              

                <p class="govuk-body">Charge information old 2<br>
                  {{data.licences[data.ID].chargeInformation[1] | dump}}</p>
                 
                  <p class="govuk-body">Difference<br>
           
                   
                   {% for i in data['differences']%}
                   {{i | objectKeys}} <br> {{i | objectValues}}
                   {% endfor %}
       
      
          </div>
          </div>

          -->





<!-- early version
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <section class="govuk-!-margin-bottom-7">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Reason
          </dt>
          <dd class="govuk-summary-list__value">
            {{chargeInfo[0].reasonNewCharge}}
          </dd>
          {% if chargeInfo[0].reasonNewCharge !== chargeInfo[1].reasonNewCharge %}
          <dd class="govuk-summary-list__actions govuk-summary-list__actions-wide">
            {{govukTag({
            text: "Changed" ,
            classes: "govuk-tag--turquoise"
            })}}
            from {{chargeInfo[1].reasonNewCharge }}
          </dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{chargeInfo[0].chargeStart}}
          </dd>
          {% if chargeInfo[0].chargeStart !== chargeInfo[1].chargeStart %}
          <dd class="govuk-summary-list__actions govuk-summary-list__actions-wide">
            {{govukTag({
            text: "Changed" ,
            classes: "govuk-tag--turquoise"
            })}} from {{chargeInfo[1].chargeStart}}
          </dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            Licence holder
          </dt>
          <dd class="govuk-summary-list__value">
            {{[data.licenceHolder]}}
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Billing account
          </dt>
          <dd class="govuk-summary-list__value">
            {% set invoiceAddress %}
            {{ data.invoiceAccount}} <br>
            {{data.customerName}}<br>
            {{ data.address1}} <br>
            {{ data.city}} <br>
            {{data.postcode}} <br>
            {% endset %}
            {{invoiceAddress |safe}}
          </dd>
        </div>
      </dl>
    </section>
  -->

     
{{ govukSummaryList({
  card: {
    title: {
      classes: 'govuk-!-font-size-24',
      text: "Notes"
    }
  },
rows: [
  {
    classes: 'govuk-summary-list govuk-summary-list__row--no-border',
    key: {
      text: "username@defra.gov.uk"
    },
    value: {
      text: "Authorised quantity decreased on Otterton borehole 1a "
    }
  }
]
}) }}


    {% set changedTag %}
    {{govukTag({
      text: "Changed" ,
      classes: "govuk-tag--blue"
      })}}
    {% endset %}
   


    {{ govukSummaryList({
      card: {
        title: {
          classes: 'govuk-!-font-size-24',
          text: "Overview"
        }
      },
      rows: [
        {
          classes: 'govuk-summary-list govuk-summary-list__row--no-border',
          key: {
            text: "Reason"
          },
          value: {
            html: chargeInfo[0].reasonNewCharge + '<span style="float:right; text-align: left; width: 260px;">' + changedTag|safe + ' from ' + chargeInfo[1].reasonNewCharge + '</span>'
          }
        },
        {
          classes: 'govuk-summary-list__row--no-border',
          key: {
            text: "Start date"
          },
          value: {
            html:  chargeInfo[0].chargeStart + '<span style="float:right; text-align: left; width: 260px;">' + changedTag|safe + ' from ' + chargeInfo[1].chargeStart + '</span>'
          }
        },
        {
          classes: 'govuk-summary-list__row--no-border',
          key: {
            text: "Licence holder"
          },
          value: {
            text: [data.licenceHolder]
          }
        },
        {
          classes: 'govuk-summary-list__row--no-border',
          key: {
            text: "Billing account"
          },
          value: {
            html: invoiceAddress |safe
          }
        },
        {
          classes: 'govuk-summary-list__row--no-border',
          key: {
            text: "EIUC Region",
            classes: "govuk-!-padding-bottom-6"
          },
          value: {
            text: chargeInfo[0].chargeReference[0].eiucRegion |capitalize
          }
        }
      ]
      }) }}






<!--formating for the abstraction period dates-->
{% set monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
{% set monthNumber = [chargeInfo[0].elements[0].abstractionStartMonth] %}
{% set monthNumberEnd = [chargeInfo[0].elements[0].abstractionEndMonth] %}

{% set month = monthNames[monthNumber - 1] %}
{% set monthEnd = monthNames[monthNumberEnd - 1] %}

{% set abstractionStart = [chargeInfo[0].elements[0].abstractionStartDay] + " " + month %}
{% set abstractionEnd = [chargeInfo[0].elements[0].abstractionEndDay] + " " + monthEnd %}



           {{ govukSummaryList({
            card: {
              title: {
                classes: 'govuk-!-font-size-24',
                html: '<span class="govuk-body">Charge reference ' + chargeInfo[0].chargeReference[0].chargeRefNumber + '</span> <br>' + chargeInfo[0].chargeReference[0].chargeDescription 
              }
            },
           classes: 'govuk-!-margin-bottom-2',
         rows: [
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Applies to"
           },
           value: {
             text: chargeInfo[0].chargeReference[0].appliesTo
           }
         },
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Description"
           },
           value: {
             text: chargeInfo[0].chargeReference[0].lineDescription |capitalize
           }
         },
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Source"
           },
           value: {
             text: chargeInfo[0].chargeReference[0].chargeSource |capitalize
           }
         },
         {
           classes: 'govuk-summary-list__row--no-border',
           key: {
             text: "Loss"
           },
           value: {
             text: chargeInfo[0].chargeReference[0].chargeLoss |capitalize
           }
         },
           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Volume"
             },
             value: {
              html:  '<span class="govuk-body">' + chargeInfo[0].chargeReference[0].chargeQuantity + 'ML <span style="float:right; text-align: left; width: 260px;">' + changedTag|safe + ' from ' + chargeInfo[1].chargeReference[0].chargeQuantity + ' ML</span>'
             }
           },

           {
             classes: 'govuk-summary-list__row--no-border',
              key: {
                text: "Water availability"
              },
              value: {
                text: chargeInfo[0].chargeReference[0].chargeWaterAvailability |capitalize
              }
            },


           {
             classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Water model",
               classes: "govuk-!-padding-bottom-6"
             },
             value: {
               text: chargeInfo[0].chargeReference[0].chargeWaterRestrictions |capitalize
             }
           },
           {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              classes: 'govuk-!-padding-top-2 govuk-heading-s',
              text: "Additional charges apply"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].addCharges |capitalize
            }
          },
          
           {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Supported source"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].supSourceCharge |capitalize
            }
          },
     
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Supported source name"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].supSourceName |capitalize
            }
          } if chargeInfo[0].chargeReference[0].supSourceCharge == "yes",
     
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Supply public water",
              classes: "govuk-!-padding-bottom-6"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].supPublicWater |capitalize
            }
          },
        
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Adjustments apply"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].adjustmentsApply |capitalize
            }
          },
         
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Aggregate factor"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].aggregateFactor
            }
          } if chargeInfo[0].chargeReference[0].adjustments.includes("aggregate"),
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Adjustment factor"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].chargeAdjustmentFactor
            }
          } if chargeInfo[0].chargeReference[0].adjustments.includes("charge adjustment"),
         
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Winter discount"
            },
            value: {
              text: "Yes"
            }
          } if chargeInfo[0].chargeReference[0].adjustments.includes("winter discount"),
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Two-part tariff agreement"
            },
            value: {
              text: "Yes"
            }
          } if chargeInfo[0].chargeReference[0].adjustments.includes("two part tariff agreement applies"),
         
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Abatement agreement factor"
            },
            value: {
              text: chargeInfo[0].chargeReference[0].abatementFactor
            }
          } if chargeInfo[0].chargeReference[0].adjustments.includes("abatement agreement applies"),
         
          {
            classes: 'govuk-summary-list__row--no-border ',
            key: {
              text: "Canal and River Trust agreement",
              classes: "govuk-!-padding-bottom-4"
            },
            value: {
              text: "Yes"
            }
          } if chargeInfo[0].chargeReference[0].adjustments.includes("canal and river trust agreement applies"),

         
          {
            classes: 'govuk-summary-list__row--no-border ',
            key: {
              html: 'Element 1 of 1',
              classes: "govuk-!-font-size-19 govuk-!-padding-top-4"
            },
            value: {
              text: [chargeInfo[0].elements[0].purpose] + ', ' + [chargeInfo[0].elements[0].description]
            }
          },

          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Purpose"
            },
            value: {
              text: [chargeInfo[0].elements[0].purpose]
            }
          },

          {
            classes: 'govuk-summary-list__row--no-border',
             key: {
               text: "Description"
             },
             value: {
               text: [chargeInfo[0].elements[0].description]
             }
           },


          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Abstraction period"
            },
            value: {
              text: [abstractionStart] + " to " + [abstractionEnd]
            }
          },
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Annual quantities"
            },
            value: {
              html: '<span class="govuk-body">' + [chargeInfo[0].elements[0].authorisedQuantity] + 'ML authorised <span style="float:right; text-align: left; width: 260px;">' + changedTag|safe + ' from ' + [chargeInfo[1].elements[0].authorisedQuantity] + ' ML</span>'
            }
          },
          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Time limit"
            },
            value: {
              text: [chargeInfo[0].elements[0].timeLimit]
            }
          },



          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Loss"
            },
            value: {
              text: [chargeInfo[0].elements[0].loss]
            }
          },

          {
            classes: 'govuk-summary-list__row--no-border',
            key: {
              text: "Agreements apply"

            },
            value: {
              text: chargeInfo[0].elements[0].agreementsApply | capitalize
            }
          } if chargeInfo[0].elements[0].agreementsApply.length


          
         

         ]
       }) }}



  




    <!--
 listing all the changes


    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
  
  {% for i in data.differencesKeys %}
 {% set prevValue = data.licences[data.ID].chargeInformation[1][i] %}
 Changed {{i}} {{data.differencesValues[loop.index0] }} from {{prevValue}}
  <br>
  {% endfor %}


  </div>
</div>
-->


    {% endblock %}