{% extends "layouts/wrls-layout-sub-nav-customer.html" %}

<!--set title-->
{% set title ="Licences"%}

<!--parent-->
{% set licences = true %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

<!-- page title -->

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Customer {{[data.customers[data.customerID]['name']]}}</span>
     {{title}}
    </h1>




    <!-- licences -->
    {% include "sandbox/_includes/customer/licences-table.html" %}



  



</div>
</div>
</div>

{% endblock %}
