{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "Customers" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Search",
      href: "home-search?navCustomers=&navBillRuns=&navManage="
    }
  ]
}) }}
{% endblock %}



<!--content block-->
{% block service %}



<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl"> {{ title }}</h1>

  </div>
</div>
<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Create a supplementary, annual or two-part tariff bill run.</p>

{#
    {{ govukButton({
          text: "Create a customer",
          href: "#"
        }) }}
#}

  </div>
</div>
-->
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-3">

<!-- table with four columns -->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l"> View customers</h2>

    <p class="govuk-body">Select a customer to see their licences, billing accounts and contacts.</p>



    {% include "sandbox/_includes/customers-table.html" %}

  </div>
</div>

{% endblock %}
