
{% extends "layouts/_BASE.html" %}

<!--home page style class-->
{% set mainClasses = "home-no-padding-top" %}

<!--set title-->
{% set title = "Manage your water abstraction or impoundment licence" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}

<!--header without searchbar-->
{% include "sandbox/includes/nav/header.html" %}

{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block service %}

<!--search-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="mastheader">
      <div class="govuk-form-group govuk-width-container">


        <form action="search">


          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l  " for="search">
              Search for a licence, user, return or account
            </label>
          </h1>
          <span id="search-hint" class="govuk-hint hint-dark-grey">
            Enter licence number, name, registered email address, return ID or billing account
          </span>
          <input class="govuk-input govuk-!-width-two-thirds govuk-!-display-inline-block" id="search" name="search" type="text" aria-describedby="search-hint">

          {{ govukButton({
            text: "Search",
            classes: "govuk-!-display-inline-block govuk-!-padding-right-6 govuk-!-padding-left-6"
          }) }}


        </form>

      </div>
    </div>

  </div>

</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-0">

<!--cards-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section class="govuk-!-margin-bottom-9 ">

      <h2 class="govuk-heading-l">Bill runs</h2>
      <p class="govuk-body">View all bill runs. Create a new two-part tariff, annual or supplementary bill run. </p>
      <p class="govuk-body"><a href="bill-runs" class="govuk-link">Go to bill runs</a></p>

      <h2 class="govuk-heading-l">Licence notices</h2>
      <p class="govuk-body">Manage and view licence notices, including renewals, returns and hands-off flows.</p>
      <p class="govuk-body"><a href="licence-notices" class="govuk-link"> Go to licence notices</a></p>

      <h2 class="govuk-heading-l">Reports</h2>
      <p class="govuk-body">View and run reports on return cycles, licences and transactions.</p>
      <p class="govuk-body"><a href="reports" class="govuk-link"> Go to reports</a></p>

    </section>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>
</div>


<!--charge information workflow-->
{% include "sandbox/includes/billing/charge-info-workflow.html" %}


{% endblock %}
