{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Sandbox
  </h1>
  </div>
</div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">





    <h2 class="govuk-heading-l">
      Water abstraction alert user research
    </h2>
    <ul class="govuk-list">
      <li>
        <p class="govuk-body"><a class="govuk-link" href="home-search">Search</a></p>
      </li>
      <li>
        <p class="govuk-body"><a class="govuk-link" href="manage">Manage</a></p>
      </li>
      <li>
        <p class="govuk-body"><a class="govuk-link" href="search">Stations</a></p>
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Customer
    </h2>
    <ul class="govuk-list">
      <li>
        <p class="govuk-body"><a class="govuk-link" href="customer?customerID=0">Customer</a></p>
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Navigation and wayfinding scenarios
    </h2>
    <ul class="govuk-list">
      <li>
        <p class="govuk-body"><a class="govuk-link" href="home">Home</a></p>
      </li>
    </ul>

  </div>

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">
      User type
    </h1>
    <p class="govuk-body govuk-!-font-weight-bold">

      {% if data['userType'] == "bd" %}
      Billing and Data
      {% elseif data['userType'] == "nps" %}
      National permitting service
      {% else %}
      Super user
      {% endif %}

    </p>
    <ul class="govuk-list">
      <li>
        <p class="govuk-body"><a class="govuk-link" href="set-user-type">Change the user type</a></p>
      </li>
    </ul>
    </div>

</div>

{% endblock %}
