{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sandbox
    </h1>


    <h1 class="govuk-heading-l">
      Navigation and wayfinding scenarios
    </h1>
    <ul class="govuk-list">
      <li>
        <p class="govuk-body"><a class="govuk-link" href="home">Home page</a></p>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
