{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = [data.licences[data.ID].name] + " Licence summary" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

{% set purpose %}
      {{data.licences[data.ID].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
      {% endset %}


<!--Side nav styles -->
{% include "/sandbox/side-nav-styles.html" %}


<!-- page title -->

<!-- NEW - swaps title/caption round, H1 demoted to H2 as repeated on multiple pages  -->
<!-- the H1 will be on the title in the _include as this is unique to that page       -->
<!-- licence number is big (will exist) name is small caption (might not exist)       -->
<!-- If the name doesn't exist, use that to tell us the type of licence instead       -->
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- if this licence has a name -->
    {% if data.licences[data.ID].name.length %}
    <h2 class="govuk-heading-l">
      <!-- put the name in the caption above the number -->
      <span class="govuk-caption-l">{{[data.licences[data.ID].name]}}</span>
      <!-- and use the H2 for the licence type + licence number -->
      {% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} licence {{[data.licences[data.ID].number]}}
    </h2>
    {% else %}
    <!-- this licence doesn't have a name -->
    <h2 class="govuk-heading-l">
      <!-- use the Caption to tell us the type of licence -->
      <span class="govuk-caption-l">{% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} licence </span>
      
      <!-- put the H2 for the licence number -->
      Licence number {{[data.licences[data.ID].number]}}
    </h2>
    {% endif %}
  </div>
</div>



<!-- show confidential warning if licence is marked as confidential-->
{% if data.licences[data.ID].confidentiality | match("confidential") %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukWarningText({
  text: "This licence is confidential.",
  iconFallbackText: "Warning"
}) }}
  </div>
</div>
{% endif %}

<!-- show expired banner if licence is expired-->
{% if [data.licences[data.ID].expired] == "true" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
    {% include "sandbox/_includes/licence/expired-banner.html" %}
  </div>
</div>
{% endif %}


<!--licence set up section experimental
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
<p class="govuk-body "><a class="govuk-link govuk-link--no-visited-state" href="licence/licence-set-up/returns-requirements">
  Licence set up
</a>
<br> Set up new charge information, agreements and returns requirements
</p>
</div>
</div>
-->


<div class="govuk-!-margin-bottom-6">
  <p class="govuk-body">Registered to <a href="user?userID={{data['userID']}}" class="no-break">{{[data.users[data.userID].email]}}</a></p>
</div>


<!--<div class="govuk-tabs" data-module="govuk-tabs">

  <h2 class="govuk-tabs__title">
    Licence views
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item" tabindex="0" >
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="licence-summary" style="view-transition-name: one;">
        Summary
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="1">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="licence-contact-details" style="view-transition-name: two;">
        Contact details
      </a>
    </li>
    {% if 'Impounding' not in purpose %}
    <li class="govuk-tabs__list-item" tabindex="2">
      <a class="govuk-tabs__tab" href="licence-returns">
        Returns
      </a>
    </li>
    {% endif %}
    <li class="govuk-tabs__list-item" tabindex="3">
      <a class="govuk-tabs__tab" href="licence-communications">
        Communications
      </a>
    </li>
    <--if not display the table ->
    {% if 'Impounding' not in purpose %}
    <li class="govuk-tabs__list-item" tabindex="4">
      <a class="govuk-tabs__tab" href="licence-bills">
        Bills
      </a>
    </li>

    <li class="govuk-tabs__list-item" tabindex="5">
      <a class="govuk-tabs__tab" href="licence-charge">
        Licence set up
      </a>
    </li>
    {% endif %}
  </ul>
  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <!-- Side nav list -->
    <nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
      <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Navigation</h2>
        
      <ul class="x-govuk-sub-navigation__section">
        
        <li class="x-govuk-sub-navigation__section-item x-govuk-sub-navigation__section-item--current">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-summary?ID={{data.ID}}" aria-current="true">
            Licence details
          </a>

          <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
            Effective {{[data.licences[data.ID].effectiveDate]}}
          </div>
          <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
            This is the current version
          </div>
        </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent ">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-summary?ID={{data.ID}}">
              Summary
            </a>
          </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence/abstraction-points?ID={{data.ID}}">
              Source and points
            </a>
          </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence/abstraction-purpose?ID={{data.ID}}">
              Purpose, period and amounts
            </a>
          </li>

          <li class="x-govuk-sub-navigation__section--nested x-govuk-sub-navigation__section-item sub-nav-indent">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence/abstraction-conditions?ID={{data.ID}}">
              Conditions
            </a>
          </li>


          <!-- TODO add code for RouteUsage from the prototype index page -->
          <li class="x-govuk-sub-navigation__section-item">
            <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-history?ID={{data.ID}}">
             History
            </a>
          </li>


        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-contacts-tab?ID={{data.ID}}">
            <!-- use from include "sandbox/_includes/licence/contact-details.html" -->

            Contact details
          </a>
        </li>
        
        {% if 'Impounding' not in purpose %}
        <li class="x-govuk-sub-navigation__section-item">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-returns?ID={{data.ID}}" >
            Returns
          </a>
        </li>
        {% endif %}


        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-comms?ID={{data.ID}}">
            Communications
          </a>
        </li>


        <li class="x-govuk-sub-navigation__section-item ">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-bills?ID={{data.ID}}">
            Bills
          </a>
        </li>


        {% if 'Impounding' not in purpose %}
        <li class="x-govuk-sub-navigation__section-item  x-govuk-sub-navigation__section-item--current">
          <a class="x-govuk-sub-navigation__link" href="/sandbox/licence-setup?ID={{data.ID}}" aria-current="true">
            Licence set up
          </a>
        </li>
        {% endif %}
      </ul>
        
    </nav>
  </div>



  <div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-l">Licence set up</h1>


      {% include "/sandbox/_includes/licence/returns-versions.html" %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% include "/sandbox/_includes/licence/charge-information.html" %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% include "/sandbox/_includes/licence/agreements.html" %}

{% endblock %}
