{% extends "layouts/_BASE.html" %}

<!--set title-->
{% set title = "Licence notices" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



{% set navbarActiveNotices = "navbar__link--active" %}

<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl"> {{ title }}</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body">Create and send licence renewal notices, returns communications or water abstraction alerts.</p>


    {{ govukButton({
          text: "Create a licence notice",
          href: "licence-notices/select-the-type-of-notice"
        }) }}


  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-3">

    <h2 class="govuk-heading-l">
      View sent notices
    </h2>


    <p classs="govuk-body">Select notice type for more details.</p>

    <!-- Notices table -->
    {% include "sandbox/_includes/notices/notification-table.html" %}

  </div>
</div>



{% endblock %}
