{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = [data.licences[data.ID].name] + " Licence summary" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}



<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{[data.licences[data.ID].number]}}</span>
      {{[data.licences[data.ID].name]}}
    </h1>
  </div>
</div>

<!-- show expired banner if licence is expired-->
{% if [data.licences[data.ID].expired] == "true" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
    {% include "sandbox/_includes/licence/expired-banner.html" %}
  </div>
</div>
{% endif %}

<!--<div class="govuk-!-margin-bottom-6">
  <p class="govuk-body">Registered to <a href="user?userID={{data['userID']}}" class="no-break">{{[data.users[data.userID].email]}}</a></p>
</div>-->

<div class="govuk-tabs" data-module="govuk-tabs">

  <h2 class="govuk-tabs__title">
    Licence views
  </h2>

  <!-- tab navigation -->
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
        Summary
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#contact-details">
        Contact details
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#returns">
        Returns
      </a>
    </li>
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#communications">
        Communications
      </a>
    </li>
    {% set chargeVersions = data.licences[data.ID]['chargeInformation'] %}
    <!--check to see if there is any charge information set up-->
    {% if chargeVersions.length  %}
    <!--if so display the table-->
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#bills">
        Bills
      </a>
    </li>
    {% endif %}
    <li class="govuk-tabs__list-item" tabindex="0">
      <a class="govuk-tabs__tab" href="#charge">
        Licence set up
      </a>
    </li>
  </ul>

  <!-- tab 1 -->
  <section class="govuk-tabs__panel" id="summary">

    <h2 class="govuk-heading-l">
      Summary
    </h2>

    <!--Licence summary -->
    {% include "sandbox/_includes/licence/summary.html" %}

  </section>


  <!-- tab 2 -->
  <section class="govuk-tabs__panel" id="contact-details">

    <!--Licence summary -->
    {% include "sandbox/_includes/licence/contact-details.html" %}

  </section>

  <!-- tab 3 -->
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="returns">

    <h2 class="govuk-heading-l">
      Returns
    </h2>
    {% set chargeVersions = data.licences[data.ID]['chargeInformation'] %}
    <!--check to see if there is any charge information set up-->
    {% if chargeVersions.length  %}
    <!--if so display the table-->
    <!-- returns with statuses -->
    {% include "current/includes/bd/returns.html" %}
{% endif %}
  </section>

  <!-- tab 4 -->
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">


    {% include "sandbox/_includes/licence/communications-table.html" %}


  </section>

  {% set chargeVersions = data.licences[data.ID]['chargeInformation'] %}
  <!--check to see if there is any charge information set up-->
  {% if chargeVersions.length  %}
  <!--if so display the table-->
  <!-- tab 5 -->
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="bills">

    <section>

      {% include "sandbox/_includes/licence/bills.html" %}

    </section>


  </section>

  {% endif %}

  <!-- tab 6 -->
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="charge">


    <section>

      {% include "sandbox/_includes/licence/returns-versions.html" %}

      {% include "sandbox/_includes/licence/charge-information.html" %}

    </section>


  </section>

</div>

{% endblock %}
