{% extends "layouts/wrls-layout-sub-nav.html" %}

<!--set title-->
{% set title = [data.licences[data.ID].name] + " Licence summary" %}

<!--status for the nav bar-->
{% set licenceSummary = true %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}

{% set purpose %}
      {{data.licences[data.ID].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
      {% endset %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">


    <!-- show confidential warning if licence is marked as confidential-->
{% if data.licences[data.ID].confidentiality | match("confidential") %}

    {{ govukWarningText({
  text: "This licence is confidential.",
  iconFallbackText: "Warning"
}) }}

{% endif %}

<!-- show expired banner if licence is expired-->
{% if [data.licences[data.ID].expired] == "true" %}
<div class="govuk-!-margin-bottom-9">
    {% include "sandbox/_includes/licence/expired-banner.html" %}
</div>
{% endif %}



<!-- page title -->


    {% if data.licences[data.ID].name.length %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{[data.licences[data.ID].name]}}</span>
      Licence summary {{[data.licences[data.ID].number]}}
    </h1>
    {% else %}
    <h1 class="govuk-heading-l">
      Licence summary {{[data.licences[data.ID].number]}}
    </h1>
    {% endif %}

    <p class="govuk-body-l">The current version of the licence starting {{data.licences[data.ID].startDate}}.</p>

    {#get all registered users#}
{% for user in data.users %}

{% if data.licences[data.ID].number in user.licences %}

 <p class="govuk-body">Registered to <a href="user?ID=loop.index0" class="no-break">{{user.email}}</a></p>

{% endif %}

{% endfor %}

     

     {% include "sandbox/_includes/licence/summary.html" %}
  </div>
   </div>



{% endblock %}