{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "Manage reports and notices" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}

<!--header without searchbar-->
{% include "sandbox/_includes/nav/header.html" %}

{% endblock %}

<!--content block-->
{% block service %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      View reports
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">
          Notices
        </a>
      </li>
      <!-- <li>
        <a class="govuk-link" href="expired-licences">
          Expired licences
        </a>
      </li> -->
    </ul>

    <h2 class="govuk-heading-m">
      Send a Water abstraction alert
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="licence-notices/send-a-water-abstraction-alert/enter-licence-numbers?waaType=Warning">
          Warning
        </a>
      </li>
      <li>
        <a class="govuk-link" href="licence-notices/send-a-water-abstraction-alert/enter-licence-numbers?waaType=Stop%20or%20Reduce">
          Stop or reduce
        </a>
      </li>
      <li>
        <a class="govuk-link" href="licence-notices/send-a-water-abstraction-alert/enter-licence-numbers?waaType=Resume">
          Resume
        </a>
      </li>
    </ul>

  </div>
</div>


</main>

</div>
{% endblock %}
