{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = [data.stations[data.stationID].riverName] + " at " + [data.stations[data.stationID].label] %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block breadcrumbs %}
<!--custom back-->
{{ govukBackLink({
  text: "Back",
  href: "search?serachTerm="
}) }}

{% endblock %}

<!--content block-->
{% block service %}



<!-- page title -->
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      <span class="govuk-caption-l">{{[data.stations[data.stationID].catchmentName]}}</span>
      {{title}}
    </h1>

    {% set metaData %}
    {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    rows: [
      {
        key: {
          text: "Grid reference",
          classes: "meta-data__label"
        },
        value: {
          text: [data.stations[data.stationID].gridReference],
          classes: "meta-data__value"
        }
      } if data.stations[data.stationID].gridReference,
      {
        key: {
          text: "Easting",
          classes: "meta-data__label"
        },
        value: {
          text: [data.stations[data.stationID].easting],
          classes: "meta-data__value"
        }
      } if data.stations[data.stationID].easting,
      {
        key: {
          text: "Northing",
          classes: "meta-data__label"
        },
        value: {
          text: [data.stations[data.stationID].northing],
          classes: "meta-data__value"
        }
      } if data.stations[data.stationID].northing,
      {
        key: {
          text: "WISKI ID",
          classes: "meta-data__label"
        },
        value: {
          text: [data.stations[data.stationID].wiskiID],
          classes: "meta-data__value"
        }
      } if data.stations[data.stationID].wiskiID,
      {
        key: {
          text: "Station reference",
          classes: "meta-data__label"
        },
        value: {
          text: [data.stations[data.stationID].stationReference],
          classes: "meta-data__value"
        }
      } if data.stations[data.stationID].stationReference
    ]
    }) }}

    {% endset %}

    {{ govukDetails({
  summaryText: "Station details",
  html: metaData
}) }}


  </div>
</div>

{% set tags = data.stations[data.stationID]['tags'] %}
{% if tags.length %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    {{ govukButton({
  text: "Create a water abstraction alert",
  href: "licence-notices/send-a-water-abstraction-alert/select-the-type-of-alert?stationID=" + [data.stationID]
}) }}
  </div>
</div>
{% endif %}

<!--
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">  Latest reading<br>

    <span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">{{data['stationReading']}}</span><span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-48
    ">Ml/d</span><br>

  <span class="govuk-body govuk-!-font-weight-bold">  Taken at 06:00 on 23 April 2021 </span>
  </h2>

  </div>
  </div>
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--Licence summary -->
    {% include "sandbox/_includes/stations/tag-table.html" %}






    {% endblock %}
