
{% set contactID = data['contactID']%}
{% set customers = data.contacts[contactID].customer%}



{% if customers.length %}


{{ govukTable({
  caption: "Contact for",
  captionClasses: "govuk-heading-m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Customer",
      classes: 'govuk-!-width-one-third'
    },
    {
      text: "Role"
    },
    {
      text: "Action",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        html:  "<a class='govuk-link' href='customer#contacts' >" + [data.contacts[data.contactID].customer] + "</a>",
        classes: 'govuk-!-width-one-third govuk-table__cell--no-border'
      },
      {
        text: data.contacts[data.contactID]['role'] | replaceComma | striptags(true) | escape | nl2br ,
        classes: 'govuk-table__cell--no-border'
      },
      {
        html: '<a href="contact/remove-customer" class="govuk-link">Remove<span class="govuk-visually-hidden">customer</span></a>',
        classes: 'govuk-table__cell--no-border',
        format: "numeric"
      }
    ]
  ]
}) }}

{% else %}

<h2 class="govuk-heading">Contact for</h2>
<p class="govuk-body">This contact isn't associated with any customers</p>



{% endif %}
