
<!--set the action text to be set if there isn't an email address already there-->
{% if [data.contacts[data.contactID].email] == "Not set" %}
{% set action = "Set" %}
{% else %}
{% set action = "Change" %}
{% endif %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name",
        classes: 'govuk-!-width-one-third'
      },
      value: {
        text: [data.contacts[data.contactID].name]
      },
      actions: {
        items: [
          {
            href: "contact/change-name",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list--no-border',
      key: {
        text: "Email address"
      },
      value: {
        text: [data.contacts[data.contactID].email],
        classes: 'govuk-!-width-one-third'
      },
      actions: {
        items: [
          {
            href: "contact/change-email-address",
            text: action,
            visuallyHiddenText: "email address"
          }
        ]
      }
    }
  ]
}) }}
