{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Enter the licence numbers to remove from the mailing list"%}
<!--set question title-->
{% set qTitle = title %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>

      {{ govukTextarea({
      name: "excludeLicences",
      id: "excludeLicences",
      label: {
      text: title,
      classes: "govuk-label--l",
      isPageHeading: true
      },
      hint: {
      text: "Separate the licence numbers with a comma or new line."
      }
      }) }}

      <p class="govuk-body">This will assemble the mailing list. It will not send the letters yet.</p>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>



{% endblock %}