{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Return " + data.returnNotificationType + " sent" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>


      {{ govukPanel({
        titleText: title,
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <a class="govuk-body" href="../notification-report">View report</s>

    </form>

  </div>
</div>


{% endblock %}