{% extends "layout_wrls.html" %}

{% set title = "Set time limit?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form  method="post" class="form" id="element-date">



        {% set timeLimit %}
        {{ govukDateInput({
        id: "settimeLimit",
        namePrefix: "timeLimit",
        fieldset: {
          legend: {
            text: "Enter end date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        }
      }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "timeLimit",
          name: "timeLimit",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l">Licence 03/28/60/0032</span>' + [title],
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: timeLimit
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script>
    $(function() {
      $('form[data-routing]').on('submit', function(ev) {
        // FInd selected radio button
        const url = $(this).find('input:checked').val();

        if(url) {
          ev.preventDefault();
          window.location.href = url;
          return false;
        }
      });
    })
  </script>

{% endblock %}
