{% extends "layout_wrls.html" %}

{% set title = "Select agreement" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-view.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- page heading -->
      <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <!--  <h1 class="govuk-heading-l">{{title}}</h1> -->

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <form method="post" class="form">



      {{ govukRadios({
        idPrefix: "agreement",
        name: "agreement",
        fieldset: {
          legend: {
            text: [title],
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
          }
        },
        items: [

          {
            value: "Two-part tariff (S127)",
            text: "Two-part tariff (S127)"
          },
          {
            value: "Canal and Rivers Trust (S130)",
            text: "Canal and Rivers Trust (S130)"
          }
        ]
      })
    }}



    <button type="submit" class="govuk-button">
      Continue
    </button>

  </form>

</div>
</div>

<!-- Agreements not yet supported

  {
     value: "Energy generation (S125)",
     text: "Energy generation (S125)"
   },
   {
     value: "Abatement (S126)",
     text: "Abatement (S126)"
   },

   -->

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
