{% extends "layout_wrls.html" %}

{% set title = "You are about to remove this agreement" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

<!-- navigation block -->
<div class="govuk-!-margin-bottom-3">
  <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-view.html" %}
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}


<div class="govuk-!-margin-bottom-3"></div>

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- page heading -->
    <span class="govuk-caption-l">Licence 03/28/60/0032</span>
    <h1 class="govuk-heading-l">{{title}}</h1>

  </div>
</div>


<form method="post" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "current/includes/bd/agreement.html" %}
      <button type="submit" class="govuk-button">
        Remove agreement
      </button>
    </div>
  </div>
</form>

{% endblock %}
