{% extends "layout_wrls.html" %}

{% set title = "Confirm this reading - GOV.UK" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!-- page heading -->
          {% if permits[1].LicenceName %}

            <h1 class="govuk-heading-l">
              <span class="screen-reader-only">Return status</span>
              <span class="govuk-caption-xl">Licence {{ permits[1].LicenceSerialNo }}</span>
              {{ permits[1].LicenceName }}
            </h1>

          {% else %}

            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
              <span class="govuk-caption-xl">Licence 03/28/60/0032</span>
              Return status
            </h1>

          {% endif %}

        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Return reference
              </div>
              <div class="meta-data__value">
                65432123
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Region
              </div>
              <div class="meta-data__value">
                Central West
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Site description
              </div>
              <div class="meta-data__value">
                Great Ouse at Bedford College (Heat pump - cooling only)
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Purpose
              </div>
              <div class="meta-data__value">
                Spray irrigation
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Return period
              </div>
              <div class="meta-data__value">
                1 April 2019 to 31 September 2019
              </div>
            <div>
          </section>
          <section class="meta-data__row">
            <div class="meta-data__container">
              <div class="meta-data__label">
                Abstraction period
              </div>
              <div class="meta-data__value">
                1 April 2019 to 31 September 2019
              </div>
            <div>
          </section>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">
          <a href="../licence-summary">View this licence</a>
        </div>
      </div>

      {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#return-reference-error">
                  Select what you want to do with this return
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">

      <form action="../return-submitted?returnStatus=submitted" id="return-status"   data-routing="1" method="post" class="form">

<h2 class="govuk-heading-l ">
Confirm this return
<h2>

  <h3 class="govuk-heading-s">
  Meter details
  <h3>


    {{ govukInsetText({
      html: "1234553<br>12534233<br>Has a x10 Display<br>Start reading 20<br>End reading 300"
    }) }}





{# set a blank array for the contact List #}
{% set tableRows = [] %}

<!--April-->
{% set loop = 31 %}
{% for i in range(1, loop) -%}
{% set tableRows = tableRows | push([
{text: i + " April"},
{text: "20", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}

<!--May-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " May"},
{text: "40", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}

<!--June-->
{% set loop = 31 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " June"},
{text: "60", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--July-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " July"},
{text: "80", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--August-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " August"},
{text: "100", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}

<!--September-->
{% set loop = 31 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " September"},
{text: "120", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--Ocotber-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " October"},
{text: "140", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--November-->
{% set loop = 31 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " November"},
{text: "160", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--December-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " December"},
{text: "180", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--January-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " January"},
{text: "250", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}

<!--February-->
{% set loop = 29 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " February"},
{text: "280", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


<!--March-->
{% set loop = 32 %}
{% for i in range(1, loop) -%}

{% set tableRows = tableRows | push([
{text: i + " March"},
{text: "300", format: "numeric"},
{text: "10", format: "numeric"}
]) %}
{%- endfor %}


{{ govukTable({
firstCellIsHeader: false,
head: [
{
  text: "Day",
  classes: "govuk-!-width-one-half"
},
{
  text: "Reading",
  format: "numeric"
},
{
  text: "Cubic metres",
  format: "numeric"
}
],
rows: tableRows
}) }}



        <button type="submit" class="govuk-button">
          Submit
        </button>

      </form>

    </div>

    </div>
    </div>

  </main>
</div>
{% endblock %}
