{% extends "layout_wrls.html" %}

{% set title = "Did they use a meter or meters? - GOV.UK" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <!-- page heading -->
          {% if permits[1].LicenceName %}

            <h1 class="govuk-heading-l">
              <span class="screen-reader-only">Return status</span>
              <span class="govuk-caption-xl">Licence {{ permits[1].LicenceSerialNo }}</span>
              {{ permits[1].LicenceName }}
            </h1>

          {% else %}

            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
              <span class="govuk-caption-xl">Licence 03/28/60/0032</span>
              Return status
            </h1>

          {% endif %}

      <form  id="return-process" data-routing="1" method="post" class="form">



          {{ govukRadios({
            idPrefix: "meterOrMeters",
            name: "meterOrMeters",
            fieldset: {
              legend: {
                text: "Did they use a meter or meters?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "single-volume",
                text: "Yes"
              },
              {
                value: "single-volume",
                text: "No"
              }
            ]
          })
        }}

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script>
      $(function() {
        $('form[data-routing]').on('submit', function(ev) {
          // FInd selected radio button
          const url = $(this).find('input:checked').val();

          if(url) {
            ev.preventDefault();
            window.location.href = url;
            return false;
          }
        });
      })
    </script>

  </main>
</div>
{% endblock %}
