{% import "current/includes/macros/tables.njk" as table %}

{% extends "layout_wrls.html" %}

{% set title = "Licence 03/28/60/0032 conditions" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-6">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-wirs-view.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
      <h1 class="govuk-heading-l">Scrifford Pike conditions</h1>
    </div>
  </div>


  <!-- licence condition title -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="heading-large govuk-heading-m licence-condition__header">
        Eel screening condition
      </h2>
    </div>
  </div>

  <!-- licence condition group -->
  <div class="govuk-!-margin-bottom-6">
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Screening</div>
      <div class="data-row__value">
        The Agency may have regard to its best practice guide, the Eel Menual: Screening at intakes and outfalls: measures to protect eel (or equivalent guidance) in agreeing where, how and what type of eel screen should be installed and together with the results of any monitoring in determining whether the eel screen is properly effective and maintained, and in judging whether it is necessary to require or replacement of the eel screen.
      </div>
    </div>
  </div>

  <!-- licence condition group -->
  <div class="govuk-!-margin-bottom-6">
    <!-- licence condition title -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="heading-large govuk-heading-m licence-condition__header">
          Hands off flow condition
        </h2>
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Purpose</div>
      <div class="data-row__value">
        Make-up or top up water
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Gauging station</div>
      <div class="data-row__value">
        At National Grid Reference SX 426725<br>
        <a href="../gauging-station">View details at Huntsford</a>
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Threshold level</div>
      <div class="data-row__value">
        0.73m ODN
      </div>
    </div>
    <!-- licence data -->
    <div class="data-row">
      <!-- the data label -->
      <div class="data-row__param">Other information</div>
      <div class="data-row__value">
        No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at Little Durnsford (SW 321562) is at or below 0.73m ODN.
      </div>
    </div>

  </div>


{% endblock %}
