<!-- table with returns with statuses -->
<div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

  <div class="table__row--head">                                              <!-- the table head -->
    <div class="table__cell bold-small column--20">
      Return reference
    </div>
    <div class="table__cell bold-small column--40">
      Purpose
    </div>
    <div class="table__cell bold-small column--25">
      Due
    </div>
    <div class="table__cell bold-small column--15">
      Status
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 1
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
      <a href="return-status">
        <span class="screen-reader-only">View return status for return reference</span>
        21765264
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
      Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2019
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status table__status--todo">
        Due
      </strong>
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 2
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
        <a href="return-status-void">
        <span class="screen-reader-only">View return status for return reference</span>
        67525612
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
      Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2019
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status table__status--error">
        Void
      </strong>
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 3
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
      <a href="returns/return-report">
        <span class="screen-reader-only">View return status for return reference</span>
        01726352
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
        Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2018
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status">
        Complete
      </strong>
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 4
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
      <a href="returns/return-report">
        <span class="screen-reader-only">View return status for return reference</span>
        01725524
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
      Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2017
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status">
        Complete
      </strong>
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 5
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
      <a href="returns/return-report">
        <span class="screen-reader-only">View return status for return reference</span>
        15263645
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
      Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2016
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status">
        Complete
      </strong>
    </div>
  </div>

  <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

    <div class="table__cell">
      <h3 class="screen-reader-only">
        Row 6
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
      <a href="returns/return-report">
        <span class="screen-reader-only">View return status for return reference</span>
        83655562
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
      Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2015
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status">
        Complete
      </strong>
    </div>
  </div>
  <div class="table__row table__row--last govuk-!-margin-bottom-6">                                      <!-- a data row starts -->

    <div class="table__cell ">
      <h3 class="screen-reader-only">
        Row 7
      </h3>
      <h4 class="table__context">
        Return reference
      </h4>
      <a href="returns/return-report">
        <span class="screen-reader-only">View return status for return reference</span>
        12635462
      </a>
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Purpose
      </h4>
      Spray irrigation
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Due
      </h4>
      March 2014
    </div>
    <div class="table__cell">
      <h4 class="table__context">
        Status
      </h4>
      <strong class="table__status">
        Complete
      </strong>
    </div>
  </div>

</div>
