{% extends "layout_wrls.html" %}

{% set title = "Delete user account" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-!-margin-bottom-3"></div>

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{title}}
    </h1>

    <div class="govuk-checkboxes govuk-!-margin-bottom-6">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="returns-agent" name="returns-agent" type="checkbox" value="returns">
        <label class="govuk-label govuk-checkboxes__label" for="returns-agent">
          Yes I want to delete the account for <span class="govuk-!-font-weight-bold no-break">debbie.smith@environment-agency.gov.uk</span>
        </label>
      </div>
    </div>

    <a href="delete-account-done" class="wrls-faux-button">
      Confirm
    </a>


  </div>
</div>
{% endblock %}
