{% extends "layout_wrls.html" %}

{% set title = "Existing billing contact" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "current/includes/nav/nav-nps-view.html" %}

 <!--
 {{ govukBackLink({
   text: "Back",
   href: "javascript:history.back()"
 }) }}
-->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <p class="govuk-!-margin-bottom-9">
      (this view only shows if there is a billing contact name match)
      <br>(changes to the pattern)
    </p>

    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <div class="govuk-inset-text">
      Steve Murphy
      <br>Oxfordshire
      <br>steve.m@irriwet.co.uk
    </div>


    <form data-routing="1">
      {{ govukRadios({
        idPrefix: "handle-contact",
        name: "handle-contact",
        fieldset: {
          legend: {
            text: "What do you want to do?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "contact-change-date",
            text: "Use this contact"
          },
          {
            value: "new-contact-date",
            text: "Create a new billing contact"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script>
      $(function() {
        $('form[data-routing]').on('submit', function(ev) {
          // FInd selected radio button
          const url = $(this).find('input:checked').val();

          if(url) {
            ev.preventDefault();
            window.location.href = url;
            return false;
          }
        });
      })
    </script>


  </div>
</div>




{% endblock %}
