{% extends "layout_wrls.html" %}

{% set title = "Billing contact changed" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password",
       active: true
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "current/includes/nav/nav-nps-view.html" %}

 <!--
 {{ govukBackLink({
   text: "Back",
   href: "javascript:history.back()"
 }) }}
-->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Licence number 03/28/60/0032</span>
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <a href="/nps/licence/contacts#billing" class="wrls-faux-button">
      Continue
    </a>

  </div>
</div>

{% endblock %}
