{% extends "layout_wrls.html" %}

{% set title = "Send a security code" %}

{% block pageTitle %}
   Send a security code - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    {% include "current/includes/nav/nav-ex-manage.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>

    <p class="govuk-body">
      To prove that you are the licence holder, we will post a security code to:
    </p>

    <div class="govuk-inset-text">
      Petra Pikes, Returns department<br>
      Lake Valley Foods Ltd<br>
      Pipton Lane<br>
      Lake Valley North<br>
      Bradlington<br>
      BP22 2PP
    </div>

    <p class="govuk-body">
      Your letter containing a security code and instructions will be sent by 1st Class post.
    </p>

    <a href="code-sent" class="wrls-faux-button">
      Confirm
    </a>

  </div>
</div>

{% endblock %}
