{% extends "layout.html" %}

{% set title = data['region'] + " supplementary bill run" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   useTudorCrown: true,
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
  {% include "current/includes/nav/nav-bd-bill-runs.html" %}
  </div>

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

{% endblock %}

{% block content %}

  <!-- page title -->
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">

      <section class="govuk-!-margin-bottom-6">
        <h1 class="govuk-caption-l">Bill run 880347</h1>
        <span class="govuk-heading-xl govuk-!-margin-bottom-0">{{title}}</span>
      </section>

      {% if [data.status] == "ready" %}
      <p class="govuk-body">
        {{govukTag({
        text: "Ready",
        classes: "govuk-tag--blue govuk-!-font-size-27"
      })}}
      </p>
      {% else %}
      <p class="govuk-body">
        {{govukTag({
        text: "Sent",
        classes: "govuk-tag--green govuk-!-font-size-27"
      })}}
      </p>
      {% endif %}

      <div class="govuk-grid-row govuk-!-margin-bottom-1">
        <div class="govuk-grid-column-full">
          {% set date %}
          {% if data['rebill'] == "true" %}
          20 April 2020
          {% else %}
          5 March 2020
          {% endif %}
          {% endset %}

          {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: "Date created",
                classes: "meta-data__label"
              },
              value: {
                text: date,
                classes: "meta-data__value "
              }
            },
            {
              key: {
                text: "Region",
                classes: "meta-data__label "
              },
              value: {
                text: data['region'],
                classes: "meta-data__value "
              }
            },
            {
              key: {
                text: "Bill run type",
                classes: "meta-data__label "
              },
              value: {
                text: "Supplementary",
                classes: "meta-data__value "
              }
            },
            {
              key: {
                text: "Transaction file",
                classes: "meta-data__label "
              },
              value: {
                text: "ABC132456BH",
                classes: "meta-data__value "
              }
            } if data.status === 'sent'
          ]
        }) }}

        <div class="govuk-inset-text">

          <h2 class="govuk-heading-m">This bill run is linked to another one</h2>

          <div class="govuk-grid-row govuk-!-margin-bottom-1">
            <div class="govuk-grid-column-full">
              <section class="meta-data__row">
                <div class="meta-data__container">
                  <div class="meta-data__label">
                    Number
                  </div>
                  <div class="meta-data__value">
                    <a href="Pre-SRoC-bill-cancelled.html">
                      <span class="screen-reader-only">bill</span>880348
                    </a>(Old charge scheme)
                  </div>
                  <div>
              </section>
              <section class="meta-data__row">
                <div class="meta-data__container">
                  <div class="meta-data__label">
                    Status
                  </div>
                  <div class="meta-data__value">
                      <td class="govuk-table__cell">
                          {{govukTag({
                            text: "Cancelled",
                            classes: "govuk-tag--red"
                          })}}
                        </td>
                  </div>
                  <div>
              </section>


            </div>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>

  <!-- big total and 2 smaller totals -->
<div class="govuk-grid-row govuk-!-margin-bottom-3">

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-!-margin-bottom-0"><span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">{% if data['rebill'] == "true" %}£1,105.00{% else %}£11,537.75{% endif %}</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Total</span></h2>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-one-half">
      <h2><span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{% if data['rebill'] == "true" %}£3,002.75{% else %}£92.75{% endif %}</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">{% if data['rebill'] == "true" %}1{% else %}1{% endif %} credit note</span></h2>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2><span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{% if data['rebill'] == "true" %}£4,107.75{% else %}£11,630.55{% endif %}</span><br>
      <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">{% if data['rebill'] == "true" %}2{% else %}4{% endif %} invoices</span></h2>
    </div>

  </div>



  {% if [data.status] == "ready" %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-two-thirds">

      <section class="govuk-!-margin-bottom-6">
        <a href="confirm-approve-bills?type=Supplementary" class="wrls-faux-button">Confirm bill run</a>
        <a href="confirm-cancel-bills?type=Supplementary" class="wrls-faux-button wrls-faux-button--inline wrls-faux-button--secondary">Cancel bill run</a>
      </section>

    </div>

  </div>

  {% endif %}

  <div class="divider govuk-!-margin-bottom-5"></div>

<h2 class="govuk-heading-l" id="bills">
    {% if (data['rebill'] == "true") %}
     3 supplementary bills
     {% else %}
    {{data['numberBills']}} supplementary bills
    {% endif %}
  </h2>


  {{ govukButton({
    text: "Download this bill run",
    classes: "govuk-button--secondary govuk-!-margin-bottom-6"
  }) }}

  <!--{% set pastDayHtml %}
  <h2 class="govuk-heading-l"></h2>
  {{ govukTable({
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened"
      },
      {
        text: "Cases closed"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "3"
        },
        {
          text: "0"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "1"
        },
        {
          text: "0"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "2"
        },
        {
          text: "0"
        }
      ]
    ]
  }) }}
  {% endset -%}

  {% set pastWeekHtml %}
  <h2 class="govuk-heading-l">Past week</h2>
  {{ govukTable({
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened"
      },
      {
        text: "Cases closed"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "24"
        },
        {
          text: "18"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "16"
        },
        {
          text: "20"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "24"
        },
        {
          text: "27"
        }
      ]
    ]
  }) }}
  {% endset -%}

  {% set pastMonthHtml %}
  <h2 class="govuk-heading-l">Ready</h2>
  {{ govukTable({
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened"
      },
      {
        text: "Cases closed"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "98"
        },
        {
          text: "95"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "122"
        },
        {
          text: "131"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "126"
        },
        {
          text: "142"
        }
      ]
    ]
  }) }}
  {% endset -%}

  {% set pastYearHtml %}
  <h2 class="govuk-heading-l">Past year</h2>
  {{ govukTable({
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened"
      },
      {
        text: "Cases closed"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "1380"
        },
        {
          text: "1472"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "1129"
        },
        {
          text: "1083"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "1539"
        },
        {
          text: "1265"
        }
      ]
    ]
  }) }}
  {% endset -%}

  {{ govukTabs({
    items: [
      {
        label: "Past day",
        id: "past-day",
        panel: {
          html: pastDayHtml
        }
      },
      {
        label: "Past week",
        id: "past-week",
        panel: {
          html: pastWeekHtml
        }
      },
      {
        label: "Past month",
        id: "past-month",
        panel: {
          html: pastMonthHtml
        }
      },
      {
        label: "Past year",
        id: "past-year",
        panel: {
          html: pastYearHtml
        }
      }
    ]
  }) }}-->

{% if (data['rebill'] == "true") %}
{% include "current/includes/bd/bills-table-rebill.html" %}
{% else %}
{% include "current/includes/bd/bills-table.html" %}
{% endif %}


{% endblock %}
