{% extends "layout_wrls.html" %}

{% set title = "Create an account to manage your water abstraction licence online" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "account-settings"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}

  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create an account to manage your water abstraction licence online</h1>

      <p>
        You must be a licence holder to create an online account.
        Once registered you will be able to:
      </p>

      <ul class="list-bullet">
        <li>view your abstraction licence information</li>
        <li>submit abstraction returns</li>
        <li>give others access to your account and permission to submit returns</li>
      </ul>

      <p>To protect your data we have to post a security code to the registered address of the licence.</p>

      <div class="panel panel-border-wide">
        <p>
          We will send a security code to you straight away, using first-class mail.
        </p>
      </div>

      <p>Impoundment licences are not yet part of this service.</p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You will need:</p>

      <ul class="list list-bullet">
        <li>an email address</li>
        <li>your licence numbers</li>
        <li>the code we emailed you</li>
      </ul>

      <!-- <a class="govuk-button govuk-button-start" href="/register" role="button">Create account</a> -->

      <a href="register" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Create account
      </a>

    </div>
  </div>

{% endblock %}
