{% extends "layout.html" %}

{% set title = "Add a licence" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/account-settings",
       text: "Account settings"
     },
     {
       href: "#2",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <!-- phase banner -->
  {% include "includes/feedback-banner.html" %}

  <!-- company switcher -->
  {% include "includes/company-switcher.html" %}

  <!-- navigation block -->
  <div class="space--small">
    {% include "includes/nav/nav-ex-manage.html" %}
  </div>

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Add a licence
      </h1>

      {% from "warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You should be the named licence holder to claim licences.",
        iconFallbackText: "Warning"
      }) }}

      <!-- <div class="govuk-inset-text">
        You should be the named licence holder to claim licences.
      </div> -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Licence number
        </label>
        <span id="more-detail-hint" class="govuk-hint">
          You can enter one or many of your licence numbers.
          Separate each full licence number with a space or comma or by entering each on a different line.
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <a href="send-code" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
