{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "How do you want to set up the return requirement?" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


<form method="post" class="form">



{{ govukRadios({
idPrefix: "howToSetUp",
name: "howToSetUp",
fieldset: {
  legend: {
    html: '<span class="govuk-caption-l">Licence ' + [data.licences[data.ID].number] + '</span>' + [title],
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
  }
},
items: [
{
  value: "use abstraction data",
  text: "Start by using extraction data",
  checked: checked("howToSetUp", "use abstraction data")
},
{
  value: "use abstraction data",
  text: "Start by using extraction data",
  checked: checked("howToSetUp", "use abstraction data")
},
{
  value: "copy an existing return requirement",
  text: "Copy an existing return requirement",
  checked: checked("howToSetUp", "copy an existing return requirement")
} 

     divider: "or"
   } if data.licences[data.ID].returnsRequirements.length,
{
  value: "set up requirement manually",
  text: "Set up a return requirement manually",
  checked: checked("howToSetUp", "create requirement manually")
} if data.licences[data.ID].returnsRequirements.length
]
}) }}

  <button type="submit" class="govuk-button govuk-!-margin-right-1">
    Continue
  </button>

</form>
</div>
</div>


    {% endblock %}
