



      {% set agreements = data['agreements'] %}

      <!--checking to see if this is a new licence-->


      {% if [data.newLicence] == "false" %}
      {% set agreementNumber = agreements.length %}
      {% else %}
      {% set agreementNumber = 0 %}
      {% endif %}

      <!--displaying text if there are no agreements or the table if there are agreements in place-->

      {% if agreementNumber == 0 %}
      <h2 class="govuk-heading-m">

          Agreements

      </h2>
      <p class="govuk-body"> There are no agreements set up for this licence</p>

      {% else %}

      <table class="govuk-table govuk-!-margin-bottom-4">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-5">Agreements</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Start date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">End date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Agreement type</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Date signed</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <!--setting the number of agreements-->


          {% set numberOfAgreements = "" %}
          {% set numberOfAgreements = agreements.length %}

          {% for i in agreements %}
          {% set agreementNumber = loop.index0 %}

          <!--set last row to remove the bottom border-->


          {% if loop.index ==  numberOfAgreements %}
          {# {% set lastRow = "govuk-table__cell--no-border" %} #}
          {% set lastRow = "" %}
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreementStartDay] + " " + [[i.agreementStartMonth] | toMonth] + " " + [i.agreementStartYear]}}</td>
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreementEndDay] + " " + [[i.agreementEndMonth] | toMonth] + " " + [i.agreementEndYear]}}</td>
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreement]}}</td>
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreementSignedStartDay] + " " + [[i.agreementSignedStartMonth] | toMonth] + " " + [i.agreementSignedStartYear]}}</td>

            {% if [i.agreementEnded] == "true" %}
            <td class="govuk-table__cell {{lastRowAgreements}}"><a
                href="charges-2020/remove-agreement?agreementNumber={{agreementNumber}}">Delete</a></td>
            {% else %}
            <td class="govuk-table__cell {{lastRowAgreements}}"><a href="charges-2020/remove-agreement-date?agreementNumber={{agreementNumber}}">End</a><span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span><a
                href="charges-2020/remove-agreement?agreementNumber={{agreementNumber}}">Delete</a><span class="govuk-!-margin-left-1 govuk-!-margin-right-1">{% if not data.suppBilling.length %}|</span><a
                    href="iterations/manual-billing/recalculate-bills-select-year">Recalculate&nbsp;bills</a></td>{% endif %}
            {% endif %}
          </tr>

          {% endfor %}

        </tbody>
      </table>


      {% endif %}


      {{ govukButton({
          text: "Set up new agreement",
          href: "charges-2020/add-agreement",
          classes: "govuk-button--secondary"
        }) }}
