{% set free = [data.chargeVersions[0].free] %}
{% set status = [data.chargeVersions[0].chargeStatus] %}
{% if (free == "true") and (status == "CHARGEABLE") %}
{{ govukInsetText({
       html: 'This licence is non-chargeable.  ' + [data.reason] + '.'
      }) }}
{% endif %}




<div class="govuk-accordion govuk-table__cell--no-border" data-module="accordion" id="accordion-with-summary-sections">

  {% if [data.newLicence] == "false" %}


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">



      <!--  <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Latest bill
        </span>
      </h2> -->

      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          Bills
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Latest bill, billing history and billing account.

        <!--The last bill for this licence was created on {{[data.chargeVersions[0].chargeBilledDate]}}.-->
      </div>

    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">


      {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Latest bill",
          head: [
          {
            text: "Date created",
            classes: "govuk-!-width-one-fifth width-20"
          },
          {
            text: "Bill number",
            classes: "govuk-!-width-one-fifth width-20"
          },
          {
            text: "Bill run type",
            classes: "govuk-!-width-one-fifth width-20"
          },
          {
            text: "Billing account",
            classes: "govuk-!-width-one-fifth width-20"
          },
          {
            text: "Total",
            classes: "govuk-!-width-one-fifth width-20"
          }
          ],
          rows:
          [
            [
              {
                classes: 'govuk-table__cell--no-border',
                text: "1 November 2019"
              },
              {
                classes: 'govuk-table__cell--no-border',
                html: '<a href="/bd/charges-2020/supplementary-bill?status=sent&region=Anglian" class="govuk-link">OP123344</a>'
              },
              {
                classes: 'govuk-table__cell--no-border',
                text: "Supplementary"
              },
              {
                classes: 'govuk-table__cell--no-border',
                html: '<a href="/bd/charges-2020/billing-account" class="govuk-link">L12345678S</a><br>	15 Ward Road<br> Bath<br> BA1 5EH'
              },
              {
                classes: 'govuk-table__cell--no-border',
                text: '£3,002.75'
              }
            ]
          ]
        }) }}

      <p class="govuk-body govuk-!-margin-bottom-6"><a href="/bd/charges-2020/bills" class="govuk-link">View all bills</a></p>

      <!--      <dl class="govuk-summary-list">

              {% if [data.newLicence] == "false" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date created
                </dt>
                <dd class="govuk-summary-list__value">
                  {{[data.chargeVersions[0].chargeBilledDate]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/bd/charges-2020/bills">
                    View all bills
                  </a>
                </dd>
              </div>

             {% endif %}
             {% if data['invoiceAccount'] == "null"%}
             {% else %}
              <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                  Billing account
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['invoiceAccount']}}<br>
                  {{data['customerName']}}<br>
                  {% if data['newFAO'] == "Yes" %}
                  {{data['fao']}}<br>
                  {% endif %}
                  {{data['address1']}}<br>
                  {{data['postcode']}}<br>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/bd/charges-2020/billing-account">
                        View<span class="govuk-visually-hidden"> billing account</span>
                      </a>
                    </li>


                  </ul>
                </dd>
              </div>
             {% endif %}



            </dl>
-->


    </div>
  </div>
  {% endif %}

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">

      <!--  <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Charge information
        </span>
      </h2> -->

      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          Charge information
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        Latest charge information and older versions, set up new charge information.
      </div>

    </div>

    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">

      <table class="govuk-table">
        <!--  <caption class="govuk-table__caption">Charge information</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Start date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">End date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Reason</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Action</th </tr>
        </thead>


        <tbody class="govuk-table__body">

          <!--check to see if this is a new licence-->
          {% if [data.newLicence] == "false" %}
          {% set chargeVersions = data['chargeVersions'] %}
          {% else %}
          {% set chargeVersions = [data.chargeVersions[0]] %}
          {% endif %}

          <!--setting the charge version numbers for the individual urls-->
          {% set chargeVersionsNumber = "" %}
          {% set numberOfChargeVersions = chargeVersions.length %}

          <!--creating rows-->
          {% for i in chargeVersions %}

          <!--set last row to remove the bottom border-->
          {% if loop.index ==  numberOfChargeVersions %}
          {% set lastRow = "govuk-table__cell--no-border" %}
          {% endif %}

          <tr class="govuk-table__row">

            <td class="govuk-table__cell {{lastRow}}">{{[i.chargeStart]}}</td>
            <td class="govuk-table__cell {{lastRow}}">{{[i.chargeEnd]}}</td>
            <td class="govuk-table__cell {{lastRow}}">{{[i.reasonNewCharge]}}</td>
            <td class="govuk-table__cell {{lastRow}}">
              {% if [i.chargeStatus] == "CHARGEABLE" %}
              {{govukTag({
                      text: "Approved",
                      classes: "govuk-tag--green"
                    })}}
              {% elif [i.chargeStatus] == "REPLACED" %}
              {{govukTag({
                      text: [i.chargeStatus],
                      classes: "govuk-tag--grey"
                    })}}
              {% elif [i.chargeStatus] == "INVALID" %}
              {{govukTag({
                      text: [i.chargeStatus],
                      classes: "govuk-tag--red"
                    })}}
              {% elif [i.chargeStatus] == "DRAFT" %}
              {{govukTag({
                      text: [i.chargeStatus],
                      classes: "govuk-tag--blue"
                    })}}
              {% elif [i.chargeStatus] == "NOT APPROVED" %}
              {{govukTag({
                      text: "Review",
                      classes: "govuk-tag--orange"
                    })}}
              {% elif [i.chargeStatus] == "CHANGES" %}
              {{govukTag({
                      text: "Draft",
                      classes: "govuk-tag--blue"
                    })}}
              {% endif %}
            </td>
            <td class="govuk-table__cell {{lastRow}}">
              {% if [i.chargeStatus] == "DRAFT" %}
              <a href="/bd/charges-2020/charge-version/charge-data-check">Continue<span class="screen-reader-only">setting up charge information</span></a>
              <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
              <a href="/bd/charges-2020/charge-version/confirm-remove-charge-information">Remove <span class="screen-reader-only">charge information</span></a>
              {% elif [i.chargeStatus] == "NOT APPROVED" %}
              {% set link = 'charges-2020/charge-version?chargeInfoNumber=' + loop.index0 %}
              <a href="{{link}}">Review <span class="screen-reader-only">charge information</span></a>
              {% elif [i.chargeStatus] == "CHANGES" %}
              {% set link = 'charges-2020/charge-version?chargeInfoNumber=' + loop.index0 %}
              <a href="{{link}}">Review <span class="screen-reader-only">charge information</span></a>
              {% else %}
              {% set link = 'charges-2020/charge-version?chargeInfoNumber=' + loop.index0 %}
              <a href="{{link}}">View <span class="screen-reader-only">charge information</span></a>
              {% endif %}
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>


      {{ govukButton({
        text: "Set up new charge",
        href: "/bd/charges-2020/add-new-reason",
        classes: "govuk-!-margin-right-3"
      }) }}

      <!-- show button if licence isn't already marked as exempt from charge-->
      {% set free = [data.chargeVersions[0]['free']]%}
      {% if free == "true" %}
      {% else %}
      {{ govukButton({
        text: "Make licence non-chargeable",
        classes: "govuk-button--secondary govuk-!-margin-right-3",
        href: "/bd/charges-2020/add-reason"
      }) }}
      {% endif %}

    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <!--  <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Agreements
        </span>
      </h2> -->

      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Agreements
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        Current agreements, set up a new agreement.
      </div>

    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">

      {% set agreements = data['agreements'] %}

      <!--checking to see if this is a new licence-->
      {% if [data.newLicence] == "false" %}
      {% set agreementNumber = agreements.length %}
      {% else %}
      {% set agreementNumber = 0 %}
      {% endif %}

      <!--displaying text if there are no agreements or the table if there are agreements in place-->
      {% if agreementNumber == 0 %}

      <p class="govuk-body"> There are no agreements set up for this licence</p>

      {% else %}

      <table class="govuk-table govuk-!-margin-bottom-4">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Start date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">End date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Agreement</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Date signed</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth width-20">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <!--setting the number of agreements-->
          {% set numberOfAgreements = "" %}
          {% set numberOfAgreements = agreements.length %}

          {% for i in agreements %}
          {% set agreementNumber = loop.index0 %}

          <!--set last row to remove the bottom border-->
          {% if loop.index ==  numberOfAgreements %}
          {% set lastRowAgreements = "govuk-table__cell--no-border" %}
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreementStartDay] + " " + [[i.agreementStartMonth] | toMonth] + " " + [i.agreementStartYear]}}</td>
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreementEndDay] + " " + [[i.agreementEndMonth] | toMonth] + " " + [i.agreementEndYear]}}</td>
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreement]}}</td>
            <td class="govuk-table__cell {{lastRowAgreements}}">{{[i.agreementSignedStartDay] + " " + [[i.agreementSignedStartMonth] | toMonth] + " " + [i.agreementSignedStartYear]}}</td>

            {% if [i.agreementEnded] == "true" %}
            <td class="govuk-table__cell {{lastRowAgreements}}"></td>
            {% else %}
            <td class="govuk-table__cell {{lastRowAgreements}}"><a href="charges-2020/remove-agreement-date?agreementNumber={{agreementNumber}}">End</a><span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span><a
                href="charges-2020/remove-agreement?agreementNumber={{agreementNumber}}">Remove</a></td>
            {% endif %}
          </tr>

          {% endfor %}

        </tbody>
      </table>


      {% endif %}


      {{ govukButton({
          text: "Set up new agreement",
          href: "charges-2020/add-agreement",
          classes: "govuk-button--primary"
        }) }}


    </div>
  </div>

</div>
