

<section class="govuk-!-margin-bottom-7">

  {% set monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

  {% set monthNumber = data['chargeStart-month'] | default("4") %}

  {% set month = monthNames[monthNumber - 1] %}

  {% set chargeStart = data['chargeStart-day'] | default("22") + " " + month +" "+ data['chargeStart-year'] | default("2019")%}


  {% set invoiceAddress %}
 {% if [data.chargeVersions[0].chargeStatus] == "CHAREGEABLE" %}
 {{ data.invoiceAccount}} <br>
 {% else %}
 {{ data.invoiceAccount}} <br>
 {{data.customerName}}<br>
  {{ data.address1}} <br>
  {{ data.city}} <br>
  {{data.postcode}} <br>
  {% endif %}
  {% endset %}



   {% set y = data['chargeStart-year'] | int %}
   {% set m = data['chargeStart-month'] | int %}
   {% set d = data['chargeStart-day'] | int %}
   {% set date = y + m + d %}
   {% if [data.chargeVersions[0].chargeStatus] == "NOT APPROVED" %}
   {% elif date < 2020 %}
  {{ govukWarningText({
    text: "You've entered a start date that will make older charge information invalid.",
    iconFallbackText: "Warning"
  }) }}
  {% endif%}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Charge information</h2>


{{ govukSummaryList({
rows: [
  {
    classes: 'govuk-summary-list',
    key: {
      text: "Reason"
    },
    value: {
      text: [data.reasonNewCharge]
    },
    actions: {
      items: [
        {
          href: "/bd/charges-2020/add-new-reason?change=true",
          text: "Change",
          visuallyHiddenText: "reason for the new charge"
        }
      ]
    }
  },
  {
    key: {
      text: "Start date"
    },
    value: {
      text: [chargeStart]
    },
    actions: {
      items: [
        {
          href: "/bd/charges-2020/charge-version/set-charge-start-date?change=true",
          text: "Change",
          visuallyHiddenText: "the start date for the new charge"
        }
      ]
    }
  },
  {
    key: {
      text: "Billing account"
    },
    value: {
      html: invoiceAddress
    },
    actions: {
      items: [
        {
          href: "/bd/contacts/select-billing-account?billingContact=false",
          text: "Change",
          visuallyHiddenText: "address"
        }
      ]
    }
  },
  {
    classes: 'govuk-summary-list__row--no-border',
    key: {
      text: "Licence holder"
    },
    value: {
      text: [data.licenceHolder]
    }
  }
]
}) }}




</section>
