{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row space--medium">
    <!-- hacky hack -->
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Water resource licensing service prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is a new version of the prototype and contains a limited set of views.
      </p>

      <p class="space--big">
        <a href="https://water-resource-licensing.herokuapp.com/" target="_blank">
          See the previous prototype views here.
        </a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <div class="space--big">
        <h2 class="govuk-heading-m">Versions of this prototype</h2>

        <h3 class="govuk-heading-s">Expired licence</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/bd/licence-summary-expired">Expired licence summary</a></li>
        </ul>

        <h3 class="govuk-heading-s">Primary user contact preferences</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/contact">Set contact preferences</a></li>
          <li><a href="/ex/contact-set">Contact preferences set</a></li>
          <li><a href="/ex/contact-update">Update contact preferences</a></li>
          <li><a href="/ex/licences">Licences</a></li>
        </ul>

        <h3 class="govuk-heading-s">Agent with no other licences</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/agent-contact">Set contact preferences</a></li>
          <li><a href="/ex/agent-contact-set">Contact preferences set</a></li>
          <li><a href="/ex/agent-contact-update">Update contact preferences</a></li>
          <li><a href="/ex/licences">Licences</a></li>
        </ul>

        <h3 class="govuk-heading-s">Company switcher</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/licences">Licences</a></li>
          <li><a href="/ex/companies">Company switcher</a></li>
        </ul>

        <h3 class="govuk-heading-s">External returns data upload (XML)</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/returns-overview">Returns view</a></li>
          <li><a href="/ex/upload-returns-data">Upload data / XML view</a></li>
          <li><a href="/ex/upload-returns-data-error">Wrong file format uploaded</a></li>
          <li><a href="/ex/uploaded-returns-data">Check your returns data</a></li>
          <li><a href="/ex/uploaded-returns-data-problems">Problems with the return data</a></li>
          <li><a href="/ex/confirm-return-details">Check your returns data details</a></li>
          <li><a href="/ex/returns-data-confirmed">Confirmation screen for submitted returns data</a></li>
        </ul>

        <h3 class="govuk-heading-s">Registration support</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/user-status">External user status</a></li>
          <li><a href="/ex/user-status-empty">External user status with no licences requested</a></li>
          <li><a href="/bd/user-internal-status-empty">Internal user status (Billing & Data)</a></li>
          <li><a href="/bd/unregistered-licence-summary">Unregistered licence</a></li>
          <li><a href="/bd/licence-summary">Registered licence</a></li>
        </ul>

        <h3 class="govuk-heading-s">Search by name, number or email</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/bd/search">Internal search</a></li>
          <li><a href="/bd/no-search-results">No results</a></li>
          <li><a href="/bd/results-licences">Search by name or phrase</a></li>
          <li><a href="/bd/results-returns">Searching with a number, return ID results</a></li>
          <li><a href="/bd/results-users">Searching with an email address</a></li>
        </ul>

        <h3 class="govuk-heading-s">Send final return reminder letters</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/bd/manage">See a link to send return reminders</a></li>
          <li><a href="/bd/send-return-reminders">Sending the return reminders (link to licence holders CSV)</a></li>
          <li><a href="/bd/return-reminders-sent">Confirmation of reminders sent</a></li>
        </ul>

        <h3 class="govuk-heading-s">Billing & Data (Billing & returns)</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/bd/search">Licence search</a></li>
          <li><a href="/bd/manage">Manage view</a></li>
          <li><a href="/bd/find-return">Find a return</a></li>
          <li><a href="/bd/returns-overview">Returns overview</a></li>
          <li><a href="/bd/returns-statistics">Return statistics (current/recent cycle)</a></li>
          <li><a href="/bd/void-returns">See void returns</a></li>
        </ul>

        <h3 class="govuk-heading-s">Void returns</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/bd/licence-summary?wid=31#returns">Licence returns showing a void return (internal only)</a></li>
          <li><a href="/bd/void-returns">List of void returns</a></li>
          <li><a href="/bd/return-status-void">Void return status</a></li>
        </ul>

        <h3 class="govuk-heading-s">Environment officers</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="eo/licence-search">Search for licences</a></li>
          <li><a href="eo/licences-list">Licence results</a></li>
          <li><a href="eo/licence-summary">Licence summary</a></li>
          <li><a href="eo/licence-summary#communications">Licence communications summary</a></li>
          <li><a href="eo/notification-review">Notification review</a></li>
        </ul>

        <h3 class="govuk-heading-s">Abstraction reform</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="ar/licence-review-list">Abstraction reform review list (inbox)</a></li>
          <li><a href="ar/licence-review">Abstraction reform licence review</a></li>
          <li><a href="ar/further-condition-groups">Select the conditions group</a></li>
          <li><a href="/ar/licence-review-add-condition">Add a further condition</a></li>
          <li><a href="/ar/licence-review-add-values">Link data to the condition</a></li>
          <li><a href="/ar/licence-review-with-further-conditions#wr22">Licence review with further conditions</a></li>
          <li><a href="/ar/licence-review-change-values">Change further conditions</a></li>
          <li><a href="/ar/confirm-remove-further-condition">Confirm removal of further condition</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ar/manage">Abstraction reform manage view</a></li>
          <li><a href="/ar/ar-report">Download abstraction reform Comma Separated Values</a></li>
        </ul>

        <h3 class="govuk-heading-s">External user</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/guidance">Guidance page</a></li>
          <li><a href="/ex/licences">Licence list</a></li>
          <li><a href="/ex/confirm-return">Inset meter details</a></li>
        </ul>

        <h4 class="govuk-heading-s">Licenceless registration</h4>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/registration/postcode">Access to licences & returns (sign up)</a></li>
          <li><a href="/ex/registration/licence-holder">Licence holder</a></li>
          <li><a href="/ex/registration/send-code">Send a code</a></li>
          <li><a href="/ex/registration/code-sent">Letter sent</a></li>
        </ul>

        <h3 class="govuk-heading-s">Waste and Industry Regulatory Services</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/wirs/returns/find-return">Find a return</a></li>
        </ul>
      </div>

    </div>

    <div class="govuk-grid-column-one-third float-right">

      <div class="space--big">
        <h2 class="govuk-heading-m">Start points</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/ex/licences">External</a></li>
          <li><a href="/bd/search">Billing & Data</a></li>
          <li><a href="/ar/licence-review-list">Abstraction reform editor</a></li>
          <li><a href="/ar/licence-review">Abstraction reform approver</a></li>
          <li><a href="/wirs/returns/find-return">Waste and Industry Regulatory Services</a></li>
          <li><a href="/eo/licence-search">Environment Officer</a></li>
        </ul>
      </div>

      <div class="space--big">
        <h2 class="govuk-heading-m">Patterns</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/patterns/licence-search">Licence search</a></li>
          <li><a href="/patterns/licence-data">Licence data</a></li>
          <li><a href="/patterns/licence-condition">Licence condition</a></li>
          <li><a href="/patterns/table-checkbox">Checkbox tables</a></li>
          <li><a href="/patterns/table-three-columns">Table with three columns</a></li>
          <li><a href="/patterns/returns-list">Returns list</a></li>
          <li><a href="/patterns/licence-returns">Licence returns</a></li>
          <li><a href="/patterns/access-list">Access list</a></li>
          <li><a href="/patterns/return-data">Return data</a></li>

        </ul>
      </div>

    </div>

  </div><!-- row -->

{% endblock %}
