{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Check the restriction details" %}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}



<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--no longer linking NALD data
{% set licenceList = data['licenceList'].split(',') %}
{% set conditions = "" %}
{% for i in licenceList %}
{% set conditionID = range(000000, 999999) | random %}
 {% set conditions = conditions + "Flow cessation condition 1 for " + i + "<br>" %}
{% endfor %}
-->

<!--if reduce include the amount to reduce to -->
{% set conditionType = data['reduce-or-stop'] %}
{% set maxVolume = data['maxVolumeLimit'] %}
{% if conditionType == "reduce" %}
{% if maxVolume == "yes" %}
{% set conditionType = conditionType + " with a maximum volume limit"%}
{% else %}
{% set conditionType = conditionType %}
{% endif %}
{% endif %}

    <form  method="post" novalidate>

      {{ govukSummaryList({
rows: [
{
key: {
  text: "Threshold"
},
value: {
  html: data['thresholdValue'] + data['thresholdUnits'] | units | safe
},
actions: {
  items: [
    {
      href: "enter-the-hands-off-flow-or-level-threshold",
      text: "Change",
      visuallyHiddenText: "tag threshold"
    }
  ]
}
},
{
key: {
  text: "Type"
},
value: {
  text: conditionType | capitalize | safe
},
actions: {
  items: [
    {
      href: "reduce-or-stop",
      text: "Change",
      visuallyHiddenText: "tag type"
    }
  ]
}
},
{
key: {
  text: "Licence number"
},
value: {
  html: data['licenceList'] | replaceComma | striptags(true) | escape | nl2br
},
actions: {
  items: [
    {
      href: "enter-licence-numbers",
      text: "Change",
      visuallyHiddenText: "licence numbers"
    }
  ]
}
}
]
}) }}

      <button type="submit" class="govuk-button">
        Confirm
      </button>

    </form>




    {% endblock %}
