{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Does the licence holder need to reduce or stop at this threshold? " %}


{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <form  method="post" novalidate>

      {% set reductionAmountHtml %}
{{ govukInput({
  id: "reductionAmount",
  name: "reductionAmount",
  spellcheck: false,
  suffix: {
text: data['thresholdUnits'] |units |safe
},
  classes: "govuk-input--width-5",
  label: {
    text: "Reduce to"
  }
}) }}
{% endset -%}

      {{ govukRadios({
  idPrefix: "reduce-or-stop",
  name: "reduce-or-stop",
  fieldset: {
    legend: {
      text: title,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "reduce",
      text: "Reduce",

      conditional: {
        html: reductionAmountHtml
      }
    },
    {
      value: "stop",
      text: "Stop"
    }
  ]
}) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>




    {% endblock %}
