{% extends "layouts/_manage.html" %}

<!--set page title-->
{% set title = "Which licence do you want to remove a tag from?" %}

{% set qTitle = '<span class="govuk-caption-l">' + [data.stations[data.stationID].riverName] + ' at ' + [data.stations[data.stationID].label] + '</span>' + title %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}



<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <form method="post" novalidate>



      {% set licences = []%}
      {% set tagNumber = []%}
      {% set tags = data.stations[data.stationID]['tags'] %}
       {% for i in tags %}
       {% set licences = licences | push(i.licenceNumber) %}
       {% if i.tagValues.length > 1 %}
       {% set tagNumber = tagNumber | push("Multiple tags") %}
       {% else %}
       {% set tagNumber = tagNumber | push(i.tagValues[0].conditionType|capitalize + ' at ' + i.tagValues[0].thresholdValue + ' ' + i.tagValues[0].thresholdUnits|unitsWords) %}
       {% endif %}
       {% endfor %}

{% set selectItems = [] %}
      {% for item in licences %}
        {% set selectItems = selectItems | push({
          value: item,
          text: item,
          hint: {
        text: tagNumber[loop.index0]
      }
        }) %}
      {% endfor %}


      {{ govukRadios({
  idPrefix: "selectedLicence",
  name: "selectedLicence",
  fieldset: {
    legend: {
      text: qTitle | safe,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: selectItems
}) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>




    {% endblock %}
