{% extends "layout.html" %}

{% set title = "Check the name and address" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l"><span class="govuk-caption-l">Licence {{data['licenceNum']| default}} </span>Check the name and address</h1>

    </div>
    </div>

    <!--replace the commas in the address with line breaks-->
          {% set address = data['returnsAddress'].replace(r/,/g, "<br>") %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


      {{ govukSummaryList({
  rows: [
    {

      key: {
        text: "Name"
      },
      value: {
        html: data['returnName']
      },
      actions: {
        items: [
          {
            href: "send-paper-name",
            text: "Change",
            visuallyHiddenText: "returns"
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list--no-border',
      key: {
        text: "Address"
      },
      value: {
        html: address
      },
      actions: {
        items: [
          {
            href: "/bd/contacts/new-company-postocode",
            text: "Change",
            visuallyHiddenText: "Address"
          }
        ]
      }
    }
  ]
}) }}


  <form action="/bd/manage/send-paper-select-address" method="post" class="form">

    {{ govukInput({
      classes: "govuk-visually-hidden",
   label: {
     text: "",
     classes: "govuk-label--l",
     isPageHeading: false
   },
   id: "returnsAddress",
   name: "returnsAddress",
   value: data['returnName'] + ", " + data['returnsAddress']
 }) }}

    {{ govukButton({
text: "Confirm"
}) }}

</form>

    </div>
  </div>


{% endblock %}
