{% extends "layout.html" %}

{% set title = "Check licence returns details for sending paper forms" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

    </div>
    </div>

      <!--replace the commas in the address with line breaks-->
      {% set address = data['address'].replace(r/,/g, "<br>") %}

      <!--create licences array-->
      {% set licences = [] %}

      <!--split the string based on commas or new lines and add it to the array-->
      {% set licences = data['licenceList'].split(r/,|\n/g) %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      {% for i in licences %}

      <!--this is a hacky way of doing this-->
      <!--match the current licence from the returns string, strip out any white space-->
      {% set regex = [i].toString().replace(r/\s/g, "") %}
      {% set currentLicence = data['return'].toString().replace(r/\s/g, "").split(regex) %}

      <!--match the returns for that licence-->
      {% set currentReturns = [currentLicence].toString().match(r/,p\d*w/g)  %}

      <!--remove unwanted parts of the return reference and add line breaks-->
      {% set returnsUntidy = [currentReturns].toString().replace(r/,|p/g, "") %}
      {% set returns = [returnsUntidy].toString().replace(r/w/g, "<br>") %}

       <h2 class="govuk-heading-m">Licence {{i}}</h2>

      {{ govukSummaryList({
  rows: [
    {

      key: {
        text: "Returns"
      },
      value: {
        html: returns
      },
      actions: {
        items: [
          {
            href: "send-paper-check",
            text: "Change",
            visuallyHiddenText: "returns"
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list--no-border',
      key: {
        text: "Address"
      },
      value: {
        html: address
      },
      actions: {
        items: [
          {
            href: "send-paper-select-address?url=send-paper-confirm&licenceNum=" + [i],
            text: "Change",
            visuallyHiddenText: "Address"
          }
        ]
      }
    }
  ]
}) }}



{% endfor %}

      <a href="send-paper-done" class="wrls-faux-button">
        Send paper forms
      </a>

    </div>
  </div>


{% endblock %}
