{% extends "layout.html" %}

{% set title = "Check returns details for each licence you’re sending a form to" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

    </div>
    </div>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


    {% set returns = data['returns'] %}
      {% for i in returns %}


      <!--replace the commas in the address with line breaks-->
            {% set address = data.returns[loop.index0]['address'].replace(r/,/g, "<br>") %}

            <!--replace the commas in the reference with line breaks-->
                  {% set ref= data.returns[loop.index0]['ref'].replace(r/,/g, "<br>") %}


       <h2 class="govuk-heading-m">Licence {{i.licence}} - {{data['licenceHolder']}}</h2>

      {{ govukSummaryList({
  rows: [
    {

      key: {
        text: "Returns"
      },
      value: {
        html: ref
      },
      actions: {
        items: [
          {
            href: "send-paper-which-returns?url=send-paper-confirm&licenceNum=" + [i.licence] + "&returnIndex=" + [loop.index0],
            text: "Change",
            visuallyHiddenText: "returns"
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list--no-border',
      key: {
        text: "Address"
      },
      value: {
        html: address
      },
      actions: {
        items: [
          {
            href: "send-paper-select-address?url=send-paper-confirm&licenceNum=" + [i.licence] + "&returnIndex=" + [loop.index0],
            text: "Change",
            visuallyHiddenText: "Address"
          }
        ]
      }
    }
  ]
}) }}



{% endfor %}

      <a href="send-paper-done" class="wrls-faux-button">
        Send paper forms
      </a>

    </div>
  </div>


{% endblock %}
