{% extends "layout.html" %}

{% set title = "Select an address for licence " + data['licenceNum']%}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "includes/nav/nav-bd-manage.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



      <form action="{{data['url']|default}}" method="post" class="form">

        {{ govukRadios({
        idPrefix: "address",
        name: "address",
        fieldset: {
          legend: {
            html: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
          }
        },
            items: [
              {
                value: "15 Osborne Road, Bath, BA1 5AH",
                html: '<span class="govuk-!-font-weight-bold">Licence holder</span><br>15 Osborne Road, Bath, BA1 5AH'
              },
              {
                value: "Unit 4, Finkley Crescent, London, N5 1FE",
                html: '<span class="govuk-!-font-weight-bold">Returns contact</span><br>Unit 4, Finkley Crescent, London, N5 1FE'
              }
            ]
          })
        }}


      {{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>


{% endblock %}
