{% extends "layout_wrls.html" %}

{% set title = "Manage your water abstraction and impoundment licence " %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "#1",
       text: "Change password"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}



{% block content %}
<!--Heading-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Dashboard</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">This dashboard shows information about how the Manage your water abstraction and impoundment licence service is currently performing.</p>
  </div>
</div>

<!--Registrations-->
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Registrations</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">23,076</h3>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">733</h3>
      </div>
    </div>



    {{ govukTable({
  caption: "Registrations by month",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: "Number of external registrations",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    },
    {
      text: "Number of internal registrations",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "April 2020"
      },
      {
        text: "203",
        format: "numeric"
      },
      {
        text: "6",
        format: "numeric"
      }
    ],
    [
      {
        text: "March 2020"
      },
      {
        text: "190",
        format: "numeric"
      },
      {
        text: "1",
        format: "numeric"
      }
    ],
    [
      {
        text: "February 2020"
      },
      {
        text: "187",
        format: "numeric"
      },
      {
        text: "6",
        format: "numeric"
      }
    ],
    [
      {
        text: "January 2020"
      },
      {
        text: "153",
        format: "numeric"
      },
      {
        text: "5",
        format: "numeric"
      }
    ]
  ]
}) }}

  </div>
</div>

<!--Access requests granted-->
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Account access requests given</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">15,550</h3>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">523</h3>
      </div>
    </div>


    {{ govukTable({
  caption: "Account access requests given by month",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: "Number of account access requests given",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    },
    {
      text: "% change on previous month",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "April 2020"
      },
      {
        text: "203",
        format: "numeric"
      },
      {
        text: "6",
        format: "numeric"
      }
    ],
    [
      {
        text: "March 2020"
      },
      {
        text: "190",
        format: "numeric"
      },
      {
        text: "1",
        format: "numeric"
      }
    ],
    [
      {
        text: "February 2020"
      },
      {
        text: "187",
        format: "numeric"
      },
      {
        text: "6",
        format: "numeric"
      }
    ],
    [
      {
        text: "January 2020"
      },
      {
        text: "153",
        format: "numeric"
      },
      {
        text: "5",
        format: "numeric"
      }
    ]
  ]
}) }}

  </div>
</div>


<!--Returns submitted-->
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Returns</h2>

    <h3 class="govuk-heading-m">Returns recorded on the service</h3>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">46,550</h3>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">2523</h3>
      </div>
    </div>

    {{ govukTable({
  caption: "Returns recorded on the service by month",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date",
      classes: 'govuk-!-width-one-third'
    },
    {
      text: "Number recorded",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    },
    {
      text: "Number of paper forms requested",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "April 2020"
      },
      {
        text: "240",
        format: "numeric"
      },
      {
        text: "100",
        format: "numeric"
      }
    ],
    [
      {
        text: "March 2020"
      },
      {
        text: "132",
        format: "numeric"
      },
      {
        text: "101",
        format: "numeric"

      }
    ],
    [
      {
        text: "February 2020"
      },
      {
        text: "8",
        format: "numeric"
      },
      {
        text: "1",
        format: "numeric"
      }
    ],
    [
      {
        text: "January 2020"
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        text: "0",
        format: "numeric"
      }
    ]
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<h3 class="govuk-heading-m">Returns submitted</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <span class="govuk-caption-l">Total</span>
    <h3 class="govuk-heading-l">56,034</h3>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <span class="govuk-caption-l">Total year to date</span>
    <h3 class="govuk-heading-l">3023</h3>
  </div>
</div>

    {{ govukTable({
  caption: "Returns submitted by cycle date",
  firstCellIsHeader: true,
  head: [

    {
      text: "Returns cycle date",
      classes: 'govuk-!-width-one-quarter'
    },
    {
      html: "Total due",
      format: "numeric"
    },
    {
      html: "Number by post",
      format: "numeric"
    },
    {
      html: "Number by digital",
      format: "numeric"
    }

  ],
  rows: [

    [
      {
        text: "28 April 2020",
        format: "numeric"
      },
      {
        html: "3333",
        format: "numeric"
      },
      {
        html: "On time 213<br>Late 540",
        format: "numeric"
      },
      {
        html: "On time 444<br>Late 213 ",
        format: "numeric"
      }
    ],
  [
    {
      text: "13 October 2019",
      format: "numeric"
    },
    {
      html: "10,349",
      format: "numeric"
    },
    {
      html: "On time 111<br>Late 709",
      format: "numeric"
    },
    {
      html: "On time 789<br>Late 344",
      format: "numeric"
    }
  ]
]

}) }}

  </div>
</div>

<!--Name added of changed on a licence-->
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Name added or changed on a licence</h2>

    <span class="govuk-caption-l">Total per year to date</span>
    <h3 class="govuk-heading-l">89</h3>

    {{ govukTable({
  caption: "Licence names added or changed by month",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date",
      classes: 'govuk-!-width-one-quarter'
    },
    {
      text: "Number of licences with names added",

      format: "numeric"
    },
    {
      text: "% change on previous month",

      format: "numeric"
    },
    {
      text: "Number of licence with names changed",

      format: "numeric"
    },
    {
      text: "% change on previous month",

      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "April 2020"
      },
      {
        text: "50",
        format: "numeric"
      },
      {
        text: "40%",
        format: "numeric"
      },
      {
        text: "203",
        format: "numeric"
      },
      {
        text: "6.84%",
        format: "numeric"
      }
    ],
    [
      {
        text: "March 2020"
      },
      {
        text: "30",
        format: "numeric"
      },
      {
        text: "-523%",
        format: "numeric"
      },
      {
        text: "190",
        format: "numeric"
      },
      {
        text: "1.6%",
        format: "numeric"
      }
    ],
    [
      {
        text: "February 2020"
      },
      {
        text: "187",
        format: "numeric"
      },
      {
        text: "750%",
        format: "numeric"
      },
      {
        text: "187",
        format: "numeric"
      },
      {
        text: "22.22%",
        format: "numeric"
      }
    ],
    [
      {
        text: "January 2020"
      },
      {
        text: "22",
        format: "numeric"
      },
      {
        text: "-",
        format: "numeric"
      },
      {
        text: "153",
        format: "numeric"
      },
      {
        text: "-",
        format: "numeric"
      }
    ]
  ]
}) }}

  </div>
</div>



<!--New licences added-->
<!--
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">New licences added</h2>

    <span class="govuk-caption-l">Total per year to date</span>
    <h3 class="govuk-heading-l">1456</h3>

    {{ govukTable({
  caption: "New licences added by region in 2019",
  firstCellIsHeader: true,
  head: [
    {
      text: "Region",
      classes: 'govuk-!-width-one-third'
    },
    {
      text: "Number of new licences added",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    },
    {
      text: "Licence type",
      classes: 'govuk-!-width-one-third',
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "North East"
      },
      {
        html: "203<br>113<br>76<br>12",
        format: "numeric"
      },
      {
        html: "New abstraction licence<br>Full abstraction<br>Transfer<br>Temporary",
        format: "numeric"
      }
    ],
    [
      {
        text: "Thames"
      },
      {
        html: "111<br>65<br>44<br>13",
        format: "numeric"
      },
      {
        html: "New abstraction licence<br>Full abstraction<br>Transfer<br>Temporary",
        format: "numeric"
      }
    ],
    [
      {
        text: "East Anglia"
      },
      {
        html: "212<br>111<br>45<br>11",
        format: "numeric"
      },
      {
        html: "New abstraction licence<br>Full abstraction<br>Transfer<br>Temporary",
        format: "numeric"
      }
    ],
    [
      {
        text: "South West"
      },
      {
        html: "212<br>99<br>76<br>12",
        format: "numeric"
      },
      {
        html: "New abstraction licence<br>Full abstraction<br>Transfer<br>Temporary",
        format: "numeric"
      }
    ]
  ]
}) }}


  </div>
</div>
-->

{% endblock %}
