{% extends "layout_wrls.html" %}

{% set title = "You need to correct some of your returns data" %}

{% block pageTitle %}
   {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container",
   navigation: [
     {
       href: "/ex/account/settings",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}
{% endblock %}

{% block beforeContent %}
  <!-- phase banner -->
  {% include "current/includes/feedback-banner.html" %}
  <!-- company switcher -->
  {% include "current/includes/company-switcher.html" %}
  <!-- navigation block -->
  <div class="govuk-!-margin-bottom-3">
    <!-- navigation block -->
    {% include "current/includes/nav/nav-ex-returns.html" %}
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>


<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      There were problems with some of your data
    </h2>
  </div> -->

  <div class="govuk-grid-column-full">
    <!-- problem with data -->
    <div class="govuk-form-group govuk-form-group--error">

      <!-- table with four columns -->
      <div class="table govuk-!-margin-bottom-8">                                      <!-- a table -->

        <div class="table__row--head">                                    <!-- the table head -->
          <div class="table__cell bold-small">
            Error
          </div>
          <div class="table__cell bold-small column--20">
            Return reference
          </div>
          <div class="table__cell bold-small column--20">
            Licence number
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">

          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 1
            </h2>
            <h3 class="table__context">
              Error
            </h3>
            <p class="table__row--text">
              The dates need to match the return period
            </p>
          </div>

          <div class="table__cell">
            <h3 class="table__context">
              Return reference
            </h3>
            <p class="table__row--text">
              62266950
            </p>
          </div>

          <div class="table__cell">
            <h3 class="table__context">
              Licence number
            </h3>
            <p class="table__row--text">
              03/27/19/126
            </p>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 2
            </h2>
            <h3 class="table__context">
              Error
            </h3>
            <p class="table__row--text">
              You have already sent the return for this licence
            </p>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Return reference
            </h3>
            <p class="table__row--text">
              62266923
            </p>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Licence number
            </h3>
            <p class="table__row--text">
              03/27/19/127
            </p>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 3
            </h2>
            <h3 class="table__context">
              Error
            </h3>
            <p class="table__row--text">
              The volumes must be a positive number
            </p>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Return reference
            </h3>
            <p class="table__row--text">
              84546542
            </p>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Licence number
            </h3>
            <p class="table__row--text">
              05/01/224/001
            </p>
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 4
            </h2>
            <h3 class="table__context">
              Error
            </h3>
            <p class="table__row--text">
              You must provide the manufacturer and serial number of the water meter
            </p>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Return reference
            </h3>
            <p class="table__row--text">
              84546544
            </p>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Licence number
            </h3>
            <p class="table__row--text">
              05/01/224/003
            </p>
          </div>
        </div>

    </div>
  </div>

</div>

<p class="govuk-body">
  You must correct the data before uploading it again.
</p>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <a href="upload-bulk-files" class="govuk-button">
      Upload file again
    </a>
  </div>
</div>

{% endblock %}
