{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "Select the frequency for the return requirement" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


<form method="post" class="form">

  {# Frequency switch based on the answer for the specific requirement#}
  {% switch data.licences[data.ID].returnsRequirements[0].requirements[data.requirementIndex]['frequency'] %}
      {% case 'daily' %}
          {% set dailyFrequency = true %}
      {% case 'weekly' %}
          {% set weeklyFrequency = true %}
      {% case 'monthly' %}
          {% set monthlyFrequency = true %}
  {% endswitch %}



  {{ govukRadios({
    idPrefix: "frequency",
    name: "frequency",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "daily",
        text: "Daily",
        checked: dailyFrequency
      },
      {
        value: "weekly",
        text: "Weekly",
        checked: weeklyFrequency
      },
      {
        value: "monthly",
        text: "Monthly",
        checked: monthlyFrequency
      }
    ]
  }) }}

  <button type="submit" class="govuk-button govuk-!-margin-right-1">
    Continue
  </button>

</form>
</div>
</div>


    {% endblock %}
