{% extends "layouts/_manage.html" %}

<!--set title-->
{% set title = "Select how often returns are collected and recorded" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

<!--content block-->
{% block service %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


<form method="post" class="form">

  {# Frequency switch based on the answer for the specific requirement#}
  {% switch data.licences[data.ID].returnsRequirements[0].requirements[data.requirementIndex]['frequency'] %}
      {% case 'daily collection, daily recording' %}
          {% set dailydailyFrequency = true %}
      {% case 'daily collection, weekly recording' %}
          {% set dailyweeklyFrequency = true %}
      {% case 'daily collection, monthly recording' %}
          {% set dailymonthlyFrequency = true %}
      {% case 'weekly collection, weekly recording' %}
          {% set weeklyweeklyFrequency = true %}
      {% case 'weekly collection, monthly recording' %}
          {% set weeklymonthlyFrequency = true %}
      {% case 'monthly collection, monthly recording' %}
          {% set monthlymonthlyFrequency = true %}
  {% endswitch %}



  {{ govukRadios({
    idPrefix: "frequency",
    name: "frequency",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "daily collection, daily recording",
        text: "Daily collection, daily recording",
        checked: dailydailyFrequency
      },
      {
        value: "daily collection, weekly recording",
        text: "Daily collection, weekly recording",
        checked: dailyweeklyFrequency
      },
      {
        value: "daily collection, monthly recording",
        text: "Daily collection, monthly recording",
        checked: dailymonthlyFrequency
      },
      {
        value: "weekly collection, weekly recording",
        text: "Weekly collection, weekly recording",
        checked: weeklyweeklyFrequency
      },
      {
        value: "weekly collection, monthly recording",
        text: "Weekly collection, monthly recording",
        checked: weeklymonthlyFrequency
      },
      {
        value: "monthly collection, monthly recording",
        text: "Monthly collection, monthly recording",
        checked: monthlymonthlyFrequency
      }
    ]
  }) }}

  <button type="submit" class="govuk-button govuk-!-margin-right-1">
    Continue
  </button>

</form>
</div>
</div>


    {% endblock %}
