.meta-data__row {
  display: block;
  width: 100%;
}

/* single column */
.meta-data__container {
  display:flex;
  flex-wrap:wrap;
}

.meta-data__label {
  width: 100%;
  order:1;
margin-bottom: 0px;
line-height: 25px;
  // color: $govuk-secondary-text-colour;
}

.meta-data__value {
  order:2;
  margin-bottom: 10px;
  line-height: 25px;
}

@media screen and (min-width:600px) {
  .flex_container {
    display: flex;
    width: 100%;
    flex-wrap:nowrap;
  }
}

/* 2 columns */
@media screen and (min-width:600px) {
  .meta-data__label {
    width: 20% !important;
    padding:0px !important;
    font-weight: 400;


  }
  .meta-data__value {
    flex: 1;
    width: 80% !important;
    margin-bottom: 0;
    padding:0px !important;

  }
}

.meta-data_extra-width .meta-data_extra-width-300{
  width: 300%;
}

.meta-data_extra-width-250{
  width: 250%;
}

.meta-data_extra-width-200{
  width: 200%;
}

.meta-data_extra-width-150{
  width: 150%;
}
