// flexible tables, present well on mobiles
// also improved accessibly

.wrls-summary-list__row--divider > * {
  border-bottom: 2px solid #0b0c0c;
}

.summary__divider {
  border-bottom: 2px solid #0b0c0c;
  flex: 1;
  width: 100%;
}

.wrls-summary-list__key--list {
  border-bottom: none;
}

/*
// addition to kit functionality
.govuk-summary-list__row {
  line-height: 1.8rem;
}

@include govuk-media-query($from: tablet) {
  .govuk-summary-list__row--end dt, .govuk-summary-list__row--end dd {
    border-bottom: 2px solid $govuk-text-colour;
  }
}
*/





// temporary styles for pagination

.page-nav {
  // margin-top: 30px;
  // border-top: solid 1px $govuk-link-colour;
  // border-top: solid 1px $govuk-secondary-text-colour;
  // border-top: solid 1px #bfc1c3;
}

.page-nav ul {
  margin-left: -2em;
}

.page-left, .page-right {
  font-size: 0.73em;
  line-height: 1.25em;
  // font-family: nta,Arial,sans-serif;
  // font-weight: 400;
  text-transform: none;
  list-style: none;
  width: 49%;
  color: $govuk-link-colour;
}

.page-left {
  float: left;
  text-align: left;
}

.page-right {
  float: right;
  text-align: right;
}

.page-left-control {
  text-decoration: none;
  padding: 1.4em 0 .75em 2em;
}

.page-right-control {
  text-decoration: none;
  padding: 1.4em 3em .75em 2em;
}

.page-left-control,
.page-right-control {
  display: block;
}



.page-left-control:before,
.page-right-control:before {
  display: block;
  margin-top: -0.84em;

  width: 30px;
  height: 50px;
  content: "";
}

/* arrow left */
.page-left-control:before {
  float: left;
  background: transparent url(../images/arrow-sprite.png) no-repeat -20px -5px;
  margin-left: -22px;
}

/* arrow right */
.page-right-control:before {
  clear: both;
  float: right;
  display: block;
  background: transparent url(../images/arrow-sprite.png) no-repeat -102px -5px;
  margin-right: -32px;
}

/* hover tint */
.page-left-control:hover,
.page-right-control:hover {
  background-color: #f8f8f8;
}

.page-left-control:visited,
.page-right-control:visited  {
  color: $govuk-link-colour;
}

.page__title {
  font-size: 27px;
  font-size: 1.4em;
  line-height: 1.25em;
  // font-family: nta,Arial,sans-serif;
  // font-weight: 400;
  text-transform: none;
  margin-bottom: .1em;
  display: block;
}

.page-left-control .page__number {
  margin-left: 0.2em;
}

.page-right-control .page__number {
  margin-right: 0.2em;
}





// temporary styles for MOJ timeline

.moj-timeline {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.moj-timeline::before {
  background-color: #1d70b8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.moj-timeline__item {
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 2em;
}

.moj-timeline__item::before {
  background-color: #1d70b8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

/* future timeline */
.moj-timeline--future {

}

.moj-timeline--label {
  color: $govuk-secondary-text-colour;
  font-size: 0.9rem;
}

.moj-timeline--future::before {
  background-color: #b1b4b6;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.moj-timeline__item--future::before {
  background-color: #b1b4b6;
}

.moj-timeline__title {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline;
}

.moj-timeline__title--big {
  font-size: 36px;
  position: relative;
  top: -0.2em;
}

.moj-timeline__byline {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #6f777b;
  display: inline;
  margin: 0;
}

.moj-timeline__date {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

.divider {
  // width: 100%;
  // border-bottom: solid 2px #b1b4b6;
  border-bottom: solid 2px $govuk-text-colour;
  // color: #bfc1c3;
}
