// ========== ========== ========== ========== ==========
// styles for company switcher
// ========== ========== ========== ========== ==========

// subnav switcher
.wrls-switcher {
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
}
