

  .govuk-tag--grey {
    color: mix(#000000, #626a6e, 30%);
    background: mix(#ffffff, #626a6e, 90%);
  }

  .govuk-tag--purple {
    color: mix(#000000, #4c2c92, 20%);
    background: mix(#ffffff, #4c2c92, 80%);
  }

  .govuk-tag--turquoise {
    color: mix(#000000, #28a197, 60%);
    background: mix(#ffffff, #28a197, 70%);
  }

  .govuk-tag--blue {
    color: mix(#000000, #1d70b8, 30%);
    background: mix(#ffffff, #1d70b8, 80%);
  }

  .govuk-tag--yellow {
    color: mix(#000000, #ffdd00, 65%);
    background: mix(#ffffff, #ffdd00, 75%);
  }

  .govuk-tag--orange {
    color: mix(#000000, #f47738, 55%);
    background: mix(#ffffff, #f47738, 70%);
  }

  .govuk-tag--red {
    color: mix(#000000, #d4351c, 30%);
    background: mix(#ffffff, #d4351c, 80%);
  }

  .govuk-tag--pink {
    color: mix(#000000, #d53880, 40%);
    background: mix(#ffffff, #d53880, 80%);
  }

  .govuk-tag--green {
    color: mix(#000000, #00703c, 20%);
    background: mix(#ffffff, #00703c, 80%);
  }
