.long-word {
  // Automatic wrapping for unbreakable text (e.g. URLs)
  word-break: break-word; // WebKit/Blink only
  word-break: break-all; // Standards
}

.cancel-link {
  padding-left: 1rem;
  display: inline-block;
  padding-top: 0.5rem;
}

.no-break {
  white-space: nowrap;
}

.margin-right {
  margin-right: 0.5rem;
}
