




<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    <div><!-- did use inset when used below, but it's a bit much at the top -->

      <p>Licence versions have 2 parts:
        <ul>
          <li>the first number shows how many full versions of the licence have been issued and starts from either 1 or 101</li>
          <li>the second number shows how many administrative changes have been made and increases each time a change is made</li>
        </ul>
      </p>
      <!-- maybe delete: Changes related to charges and returns are listed in the licence setup. -->
    </div>

    

    

          <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">

                  <th scope="col" class="govuk-table__header">Version</th>
                
                  <th scope="col" class="govuk-table__header">Effective date</th>

                  <th scope="col" class="govuk-table__header">Issue date</th>

                  <th scope="col" class="govuk-table__header">Version end date</th>
                
                  <!--<th scope="col" class="govuk-table__header">Reason code</th>-->
                
                  <th scope="col" class="govuk-table__header">Reason</th>

                  
                
                  
                
                </tr>
              </thead>

            <tbody class="govuk-table__body">

              <!-- change tr class blue   -> return  -->
              <!-- change tr class red    -> licence -->
              <!-- change tr class yellow -> charge  -->

              
              <!-- REMOVED grey colspanned row for Licence holder
              <tr class="govuk-table__row licence"  >
                <td colspan="5" style="background-color: #eee;padding: 0.66em;">
                  Licence holder: Public Water East Limited
                </td>
              </tr>-->



              <tr class="govuk-table__row licence">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    3, 1
                  
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  <a href="#" class="govuk-link">
                    11&nbsp;Jul&nbsp;2024&nbsp;
                  </a>
                 
                </td>

                 <td class="govuk-table__cell" data-test="return-reference-0">
                  
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    31&nbsp;Mar&nbsp;2026&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    CRIT 
                  </strong>
                </td>-->

                <td class="govuk-table__cell" data-test="return-purpose-0">
                  
                    Change&nbsp;to&nbsp;Criticality Class 
                  
                  <!--<br>
                  Minor change<br>
                  Correction to time limited condition-->
                </td>

                
              </tr>

              
              <tr class="govuk-table__row licence"  style="border-bottom: 2px solid black;">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  3, 0
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  <a href="#" class="govuk-link">
                    13&nbsp;Jun&nbsp;2024&nbsp;&nbsp;
                  
                </td>

                 <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    10&nbsp;Jul&nbsp;2024&nbsp;
                 
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    31&nbsp;Mar&nbsp;2026&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    EDOPI 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                  Extension Of Expiry Date To Allow For OPI Application Assessment
                  <!--<br>
                  Formal variation to add new borehole WEF 13 Jun 2024-->
                </td>

              </tr>


              <tr class="govuk-table__row licence">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    2, 3
                  
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  <a href="#" class="govuk-link">
                    23&nbsp;Sep&nbsp;2020
                  </a>
                  
                </td>

                 <td class="govuk-table__cell" data-test="return-reference-0">
                  
                 
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    30&nbsp;Jun&nbsp;2024&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    MIGR 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                 Record Loaded During Migration<br>
                </td>

              </tr>

              <tr class="govuk-table__row licence">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    2, 2
                  
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  <a href="#" class="govuk-link">

                    6&nbsp;Jun&nbsp;2017
                  </a>
                </td>

                 <td class="govuk-table__cell" data-test="return-reference-0">
                  
                 
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    30&nbsp;Jun&nbsp;2024&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    XCORR 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                 Correction Of Previously Entered Data<br>
                 <!--• Note<br>
                  Renewal of TL variation to correct condition-->
                 
                </td>

              </tr>

              

              <tr class="govuk-table__row licence">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  2, 1
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  <a href="#" class="govuk-link">
                    26&nbsp;Nov&nbsp;2015
                  </a>
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                 
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    30&nbsp;Jun&nbsp;2024&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    VOLTL 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                  Licence Time Limited At Request Of Licence Holder
                  <!--<br>
                  Formal Variation<br>
                 • Note<br>
                  Renew TL'd part of licence to correct a condition-->
                 
                </td>
                
              </tr>


              <tr class="govuk-table__row licence" style="border-bottom: 2px solid black;">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  2, 0
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    <a href="#" class="govuk-link">
                      28&nbsp;Jun&nbsp;2015
                    </a>
                  
                </td>

                 <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    11&nbsp;Jul&nbsp;2015&nbsp;
                 
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    30&nbsp;Jun&nbsp;2029&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    NAME 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                 Licence Holder Name/Address Change<br>
                 <!--• Note<br>
                 l/h address changed-->
                 
                </td>

              </tr>

              
              <!-- REMOVED grey colspanned row for Licence holder
              <tr class="govuk-table__row licence" >
                <td colspan="5" style="background-color: #eee;padding: 0.66em;">
                  Licence holder: Olde Water East Limited
                </td>
              </tr>-->
             

              <tr class="govuk-table__row licence">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  1, 1
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    <a href="#" class="govuk-link">
                      20&nbsp;Jul&nbsp;2007
                    </a>
                  
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                 
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    31&nbsp;Mar&nbsp;2015&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    SREM 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                 Succession To A Remainder Licence/Licence Apportionment
                <br>
                 <!--• Note<br>
                 Renewal of aggregates<br>
                 Change time limited condition-->
                 
                </td>

              </tr>

              

              <tr class="govuk-table__row licence" style="">
                <td class="govuk-table__cell" data-test="return-reference-0">
                  1, 0
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    <a href="#" class="govuk-link">
                      16&nbsp;Oct&nbsp;2002
                    </a>
                  
                </td>
                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    23&nbsp;Oct&nbsp;2002
                  
                </td>

                <td class="govuk-table__cell" data-test="return-reference-0">
                  
                    31&nbsp;Mar&nbsp;2015&nbsp;
                 
                </td>

                <!--<td class="govuk-table__cell" data-test="return-status-0">
                  <strong class="govuk-tag govuk-tag--blue ">
                    VARF 
                  </strong>
                </td>-->
                
                <td class="govuk-table__cell" data-test="return-purpose-0">
                 Formal variation<br>
                 <!--• Note<br>
                 5 year aggregate-->
                 
                </td>

              </tr>


            </tbody>
          </table>
        </div>



     

    


    <!--<nav class="govuk-pagination" role="navigation" aria-label="results" style="margin-bottom: 0;">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="/system/bill-runs" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li><li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/system/bill-runs?page=2" aria-label="Page 2">
              2
            </a>
          </li>
        </ul><div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="/system/bill-runs?page=2" rel="next">
        <span class="govuk-pagination__link-title">Next</span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg></a>
    </div>

  </nav>


    <br>
    <p><span style="color:#aaa"><i>standard WRLS pagination - assume visible only for table rows 25+</i></span></p>-->

    



    

  </div>
</div>

