{% set contacts = data['contacts']%}
{% set addresses = data['addresses']%}
{% set billingAccounts = data['billingAccounts']%}
{% set users = data['users']%}
{% set customers = data['customers']%}



{% set contactList = [] %}
{% set addressID = "" %}


{% set contactRows = [] %}
{% set customerContacts = [] %}


{# get the customerID #}
{% set customerID = "" %}
{% for customer in customers %}
{% if customer.name == data.licences[data.ID].holder %}
{% set customerID = loop.index0%}
{% endif %}
{% endfor%}




{# get the licence holder to be able to link the customer #}

{# get the LH address 
{% set lhAddress = "" %}
{% for address in addresses %}
  {% for entry in address.customers %}
    {% if entry.role == "Licence holder" and entry.customer == data.licences[data.ID].holder %}
      {% set lhAddress = address.address1 + "<br>" + address.city + "<br>" + address.postcode %}
{#Add licence holder to the contacts list

{% set customerContacts = customerContacts| push( {"type": "Licence holder", "sendTo": data.licences[data.ID].holder + '<br>' + lhAddress} )%}       
    {% endif %}
  {% endfor %}
{% endfor %}
#}

{# get the Billing account #}
{% set billingDetails = [] %}
{% for billingAccount in billingAccounts %}
{% if billingAccount.customer == data.licences[data.ID].holder %}

{% set customerContacts = customerContacts| push( {"type": "Bills to", "sendTo": billingAccount.number + "<br> FAO " + data.licences[data.ID].holder  + "<br>" +  lhAddress} )%}       
{% endif %}
{% endfor %}

{% if customerContacts.length == 0 %}
{% set customerContacts = customerContacts| push( {"type": "Bills to", "sendTo": "No billing accounts created for this licence"} )%} 
{% endif %}


{# is the licene tagged? #}
     <!--set station ID to blank-->
      {% set stationID = "" %}
      {% set stationMatch = "false" %}
      <!--loop through stations-->
      {% set stations = data['stations'] %}
      {% for station in stations %}


      <!--set station number and name-->
      {% set stationID = loop.index0 %}
      {% set stationName = station.label %}
      {% set catchmentName = station.catchmentName %}

      <!--loop through the station tags-->
      {% set tags = data.stations[stationID]['tags'] %}
      {% for tag in tags %}

      <!--set tag number-->
      {% set tagNumber = loop.index0 %}
      {% set tagLicenceNumber = station.tags[tagNumber]['licenceNumber'] %}


      <!--check for licence number matches-->
      {% if tagLicenceNumber == data.licences[data.ID].number %}

      {% set stationMatch = "true" %}

      {% endif %}
      {% endfor %}
      {% endfor %}

   

{# get the registered users  #}
{% set primaryUser = false %}
{% set userID = "" %}
{% for user in users %}
{% if data.licences[data.ID].number in user.licences %}
{% set primaryUser = true %}
{% set userID = loop.index0 %}

{% set customerContacts = customerContacts| push( {"type": "returns to", "sendTo": user.email} )%}  

 {% if stationMatch == "false" %}
{% set customerContacts = customerContacts| push( {"type": "water abstraction alerts to", "sendTo": "This licence is not tagged with a station"} )%}  
    {% else %} 
    {% set customerContacts = customerContacts| push( {"type": "water abstraction alerts to", "sendTo": user.email} )%}   
    {% endif %}

{% endif %}
{% endfor %}



{# loop through all contacts #}
{% for contact in contacts %}

{# loop through all customers for that contact #}
{% for contactCustomer in contact.customers %}

{# only return customers that match this licence holder #}
{% if contactCustomer.customer == data.licences[data.ID].holder %}

{# loop through notices for that customer #}
{% for notice in contactCustomer.notices %}

{% set sendToAddress = "" %}
{# check if email or post #}
{% if notice.sendBy == "post"%}
{% set sendToAddress = contact.name+"<br>"+addresses[notice.addressID].address1 + "<br>" + addresses[notice.addressID].city  + "<br>" + addresses[notice.addressID].postcode %}
{% else %}
{% set sendToAddress = contact.email %}
{% endif %}

{% if notice.type == "returns" %}
{% set customerContacts = customerContacts| push( {"type": notice.type + " to", "sendTo": sendToAddress} )%}  
{% else %}
 {% if stationMatch == "false" %}
{% set customerContacts = customerContacts| push( {"type": "water abstraction alerts to", "sendTo": "This licence is not tagged with a station"} )%}  
    {% else %} 
    {% set customerContacts = customerContacts| push( {"type": "water abstraction alerts to", "sendTo": sendToAddress} )%}   
    {% endif %}
{% endif %}


{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}





{# apply the sending hierachy to the contact list for this licence #}
{% for customerContact in customerContacts | cleanContacts %}
{% set contactRows = contactRows|push({ 
  key: { text: customerContact.type |capitalize}, value: { html: customerContact.sendTo }
}) %}
{% endfor %}

{#
{% if primaryUser == true %}
<p class="govuk-body"><a href="../user?userID={{userID}}">{{data.users[userID].email}}</a> is the registered user</p>
{% endif %}
#}

{{ govukInsetText({
  text: "Communications by email are prioritised automatically over those by post."
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Current recipients"
    }
  },
  rows: contactRows
}) }}


{#,
    actions: {
      items: [
        {
          href: "/sandbox/customer/contacts?customerID="+customerID,
          text: "Manage contacts",
          visuallyHiddenText: "for "+data.licences[data.id].holder
        }
      ]
    }#}