{% set returns = data.licences[data.ID]['returns'] %}




{% set rows = []%}
{% set voidCount = 0 %}
{% for return in returns %}
{% set due = return.due | numberToGovukDate %}
{% set status %}
{{govukTag({
text: return.status | returnStatusText | safe,
classes: return.status | returnStatusColour
})}}
{% endset %}


{% if data.showVoids == 'false' %}

{# if showVoids is false then don't add voids to rows #}
{% if return.status  == 'void' %}
{% else %}
{% set rows = rows | push ([{html: '<a href="licence/returns-current/return?returnIndex='+loop.index0+'&versionID=0&returnStatus='+data.licences[data.ID].returns[loop.index0].status+'">'+return.id+'</a><p class="govuk-body-s">From ' + return.returnsPeriodStart | numberToGovukDate + ' to ' + return.returnsPeriodEnd | numberToGovukDate +'</p>'},{html: return.purpose+'<p class="govuk-body-s">'+return.description+'</p>'},{text: due},{html: status}]) %}
{% endif %}


{% else %}
{# if showVoids and count how many there are is true then add voids to rows #}
{% if return.status  == 'void' %}
{% set voidCount = voidCount + 1 %}
{% endif %}

{% set rows = rows | push ([{html: '<a href="licence/returns-current/return?returnIndex='+loop.index0+'&versionID=0&returnStatus='+data.licences[data.ID].returns[loop.index0].status+'">'+return.id+'</a><p class="govuk-body-s">From ' + return.returnsPeriodStart | numberToGovukDate + ' to ' + return.returnsPeriodEnd | numberToGovukDate +'</p>'},{html: return.purpose+'<p class="govuk-body-s">'+return.description+'</p>'},{text: due},{html: status}]) %}
{% endif %}


{% endfor %}

<h2 class="govuk-heading-l">Returns</h2>

{#change button and caption text based on showing and hiding voids#}
{% set buttonText = "Show void returns" %}
{% set caption = 'Showing returns' %}
{# count not needed {% set caption = 'Showing ' + rows.length | plural("return", showNumber=false) %} #}
{% set hrefVoidText = 'true' %}
{% if data.showVoids == 'true' %}
{% set buttonText = "Hide void returns" %}
{% set hrefVoidText = 'false' %}
{% set caption = 'Showing returns and voids' %}
{# Count not needed {% set caption = 'Showing ' + (rows.length - voidCount)| plural("return", showNumber=false) + ' and ' + voidCount | plural("void", showNumber=false) %} #}
{% endif %}


{{ govukButton({
  text: buttonText,
  classes: "govuk-button--secondary",
  href: 'licence?ID='+  data.ID + '&showVoids=' + hrefVoidText + '#returns'
}) }}


{{ govukTable({
caption: caption | safe,
captionClasses: "govuk-table__caption--s",
firstCellIsHeader: false,
head: [
  {
    text: "Return reference and dates"
  },
  {
    text: "Purpose and description"
  }
  ,
  {
    text: "Due"
  }
  ,
  {
    text: "Status"
  }
],
rows: rows

}) }}
