<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence name
    </dt>
    <dd class="govuk-summary-list__value">

      {{[data.licences[data.ID].name]}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence holder
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].holder]}}
      <br><a class="govuk-link" href="licence/contact-details">View licence contact details</a>

     <!--matching the licence holder name with the customer record and returning the customerID to be used in the link-->
     {% set loopNumber = "" %}
     {% for i in data['customers'] %}
     {% if [data.licences[data.ID].holder] == data.customers[loop.index0]['name'] %}
     {% set loopNumber = loop.index0 %}
     {% endif %}
     {% endfor %}

      <br><a class="govuk-link" href="customer?customerID={{loopNumber}}">View customer contact details</a>
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Effective from
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].startDate]}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End date
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].endDate]}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Source of supply
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].source]}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Purpose
    </dt>
    <dd class="govuk-summary-list__value">
      Spray irrigation
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Period of abstraction
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].absPeriod]}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Points of abstraction
    </dt>
    <dd class="govuk-summary-list__value">
      {% for i in data.licences[data.ID]['absPoints'] %}
      {{i}}<br>
      {% endfor %}
      <a href="licence/points">View details of abstraction points</a>
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Monitoring station
    </dt>
    <dd class="govuk-summary-list__value">

      <!--set station ID to blank-->
      {% set stationID = "" %}
      {% set stationMatch = "false" %}
      <!--loop through stations-->
      {% set stations = data['stations'] %}
      {% for station in stations %}

      <!--set station number and name-->
      {% set stationID = loop.index0 %}
      {% set stationName = station.label %}
      {% set catchmentName = station.catchmentName %}

      <!--loop through the station tags-->
      {% set tags = data.stations[stationID]['tags'] %}
      {% for tag in tags %}

      <!--set tag number-->
      {% set tagNumber = loop.index0 %}
      {% set tagLicenceNumber = station.tags[tagNumber]['licenceNumber'] %}


      <!--check for licence number matches-->
      {% if tagLicenceNumber == data.licences[data.ID].number %}


      <a href="station?stationID={{stationID}}" class="govuk-link">
      {{stationName}}</a>

      {% set stationMatch = "true" %}

      {% endif %}
      {% endfor %}
      {% endfor %}

      {% if stationMatch == "false" %}
      <p class="govuk-body">This licence is not tagged with a station
<br>
      <a href="search?search=Monitoring%20stations" class="govuk-link">Search for a monitoring station and tag this licence</a></p>
      {% endif %}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Abstraction conditions
    </dt>
    <dd class="govuk-summary-list__value">
      {% for i in data.licences[data.ID]['absConditions'] %}
      {{i}}<br>
      {% endfor %}<a href="licence/conditions?ID={{data.ID}}">View details of abstraction conditions</a>
    </dd>

  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--last">
    <dt class="govuk-summary-list__key">
      Abstraction amounts
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.licences[data.ID]['absQuantities'] | replaceTilde | striptags(true) | escape | nl2br}}
    </dd>

  </div>

</dl>
