<dl class="govuk-summary-list">
 
  {% if data.licences[data.ID].name.length %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence name
    </dt>
    <dd class="govuk-summary-list__value">

      {{[data.licences[data.ID].name]}}
    </dd>

  </div>
 {% endif %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence holder
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].holder]}}

     <!--matching the licence holder name with the customer record and returning the customerID to be used in the link-->
     {% set loopNumber = "" %}
     {% for i in data['customers'] %}
     {% if [data.licences[data.ID].holder] == data.customers[loop.index0]['name'] %}
     {% set loopNumber = loop.index0 %}
     {% endif %}
     {% endfor %}

      <br><a class="govuk-link" href="customer?customerID={{loopNumber}}">View contact details</a>
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Effective from
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].previousVersions[data.versionIndex].startDate]}}
    </dd>

  </div>

  {% if data.licences[data.ID].previousVersions[data.versionIndex].endDate.length %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End date
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].previousVersions[data.versionIndex].endDate]}}
    </dd>

  </div>
  {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Source of supply
    </dt>
    <dd class="govuk-summary-list__value">
      {{[data.licences[data.ID].previousVersions[data.versionIndex].source]}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Purpose
    </dt>
    <dd class="govuk-summary-list__value">
      {% set purpose %}
      {{data.licences[data.ID].previousVersions[data.versionIndex].purpose | dump | stripQuotes | stripSqBrackets | replaceComma | striptags(true) | escape | nl2br}}
      {% endset %}
      {{purpose|safe}}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Period of {% if 'Impounding' in purpose %}impoundment{% else %}abstraction{% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
      {% for i in data.licences[data.ID]['absPeriod'] %}
      {{i}}<br>
      {% endfor %}
      {% if 'Impounding' not in purpose %}<a href="licence/abstraction-details">View details of your purpose, period and amounts</a>{% endif %}
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Points of {% if 'Impounding' in purpose %}impoundment{% else %}abstraction{% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
      {% for i in data.licences[data.ID].previousVersions[data.versionIndex]['absPoints'] %}
      {{i}}<br>
      {% endfor %}
      <a href="licence/points">View details of {% if 'Impounding' in purpose %}impoundment{% else %}abstraction{% endif %} points</a>
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Monitoring station
    </dt>
    <dd class="govuk-summary-list__value">

      <!--set station ID to blank-->
      {% set stationID = "" %}
      {% set stationMatch = "false" %}
      <!--loop through stations-->
      {% set stations = data['stations'] %}
      {% for station in stations %}

      <!--set station number and name-->
      {% set stationID = loop.index0 %}
      {% set stationName = station.label %}
      {% set catchmentName = station.catchmentName %}

      <!--loop through the station tags-->
      {% set tags = data.stations[stationID]['tags'] %}
      {% for tag in tags %}

      <!--set tag number-->
      {% set tagNumber = loop.index0 %}
      {% set tagLicenceNumber = station.tags[tagNumber]['licenceNumber'] %}


      <!--check for licence number matches-->
      {% if tagLicenceNumber == data.licences[data.ID].number %}


      <a href="station?stationID={{stationID}}" class="govuk-link">
      {{stationName}}</a>

      {% set stationMatch = "true" %}

      {% endif %}
      {% endfor %}
      {% endfor %}

      {% if stationMatch == "false" %}
      <p class="govuk-body">This licence is not tagged with a station
<br>
      <a href="search?search=Monitoring%20stations" class="govuk-link">Search for a monitoring station and tag this licence</a></p>
      {% endif %}
    </dd>

  </div>



  <div class="govuk-summary-list__row   {% if data.licences[data.ID].previousVersions[data.versionIndex]['absQuantities'].length %}{% else %}govuk-summary-list__row--last{% endif %}">
    <dt class="govuk-summary-list__key">
      {% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} conditions
    </dt>
    <dd class="govuk-summary-list__value">
      {% for i in data.licences[data.ID]['absConditions'] %}
      {{i.type|default("general condition")|capitalize | bracketsToUpperCase}}<br>
      {% endfor %}<a href="licence/conditions?ID={{data.ID}}">View details of {% if 'Impounding' in purpose %}impoundment{% else %}abstraction{% endif %} conditions</a>
    </dd>

  </div>

  {% if data.licences[data.ID]['absQuantities'].length %}
  <div class="govuk-summary-list__row govuk-summary-list__row--last">
    <dt class="govuk-summary-list__key">
      {% if 'Impounding' in purpose %}Impoundment{% else %}Abstraction{% endif %} amounts
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.licences[data.ID].previousVersions[data.versionIndex]['absQuantities'] | replaceTilde | striptags(true) | escape | nl2br}}
    </dd>

  </div>
  {% endif %}

</dl>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{{ govukInsetText({
  text: "The information included in this service does not replace or affect the legal (paper) copy of the licence issued to you. The information must be used for reference only. You must refer to and comply with the licence issued to you as a paper copy when you make decisions about abstracting or impounding water."
}) }}

{{ govukDetails({
  summaryText: "Is your licence information correct?",
  html: '
    <p>
      To help us improve our new service, please let us know if you find
      any errors in the licence information we are showing you. You can
      contact us by:
    </p>
    <p>
   Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
  </p>
  <p>
    Telephone: <a href="tel:03708506506">03708 506 506</a>
  </p>
  <p>
    Telephone from outside the UK: <a href="tel:+441142825312">+44 114 282 5312</a>
  </p>
  <p>
    You can call us from 8am to 6pm, Monday to Friday.
  </p>'
}) }}
</div>
</div>