

  {% set licenceData =  data.licences[data.ID].abstractionVersions[data.versionID] %}




  {{ govukSummaryList({
  card: {
    title: {
      text: "Key dates"
    }
  },
  rows: [{
      key: {
        text: "Start date"
      },
      value: {
        html: licenceData.startDate
      }
    },{
      key: {
        text: "Effective from"
      },
      value: {
        html: licenceData.effectiveDate
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        html: licenceData.endDate
      }
    }
    ]
}) }}

 






