

  {% set licenceData =  data.licences[data.ID].abstractionVersions[data.versionID] %}


{# create an ordinal for the version#}
{% set ordinal =  data.licences[data.ID].abstractionVersions|length - data.versionID %}

{# set the title #}
{% set numberOrName = "" %}
{% if data.licences[data.ID].abstractionVersions[data.versionID].name %}
{% set numberOrName = data.licences[data.ID].abstractionVersions[data.versionID].name %}
{% else %}
{% set numberOrName = data.licences[data.ID].abstractionVersions[data.versionID].number %}
{% endif %}

  {{ govukSummaryList({
  card: {
    title: {
      text: ordinal | ordinal | capitalize + " version of " + numberOrName
    }
  },
  rows: [{
      key: {
        text: "Start date"
      },
      value: {
        html: licenceData.startDate
      }
    },{
      key: {
        text: "Effective from"
      },
      value: {
        html: licenceData.effectiveDate
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        html: licenceData.endDate
      }
    }
    ]
}) }}

 






