{% extends "layout.html" %}

{% block header %}

<!--header with searchbar-->
{% include "sandbox/includes/nav/header-search.html" %}

{% endblock %}


{% block beforeContent %}

<!-- phase banner -->
{% include "sandbox/includes/nav/phase-banner.html" %}

<!-- navigation block -->
{% include "sandbox/includes/nav/nav.html" %}

{% block breadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "home"
    }
  ]
}) }}

{% endblock %}

{% endblock %}

{% block content %}

    <!-- start of service specific block -->
    {% block service %}Text goes here, override this by overriding the block{% endblock %}
    <!-- end service specific block-->


{% endblock %}
