{% extends "layout.html" %}



{% block header %}

<!--header-->
{% include "current/includes/head.html" %}

{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Manage your water abstraction or impoundment licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container header-border-bottom",
   navigation: [
     {
       href: "/bd/account/change-password-check",
       text: "Account settings"
     },
     {
       href: "/",
       text: "Sign out"
     }
   ]
 }) }}

{% endblock %}


{% block beforeContent %}

<!-- phase banner -->
{% include "sandbox/_includes/nav/phase-banner.html" %}

<!-- company switcher -->
  {% include "sandbox/_includes/external/company-switcher.html" %}

<!-- navigation block -->
<div class="govuk-!-margin-bottom-3">
  {% include "sandbox/_includes/nav/nav-external.html" %}
</div>


{% block breadcrumbs %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}


{% endblock %}

{% endblock %}

{% block content %}



    <!-- start of service specific block -->
    {% block service %}Text goes here, override this by overriding the block{% endblock %}
    <!-- end service specific block-->


{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.0/proj4.js"></script>
{% endblock %}