{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "layouts/_manage.html" %}



{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a service prototype.'
  }) }}


<!-- navigation block -->
<div class="govuk-!-margin-bottom-3">
  {% include "sandbox/_includes/nav/manage/nav-manage.html" %}
</div>



{{ govukBackLink({
    text: "Back to search",
    href: "/sandbox/home-search?returnsRouteVersion=3"
  }) }}


  {% endblock %}